//
// Custom owl calrosel
//
.owl-carousel {
    position: relative;

    .owl-stage {
        display: flex;
    }

    .owl-item {
        display: flex;
        flex: 1 0 auto;
    }

    .item {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;

        .card {
            flex: 1 0 auto;
        }
    }
}

.owl-dots {
    text-align: center;
    margin-top: 40px;

    .owl-dot {
        display: inline-block;
        zoom: 1;

        span {
            margin: 0 5px;
            display: block;
            border-radius: 100%;
            background-color: #bec3c9;
            width: 13px;
            height: 13px;
            transition: all 150ms ease-in;
        }

        &.active {
            span {
                background-color: $primary;
            }
        }
    }
}

.owl-nav {

    .owl-prev,
    .owl-next {
        position: absolute;
        top: calc(50% - 14px);
        transform: translateY(-50%);
        display: inline-block;
        margin: 0 1px;
        padding: 10px 0;
        line-height: 0;
        width: 40px;
        height: 40px;
        border-radius: 0;
        font-size: 0;
        transition: all 0.2s ease-in-out;

        img {
            opacity: 0.7;

            &:hover {
                opacity: 0.9;
            }
        }
    }

    .owl-prev {
        left: 0;
    }

    .owl-next {
        right: 0;
        text-align: right;
    }
}

.owl-dots-inside {
    .owl-dots {
        position: absolute;
        bottom: 30px;
        margin: 0;
        display: inline-block;
        left: 50%;
        width: auto;
        transform: translateX(-50%);
    }
}