//
// Custom preloader
//
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 2000;
    .loading {
        position: absolute;
        left: calc(50% - 25px);
        top:  calc(50% - 25px);
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 3px solid rgba($primary, 0.5);
        border-radius: 50%;
        border-top-color: #fff;
        animation: spin 1s ease-in-out infinite;
        z-index: 2010;
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}