//
// Custom Typography
//
blockquote {
    border-left: 3px solid $primary !important;
    position: relative;
    margin: 30px 0;
    padding: 15px 30px;
    font-style: italic;
}

// Captions
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $index,
        $size in $captions {
            .caption#{$infix}-#{$index} {
                font-size: $size !important;
                line-height: $headings-line-height !important;
            }
        }
    }
}