
@charset "UTF-8";

// Sass utilities
@import 'helpers/variables';

// Base stuff
// @import 'base/reset';
// @import "base/font";
@import "base/typography";

// Import Bootstrap parts
@import "vendor/bootstrap/scss/variables";
@import "vendor/bootstrap/scss/mixins/breakpoints";

// Layout related stylesheets
@import 'masters/header';
@import 'masters/master';
@import 'masters/sidebar';
@import 'masters/comment';
@import 'masters/widget';
@import 'masters/footer';


// Components and modules
@import 'components/navbar';
@import 'components/navs';
@import 'components/owlcarousel';
@import 'components/cards';
@import 'components/forms';
@import 'components/button';
@import 'components/social';
@import 'components/pagination';
@import 'components/breadcrump';
@import 'components/parallax';
@import 'components/icon';
@import 'components/image';
@import 'components/isotypo';
@import 'components/spacing';
@import 'components/video';
@import 'components/figure';
@import 'components/list-group';
@import 'components/table';
@import 'components/hr';
@import 'components/collapse';
@import 'components/progress';
@import 'components/pricing';
@import 'components/slider';

// Utilities
@import 'utilities/colors';
@import 'utilities/opacity';
@import 'utilities/typography';
@import 'utilities/border';
@import 'utilities/overlay';


// Page-specific stylesheets
@import 'pages/blog';
@import 'pages/services';
@import 'pages/team';
@import 'pages/portfolio';
@import 'pages/shop';
@import 'pages/shop-cart';
@import 'pages/product';
