
@charset "UTF-8";

// Sass utilities
@import 'helpers/variables';

// Import Bootstrap parts
@import "vendor/bootstrap/scss/bootstrap";

// Base stuff
// @import 'base/reset';
// @import "base/font";
@import "base/typography";

// Layout related stylesheets
@import 'masters/header';
@import 'masters/master';
@import 'masters/sidebar';
@import 'masters/comment';
@import 'masters/widget';
@import 'masters/footer';
@import 'masters/slider';

// Components and modules
@import 'components/navbar';
@import 'components/navs';
@import 'components/owlcarousel';
@import 'components/cards';
@import 'components/forms';
@import 'components/input-group';
@import 'components/button';
@import 'components/social';
@import 'components/pagination';
@import 'components/breadcrump';
@import 'components/icon';
@import 'components/image';
@import 'components/modal';
@import 'components/isotypo';
@import 'components/spacing';
@import 'components/video';
@import 'components/figure';
@import 'components/list';
@import 'components/table';
@import 'components/hr';
@import 'components/collapse';
@import 'components/progress';
@import 'components/pricing';
@import 'components/parallax';
@import 'components/badges';
@import 'components/testimonial';
@import 'components/timeline';


// Utilities
@import 'utilities/colors';
@import 'utilities/opacity';
@import 'utilities/borders';
@import 'utilities/overlay';
@import 'utilities/sizing';
@import 'utilities/text';
@import 'utilities/position';
@import 'utilities/background';

// Page-specific stylesheets
@import 'pages/blog';
@import 'pages/services';
@import 'pages/team';
@import 'pages/portfolio';
@import 'pages/shop';
@import 'pages/shop-cart';
@import 'pages/product';
