/*-----------------------------------------------------------------------------------*/
/*  UTILITIES > BORDER
/*-----------------------------------------------------------------------------------*/

// .border-right-1{
//     border-right: 1px solid #efefef !important;
// }
