/*-----------------------------------------------------------------------------------*/


/*  UTILITIES > BORDER
/*-----------------------------------------------------------------------------------*/

.border-primary{
    border-color: $primary-color !important;
}

.border-gray {
    border-color: #e9ecef !important;
}

.list-border-bottom {
    li:not(:last-child) {
        border-bottom: 1px solid rgba(#000000, 0.1);
    }
}