/*-----------------------------------------------------------------------------------*/
/*  UTILITIES > COLORS
/*-----------------------------------------------------------------------------------*/

.text-primary{
    color: $primary-color !important; 
}

.bg-primary{
    background-color: $primary-color !important; 
}

.bg-shadow{
    box-shadow: $box-shadow;
}

.bg-darken{
    background-color: #222324 !important;
}