/*-----------------------------------------------------------------------------------*/


/*  UTILITIES > COLORS
/*-----------------------------------------------------------------------------------*/

.text-primary {
    color: $primary-color !important;
}

.text-muted{
    color: $font-color !important;
}

.text-black{
    color: #000000 !important;
}

.text-grey {
    color: #eee!important;
}

.bg-primary {
    background-color: $primary-color !important;
}

.bg-shadow {
    box-shadow: $box-shadow;
}

.bg-dark {
    background-color: #282a2c !important;
}

.bg-darken {
    background-color: #232526 !important;
}

.bg-grey{
    background-color: #f3f5f6 !important;
}

.bg-transparent{
    background-color: transparent !important;
}