//
// Utilities colors
//
.text-black {
    color: #000000 !important;
}

.text-gray{
    color: #e0e0e0 !important;
}

.text-body {
    color: $body-color;
    a {
        color: inherit;
        &:hover {
            color: $primary;
        }
    }
}

.bg-black{
    background-color: #1c1c20;
}

.bg-darker{
    background-color: #28282e;
}

.bg-darkest{
    background-color: #1c1c20;
}


.bg-overlay-dark {
    background: rgba(0, 0, 0, 0.35);
}

.bg-shadow {
    box-shadow: $box-shadow;
}

.bg-gradient {
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &.gradient-primary {
        &.gradient-left-right {
            &:after {
                background: radial-gradient(circle at center left, $primary, rgba(255, 255, 255, 0) 80%);
            }
        }
    }
    &.gradient-dark {
        &.gradient-left-right {
            &:after {
                background: radial-gradient(circle at center left, $dark, rgba(255, 255, 255, 0) 80%);
            }
        }
    }
    &.gradient-light {
        &.gradient-left-right {
            &:after {
                background: radial-gradient(circle at center left, $light, rgba(255, 255, 255, 0) 80%);
            }
        }
    }
}

.bg-image-center {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}
