/*-----------------------------------------------------------------------------------*/


/*  UTILITIES > COLORS
/*-----------------------------------------------------------------------------------*/

.text-primary {
    color: $primary-color !important;
}

.bg-primary {
    background-color: $primary-color !important;
}

.bg-shadow {
    box-shadow: $box-shadow;
}

.bg-dark {
    background-color: #282a2c !important;
}

.bg-darken {
    background-color: #232526 !important;
}