/*-----------------------------------------------------------------------------------*/


/*  UTILITIES > COLORS
/*-----------------------------------------------------------------------------------*/

.text-primary {
    color: $primary-color !important;
}

.text-muted {
    color: $font-color !important;
}

.text-black {
    color: #000000 !important;
}

.text-grey {
    color: #eee!important;
}

.bg-primary {
    background-color: $primary-color !important;
}

.bg-shadow {
    box-shadow: $box-shadow;
}

.bg-dark {
    background-color: #282a2c !important;
}

.bg-darken {
    background-color: #232526 !important;
}

.bg-grey {
    background-color: #f3f5f6 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.gradient-left {
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &.gradient-primary {
        &:after {
            background: radial-gradient(circle at center left, $primary-color, rgba(255, 255, 255, 0) 80%);
        }
    }
    &.gradient-black {
        &:after {
            background: radial-gradient(circle at center left, #000, rgba(255, 255, 255, 0) 80%);
        }
    }
    &.gradient-white {
        &:after {
            background: radial-gradient(circle at center left, #fff, rgba(255, 255, 255, 0) 80%);
        }
    }
}