//
// Utilities colors
//
.text-black {
    color: #000000 !important;
}

.text-gray{
    color: #e0e0e0 !important;
}

// .text-body {
//     color: $body-color;
//     a {
//         color: inherit;
//         &:hover {
//             color: $primary;
//         }
//     }
// }

.bg-dark-50{
    background-color: rgba($dark, 0.5);
}

.bg-transparent{
    background-color: transparent;
}
.bg-black{
    background-color: #1c1c20;
}

.bg-darker{
    background-color: #28282e;
}

.bg-darkest{
    background-color: #1c1c20;
}


.bg-overlay-dark {
    background: rgba(0, 0, 0, 0.35);
}

.bg-shadow {
    box-shadow: $box-shadow;
}


.bg-linear-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    &.gradient-dark {
        &.gradient-bottom {
            background: linear-gradient(to top, #252525 0%, rgba(0, 0, 0, 0) 100%);
        }
        &.gradient-left {
            background: linear-gradient(to right, #252525 0%, rgba(0, 0, 0, 0) 100%);
        }
    }
}

.bg-radial-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    &.gradient-dark {
        &.gradient-left {
            background: radial-gradient(circle at center left, $dark, rgba(255, 255, 255, 0) 80%);
        }
    }
    &.gradient-light {
        &.gradient-left {
            background: radial-gradient(circle at center left, $light, rgba(255, 255, 255, 0) 80%);
        }
    }
}
