.op-0 {
    opacity: 0 !important
}

.op-1 {
    opacity: .1 !important
}

.op-2 {
    opacity: .2 !important
}

.op-3 {
    opacity: .3 !important
}

.op-4 {
    opacity: .4 !important
}

.op-5 {
    opacity: .5 !important
}

.op-6 {
    opacity: .6 !important
}

.op-7 {
    opacity: .7 !important
}

.op-8 {
    opacity: .8 !important
}

.op-9 {
    opacity: .9 !important
}

.op-10 {
    opacity: 1 !important
}