/*-----------------------------------------------------------------------------------*/

/*	UTILITIES > OVERLAY
/*-----------------------------------------------------------------------------------*/

.overlay-background {
    background: rgba(0,0,0,.35);
}

// .overlay {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     text-decoration: none;
//     z-index: 1;
//     transition: all 0.4s;
//     opacity: 1;
//     width: 100%;
//     height: 100%;
//     &.overlay-hover {
//         opacity: 0;
//         &:hover {
//             opacity: 1;
//         }
//     }
//     &.overlay-white {
//         &:after {
//             background: rgba(#ffffff, 0.85);
//         }
//     }
//     &.overlay-primary {
//         &:after {
//             background: rgba($primary, 0.85);
//         }
//     }
//     &.overlay-black{
//         &:after {
//             background: rgba($black, 0.25);
//         }
//     }
//     &.overlay-box {
//         &:after {
//             top: 30px;
//             left: 30px;
//             right: 30px;
//             bottom: 30px;
//         }
//     }
//     &:after {
//         content: "";
//         display: block;
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//     }
//     .overlay-body {
//         position: absolute;
//         display: table;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         z-index: 11;
//         padding: 30px;
//         >* {
//             display: table-cell;
//             vertical-align: middle;
//             text-align: center;
//         }
//     }
// }