//
// Utilities overlay
//
.overlay {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
    transform: translateZ(0);
}

.overlay-hover {
    &:not(:hover) {
        .overlay-body,
        .overlay-gradient {
            opacity: 0 !important;
        }
    }
}

.overlay-body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #fff;
    top: auto;
    a:not([class]) {
        color: inherit;
    }
    > :last-child {
        margin-bottom: 0;
    }
}

.overlay-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    top: auto;
    background: linear-gradient(to top, #252525 0%, rgba(0, 0, 0, 0) 100%);
}