/*-----------------------------------------------------------------------------------*/


/*	UTILITIES > OVERLAY
/*-----------------------------------------------------------------------------------*/

a {
    &:hover {
        .overlay {
            opacity: 1;
        }
    }
    .overlay {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        text-decoration: none;
        z-index: 10;
        transition: all 200ms ease-in;
        background: #FFF;
        background: rgba($primary-color, 0.8);
        top: 0;
        .overlay-text {
            text-align: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 11;
            display: table;
            >* {
                color: #fff;
                margin-bottom: 10px;
                font-weight: 500;
                letter-spacing: -0.5px;
                line-height: 20px;
                display: table-cell;
                vertical-align: middle;
                text-transform: uppercase;
            }
        }
    }
}

.overlay-black {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba($black, 0.3);
}