//
// Utilities overlay
//
.overlay {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.overlay-body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #fff;
    a:not([class]) {
        color: inherit;
    }
    > :last-child {
        margin-bottom: 0;
    }
}

.overlay-bottom {
    top: auto;
}

.overlay-dark {
    background: rgba($black, .5);
}

.overlay-primary {
    background: rgba($primary, .5);
}

.overlay-light {
    background: rgba($white, .5);
}

.overlay-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to top, #141618 0%, transparent 50%);
}