/*-----------------------------------------------------------------------------------*/

/*  Utilities > Overlay
/*-----------------------------------------------------------------------------------*/

.overlay {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
    transform: translateZ(0);
}

.overlay-scale {
    transform: scale(1);
}

.overlay-scale {
    transition-timing-function: ease-out;
    transition-duration: .3s;
    transition-property: opacity transform filter;
}

.overlay-figure {
    width: 100%;
    max-width: 100%;
}

.overlay-hover {
    &:hover {
        .overlay-scale {
            transform: scale(1.1);
        }
    }
    &:not(:hover) {
        .overlay-body {
            opacity: 0;
        }
    }
}

.overlay-body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #fff;
}

.overlay-align-middle{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
}

.overlay-dark {
    background: rgba($black, .5);
}

.overlay-light {
    background: rgba($white, .5);
}
