//
// Utilities overlay
//
.overlay {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
    transform: translateZ(0);
}

.overlay-hover {
    &:not(:hover) {
        .overlay-body,
        .overlay-gradient {
            opacity: 0 !important;
        }
    }
}

.overlay-body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #fff;
    a:not([class]) {
        color: inherit;
    }
    > :last-child {
        margin-bottom: 0;
    }
    &.overlay-bottom {
        top: auto;
    }
}

.overlay-align-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    width: 100%;
}