/*-----------------------------------------------------------------------------------*/

/*	UTILITIES > OVERLAY
/*-----------------------------------------------------------------------------------*/

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    &.overlay-dark{
        background: rgba(0, 0, 0, .35);
    }
}