/*	UTILITIES > SIZING
/*-----------------------------------------------------------------------------------*/

.w-60px{
    width: 60px !important;
}
.w-auto{
    width: auto !important;
}

.w-max-90px{
    max-width: 90px !important;
}

.h-592px{
    height: 592px !important;
}



.h-100vh {
    min-height: 100vh;
}