/*	UTILITIES > SIZING
/*-----------------------------------------------------------------------------------*/

.w-5{
    width: 5% !important;
}

.w-10{
    width: 10% !important;
}

.w-60px{
    width: 60px !important;
}
.w-auto{
    width: auto !important;
}

.w-max-90px{
    max-width: 90px !important;
}

.h-592px{
    height: 592px !important;
}