//
// Utilities sizing
//
.w-30px {
    width: 30px !important;
}

.w-60px {
    width: 60px !important;
}

.w-70px {
    width: 70px !important;
}

.w-auto {
    width: auto !important;
}

.w-max-90px {
    max-width: 90px !important;
}

.h-592px {
    height: 592px !important;
}

.h-100vh {
    min-height: 100vh;
}