.font-size-normal{
    font-size: 16px;
}

.font-normal{
    font-size: 16px;
    font-style: normal;
}

.font-size-12{
    font-size: 12px;
}

.font-size-13{
    font-size: 13px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-16{
    font-size: 16px;
}

.font-size-18{
    font-size: 18px;
}

.font-size-21{
    font-size: 21px;
}