
@charset "UTF-8";

// Sass utilities
@import 'helpers/variables';

// Base stuff
// @import 'base/reset';
// @import "base/font";
@import "base/typography";

// Import Bootstrap parts
@import "vendor/bootstrap/scss/bootstrap";

// Components and modules
@import 'components/navbar';
