/*-----------------------------------------------------------------------------------*/


/* 	Pages > Blog Post
/*-----------------------------------------------------------------------------------*/

.meta {
    font-size: $blog-meta-font-size;
    color: $blog-meta-font-color;
    margin-bottom: 10px;
    .meta-link {
        font-size: 12px;
    }
}