/*-----------------------------------------------------------------------------------*/
/*	PAGE > SHOP CART
/*-----------------------------------------------------------------------------------*/
.order-review{
    padding: 40px 32px 22px;
    border: 2px solid #d4dde4;
}
