<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ page_title }}</title>
    <link rel="shortcut icon" href="style/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../assets/vendor/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="../../assets/vendor/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="../../assets/vendor/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="../../assets/vendor/prism/prism.css" rel="stylesheet">
    <link href="../../assets/vendor/prism/prism-unescaped-markup.css" rel="stylesheet">
    <link href="../../assets/css/theme.css" rel="stylesheet">
    <link href="../../assets/vendor/bootstrap/docs.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm bd-navbar fixed-hide bg-white">
            <div class="container">
                <a class="navbar-brand text-uppercase" href="../../index.html">
                    <img class="logo logo-dark" src="../../assets/images/brand/logo-dark.png">
                    <img class="logo logo-light" src="../../assets/images/brand/logo-light.png">
                </a>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
                <nav class="collapse bd-links" id="bd-docs-nav">
                    <div class="bd-toc-item {% if (gettingStarted) %}active{%endif%}">
                        <a class="bd-toc-link" href="../../docs/getting-started/introduction.html">
                            Getting started
                        </a>
                        <ul class="nav bd-sidenav">
                            <li class="{% if (gettingStarted == 'introduction' ) %}active{%endif%}">
                                <a href="../../docs/getting-started/introduction.html">
                                    Introduction
                                </a>
                            </li>
                            <li class="{% if (gettingStarted == 'gulp' ) %}active{%endif%}">
                                <a href="../../docs/getting-started/gulp.html">
                                    Gulp
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bd-toc-item {% if (component) %}active{%endif%}">
                        <a class="bd-toc-link" href="../../docs/components/owlcarousel.html">
                            Components
                        </a>
                        <ul class="nav bd-sidenav">
                            <li class="{% if (component == 'owlcarousel' ) %}active{%endif%}">
                                <a href="../../docs/components/owlcarousel.html">
                                    Owl Carousel
                                </a>
                            </li>
                            <li class="{% if (component == 'navbar' ) %}active{%endif%}">
                                <a href="../../docs/components/navbar.html">
                                    Navbar
                                </a>
                            </li>
                            <li class="{% if (component == 'overlay' ) %}active{%endif%}">
                                <a href="../../docs/components/overlay.html">
                                    Overlay
                                </a>
                            </li>
                            <li class="{% if (component == 'lists' ) %}active{%endif%}">
                                <a href="../../docs/components/lists.html">
                                    Lists
                                </a>
                            </li>
                            <li class="{% if (component == 'forms' ) %}active{%endif%}">
                                <a href="../../docs/components/forms.html">
                                    Forms
                                </a>
                            </li>
                            <li class="{% if (component == 'counter' ) %}active{%endif%}">
                                <a href="../../docs/components/counter.html">
                                    Counter
                                </a>
                            </li>
                            <li class="{% if (component == 'progress' ) %}active{%endif%}">
                                <a href="../../docs/components/progress.html">
                                    Progress
                                </a>
                            </li>
                            <li class="{% if (component == 'video' ) %}active{%endif%}">
                                <a href="../../docs/components/video.html">
                                    Video
                                </a>
                            </li>
                            <li class="{% if (component == 'icons' ) %}active{%endif%}">
                                <a href="../../docs/components/icons.html">
                                    Icons
                                </a>
                            </li>
                            <li class="{% if (component == 'typography' ) %}active{%endif%}">
                                <a href="../../docs/components/typography.html">
                                    Typography
                                </a>
                            </li>
                            <li class="{% if (component == 'chart' ) %}active{%endif%}">
                                <a href="../../docs/components/chart.html">
                                    Chart
                                </a>
                            </li>
                            <li class="{% if (component == 'parallax' ) %}active{%endif%}">
                                <a href="../../docs/components/parallax.html">
                                    Parallax
                                </a>
                            </li>
                            <li class="{% if (component == 'google_map' ) %}active{%endif%}">
                                <a href="../../docs/components/google-map.html">
                                    Google Map
                                </a>
                            </li>
                            <li class="{% if (component == 'timeline' ) %}active{%endif%}">
                                <a href="../../docs/components/timeline.html">
                                    Timeline
                                </a>
                            </li>
                            <li class="{% if (component == 'pagination' ) %}active{%endif%}">
                                <a href="../../docs/components/pagination.html">
                                    Pagination
                                </a>
                            </li>
                            <li class="{% if (component == 'testimonial' ) %}active{%endif%}">
                                <a href="../../docs/components/testimonial.html">
                                    Testimonial
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bd-toc-item {% if (utilities) %}active{%endif%}">
                        <a class="bd-toc-link" href="../../docs/utilities/background.html">
                            Utilities
                        </a>
                        <ul class="nav bd-sidenav">
                            <li class="{% if (utilities == 'background' ) %}active{%endif%}">
                                <a href="../../docs/utilities/background.html">
                                    Background
                                </a>
                            </li>
                            <li class="{% if (utilities == 'opacity' ) %}active{%endif%}">
                                <a href="../../docs/utilities/opacity.html">
                                    Opacity
                                </a>
                            </li>
                            <li class="{% if (utilities == 'overflow' ) %}active{%endif%}">
                                <a href="../../docs/utilities/overflow.html">
                                    Overflow
                                </a>
                            </li>
                            <li class="{% if (utilities == 'borders' ) %}active{%endif%}">
                                <a href="../../docs/utilities/borders.html">
                                    Borders
                                </a>
                            </li>
                            <li class="{% if (utilities == 'colors' ) %}active{%endif%}">
                                <a href="../../docs/utilities/colors.html">
                                    Colors
                                </a>
                            </li>
                            <li class="{% if (utilities == 'position' ) %}active{%endif%}">
                                <a href="../../docs/utilities/position.html">
                                    Position
                                </a>
                            </li>
                            <li class="{% if (utilities == 'sizing' ) %}active{%endif%}">
                                <a href="../../docs/utilities/sizing.html">
                                    Sizing
                                </a>
                            </li>
                            <li class="{% if (utilities == 'text' ) %}active{%endif%}">
                                <a href="../../docs/utilities/text.html">
                                    Text
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="d-none d-xl-block col-xl-2 bd-toc">
                <ul class="section-nav">
                    {% block section_nav %}{% endblock %}
                </ul>
            </div>
            <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
</body>
<script src="../../assets/vendor/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
<script src="../../assets/vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../../assets/vendor/bootstrap-navbar.js"></script>
<script type="text/javascript" src="../../assets/vendor/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="../../assets/vendor/lazy-load-google-maps.js"></script>
<script type="text/javascript" src="../../assets/vendor/jquery.appear.js"></script>
<script type="text/javascript" src="../../assets/vendor/jquery.countTo.js"></script>
<script type="text/javascript" src="../../assets/vendor/SmoothScroll.js"></script>
<script type="text/javascript" src="../../assets/vendor/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="../../assets/vendor/jquery-skills-bar/skill.bars.jquery.js"></script>
<script type="text/javascript" src="../../assets/vendor/rellax.min.js"></script>
<script type="text/javascript" src="../../assets/vendor/chart.min.js"></script>
<script src="../../assets/js/theme.js"></script>
<script type="text/javascript" src="../../assets/vendor/prism/prism.js"></script>
<script type="text/javascript" src="../../assets/vendor/prism/prism-unescaped-markup.js"></script>
<script type="text/javascript" src="../../assets/vendor/holder.js"></script>

</body>

</html>