/* 1. Colors
   ========================================================================== */

$primary: #3498db;
$input-btn-padding-x: 1.25rem;
$input-btn-padding-x-lg: 1.25rem;
$border-color: #e9ecef;
// Body
//
// Settings for the `<body>` element.
$body-color: #333333;
// Links
//
// Style anchor elements.
$link-hover-decoration: none;
$box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.6);
// Navbar
$navbar-height: 72px;
$navbar-light-color: #232323;
$navbar-light-hover-color: #232323;
$navbar-light-active-color: #232323;
$navbar-dark-color: #ffffff;
$navbar-dark-hover-color: #ffffff;
$navbar-dark-active-color: #ffffff;
$navbar-ddl-bg-color: $primary;
$navbar-ddl-bg-color-mobile: #ffffff;
$navbar-ddl-font-color: #ffffff;
$navbar-ddl-menu-font-size: 12px;
$navbar-ddl-menu-bg-color: $primary;
$navbar-ddl-menu-font-color:#ffffff;
$navbar-ddl-menu-font-hover-color:#ffffff;
$navbar-ddl-menu-border: 1px solid rgba(255, 255, 255, 0.1);
$navbar-ddl-header-color: #ffffff;
$navbar-nav-bg-color: $primary;
// Form
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
// Badges
$badge-border-radius: 0;
// Cards
$card-border-radius: 0;
// Buttons + Forms
// $input-btn-padding-y: .375rem;
// $input-btn-padding-x: 1.5rem;

// $btn-padding-y-lg:  1rem;;
// $btn-padding-x-lg:  2.4rem;

// Font
$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";