// Font
$font-family-sans-serif: Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

$font-size-base: 1rem;
$line-height-base: 1.625;

// Color
$primary: #3498db;
$border-color: #e9ecef;
$body-color: #333333;
$text-muted: #7d7d7d;

// Links
$link-hover-decoration: none;
$box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.6);

// Navbar
$navbar-height: 72px;
$navbar-light-color: #232323;
$navbar-light-hover-color: #232323;
$navbar-light-active-color: #232323;
$navbar-dark-color: #ffffff;
$navbar-dark-hover-color: #ffffff;
$navbar-dark-active-color: #ffffff;
$navbar-ddl-bg-color: $primary;
$navbar-ddl-bg-color-mobile: #ffffff;
$navbar-ddl-font-color: #ffffff;
$navbar-ddl-menu-font-size: 12px;
$navbar-ddl-menu-bg-color: $primary;
$navbar-ddl-menu-font-color:#ffffff;
$navbar-ddl-menu-font-hover-color:#ffffff;
$navbar-ddl-menu-border: 1px solid rgba(255, 255, 255, 0.1);
$navbar-ddl-header-color: #ffffff;
$navbar-nav-bg-color: $primary;

// Form
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;

// Badges
$badge-border-radius: 0;
// Cards
$card-border-radius: 0;

// Forms
$input-border-color: #e7e7e7;

// Button
$btn-padding-y: 0.5625rem;
$btn-padding-x: 2.125rem;

$btn-padding-y-sm: 0.375rem;
$btn-padding-x-sm: 1.875rem;

$btn-padding-y-lg: 0.875rem;
$btn-padding-x-lg: 2.5rem;


// stylelint-disable
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.875),
  5: ($spacer * 3),
  6: ($spacer * 4.5),
  7: ($spacer * 6),
  8: ($spacer * 7.5),
  9: ($spacer * 9),
  10: ($spacer * 10.5),
  11: ($spacer * 11),
  12: ($spacer * 12),
  13: ($spacer * 13),
  14: ($spacer * 14),
  15: ($spacer * 15),
  16: ($spacer * 16),
  17: ($spacer * 17),
  18: ($spacer * 18),
  19: ($spacer * 19),
  20: ($spacer * 20),
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: ();
$sizes: map-merge((
  5: 5%,
  10: 10%,
  25: 25%,
  30: 30%,
  50: 50%,
  75: 75%,
  80: 80%,
  100: 100%,
  auto: auto
), $sizes);

// Heading font size
$captions: () !default;
$captions: map-merge((
  1: $font-size-base * 2.5,
  2: $font-size-base * 2,
  3: $font-size-base * 1.75,
  4: $font-size-base * 1.5,
  5: $font-size-base * 1.25
), $captions);

// Present font size
$presents: () !default;
$presents: map-merge((
  1: 6rem,
  2: 5.5rem,
  3: 4.5rem ,
  4: 3.5rem,
  5: 2.5rem
), $presents);