<!-- Default -->
{% macro default(post, card_css="mb-4", card_body_css="py-4 px-0") %}
<div class="card {{ card_css }}">
    <a href="blog-single-right-sidebar.html">
        <img src="{{ post.img }}" alt="" class="img-fluid"> {{ card_overlay() }}
    </a>
    <div class="card-body {{ card_body_css }}">
        <h3 class="card-title">
            <a href="blog-single-right-sidebar.html">{{ post.title }}</a>
        </h3>
        {{ card_meta(post) }}
        <p class="card-text">{{ post.desc }}</p>
        {{ card_action() }}
    </div>
</div>
{% endmacro %}

<!-- Card -->
{% macro card(post) %}
<!-- - -->
{{ default(post,"bg-shadow mb-4","p-4") }}
<!-- - -->
{% endmacro %}


<!-- Standard -->
{% macro standard(card_css="mb-4",card_bady_css="py-4 px-0") %}

<div class="card {{ card_css }}">
    <a href="blog-single-right-sidebar.html">
        <img src="assets/img/blog/blog-1.jpg" alt="" class="card-img-top img-fluid"> {{ card_overlay() }}
    </a>
    <div class="card-body {{ card_bady_css }}">
        <h3 class="card-title">
            <a href="blog-single-right-sidebar.html">The Important Standard Post Format</a>
        </h3>
        {{ blog_post_meta() }}
        <p>Laoreet leo libero nostra volutpat dapibus. Vel per fusce vestibulum lacinia. Nullam est augue elit accumsan. Commodo
            nec convallis faucibus auctor minim. Ante volutpat sapien euismod arcu occaecat ornare occaecat aliquam condimentum.</p>
        {{ card_action() }}
    </div>
</div>

{% endmacro %}

<!-- OWL Carousel -->
{% macro owlCarousel(card_css="mb-4",card_bady_css="py-4 px-0") %}

<div class="card {{ card_css }}">
    <div class="owl-carousel owl-theme owl-loaded owl-dots-inside owl-dots-white owl-nav-bg-black" data-owl-carousel-options='{"items":1, "nav":true,"margin":0, "dots":true, "loop":true, "autoHeight":true}'>
        <div class="item">
            <img src="assets/img/blog/blog-2.jpg" alt="" />
        </div>
        <div class="item">
            <img src="assets/img/blog/blog-3.jpg" alt="" />
        </div>
        <div class="item">
            <img src="assets/img/blog/blog-4.jpg" alt="" />
        </div>
    </div>
    <div class="card-body {{ card_bady_css }}">
        <h3 class="card-title">
            <a href="blog-single-right-sidebar.html">Photo with Slider Post Format</a>
        </h3>
        {{ blog_post_meta() }}
        <p>Irure parturient maecenas sunt pellentesque ornare. Torquent ultricies condimentum culpa rutrum ea. Eleifend lacinia
            pariatur a ad. Ornare occaecat aliquam condimentum cubilia fringilla. Occaecat erat eleifend diam inceptos ornare.</p>
        {{ card_action() }}
    </div>
</div>

{% endmacro %}

<!-- Video -->
{% macro video(card_css="mb-4",card_bady_css="py-4 px-0") %}

<div class="card {{ card_css }}">
    <div class="position-relative">
        <div id="video-gallery">
            <a class="icon-video" href="https://www.youtube.com/watch?v=meBbDqAXago">
                <i class="ion-ios-play"></i>
            </a>
        </div>
        <img src="assets/img/blog/blog-6.jpg" alt="" class="card-img-top img-fluid">
    </div>
    <div class="card-body {{ card_bady_css }}">
        <h3 class="card-title">
            <a href="blog-single-right-sidebar.html">Video Post Format</a>
        </h3>
        {{ blog_post_meta() }}
        <p>Laoreet leo libero nostra volutpat dapibus. Vel per fusce vestibulum lacinia. Nullam est augue elit accumsan. Commodo
            nec convallis faucibus auctor minim. Ante volutpat sapien euismod arcu occaecat ornare occaecat aliquam condimentum.</p>
        {{ card_action() }}
    </div>
</div>

{% endmacro %}


<!-- Card meta -->
{% macro card_meta(post) %}

<p class="blog-post-meta">{{ post.date }} by
    <a href="#">{{ post.author }}</a>
</p>

{% endmacro %}

{% macro blog_post_meta() %}

<p class="blog-post-meta">January 1, 2018 by
    <a href="#">Mark</a>
</p>

{% endmacro %}

<!-- Card Action -->
{% macro card_action() %}

<a href="blog-single-right-sidebar.html" class="card-link">Read more</a>
<a href="#" class="card-link card-link-share">Share</a>
<div class="card-social">
    <a href="#">
        <i class="ion-social-twitter-outline icon-lg"></i>
    </a>
    <a href="#">
        <i class="ion-social-facebook-outline icon-lg"></i>
    </a>
    <a href="#">
        <i class="ion-social-googleplus-outline icon-lg"></i>
    </a>
</div>

{% endmacro %}

<!-- Card Overlay -->
{% macro card_overlay() %}

<div class="overlay">
    <div class="overlay-text">
        <span>View Post</span>
    </div>
</div>

{% endmacro %}