<!--  -->
{% macro layout1() %}
<div class="owl-carousel owl-theme owl-loaded owl-nav-lg-hover" data-owl-carousel-options='{"responsive":{"0":{"items":1, "nav":true, "dots":false}, "600":{"items":2, "dots":false}, "940":{"items":4, "nav":true, "dots":false}}, "margin": 30, "nav":true, "dots":false,"loop":true}'>
    <div class="item">
        <img src="assets/img/client/client-6-light-180x80.png" alt="">
    </div>
    <div class="item">
        <img src="assets/img/client/client-7-light-180x80.png" alt="">
    </div>
    <div class="item">
        <img src="assets/img/client/client-8-light-180x80.png" alt="">
    </div>
    <div class="item">
        <img src="assets/img/client/client-9-light-180x80.png" alt="">
    </div>
    <div class="item">
        <img src="assets/img/client/client-5-light-180x80.png" alt="">
    </div>
    <div class="item">
        <img src="assets/img/client/client-4-light-180x80.png" alt="">
    </div>
    <div class="item">
        <img src="assets/img/client/client-2-light-180x80.png" alt="">
    </div>
    <div class="item">
        <img src="assets/img/client/client-3-light-180x80.png" alt="">
    </div>
</div>
{% endmacro %}
<!--  -->

{% macro layout2(clients) %}
<div class="owl-carousel owl-theme owl-loaded owl-nav-dark" data-owl-carousel-options='{"responsive":{"0":{"items":1, "nav":true, "dots":false}, "600":{"items":2, "dots":false}, "940":{"items":4, "nav":true, "dots":false}}, "margin": 30, "nav":true, "dots":false,"loop":true}'>
    {% for client in clients %}
    <div class="item">
        <img src="{{ client.img_dark }}" alt="">
    </div>
    {% endfor %}
</div>
{% endmacro %}