{% macro progress_bar(value, css="", color="bg-primary") %}

<div class="progress {{ css }}">
    <div class="progress-bar {{ color }}" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100">{{ value }}</div>
</div>

{% endmacro %}


<!-- Counter -->
{% macro counter_layout1() %}
    <div class="col-6 col-md-3">
        <div class="counter">
            <span class="display-4" data-from="0" data-to="600" data-speed="3500" data-refresh-interval="50"></span>
        </div>
        <h5 class="mt-3">Employees</h5>
    </div>
    <div class="col-6 col-md-3">
        <div class="counter">
            <span class="display-4" data-from="0" data-to="100" data-speed="3500" data-refresh-interval="50"></span>
        </div>
        <h5 class="mt-3">Offices</h5>
    </div>
    <div class="col-6 col-md-3">
        <div class="counter mt-4 mt-md-0">
            <span class="display-4" data-from="0" data-to="320" data-speed="3500" data-refresh-interval="50"></span>
        </div>
        <h5 class="mt-3">Continents</h5>
    </div>
    <div class="col-6 col-md-3">
        <div class="counter mt-4 mt-md-0">
            <span class="display-4" data-from="0" data-to="480" data-speed="3500" data-refresh-interval="50"></span>
        </div>
        <h5 class="mt-3">Clients</h4>
    </div>
{% endmacro %} 