<!-- grid -->
{% macro default() %}
    <div class="col-6 col-md-3">
        <div class="counter">
            <span class="display-4" data-from="0" data-to="600" data-speed="3500" data-refresh-interval="50"></span>
        </div>
        <h4 class="text-uppercase mt-3">Employees</h4>
    </div>
    <div class="col-6 col-md-3">
        <div class="counter">
            <span class="display-4" data-from="0" data-to="100" data-speed="3500" data-refresh-interval="50"></span>
        </div>
        <h4 class="text-uppercase mt-3">Offices</h4>
    </div>
    <div class="col-6 col-md-3">
        <div class="counter mt-4 mt-md-0">
            <span class="display-4" data-from="0" data-to="320" data-speed="3500" data-refresh-interval="50"></span>
        </div>
        <h4 class="text-uppercase mt-3">Continents</h4>
    </div>
    <div class="col-6 col-md-3">
        <div class="counter mt-4 mt-md-0">
            <span class="display-4" data-from="0" data-to="480" data-speed="3500" data-refresh-interval="50"></span>
        </div>
        <h4 class="text-uppercase mt-3">Clients</h4>
    </div>
{% endmacro %} 