<!-- grid -->
{% macro grid() %}

    <div class="row client justify-content-md-center">
        <div class="client-item">
            <a>
                <img src="assets/img/partner/partner_1.png" class="text-xs-center">
            </a>
        </div>
        <div class="client-item">
            <a>
                <img src="assets/img/partner/partner_2.png" class="text-xs-center">
            </a>
        </div>
        <div class="client-item">
            <a>
                <img src="assets/img/partner/partner_3.png" class="text-xs-center">
            </a>
        </div>
        <div class="client-item">
            <a>
                <img src="assets/img/partner/partner_4.png" class="text-xs-center">
            </a>
        </div>
        <div class="client-item">
            <a>
                <img src="assets/img/partner/partner_5.png" class="text-xs-center">
            </a>
        </div>
        <div class="client-item">
            <a>
                <img src="assets/img/partner/partner_6.png" class="text-xs-center">
            </a>
        </div>
        <div class="client-item">
            <a>
                <img src="assets/img/partner/partner_7.png" class="text-xs-center">
            </a>
        </div>
        <div class="client-item">
            <a>
                <img src="assets/img/partner/partner_8.png" class="text-xs-center">
            </a>
        </div>
        <div class="client-item">
            <a>
                <img src="assets/img/partner/partner_9.png" class="text-xs-center">
            </a>
        </div>
        <div class="client-item">
            <a>
                <img src="assets/img/partner/partner_10.png" class="text-xs-center">
            </a>
        </div>
    </div>

{% endmacro %} 