<!-- Default -->
{% macro default(portfolio) %}
<figure class="figure mb-4">
    <img src="{{ portfolio.img }}" class="figure-img img-fluid mb-0" alt="">
</figure>
{% endmacro %}

<!-- Layout 1 -->
{% macro layout1(portfolio) %}

<figure class="figure mb-4">
    <a href="portfolio-post.html">
        <img src="{{ portfolio.img }}" class="figure-img img-fluid mb-0" alt="">
    </a>
    <figcaption class="figure-caption py-4">
        <h3 class="card-title h5">
            <a href="portfolio-post.html">{{ portfolio.title }}</a>
        </h3>
        <p>{{ portfolio.desc }}</p>
    </figcaption>
</figure>

{% endmacro %}

<!-- Layout 2 -->
{% macro layout2(portfolio) %}

<figure class="figure mb-4">
    <img src="{{ portfolio.img }}" class="figure-img img-fluid mb-0" alt="">
    <figcaption class="figure-caption py-4">
        <h3 class="card-title h5">
            <a href="portfolio-post.html">{{ portfolio.title }}</a>
        </h3>
        <p>{{ portfolio.desc }}</p>
    </figcaption>
</figure>

{% endmacro %}