<!-- Default -->
{% macro default(portfolio) %}

<div class="card border-0 mb-4">
    <a class="overlay overlay-hover" href="portfolio-single-image.html">
        <img src="{{ portfolio.img }}" alt="" class="img-fluid overlay-scale">
    </a>
    <div class="card-body py-4 px-0">
        <h3 class="card-title h5">
            <a href="portfolio-post.html">{{ portfolio.title }}</a>
        </h3>
        <p class="card-text">{{ portfolio.desc }}</p>
    </div>
</div>

{% endmacro %}


<!-- Layout 1 -->
{% macro layout1(portfolio) %}

<div class="card flex-md-row border-0 mb-4 mb-md-5">
    <a class="overlay overlay-hover" href="portfolio-single-image.html">
        <img src="{{ portfolio.img2 }}" alt="" class="img-fluid overlay-scale">
    </a>
    <div class="card-bodyd-flex flex-column align-items-start py-4 px-0 px-md-4 my-auto">
        <h3 class="card-title h5">
            <a href="portfolio-post.html">{{ portfolio.title }}</a>
        </h3>
        <p class="card-text">{{ portfolio.desc }}</p>
    </div>
</div>

{% endmacro %}