<!-- Single Standard Post -->
{% macro standard(card_css="border-0", card_body_css="py-4 px-0") %}

<div class="card {{ card_css }}">
    <img src="assets/img/blog/blog-4.jpg" class="img-fluid" alt="">
    <!-- Content -->
    {{ content() }}
</div>
<!-- Comments -->
{{ comments() }}
<!--  -->
{% endmacro %}

<!-- Single Slide Show Post -->
{% macro slide(card_css="border-0") %}

<div class="card {{ card_css }}">
    <div class="owl-carousel owl-theme owl-loaded owl-dots-inside owl-dots-white owl-nav-edge owl-nav-bg-black" data-owl-carousel-options='{"items":1, "nav":true,"margin":0, "dots":true, "loop":true, "autoHeight":true}'>
        <div class="item">
            <img src="assets/img/blog/blog-2.jpg" alt="" />
        </div>
        <div class="item">
            <img src="assets/img/blog/blog-3.jpg" alt="" />
        </div>
        <div class="item">
            <img src="assets/img/blog/blog-4.jpg" alt="" />
        </div>
    </div>
    <!-- Content -->
    {{ content() }}
</div>
<!-- Comments -->
{{ comments() }}
<!--  -->
{% endmacro %}

<!-- Single Video Post -->
{% macro video(card_css="border-0") %}

<div class="card {{ card_css }}">
    <div class="position-relative">
        <img src="assets/img/blog/blog-6.jpg" alt="" class="img-fluid">
        <div class="overlay d-flex align-items-center justify-content-center text-white">
            <div class="video-gallery">
                <a class="icon-video" href="https://www.youtube.com/watch?v=meBbDqAXago">
                    <i class="ion-ios-play"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- Content -->
    {{ content() }}
</div>
<!-- Comments -->
{{ comments() }}
<!--  -->
{% endmacro %}

<!-- Card -->
{% macro card() %}
<!--  -->
{{ standard("bg-shadow","p-4") }}
<!--  -->
{% endmacro %}

<!--  -->
{% macro content() %}

<div class="card-body py-4 px-0 mt-2">
    <h3 class="card-title h4">Cursus praesent dis dui enim litora aliquam lacus justo exercitation lacinia.</h3>
    <p class="meta mb-4 border-bottom pb-3">
        January 1, 2018
        <span class="font-italic">by</span>
        <a href="#">Mark</a>
        <span class="font-italic">in</span>
        <a href="#">Business</a>
    </p>
    <p>Natoque dolore massa class laoreet convallis. Magnis dis sollicitudin cursus irure. Exercitation luctus penatibus nullam
        voluptate morbi. Felis pharetra phasellus bibendum mus. Torquent dis aliquam fugiat iaculis Proident sem sociis dignissim
        reprehenderit. Lectus pulvinar non inceptos ipsum. Augue laoreet eu ullamco justo lobortis. Veniam euismod class
        turpis incididunt.</p>
    <p>Aptent risus leo dignissim gravida excepteur. Scelerisque porta orci class mollis sollicitudin. Diam nec exercitation
        litora mollit. Vulputate consectetur quisque malesuada massa. Aute malesuada scelerisque bibendum curae. Excepteur
        rutrum curabitur rhoncus voluptate aliquam. Volutpat pretium facilisi leo nulla.</p>
    <blockquote class="blockquote">
        <p class="mb-0">Adipiscing condimentum sollicitudin nulla ridiculus cum. Eget molestie iaculis lacinia himenaeos. Deserunt sollicitudin
            quis ipsum pede. Vel eros ligula pariatur congue. Vitae dui dolor est tellus. Etiam nisi condimentum lacus vivamus
            scelerisque.
        </p>
    </blockquote>
    <h4 class="mt-4">Imperdiet montes cillum irure fringilla</h4>
    <p>Adipiscing auctor bibendum quis magna malesuada. Metus proident curabitur pulvinar ea sed. Sunt leo laoreet gravida integer.
        Est quis quam gravida morbi metus. Ex facilisi cum malesuada adipisicing minim. Aliquip voluptate nunc exercitation
        placerat aptent.</p>
    <p>Montes nunc non nunclorem neque. Condimentum excepteur iaculis deserunt nisi. Scelerisque ea tincidunt accumsan magnis
        sagittis. Mollit nisl sociis augue taciti nunclorem. Proident parturient amet nam placerat donec. Dolore congue consectetur
        bibendum magna sit. Nulla fusce nostra montes pretium sapien. Ad parturient netus class eros feugiat. Quam esse vehicula
        dignissim pariatur curabitur.</p>
    <div class="row no-gutters py-3 border-bottom">
        <div class="col-md-6">
            <strong>Share:</strong>
            <div class="d-inline-block ml-4">
                <ul class="list-inline list-inline-lg mb-0">
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="ion-social-twitter-outline icon-lg"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="ion-social-facebook-outline icon-lg"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="ion-social-googleplus-outline icon-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 text-md-right mt-4 mt-md-0">
            <div class="d-inline-block">
                <a href="#" class="badge badge-light h6 rounded-0 px-2 py-1 mb-0">catalog</a>
                <a href="#" class="badge badge-light h6 rounded-0 px-2 py-1 mb-0">business</a>
                <a href="#" class="badge badge-light h6 rounded-0 px-2 py-1 mb-0">wanderer</a>
                <a href="#" class="badge badge-light h6 rounded-0 px-2 py-1 mb-0">inspiring</a>
            </div>
        </div>
    </div>
</div>

{% endmacro %}

<!--  -->
{% macro comments() %}

<div class="card border-0 mt-4">
    <div class="card-body p-0">
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="assets/img/author/a1-150x150.jpg" class="img-fluid mb-4 mb-md-0" alt="">
            </div>
            <div class="col-md-9">
                <h4>About the Author</h4>
                <p>Accumsan himenaeos anim magna dolore. Fames aliquip inceptos natoque nisi. Iaculis excepteur dui eros ultricies
                    exercitation. Ac primis eiusmod est praesent. Fusce iaculis per curae consequat adipiscing.</p>
                <ul class="social">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card border-0 mt-4">
    <div class="card-body p-0">
        <h4>5 Comments</h4>
        <ul class="list-unstyled mt-4">
            <li class="media mb-2">
                <a href="#">
                    <img src="assets/img/author/pt1-70x70.jpg" alt="" class="d-flex img-fluid">
                </a>
                <div class="media-body ml-3">
                    <h5>
                        <a href="#">Jana Klein</a>
                    </h5>
                    {{ meta_comment() }}
                    <p>Accumsan taciti arcu hendrerit fringilla. Ligula officia inceptos luctus ut posuere. Dui odio magna ex
                        laboris. Eros justo amet cum sint felis. Leo ad semper dis ullamco officia. Varius himenaeos blandit
                        aliquip sint. Do class senectus praesent elit laoreet.</p>
                </div>
            </li>
            <li class="media mb-2">
                <a href="#">
                    <img src="assets/img/author/pt2-70x70.jpg" alt="" class="d-flex img-fluid">
                </a>
                <div class="media-body ml-3">
                    <h5>
                        <a href="#">Ruby Nelson</a>
                    </h5>
                    {{ meta_comment() }}
                    <p>Suspendisse nunc veniam felis do. Nunclorem mollit eleifend consectetuer mi. At aliquip gravida ut nascetur
                        laborum. Facilisis vel eu per dictum labore. Cum veniam vel vestibulum pariatur nisi. Cum tellus
                        elementum imperdiet sint.</p>
                </div>
            </li>
            <li class="media mb-2">
                <a href="#">
                    <img src="assets/img/author/pt3-70x70.jpg" alt="" class="d-flex img-fluid">
                </a>
                <div class="media-body ml-3">
                    <h5>
                        <a href="#">Hope Schneider</a>
                    </h5>
                    {{ meta_comment() }}
                    <p>Tellus quisque metus massa suspendisse est. Labore quisque nascetur ut facilisis. Tristique nullam neque
                        sollicitudin lacus dignissim. Tempus habitant mus et deserunt. Quisque fermentum quis parturient
                        orci neque. Occaecat habitant neque eleifend sociis bibendum. Nibh tortor dolore proident lacinia.</p>
                    <div class="media mt-4 mb-2 pos-relative">
                        <a href="#">
                            <img src="assets/img/author/pt4-70x70.jpg" alt="" class="d-flex img-fluid">
                        </a>
                        <div class="media-body ml-3">
                            <h5>
                                <a href="#">Doyle Holland</a>
                            </h5>
                            {{ meta_comment() }}
                            <p class="mb-1">Tellus sociis qui venenatis porttitor. Eget morbi lacinia at litora. Turpis nostra vitae purus
                                facilisis fringilla. Blandit sunt auctor dui eros erat. Odio curae imperdiet a malesuada
                                senectus. Sint fringilla aenean proident dignissim culpa. Ac aliquip nunclorem eleifend do
                                aute.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="media mb-2">
                <a href="#">
                    <img src="assets/img/author/pt5-70x70.jpg" alt="" class="d-flex img-fluid">
                </a>
                <div class="media-body ml-3">
                    <h5>
                        <a href="#">Julian Wilson</a>
                    </h5>
                    {{ meta_comment() }}
                    <p>Consectetuer integer nostrud pariatur auctor erat. Scelerisque pharetra nisl ridiculus congue. Sollicitudin
                        euismod hendrerit facilisis ex culpa. Lorem diam laoreet augue excepteur elit. Lectus habitant nunclorem
                        labore aliquet.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="card border-0 mt-4">
    <div class="card-body p-0">
        <h4 class="card-title">Would you like to share your thoughts?</h4>
        <p>Your email address will not be published. Required fields are marked *</p>
        <form id="comment_form" class="form-container pt-2" action="#" method="post">
            <div class="form-group">
                <input type="text" name="first" class="form-control" placeholder="Name *">
            </div>
            <div class="form-group">
                <input type="text" name="first" class="form-control" placeholder="Email *">
            </div>
            <div class="form-group">
                <input type="text" name="first" class="form-control" placeholder="Website">
            </div>
            <div class="form-group">
                <textarea name="textarea" id="textarea" class="form-control" rows="5" cols="30" placeholder="Comment *"></textarea>
            </div>
            <input type="submit" value="Post Comment" name="submit" class="btn btn-primary text-uppercase">
        </form>
    </div>
</div>

{% endmacro %}
<!--  -->

<!-- Card meta comment -->
{% macro meta_comment() %}
<p class="meta">January 1, 2018
    <a href="#" class="float-right text-uppercase meta-link">Reply</a>
</p>
{% endmacro %}