<!-- Default -->
{% macro default(price, title, card_css="", btn_css="") %}

    <div class="card pricing rounded-0 border text-center mb-4 mb-md-0 {{ card_css }}">
        <div class="card-header p-4 border-bottom-0">
            <h3 class="price mb-0">
                <span class="currency">$</span>{{ price }}
                <span class="period">/month</span>
            </h3>
        </div>
        <div class="card-body">
            <h4 class="card-title">{{ title }}</h4>
            <ul class="list-unstyled list-lg">
                <li>
                    <strong>1</strong> Project</li>
                <li>
                    <strong>100K</strong> API Access</li>
                <li>
                    <strong>100MB</strong> Storage</li>
                <li>100KCustom
                    <strong>Cloud</strong> Services</li>
                <li>Weekly
                    <strong>Reports</strong>
                </li>
                <li>7/24
                    <strong>Support</strong>
                </li>
            </ul>
            <a href="#" class="btn {{ btn_css }} mt-2">Choose Plan</a>
        </div>
    </div>

{% endmacro %}
