<!-- Default -->
{% macro default(product, card_css="mb-4") %}

<div class="card {{ card_css }}">
    <a href="shop-single.html">
        {% if product.sale %}
        <span class="shop-item-sale bg-yellow text-white">sale</span>
        {% endif %}
        <img class="card-img-top img-fluid" src="{{ product.img }}" alt=""> {{ card_overlay() }}
    </a>
    <div class="card-body px-0">
        <h3 class="card-title h5">
            <a href="shop-single.html">{{ product.name }}</a>
        </h3>
        <span>
            <del class="op-5">{{ product.price }}</del>
            <ins class="text-decoration-none">{{ product.discount_price }}</ins>
        </span>
        <div class="float-right">
            <i class="ion-ios-star text-primary"></i>
            <i class="ion-ios-star text-primary"></i>
            <i class="ion-ios-star text-primary"></i>
            <i class="ion-ios-star text-primary"></i>
            <i class="ion-ios-star-half text-primary"></i>
        </div>
    </div>
</div>

{% endmacro %}

<!-- Card Overlay -->
{% macro card_overlay() %}

<div class="overlay">
    <div class="overlay-text">
        <span>Product Detail</span>
    </div>
</div>

{% endmacro %}