<!-- Default -->
{% macro default(product, card_css="border-0 mb-4") %}

<div class="card {{ card_css }}">
    <a href="shop-single.html">
        {% if product.sale %}
        <span class="badge badge-pill badge-primary badge-sm text-uppercase position-absolute right-0 mt-3 mr-3">sale</span>
        {% endif %}
        <img class="card-img-top img-fluid" src="{{ product.img }}" alt=""> {{ card_overlay() }}
    </a>
    <div class="card-body px-0">
        <h3 class="card-title h5">
            <a href="shop-single.html">{{ product.name }}</a>
        </h3>
        <span>
            <del class="font-weight-light text-muted">{{ product.price }}</del>
            <ins class="text-decoration-none">{{ product.discount_price }}</ins>
        </span>
        <div class="float-right">
            <i class="ion-ios-star text-primary"></i>
            <i class="ion-ios-star text-primary"></i>
            <i class="ion-ios-star text-primary"></i>
            <i class="ion-ios-star text-primary"></i>
            <i class="ion-ios-star-half text-primary"></i>
        </div>
    </div>
</div>

{% endmacro %}

<!-- Card Overlay -->
{% macro card_overlay() %}

{% endmacro %}

<!--  -->
{% macro header() %}

<div class="row">
    <div class="col-12 col-md-6">
        <p class="font-weight-bold">Showing 1–12 of 23 results</p>
    </div>
    <div class="col-12 col-md-6">
        <form class="float-none float-md-right">
            <div class="form-group">
                <select class="form-control">
                    <option value="menu_order">Default sorting</option>
                    <option value="popularity">Sort by popularity</option>
                    <option value="rating" selected="selected">Sort by average rating</option>
                    <option value="date">Sort by newness</option>
                    <option value="price">Sort by price: low to high</option>
                    <option value="price-desc">Sort by price: high to low</option>
                </select>
            </div>
        </form>
    </div>
</div>

{% endmacro%}