<!-- Default -->
{% macro default(product, card_css="mb-4") %}

    <div class="card {{ card_css }}">
        <a href="product-detail.html">
            {% if product.sale %}
            <span class="shop-item-sale">sale</span>
            {% endif %}
            <img class="card-img-top img-fluid" src="{{ product.img }}" alt="">
            {{ card_overlay() }}
        </a>
        <div class="card-body px-0">
            <h4 class="card-title">
                <a href="product-detail.html">{{ product.name }}</a>
            </h4>
            <span class="font-weight-bold">
                <del class="op-5">{{ product.price }}</del>
                <ins class="text-decoration-none">{{ product.discount_price }}</ins>
            </span>
            <div class="float-right">
                <i class="fa fa-star text-primary"></i>
                <i class="fa fa-star text-primary"></i>
                <i class="fa fa-star text-primary"></i>
                <i class="fa fa-star text-primary"></i>
                <i class="fa fa-star-half-o text-primary"></i>
            </div>
        </div>
    </div>

{% endmacro %}

<!-- Card Overlay -->
{% macro card_overlay() %}

    <div class="overlay">
        <div class="overlay-text">
            <span>Product Detail</span>
        </div>
    </div>

{% endmacro %}