<!-- Layout 1 -->
{% macro layout1(testimonial) %}
<div class="card border-0">
    <div class="card-body text-center">
        <i class="ti-quote-left icon-lg text-primary"></i>
        <p class="font-weight-light font-italic pt-4">{{ testimonial.desc }}</p>
        <div class="d-block mt-4">
            <img src="{{ testimonial.img }}" alt="Testimonial" class="d-inline rounded-circle w-max-90px mr-2">
            <div class="d-inline-block align-middle text-left">
                <h6>{{ testimonial.name }} </h6>
                <p class="text-muted mt-0">{{ testimonial.position }}</p>
            </div>
        </div>
    </div>
</div>

{% endmacro %}

<!-- Layout 2 -->
{% macro layout2(testimonial) %}
<div class="row justify-content-center">
    <div class="col-6 col-sm-2 mb-4 mb-sm-0 text-center">
        <img src="{{ testimonial.img }}" class="rounded-circle d-inline">
    </div>
    <div class="col-sm-7 my-auto">
        <p class="font-weight-light">Laoreet aliquip inceptos irure incididunt. Amet veniam elit lobortis venenatis. Semper habitant consectetur fringilla
            enim. Elit sagittis habitant curabitur tempor pellentesque. Sociis sint nec et luctus. Fugiat feugiat laboris
            massa pretium adipiscing.</p>
        <hr class="hr-md mt-3 mx-0 w-60px hr-primary">
        <h6 class="my-2">{{ testimonial.name }}</h6>
        <p class="op-6 pb-0 mb-0">{{ testimonial.position }}</p>
    </div>
</div>

{% endmacro %}