<!-- Layout 1 -->
{% macro layout1(testimonial) %}
<div class="card border-0">
    <div class="card-body text-center">
        <i class="ti-quote-left icon-lg text-primary"></i>
        <p class="font-weight-light font-italic pt-4">{{ testimonial.desc }}</p>
        <div class="d-block mt-4">
            <img src="{{ testimonial.img }}" alt="Testimonial" class="d-inline rounded-circle w-max-90px mr-2">
            <div class="d-inline-block align-middle text-left">
                <h6>{{ testimonial.name }} </h6>
                <p class="text-muted mt-0">{{ testimonial.position }}</p>
            </div>
        </div>
    </div>
</div>

{% endmacro %}

<!-- Layout 2 -->
{% macro layout2(testimonial) %}
<div class="row">
    <div class="col-md-3">
        <img src="{{ testimonial.img }}" class="rounded-circle d-inline">
    </div>
    <div class="col-md-9">
        <p class="lead mt-4">Habitant nunclorem pharetra cursus torquent mus nisi consequat. Mollis odio metus dolor cras pretium. Cubilia laoreet
            porttitor tellus faucibus litora ac mollis id. Cubilia magnis est aenean vehicula.</p>
        <h4 class="h5 mt-4">{{ testimonial.name }}</h4>
        <p class="op-6">{{ testimonial.position }}</p>
    </div>
</div>

{% endmacro %}