//
// Utilities background
//
.bg-image-center {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image,
.bg-image-fluid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.bg-image-fluid {
    @include media-breakpoint-down(sm) {
        position: relative;
    }
}

.bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    will-change: transform, opacity, filter;
    backface-visibility: hidden;
    background-repeat: no-repeat;
}