//
// Utilities block
//
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        .block#{$infix}-over {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            margin: 0 auto;
            overflow: hidden;
            padding: 0 !important;
            background-color: transparent !important;
        }
        .block#{$infix}-under {
            // width: 100% !important;
            z-index: 1;
        }
    }
}
