//
// Utilities block
//
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .block#{$infix}-over {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .block#{$infix}-under {
            position: relative;
        }
    }
}