//
// Custom utilities colors
//

.bg-black {
    background-color: $black !important;
}

.bg-white-50 {
    background-color: rgba($white, 0.5) !important;
}

.bg-white-70 {
    background-color: rgba($white, 0.7) !important;
}
