//
// Utilities overlay
//
.overlay {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
    transform: translateZ(0);
}

.overlay-hover {
    &:not(:hover) {
        [class*="overlay-"],
        figcaption{
            opacity: 0 !important;
        }
    }
}

.overlay-linear-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    &.gradient-dark {
        &.gradient-to-top {
            background: linear-gradient(to top, #252525 0%, rgba(0, 0, 0, 0) 100%);
        }
    }
}

.overlay-radial-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    &.gradient-primary {
        &.gradient-center-left {
            background: radial-gradient(circle at center left, $primary, rgba(255, 255, 255, 0) 80%);
        }
    }
    &.gradient-dark {
        &.gradient-center-left {
            background: radial-gradient(circle at center left, $dark, rgba(255, 255, 255, 0) 80%);
        }
    }
    &.gradient-light {
        &.gradient-center-left {
            background: radial-gradient(circle at center left, $light, rgba(255, 255, 255, 0) 80%);
        }
    }
}