//
// Custom utilities text
//
.text-decoration-none {
    text-decoration: none;
}

.line-height-1{
    line-height: 1 !important;
}

.font-weight-400{
    font-weight: 400 !important;
}

.font-weight-500{
    font-weight: 500 !important;
}