{% extends "../templates/master_doc.html" %}
<!--  -->
{% set component = "buttons" %}
<!--  -->
{% block section_nav %}
<li class="toc-entry toc-h2">
    <a href="#example">Example</a>
    <a href="#complete-referance">Complete Reference</a>
</li>
{% endblock%}
<!--  -->
{% block content %}

<h1 class="bd-title" id="content">Buttons</h1>
<p class="bd-lead">Use Bootstrap’s custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and
    more.
</p>
<h2 id="example">Example</h2>
<p>
    Examples Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown
    in for more control.</p>
<div class="bd-example">
    {% macro example() %}
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>
    {% endmacro %}
    <!--  -->
    {% call example() %}
    <!--  -->
    {% endcall %}
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        {% call example() %}
        <!--  -->
        {% endcall %}
    </script>
</figure>
<h2 id="outline-buttons">Outline buttons</h2>
<p>
    Examples Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown
    in for more control.</p>
<div class="bd-example">
    {% macro outlineButtons() %}
    <button type="button" class="btn btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-outline-secondary">Secondary</button>
    <button type="button" class="btn btn-outline-success">Success</button>
    <button type="button" class="btn btn-outline-danger">Danger</button>
    <button type="button" class="btn btn-outline-warning">Warning</button>
    <button type="button" class="btn btn-outline-info">Info</button>
    <button type="button" class="btn btn-outline-light">Light</button>
    <button type="button" class="btn btn-outline-dark">Dark</button>
    {% endmacro %}
    <!--  -->
    {% call outlineButtons() %}
    <!--  -->
    {% endcall %}
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        {% call outlineButtons() %}
        <!--  -->
        {% endcall %}
    </script>
</figure>
<h2 id="sizes">Sizes</h2>
<p>
    Examples Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown
    in for more control.</p>
<div class="bd-example">
    {% macro sizes() %}
    <button type="button" class="btn btn-primary btn-lg">Large button</button>
    <button type="button" class="btn btn-primary">Default button</button>
    <button type="button" class="btn btn-primary btn-sm">Small button</button>
    {% endmacro %}
    <!--  -->
    {% call sizes() %}
    <!--  -->
    {% endcall %}
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        {% call sizes() %}
        <!--  -->
        {% endcall %}
    </script>
</figure>
<h2 id="complete-referance">Complete Reference</h2>
<p>For a complete reference of all button classes, go to our complete
    <a href="https://getbootstrap.com/docs/4.1/components/buttons">Bootstrap Button Reference</a>.</p>
{% endblock %}