{% extends "../templates/master_doc.html" %}
<!--  -->
{% set component = "clients" %}
<!--  -->
{% block section_nav %}
<li class="toc-entry toc-h2">
    <a href="#with-carousel">With Carousel</a>
    <a href="#grid">Grid</a>
</li>
{% endblock%}
<!--  -->
{% block content %}

<h1 class="bd-title" id="content">Clients</h1>
<h2 id="with-carousel">With Carousel</h2>
<div class="bd-example">
    <div class="owl-carousel owl-theme owl-loaded owl-nav-dark" data-owl-carousel-options='{"margin": 30, "nav":true, "dots":false,"loop":true,"responsive":{"0":{"items":1}, "600":{"items":2}, "940":{"items":4}}}'>
        <div class="item">
            <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
        </div>
        <div class="item">
            <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
        </div>
        <div class="item">
            <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
        </div>
        <div class="item">
            <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
        </div>
        <div class="item">
            <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
        </div>
    </div>
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        <div class="owl-carousel owl-theme owl-loaded" data-owl-carousel-options='{"margin": 30, "nav":true, "dots":false,"loop":true,"responsive":{"0":{"items":1}, "600":{"items":2}, "940":{"items":4}}}'>
            <div class="item">
                <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
            </div>
            <div class="item">
                <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
            </div>
            <div class="item">
                <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
            </div>
            <div class="item">
                <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
            </div>
            <div class="item">
                <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
            </div>
        </div>
    </script>
</figure>

<h2 id="grid">Gird</h2>
<div class="bd-example">
    <div class="row justify-content-md-center text-center">
        <div class="col-6 col-md-4 mb-4">
            <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
        </div>
        <div class="col-6 col-md-4 mb-4">
            <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
        </div>
        <div class="col-6 col-md-4">
            <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
        </div>
        <div class="col-6 col-md-4">
            <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
        </div>
        <div class="col-6 col-md-4">
            <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
        </div>
    </div>
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        <div class="row justify-content-md-center text-center">
            <div class="col-6 col-md-4 mb-4">
                <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
            </div>
            <div class="col-6 col-md-4 mb-4">
                <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
            </div>
            <div class="col-6 col-md-4 mb-4">
                <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
            </div>
            <div class="col-6 col-md-4">
                <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
            </div>
            <div class="col-6 col-md-4">
                <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
            </div>
            <div class="col-6 col-md-4">
                <img data-src="holder.js/180x80?auto=yes&bg=cccccc&text=180x80" alt="">
            </div>
        </div>
    </script>
</figure>

{% endblock %}