{% extends "../templates/master_doc.html" %}
<!--  -->
{% set component = "clients" %}
<!--  -->
{% block section_nav %}
<li class="toc-entry toc-h2">
    <a href="#sizes">Sizes</a>
</li>
{% endblock%}
<!--  -->
{% block content %}

<h1 class="bd-title" id="content">Icons</h1>
<h2 id="sizes">Sizes</h2>
<div class="bd-example">
    {% macro sizes() %}
    <i class="ti-check-box icon-xs"></i>
    <i class="ti-check-box icon-sm"></i>
    <i class="ti-check-box icon-lg"></i>
    <i class="ti-check-box icon-2x"></i>
    <i class="ti-check-box icon-3x"></i>
    <i class="ti-check-box icon-5x"></i>
    <i class="ti-check-box icon-7x"></i>
    <i class="ti-check-box icon-10x"></i>
    {% endmacro %}
    <!--  -->
    {% call sizes() %}
    <!--  -->
    {% endcall %}
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        {% call sizes() %}
        <!--  -->
        {% endcall %}
    </script>
</figure>

{% endblock %}