{% extends "../templates/master_doc.html" %}
<!--  -->
{% set component = "lists" %}
<!--  -->
{% block section_nav %}
<li class="toc-entry toc-h2">
    <a href="#basic">List icon</a>
    <a href="#basic">Sizes</a>
    <a href="#navigation-hover">List group border</a>
</li>
{% endblock%}
<!--  -->
{% block content %}

<h1 class="bd-title" id="content">Lists</h1>
<p class="bd-lead">Use Bootstrap’s custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and
    more.
</p>
<h3 id="slides-only">List icon</h3>
<div class="bd-example">
    <ul class="list-unstyled list-lg">
        <li>
            <i class="ti-check-box icon-lg text-primary mr-3"></i>Nulla laoreet metus at eros porttitor elementum.
        </li>
        <li>
            <i class="ti-check-box icon-lg text-primary mr-3"></i>Sed et purus eu dolor tempor fringilla eu eget quam.</li>
        <li>
            <i class="ti-check-box icon-lg text-primary mr-3"></i>Quisque euismod elit pellentesque massa consequat.</li>
        <li>
            <i class="ti-check-box icon-lg text-primary mr-3"></i>Sed non erat non est suscipit tincidunt.</li>
    </ul>
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        <ul class="list-unstyled list-lg">
            <li>
                <i class="ti-check-box icon-lg text-primary mr-3"></i>Nulla laoreet metus at eros porttitor elementum.
            </li>
            <li>
                <i class="ti-check-box icon-lg text-primary mr-3"></i>Sed et purus eu dolor tempor fringilla eu eget quam.</li>
            <li>
                <i class="ti-check-box icon-lg text-primary mr-3"></i>Quisque euismod elit pellentesque massa consequat.</li>
            <li>
                <i class="ti-check-box icon-lg text-primary mr-3"></i>Sed non erat non est suscipit tincidunt.</li>
        </ul>
    </script>
</figure>
<h3 id="slides-only">Sizes</h3>
<p>Add
    <code class="highlighter-rouge">.list-sm</code> or
    <code class="highlighter-rouge">.list-md</code> or
    <code class="highlighter-rouge">.list-lg</code> for additional sizes.</p>
<div class="bd-example">
    <ul class="list-unstyled list-sm">
        <li>
            <i class="ti-check-box icon-lg text-primary mr-3"></i>Nulla laoreet metus at eros porttitor elementum.
        </li>
        <li>
            <i class="ti-check-box icon-lg text-primary mr-3"></i>Sed et purus eu dolor tempor fringilla eu eget quam.</li>
        <li>
            <i class="ti-check-box icon-lg text-primary mr-3"></i>Quisque euismod elit pellentesque massa consequat.</li>
    </ul>
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        <ul class="list-unstyled list-sm">
            <li>
                <i class="ti-check-box icon-lg text-primary mr-3"></i>Nulla laoreet metus at eros porttitor elementum.
            </li>
            <li>
                <i class="ti-check-box icon-lg text-primary mr-3"></i>Sed et purus eu dolor tempor fringilla eu eget quam.</li>
            <li>
                <i class="ti-check-box icon-lg text-primary mr-3"></i>Quisque euismod elit pellentesque massa consequat.</li>
        </ul>
    </script>
</figure>
<div class="bd-example">
    <ul class="list-unstyled list-md">
        <li>
            <i class="ti-check-box icon-lg text-primary mr-3"></i>Nulla laoreet metus at eros porttitor elementum.
        </li>
        <li>
            <i class="ti-check-box icon-lg text-primary mr-3"></i>Sed et purus eu dolor tempor fringilla eu eget quam.</li>
        <li>
            <i class="ti-check-box icon-lg text-primary mr-3"></i>Quisque euismod elit pellentesque massa consequat.</li>
    </ul>
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        <ul class="list-unstyled list-md">
            <li>
                <i class="ti-check-box icon-lg text-primary mr-3"></i>Nulla laoreet metus at eros porttitor elementum.
            </li>
            <li>
                <i class="ti-check-box icon-lg text-primary mr-3"></i>Sed et purus eu dolor tempor fringilla eu eget quam.</li>
            <li>
                <i class="ti-check-box icon-lg text-primary mr-3"></i>Quisque euismod elit pellentesque massa consequat.</li>
        </ul>
    </script>
</figure>
<div class="bd-example">
    <ul class="list-unstyled list-lg">
        <li>
            <i class="ti-check-box icon-lg text-primary mr-3"></i>Nulla laoreet metus at eros porttitor elementum.
        </li>
        <li>
            <i class="ti-check-box icon-lg text-primary mr-3"></i>Sed et purus eu dolor tempor fringilla eu eget quam.</li>
        <li>
            <i class="ti-check-box icon-lg text-primary mr-3"></i>Quisque euismod elit pellentesque massa consequat.</li>
    </ul>
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        <ul class="list-unstyled list-lg">
            <li>
                <i class="ti-check-box icon-lg text-primary mr-3"></i>Nulla laoreet metus at eros porttitor elementum.
            </li>
            <li>
                <i class="ti-check-box icon-lg text-primary mr-3"></i>Sed et purus eu dolor tempor fringilla eu eget quam.</li>
            <li>
                <i class="ti-check-box icon-lg text-primary mr-3"></i>Quisque euismod elit pellentesque massa consequat.</li>
        </ul>
    </script>
</figure>

<h3 id="slides-only">List Group With Divider line</h3>
<div class="bd-example">
    <ul class="list-group list-group-flush">
        <li class="list-group-item px-0">
            Nulla laoreet metus at eros porttitor elementum.
        </li>
        <li class="list-group-item px-0">
            Sed et purus eu dolor tempor fringilla eu eget quam.</li>
        <li class="list-group-item px-0">
            Quisque euismod elit pellentesque massa consequat.</li>
        <li class="list-group-item px-0">
            Sed non erat non est suscipit tincidunt.</li>
    </ul>
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        <ul class="list-group list-group-flush">
            <li class="list-group-item px-0">
                Nulla laoreet metus at eros porttitor elementum.
            </li>
            <li class="list-group-item px-0">
                Sed et purus eu dolor tempor fringilla eu eget quam.
            </li>
            <li class="list-group-item px-0">
                Quisque euismod elit pellentesque massa consequat.
            </li>
            <li class="list-group-item px-0">
                Sed non erat non est suscipit tincidunt.
            </li>
        </ul>
    </script>
</figure>
{% endblock %}