{% extends "../templates/master_doc.html" %}
<!--  -->
{% set component = owlcarousel %}
<!--  -->
{% block section_nav %}
<li class="toc-entry toc-h2">
    <a href="#basic">Basic</a>
    <a href="#navigation-hover">Navigation hover</a>
    <a href="#dots-navigation">Dots navigation</a>
</li>
{% endblock%}
<!--  -->
{% block content %}

<h1 class="bd-title" id="content">Owl Carousel</h1>
<p class="bd-lead">A slideshow component for cycling through elements—images or slides of text—like a carousel.</p>
<h3 id="slides-only">Basic</h3>
<p>
    <p>Here’s a carousel with slides only. Note the presence of the
        <code class="highlighter-rouge">.d-block</code> and
        <code class="highlighter-rouge">.w-100</code> on carousel images to prevent browser default image alignment.</p>
</p>
<div class="bd-example">
    <div class="owl-carousel owl-theme owl-loaded" data-owl-carousel-options='{"items":1, "nav":true,"margin":0, "dots":false, "loop":true, "autoHeight":true}'>
        <div class="item">
            <img src="/assets/img/blog/blog-4-800x518.jpg" alt="" />
        </div>
        <div class="item">
            <img src="/assets/img/blog/blog-3-800x518.jpg" alt="" />
        </div>
        <div class="item">
            <img src="/assets/img/blog/blog-2-800x518.jpg" alt="" />
        </div>
    </div>
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        <div class="owl-carousel owl-theme owl-loaded" data-owl-carousel-options='{"items":1, "nav":true,"margin":0, "dots":false, "loop":true, "autoHeight":true}'>
            <div class="item">
                <img src="assets/img/blog/blog-4-800x518.jpg" alt="" />
            </div>
            <div class="item">
                <img src="assets/img/blog/blog-3-800x518.jpg" alt="" />
            </div>
            <div class="item">
                <img src="assets/img/blog/blog-2-800x518.jpg" alt="" />
            </div>
        </div>
    </script>
</figure>
<h3 id="navigation-hover">Navigation hover</h3>
<p>
    <p>Here’s a carousel with slides only. Note the presence of the
        <code class="highlighter-rouge">.d-block</code> and
        <code class="highlighter-rouge">.w-100</code> on carousel images to prevent browser default image alignment.</p>
</p>
<div class="bd-example">
    <div class="owl-carousel owl-theme owl-loaded owl-nav-md-hover" data-owl-carousel-options='{"items":1, "nav":true,"margin":0, "dots":false, "loop":true, "autoHeight":true}'>
        <div class="item">
            <img src="/assets/img/blog/blog-4-800x518.jpg" alt="" />
        </div>
        <div class="item">
            <img src="/assets/img/blog/blog-3-800x518.jpg" alt="" />
        </div>
        <div class="item">
            <img src="/assets/img/blog/blog-2-800x518.jpg" alt="" />
        </div>
    </div>
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        <div class="owl-carousel owl-theme owl-loaded owl-nav-md-hover" data-owl-carousel-options='{"items":1, "nav":true,"margin":0, "dots":false, "loop":true, "autoHeight":true}'>
            <div class="item">
                <img src="/assets/img/blog/blog-4-800x518.jpg" alt="" />
            </div>
            <div class="item">
                <img src="/assets/img/blog/blog-3-800x518.jpg" alt="" />
            </div>
            <div class="item">
                <img src="/assets/img/blog/blog-2-800x518.jpg" alt="" />
            </div>
        </div>
    </script>
</figure>
<h3 id="show-dots-nav">Dots navigation</h3>
<p>Show dots navigation.</p>
<div class="bd-example">
    <div class="owl-carousel owl-theme owl-loaded owl-dots-primary" data-owl-carousel-options='{"items":1, "nav":true,"margin":0, "dots":true, "loop":true, "autoHeight":true}'>
        <div class="item">
            <img src="/assets/img/blog/blog-4-800x518.jpg" alt="" />
        </div>
        <div class="item">
            <img src="/assets/img/blog/blog-3-800x518.jpg" alt="" />
        </div>
        <div class="item">
            <img src="/assets/img/blog/blog-2-800x518.jpg" alt="" />
        </div>
    </div>
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        <div class="owl-carousel owl-theme owl-loaded owl-dots-primary" data-owl-carousel-options='{"items":1, "nav":true,"margin":0, "dots":true, "loop":true, "autoHeight":true}'>
            <div class="item">
                <img src="/assets/img/blog/blog-4-800x518.jpg" alt="" />
            </div>
            <div class="item">
                <img src="/assets/img/blog/blog-3-800x518.jpg" alt="" />
            </div>
            <div class="item">
                <img src="/assets/img/blog/blog-2-800x518.jpg" alt="" />
            </div>
        </div>
    </script>
</figure>
<p>
    You can also show dots inside carousel with <code class="highlighter-rouge">.owl-dots-inside</code>.
</p>
{% endblock %}