{% extends "../templates/master_doc.html" %}
<!--  -->
{% set component = "pricing" %}
<!--  -->
{% block section_nav %}

{% endblock%}
<!--  -->
{% block content %}

<h1 class="bd-title" id="content">Pricing</h1>
<p class="bd-lead">Example pricing page built with Cards and featuring a custom header and body.</p>
<div class="bd-example">
    <div class="row mt-6">
        <div class="col-md-6">
            <div class="card pricing border-0 bg-light rounded-0 text-center mb-4 mb-md-0 ">
                <div class="card-header bg-light p-4 border-bottom-0">
                    <h3 class="price mb-0">
                        <span class="currency">$</span>19
                        <span class="period">/month</span>
                    </h3>
                </div>
                <div class="card-body py-4">
                    <h4 class="card-title">Startup License</h4>
                    <ul class="list-unstyled list-lg">
                        <li>
                            <strong>1</strong> Project</li>
                        <li>
                            <strong>100K</strong> API Access</li>
                        <li>
                            <strong>100MB</strong> Storage</li>
                        <li>100KCustom
                            <strong>Cloud</strong> Services</li>
                        <li>Weekly
                            <strong>Reports</strong>
                        </li>
                        <li>7/24
                            <strong>Support</strong>
                        </li>
                    </ul>
                    <a href="#" class="btn text-uppercase mt-2">Choose Plan</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card pricing border-0 bg-light ounded-0 text-center mb-4 mb-md-0 ">
                <div class="card-header bg-light text-primary rounded-0 p-4 border-bottom-0">
                    <h3 class="price mb-0">
                        <span class="currency">$</span>29
                        <span class="period">/month</span>
                    </h3>
                </div>
                <div class="card-body py-4">
                    <h4 class="card-title">Business License</h4>
                    <ul class="list-unstyled list-lg">
                        <li>
                            <strong>1</strong> Project</li>
                        <li>
                            <strong>100K</strong> API Access</li>
                        <li>
                            <strong>100MB</strong> Storage</li>
                        <li>100KCustom
                            <strong>Cloud</strong> Services</li>
                        <li>Weekly
                            <strong>Reports</strong>
                        </li>
                        <li>7/24
                            <strong>Support</strong>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary text-uppercase mt-2">Choose Plan</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        <div class="row mt-6">
            <div class="col-md-6">
                <div class="card pricing border-0 bg-light rounded-0 text-center mb-4 mb-md-0 ">
                    <div class="card-header bg-light p-4 border-bottom-0">
                        <h3 class="price mb-0">
                            <span class="currency">$</span>19
                            <span class="period">/month</span>
                        </h3>
                    </div>
                    <div class="card-body py-4">
                        <h4 class="card-title">Startup License</h4>
                        <ul class="list-unstyled list-lg">
                            <li>
                                <strong>1</strong> Project</li>
                            <li>
                                <strong>100K</strong> API Access</li>
                            <li>
                                <strong>100MB</strong> Storage</li>
                            <li>100KCustom
                                <strong>Cloud</strong> Services</li>
                            <li>Weekly
                                <strong>Reports</strong>
                            </li>
                            <li>7/24
                                <strong>Support</strong>
                            </li>
                        </ul>
                        <a href="#" class="btn text-uppercase mt-2">Choose Plan</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card pricing border-0 bg-light ounded-0 text-center mb-4 mb-md-0 ">
                    <div class="card-header bg-light text-primary rounded-0 p-4 border-bottom-0">
                        <h3 class="price mb-0">
                            <span class="currency">$</span>29
                            <span class="period">/month</span>
                        </h3>
                    </div>
                    <div class="card-body py-4">
                        <h4 class="card-title">Business License</h4>
                        <ul class="list-unstyled list-lg">
                            <li>
                                <strong>1</strong> Project</li>
                            <li>
                                <strong>100K</strong> API Access</li>
                            <li>
                                <strong>100MB</strong> Storage</li>
                            <li>100KCustom
                                <strong>Cloud</strong> Services</li>
                            <li>Weekly
                                <strong>Reports</strong>
                            </li>
                            <li>7/24
                                <strong>Support</strong>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-primary text-uppercase mt-2">Choose Plan</a>
                    </div>
                </div>
            </div>
        </div>
    </script>
</figure>
{% endblock %}