{% extends "../templates/master_doc.html" %}
<!--  -->
{% set component = "typography" %}
<!--  -->
{% block section_nav %}
<li class="toc-entry toc-h2">
    <a href="#headings">Headings</a>
    <a href="#display-headings">Display headings</a>
    <a href="#lead">Lead</a>
    <a href="#caption">Caption</a>
    <a href="#present">Present</a>
</li>
{% endblock%}
<!--  -->
{% block content %}

<h1 class="bd-title" id="content">Typography</h1>
<p class="bd-lead">Documentation and examples for Bootstrap typography.</p>
<h2 id="headings">Headings</h2>
<div class="bd-example">
    <h1>h1. Bootstrap heading</h1>
    <h2>h2. Bootstrap heading</h2>
    <h3>h3. Bootstrap heading</h3>
    <h4>h4. Bootstrap heading</h4>
    <h5>h5. Bootstrap heading</h5>
    <h6>h6. Bootstrap heading</h6>
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        <h1>h1. Bootstrap heading</h1>
        <h2>h2. Bootstrap heading</h2>
        <h3>h3. Bootstrap heading</h3>
        <h4>h4. Bootstrap heading</h4>
        <h5>h5. Bootstrap heading</h5>
        <h6>h6. Bootstrap heading</h6>
    </script>
</figure>
<p>
    <code class="highlighter-rouge">.h1</code> through
    <code class="highlighter-rouge">.h6</code> classes are also available, for when you want to match the font styling of a heading but cannot use the associated
    HTML element.</p>

<figure class="highlight">
    <script type="text/plain" class="language-markup">
        <p class="h1">h1. Bootstrap heading</p>
        <p class="h2">h2. Bootstrap heading</p>
        <p class="h3">h3. Bootstrap heading</p>
        <p class="h4">h4. Bootstrap heading</p>
        <p class="h5">h5. Bootstrap heading</p>
        <p class="h6">h6. Bootstrap heading</p>
    </script>
</figure>

<h2 id="display-headings">Display headings</h2>
<p>Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand
    out, consider using a
    <strong>display heading</strong>—a larger, slightly more opinionated heading style.</p>
<div class="bd-example">
    <h1 class="display-1">Display 1</h1>
    <h1 class="display-2">Display 2</h1>
    <h1 class="display-3">Display 3</h1>
    <h1 class="display-4">Display 4</h1>
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        <h1 class="display-1">Display 1</h1>
        <h1 class="display-2">Display 2</h1>
        <h1 class="display-3">Display 3</h1>
        <h1 class="display-4">Display 4</h1>
    </script>
</figure>

<h2 id="lead">Lead</h2>
<p>Make a paragraph stand out by adding
    <code class="highlighter-rouge">.lead</code>.</p>
<div class="bd-example">
    <p class="lead">
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
    </p>
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        <p class="lead">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
    </script>
</figure>

<h2 id="caption">Caption</h2>
<div class="bd-example">
    <p class="lead">
        <p class="caption-lg-1">Caption 1</p>
        <p class="caption-lg-2">Caption 2</p>
        <p class="caption-lg-3">Caption 3</p>
        <p class="caption-lg-4">Caption 4</p>
    </p>
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        <p class="heading-lg-1">heading-1. Bootstrap heading</p>
        <p class="heading-lg-2">heading-2. Bootstrap heading</p>
        <p class="heading-lg-3">heading-3. Bootstrap heading</p>
        <p class="heading-lg-4">heading-4. Bootstrap heading</p>
    </script>
</figure>
<h2 id="present">Present</h2>
<div class="bd-example">
    <p class="present-lg-1">Present 1</p>
    <p class="present-lg-2">Present 2</p>
    <p class="present-lg-3">Present 3</p>
    <p class="present-lg-4">Present 4</p>
    <p class="present-lg-5">Present 5</p>
</div>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
    <script type="text/plain" class="language-markup">
        <p class="present-lg-1">Present 1</p>
        <p class="present-lg-2">Present 2</p>
        <p class="present-lg-3">Present 3</p>
        <p class="present-lg-4">Present 4</p>
        <p class="present-lg-5">Present 5</p>
    </script>
</figure>


{% endblock %}