{% set page_title = "About Us II" %}
{% extends "../templates/master.html" %}
{% block content %}
{% include "../templates/partials/header.html" %}
<main>
    <section class="bg-primary py-5 py-md-6">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="caption-6 caption-lg-5 text-white mb-0">About Us</h1>
                    <nav aria-label="breadcrumb" role="navigation" class="d-inline-block mt-3 mt-md-4">
                        <ol class="breadcrumb bg-transparent p-0 m-0">
                            <li class="breadcrumb-item d-flex align-items-center">
                                <a href="/" class="d-flex align-items-center text-small text-white">
                                    <i class="material-icons align-middle mr-1 icon-18">
                                        home
                                    </i>
                                    Home</a>
                                <i class="material-icons text-white align-middle px-1 icon-18">
                                    chevron_right
                                </i>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center pl-0">
                                <a href="#" class="text-small text-white">Pages</a>
                                <i class="material-icons text-white align-middle px-1 icon-18">
                                    chevron_right
                                </i>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center pl-0 active">
                                <span class="text-small text-white-50">About Us</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pr-lg-4">
                    <h3 class="mb-3">Our Vision</h3>
                    <p>Consultants provide their advice to their clients in a variety of forms. Reports and
                        presentations are
                        often used. However, in some specialized fields, the consultant may develop customized software
                        or
                        other products for the client. Depending on the nature of the consulting services and the
                        wishes
                        of the client, the advice from the consultant may be made public placing the report or
                        presentation
                        online, or the advice may be kept confidential, and only given to the senior executives.</p>
                    <p>While many consultants work for firms there is also an increasing number of independent
                        consultants.</p>
                </div>
                <div class="col-lg-6 pl-lg-4 mt-5 mt-lg-0">
                    <h3 class="mb-3">Our Mission</h3>
                    <p>Some specialized businesses may also require licenses, either due to laws governing entry into
                        certain
                        trades, occupations or professions, that require special education or to raise revenue for
                        local
                        governments.
                    </p>
                    <ul class="list-unstyled list-lg mb-0">
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Financial services consulting firm
                            into the market.
                        </li>
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Business consulting and tech
                            services branches.
                        </li>
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Products and consulting services
                            and creating brand.
                        </li>
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Energy and environment and
                            management consulting.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="position-relative bg-primary py-8">
        <img alt="Image Description" src="assets/images/other/other-2-1920x500.jpg" class="bg-image op-3">
        <div class="container text-white">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    <h3 class="mb-3">The Numbers Don't Lie</h3>
                    <p>Research and development are very difficult to manage since the defining feature of the research
                        is that
                        the researchers do not know in advance exactly how to accomplish the desired result.</p>
                    <a href="#" class="btn btn btn-dark text-uppercase mt-3">Read More</a>
                </div>
                <div class="col-lg-6 mt-5 mt-lg-0">
                    <div class="row justify-content-md-center text-center">
                        <div class="col-6">
                            <div class="counter">
                                <span class="text-counter display-4" data-from="0" data-to="600" data-speed="3500"
                                    data-refresh-interval="50"></span>
                            </div>
                            <p class="text-uppercase mt-3 mb-4">Employees</p>
                        </div>
                        <div class="col-6">
                            <div class="counter">
                                <span class="text-counter display-4" data-from="0" data-to="100" data-speed="3500"
                                    data-refresh-interval="50"></span>
                            </div>
                            <p class="text-uppercase mt-3 mb-4">Offices</p>
                        </div>
                        <div class="col-6">
                            <div class="counter mt-4 mt-md-0">
                                <span class="text-counter display-4" data-from="0" data-to="320" data-speed="3500"
                                    data-refresh-interval="50"></span>
                            </div>
                            <p class="text-uppercase mt-3 mb-0">Continents</p>
                        </div>
                        <div class="col-6">
                            <div class="counter mt-4 mt-md-0">
                                <span class="text-counter display-4" data-from="0" data-to="480" data-speed="3500"
                                    data-refresh-interval="50"></span>
                            </div>
                            <p class="text-uppercase mt-3 mb-0">Clients</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-8 pb-6 py-lg-8">
        <div class="container">
            <h6 class="font-weight-light text-muted text-center">We are a global team</h6>
            <h3 class="text-center">We are Known for Our Quality</h3>
            <div class="row mt-5">
                <div class="col-md-6 col-lg-3">
                    <div class="card border-0 mb-4 mb-lg-0">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-1-900x1225.jpg" alt="Image Description">
                        </a>
                        <div class="card-body pt-4 pb-4 pb-lg-0 px-0 text-center">
                            <h4 class="card-title h5">
                                <a href="#">Debra Barnes</a>
                            </h4>
                            <p class="text-muted mb-0">Web Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card border-0 mb-4 mb-lg-0">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-2-900x1225.jpg" alt="Image Description">
                        </a>
                        <div class="card-body pt-4 pb-4 pb-lg-0 px-0 text-center">
                            <h4 class="card-title h5">
                                <a href="#">Martin Campbell</a>
                            </h4>
                            <p class="text-muted mb-0">Software Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card border-0 mb-4 mb-lg-0">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-3-900x1225.jpg" alt="Image Description">
                        </a>
                        <div class="card-body pt-4 pb-4 pb-lg-0 px-0 text-center">
                            <h4 class="card-title h5">
                                <a href="#">Judith Foster</a>
                            </h4>
                            <p class="text-muted mb-0">Computer Programmer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card border-0 mb-4 mb-lg-0">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-4-900x1225.jpg" alt="Image Description">
                        </a>
                        <div class="card-body pt-4 pb-4 pb-lg-0 px-0 text-center">
                            <h4 class="card-title h5">
                                <a href="#">Sharon Martinez</a>
                            </h4>
                            <p class="text-muted mb-0">Java Programmer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light py-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pr-lg-4">
                    <h3 class="mb-3">Our History</h3>
                    <p>Though most of the back-office research and analysis occurs at the consultants' offices or
                        home-offices,
                        in the case of smaller consulting firms consultants typically work at the site of the client
                        for
                        at least some of the time. By spending time at the client's organization, the consultant is
                        able
                        to observe work processes, interview workers, managers, executives, board members, or other
                        individuals.
                    </p>
                    <p>Financial management overlaps with the financial function of the accounting profession. However,
                        financial
                        accounting is the reporting of historical financial information, while financial management is
                        concerned
                        with the allocation of capital resources to increase a firm's value to the shareholders and
                        increase
                        their rate of return on the investments.</p>
                    <p>Corporate finance also includes within its scope business valuation, stock investing, or
                        investment management.
                        An investment is an acquisition of an asset in the hope that it will maintain.</p>
                    <a href="#" class="btn btn btn-primary text-uppercase mt-3">Read More</a>
                </div>
                <div class="col-lg-6 pl-lg-4 mt-6 mt-lg-0">
                    <div class="row">
                        <div class="col-12">
                            <ul class="timeline">
                                <li class="timeline-item">
                                    <div class="timeline-info">
                                        <span>January 12, 2015</span>
                                    </div>
                                    <div class="timeline-marker"></div>
                                    <div class="timeline-content">
                                        <h5 class="mb-3">Start a Service Related Business</h5>
                                        <p>Finance aims to price assets based on their risk level and their expected
                                            rate of
                                            return.
                                        </p>
                                    </div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-info">
                                        <span>February 15, 2016</span>
                                    </div>
                                    <div class="timeline-marker"></div>
                                    <div class="timeline-content">
                                        <h5 class="mb-3">New Office in Miami</h5>
                                        <p>The term developed from the original meaning which referred literally to
                                            going to
                                            a market to buy or sell goods or services.
                                        </p>
                                    </div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-info">
                                        <span>November 12, 2017</span>
                                    </div>
                                    <div class="timeline-marker"></div>
                                    <div class="timeline-content">
                                        <h5 class="mb-3">Partnership with The Community</h5>
                                        <p>Marketing is defined by the American Marketing Association as "the activity,
                                            set
                                            of institutions.
                                        </p>
                                    </div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-info">
                                        <span>December 12, 2018</span>
                                    </div>
                                    <div class="timeline-marker"></div>
                                    <div class="timeline-content">
                                        <h5 class="mb-3">Founded The Company</h5>
                                        <p>Research and development are very difficult to manage since the defining
                                            feature
                                            of the research.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pr-lg-5 text-center text-lg-left">
                    <h3 class="mb-3">Fast Growing Business</h3>
                    <p>In recent decades, states modeled some of their assets and enterprises after business
                        enterprises. In
                        2003, for example, the People's Republic of China modeled 80% of its state-owned enterprises on
                        a
                        company-type management system.</p>
                    <a href="#" class="btn btn-primary text-uppercase mt-3">Read More</a>
                </div>
                <div class="col-lg-6 pl-lg-5 mt-6 mt-lg-0 ">
                    <div class="skillbar " data-percent="90">
                        <span class="skillbar-title">Financial Services</span>
                        <span class="skill-bar-percent"></span>
                        <p class="skillbar-bar bg-primary"></p>
                    </div>
                    <div class="skillbar mt-5" data-percent="80">
                        <span class="skillbar-title">Business Services</span>
                        <span class="skill-bar-percent"></span>
                        <p class="skillbar-bar bg-primary"></p>
                    </div>
                    <div class="skillbar mt-5" data-percent="75">
                        <span class="skillbar-title">Consumer Product</span>
                        <span class="skill-bar-percent"></span>
                        <p class="skillbar-bar bg-primary"></p>
                    </div>
                    <div class="skillbar mt-5" data-percent="70">
                        <span class="skillbar-title">Energy and Environment</span>
                        <span class="skill-bar-percent"></span>
                        <p class="skillbar-bar bg-primary"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="border-top py-7">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme owl-loaded owl-nav-lg-hover"
                        data-owl-carousel-options='{"margin": 30, "nav":true, "dots":false,"loop":true,"responsive":{"0":{"items":1}, "600":{"items":2}, "940":{"items":4}}}'>
                        <div class="item">
                            <img src="assets/images/client/client-1.png" alt="Image Description">
                        </div>
                        <div class="item">
                            <img src="assets/images/client/client-2.png" alt="Image Description">
                        </div>
                        <div class="item">
                            <img src="assets/images/client/client-3.png" alt="Image Description">
                        </div>
                        <div class="item">
                            <img src="assets/images/client/client-4.png" alt="Image Description">
                        </div>
                        <div class="item">
                            <img src="assets/images/client/client-5.png" alt="Image Description">
                        </div>
                        <div class="item">
                            <img src="assets/images/client/client-6.png" alt="Image Description">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}