{% set page_title = "About Us" %}
{% extends "../templates/layout.html" %}
{% block content %}
{% include "../templates/partials/header.html" %}
<main>
    <section class="bg-primary py-6">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="h2 text-white mb-0">About Us</h1>
                    <nav aria-label="breadcrumb" class="d-inline-block mt-4">
                        <ol class="breadcrumb bg-transparent p-0 m-0">
                            <li class="breadcrumb-item d-flex align-items-center">
                                <a href="/" class="d-flex align-items-center text-small text-white">
                                    <i class="material-icons align-middle mr-1 icon-18">
                                        home
                                    </i>
                                    Home</a>
                                <i class="material-icons text-white align-middle px-1 icon-18">
                                    chevron_right
                                </i>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center pl-0">
                                <a href="#" class="text-small text-white">Pages</a>
                                <i class="material-icons text-white align-middle px-1 icon-18">
                                    chevron_right
                                </i>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center pl-0 active">
                                <span class="text-small text-white-50">About Us</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="owl-carousel owl-theme owl-loaded" data-owl-carousel-options='{"items":1, "nav":true,"margin":0, "dots":false, "loop":true, "autoHeight":true}'>
                        <div class="item">
                            <img src="assets/images/other/other-13.jpg" alt="Image Description" />
                        </div>
                        <div class="item">
                            <img src="assets/images/other/other-14.jpg" alt="Image Description" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0">
                    <h2 class="h3 mb-3">Our Overview</h2>
                    <p>Consultants provide their advice to their clients in a variety of forms. Reports and
                        presentations are
                        often used. However, in some specialized fields, the consultant may develop customized software
                        or
                        other products for the client. Depending on the nature of the consulting services and the
                        wishes
                        of the client, the advice from the consultant.
                    </p>
                    <p>the advice may be kept confidential, and only given to the senior executives of the organization
                        paying
                        for the consulting services.</p>
                    <a href="#" class="btn btn btn-primary text-uppercase mt-4">Read More</a>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-8 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-4">
                    <div class="card border-0 text-center mb-5">
                        <i class="material-icons icon-60 text-primary">credit_card</i>
                        <h3 class="h4 mt-4 mb-3">
                            Budget Friendly
                        </h3>
                        <p class="card-text">That includes budget reductions, more business-friendly labor reforms as
                            well
                            as financial and tax-preparation advice.
                        </p>
                    </div>
                </div>
                <div class="w-100 d-block d-lg-none"></div>
                <div class="col-md-8 col-lg-4">
                    <div class="card border-0 text-center mb-5">
                        <i class="material-icons icon-60 text-primary">public</i>
                        <h3 class="h4 mt-4 mb-3">
                            Worldwide Availability
                        </h3>
                        <p class="card-text">We operate worldwide and are present in eighteen locations on four
                            continents
                            for service business model.
                        </p>
                    </div>
                </div>
                <div class="w-100 d-block d-lg-none"></div>
                <div class="col-md-8 col-lg-4">
                    <div class="card border-0 text-center mb-5">
                        <i class="material-icons icon-60 text-primary">people_outline</i>
                        <h3 class="h4 mt-4 mb-3">
                            After Sale Support
                        </h3>
                        <p class="card-text">Very good support after the sale, they manage our marketing and SEO and
                            our
                            site gets tons of great traffic and converts visitors.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light py-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="h3 mb-3">Our Mission</h2>
                    <p>Some specialized businesses may also require licenses, either due to laws governing entry into
                        certain
                        trades, occupations or professions, that require special education or to raise revenue for
                        local
                        governments. Professions that require special licenses include law.</p>
                    <ul class="list-unstyled list-lg mb-0">
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Financial services consulting firm
                            into the market.
                        </li>
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Business consulting and tech
                            services branches.
                        </li>
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Products and consulting services
                            and creating brand.
                        </li>
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Energy and environment and
                            management consulting.
                        </li>
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Logistics consulting and solution
                            provider.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 mt-5 mt-lg-0">
                    <h2 class="h3 mb-3">Our Vision</h2>
                    <div class="video-cover">
                        <img src="assets/images/other/other-15.jpg" class="img-fluid" alt="Image Description">
                        <div class="embed-responsive embed-responsive-21by9 h-100 d-none">
                            <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/_g8aLVGXyc0?rel=0&amp;autoplay=1"
                                allowfullscreen></iframe>
                        </div>
                        <a class="video-icon">
                            <i class="material-icons icon-36 text-light icon">play_arrow</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="position-relative bg-primary pt-8 pb-7">
        <img src="assets/images/other/other-12.jpg" class="bg-image op-3" alt="Image Description">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center text-white">
                    <h2 class="h3">Our Partners</h2>
                    <h5 class="h6 font-weight-light mb-0">We will get together with our partners in other towns and decide
                        on the best
                        way forward.
                    </h5>
                </div>
            </div>
            <div class="row mt-5 justify-content-md-center text-center">
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-6 col-md-4 py-4 my-auto">
                            <img src="assets/images/client/client-1-light.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 col-md-4 py-4 my-auto">
                            <img src="assets/images/client/client-2-light.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 col-md-4 py-4 my-auto">
                            <img src="assets/images/client/client-3-light.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 col-md-4 py-4 my-auto">
                            <img src="assets/images/client/client-5-light.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 col-md-4 py-4 my-auto">
                            <img src="assets/images/client/client-6-light.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 col-md-4 py-4 my-auto">
                            <img src="assets/images/client/client-4-light.png" class="img-fluid" alt="Image Description">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="h3">Our History</h2>
                    <h5 class="h6 font-weight-light text-muted mb-0">We provide dedicated innovative software</h5>
                </div>
            </div>
            <div class="row justify-content-center mt-6">
                <div class="col-12 col-lg-10">
                    <ul class="timeline timeline-split">
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>January 12, 2015</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h5 class="mb-3">Start a Service Related Business</h5>
                                <p>Finance aims to price assets based on their risk level and their expected rate of
                                    return.
                                    Finance can be broken into three different sub-categories.</p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>February 15, 2016</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h5 class="mb-3">New Office in Miami</h5>
                                <p>The term developed from the original meaning which referred literally to going to a
                                    market
                                    to buy or sell goods or services. Marketing tactics include advertising.
                                </p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>November 12, 2017</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h5 class="mb-3">Partnership with The Community</h5>
                                <p>Marketing is defined by the American Marketing Association as "the activity, set of
                                    institutions,
                                    and processes for creating, communicating, delivering.
                                </p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>December 12, 2018</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h5 class="mb-3">Founded The Company</h5>
                                <p>Research and development are very difficult to manage since the defining feature of
                                    the research
                                    is that the researchers do not know in advance exactly.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary py-6">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-white">
                    <h3 class="text-white mb-3 mb-lg-2">Looking for a first-class business plan consultant?</h3>
                    <p class="mb-3 mb-lg-0">Plan consultant and is responsible for administration and business
                        development.</p>
                </div>
                <div class="col-lg-3 my-auto text-lg-right">
                    <a href="#" class="btn btn-outline-light mt-4 mt-lg-0 text-uppercase">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% include "partials/footer.html" %}
{% endblock %}