{% set page_title = "Gird Blog Sidebar Right" %} {% extends "../templates/layout.html" %} {% block content %} {% include
"../templates/partials/page_title.html" %}
<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-8">
                    <div class="card bg-shadow mb-6">
                        <a href="blog-post-sidebar-right.html">
                            <img src="assets/img/blog/blog_4-770x513.jpg" alt="" class="img-fluid">
                            <div class="overlay">
                                <div class="overlay-text">
                                    <span>View Post</span>
                                </div>
                            </div>
                        </a>
                        <div class="card-body p-4">
                            <h3 class="card-title">
                                <a href="blog-post-sidebar-right.html">The Important Standard Post Format</a>
                            </h3>
                            <p class="meta">
                                <span>09 May 2017</span>
                                <span>
                                    <a href="#">Magazine</a>,
                                    <a href="#">Creativity</a>
                                </span>
                                <span>
                                    <a href="#">15 Comments</a>
                                </span>
                            </p>
                            <p>Laoreet leo libero nostra volutpat dapibus. Vel per fusce vestibulum lacinia. Nullam est augue
                                elit accumsan. Commodo nec convallis faucibus auctor minim. Ante volutpat sapien euismod
                                arcu occaecat ornare occaecat aliquam condimentum.</p>
                            <a href="#" class="card-link">Read more</a>
                            <a href="#" class="card-link card-link-share">Share</a>
                            {% include "../templates/partials/card_social.html" %}
                        </div>
                    </div>
                    <div class="card bg-shadow mb-6">
                        <div class="owl-col-1 owl-carousel owl-theme owl-loaded owl-img-dots owl-dot-white">
                            <div class="item">
                                <img src="assets/img/blog/blog_1-770x513.jpg" alt="" />
                            </div>
                            <div class="item">
                                <img src="assets/img/blog/blog_2-770x513.jpg" alt="" />
                            </div>
                            <div class="item">
                                <img src="assets/img/blog/blog_3-770x513.jpg" alt="" />
                            </div>
                        </div>
                        <div class="card-body p-4">
                            <h3 class="card-title">
                                <a href="blog-post-sidebar-right.html">Photo with Slider Post Format</a>
                            </h3>
                            <p class="meta">
                                <span>25 Jan 2017</span>
                                <span>
                                    <a href="#">Magazine</a>,
                                    <a href="#">Creativity</a>
                                </span>
                                <span>
                                    <a href="#">15 Comments</a>
                                </span>
                            </p>
                            <p>Irure parturient maecenas sunt pellentesque ornare. Torquent ultricies condimentum culpa rutrum
                                ea. Eleifend lacinia pariatur a ad. Ornare occaecat aliquam condimentum cubilia fringilla.
                                Occaecat erat eleifend diam inceptos ornare.</p>
                            <a href="#" class="card-link">Read more</a>
                            <a href="#" class="card-link card-link-share">Share</a>
                            {% include "../templates/partials/card_social.html" %}
                        </div>
                    </div>
                    <div class="card bg-shadow mb-6">
                        <div class="position-relative">
                            <!-- <a href="" class="icon-video">
                                            <i class="fa fa-play"></i>
                                        </a> -->
                            <div id="video-gallery">
                                <a class="icon-video" href="https://www.youtube.com/watch?v=meBbDqAXago">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <img src="assets/img/blog/blog_4-770x513.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="card-body p-4">
                            <h3 class="card-title">
                                <a href="blog-post-sidebar-right.html">Video Post Format</a>
                            </h3>
                            <p class="meta">
                                <span>09 May 2017</span>
                                <span>
                                    <a href="#">Magazine</a>,
                                    <a href="#">Creativity</a>
                                </span>
                                <span>
                                    <a href="#">15 Comments</a>
                                </span>
                            </p>
                            <p>Laoreet leo libero nostra volutpat dapibus. Vel per fusce vestibulum lacinia. Nullam est augue
                                elit accumsan. Commodo nec convallis faucibus auctor minim. Ante volutpat sapien euismod
                                arcu occaecat ornare occaecat aliquam condimentum.</p>
                            <a href="#" class="card-link">Read more</a>
                            <a href="#" class="card-link card-link-share">Share</a>
                            {% include "../templates/partials/card_social.html" %}
                        </div>
                    </div>
                    {% include "../templates/partials/pagination.html" %}
                </div>
                <aside class="col-md-4 sidebar pl-md-4 mt-5 mt-md-0">
                    {% include "../templates/partials/sidebar.html" %}
                </aside>
            </div>
        </div>
    </div>
</div>
{% endblock %}