{% set page_title = "Blog Grid"%} {% set page_active_link = "Right Sitebar" %} {% set page_link2 = "Blog" %} {% extends "../templates/layout.html"
%} {% block content %} {% include "../templates/partials/page_title.html" %} {% import '../templates/macros/blogs.html' as
blogs %}
<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        {% set posts = posts.slice(0,8) %} {% for post in posts %}
                        <div class="col-md-6">
                            {{ blogs.blog(post) }}
                        </div>
                        {% endfor %}
                    </div>
                    {% include "../templates/partials/pagination.html" %}
                </div>
                <aside class="col-md-4 sidebar pl-md-4 mt-5 mt-md-0">
                    {% include "../templates/partials/sidebar.html" %}
                </aside>
            </div>
        </div>
    </div>
</div>
{% endblock %}