{% set page_title = "Blog Grid"%}
<!--  -->
{% set page_active_link = "Blog Grid" %}
<!--  -->
{% set page_link2 = "Blog" %}
<!--  -->
{% extends "../templates/master.html"%}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<!--  -->
{% import '../templates/macros/blogs.html' as macroBlogs %}
<!--  -->
{% include "partials/header.html" %}
<div id="content">
    <div class="container py-6 py-lg-8">
        <div class="row">
            {% set posts = posts.slice(0,9) %}
            <!--  -->
            {% for post in posts %}
            <div class="col-12 col-sm-6 col-lg-4">
                {{ macroBlogs.default(post) }}
            </div>
            {% endfor %}
        </div>
        {% include "../templates/partials/pagination.html" %}
    </div>
</div>
{% endblock %}