{% set page_title = "Blog Default"%} {% set page_active_link = "Full Width" %} {% set page_link2 = "Blog" %} {% extends "../templates/master.html"
%} {% block content %} {% include "../templates/partials/page_title.html" %} {% import '../templates/macros/blogs.html' as
blogs %}
<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    {{ blogs.standard("bg-shadow mb-6","p-4") }}
                    {{ blogs.owlCarousel("bg-shadow mb-6","p-4") }}
                    {{ blogs.video("bg-shadow mb-6","p-4") }}
                    {% include "../templates/partials/pagination.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}