{% set page_title = "Blog Post"%} {% set page_active_link = "Full Width" %} {% set page_link2 = "Single" %} {% extends
    "../templates/layout.html" %} {% block content %} {% include "../templates/partials/page_title.html" %}
<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    {% include "../templates/partials/blog_post.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}