{% set page_title = "Blog - Gird Left Sidebar" %}
{% extends "../templates/master.html" %}
{% block content %}
{% include "../templates/partials/header.html" %}
<main>
    <section class="bg-primary py-5 py-md-6">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="caption-6 caption-lg-5 text-white mb-0">Blog - Gird Left Sidebar</h1>
                    <nav aria-label="breadcrumb" role="navigation" class="d-inline-block mt-3 mt-md-4">
                        <ol class="breadcrumb bg-transparent p-0 m-0">
                            <li class="breadcrumb-item d-flex align-items-center">
                                <a href="/" class="d-flex align-items-center text-small text-white">
                                    <i class="material-icons align-middle mr-1 icon-18">
                                        home
                                    </i>
                                    Home</a>
                                <i class="material-icons text-white align-middle px-1 icon-18">
                                    chevron_right
                                </i>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center pl-0 active">
                                <span class="text-small text-white-50">Blog - Gird Left Sidebar</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 order-1 order-lg-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card border-0 mb-5">
                                <a href="blog-single-right-sidebar.html">
                                    <img src="assets/images/blog/blog-1-1200x775.jpg" alt="Image Description" class="img-fluid">
                                </a>
                                <div class="card-body pt-4 pb-0 px-0">
                                    <h5 class="card-title">
                                        <a class="text-body" href="blog-single-right-sidebar.html">We discuss our
                                            business priorities</a>
                                    </h5>
                                    <p class="text-small text-black-50">January 1, 2018
                                        <span>by</span>
                                        <a href="#">Mark</a>
                                        <span>in</span>
                                        <a href="#">Design</a>
                                    </p>
                                    <p class="card-text">Manufacturing is the production of merchandise for use or sale
                                        using labour and machines</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card border-0 mb-5">
                                <a href="blog-single-right-sidebar.html">
                                    <img src="assets/images/blog/blog-2-1200x775.jpg" alt="Image Description" class="img-fluid">
                                </a>
                                <div class="card-body pt-4 pb-0 px-0">
                                    <h5 class="card-title">
                                        <a class="text-body" href="blog-single-right-sidebar.html">The key account
                                            sales and marketing</a>
                                    </h5>
                                    <p class="text-small text-black-50">February 1, 2018
                                        <span>by</span>
                                        <a href="#">Jacob</a>
                                        <span>in</span>
                                        <a href="#">World</a>
                                    </p>
                                    <p class="card-text">Finance aims to price assets based on their risk level and
                                        their expected rate of return
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card border-0 mb-5">
                                <a href="blog-single-right-sidebar.html">
                                    <img src="assets/images/blog/blog-3-1200x775.jpg" alt="Image Description" class="img-fluid">
                                </a>
                                <div class="card-body pt-4 pb-0 px-0">
                                    <h5 class="card-title">
                                        <a class="text-body" href="blog-single-right-sidebar.html">We are a small
                                            organization meeting</a>
                                    </h5>
                                    <p class="text-small text-black-50">March 10, 2018
                                        <span>by</span>
                                        <a href="#">Chris</a>
                                        <span>in</span>
                                        <a href="#">Technology</a>
                                    </p>
                                    <p class="card-text">The term developed from the original meaning which referred
                                        literally to going to a market</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card border-0 mb-5">
                                <a href="blog-single-right-sidebar.html">
                                    <img src="assets/images/blog/blog-4-1200x775.jpg" alt="Image Description" class="img-fluid">
                                </a>
                                <div class="card-body pt-4 pb-0 px-0">
                                    <h5 class="card-title">
                                        <a class="text-body" href="blog-single-right-sidebar.html">One feature of this
                                            bipartisan plan</a>
                                    </h5>
                                    <p class="text-small text-black-50">April 1, 2018
                                        <span>by</span>
                                        <a href="#">Mark</a>
                                        <span>in</span>
                                        <a href="#">Culture</a>
                                    </p>
                                    <p class="card-text">Marketing tactics include advertising as well as determining
                                        product pricing</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card border-0 mb-5">
                                <a href="blog-single-right-sidebar.html">
                                    <img src="assets/images/blog/blog-5-1200x775.jpg" alt="Image Description" class="img-fluid">
                                </a>
                                <div class="card-body pt-4 pb-0 px-0">
                                    <h5 class="card-title">
                                        <a class="text-body" href="blog-single-right-sidebar.html">The office provides
                                            consulting support</a>
                                    </h5>
                                    <p class="text-small text-black-50">May 1, 2018
                                        <span>by</span>
                                        <a href="#">Mark</a>
                                        <span>in</span>
                                        <a href="#">Business</a>
                                    </p>
                                    <p class="card-text">With the rise in technology, marketing is further divided into
                                        a class called digital
                                        marketing
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card border-0 mb-5">
                                <a href="blog-single-right-sidebar.html">
                                    <img src="assets/images/blog/blog-6-1200x775.jpg" alt="Image Description" class="img-fluid">
                                </a>
                                <div class="card-body pt-4 pb-0 px-0">
                                    <h5 class="card-title">
                                        <a class="text-body" href="blog-single-right-sidebar.html">Financial
                                            institutions grow earnings</a>
                                    </h5>
                                    <p class="text-small text-black-50">June 3, 2018
                                        <span>by</span>
                                        <a href="#">Chris</a>
                                        <span>in</span>
                                        <a href="#">News</a>
                                    </p>
                                    <p class="card-text">Research and development constitute the first stage of
                                        development of a potential</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card border-0 mb-5">
                                <a href="blog-single-right-sidebar.html">
                                    <img src="assets/images/blog/blog-7-1200x775.jpg" alt="Image Description" class="img-fluid">
                                </a>
                                <div class="card-body pt-4 pb-0 px-0">
                                    <h5 class="card-title">
                                        <a class="text-body" href="blog-single-right-sidebar.html">We have a global
                                            response plan</a>
                                    </h5>
                                    <p class="text-small text-black-50">July 6, 2018
                                        <span>by</span>
                                        <a href="#">Mark</a>
                                        <span>in</span>
                                        <a href="#">Politics</a>
                                    </p>
                                    <p class="card-text">Some offshore jurisdictions have created special forms of
                                        offshore company</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card border-0 mb-5">
                                <a href="blog-single-right-sidebar.html">
                                    <img src="assets/images/blog/blog-8-1200x775.jpg" alt="Image Description" class="img-fluid">
                                </a>
                                <div class="card-body pt-4 pb-0 px-0">
                                    <h5 class="card-title">
                                        <a class="text-body" href="blog-single-right-sidebar.html">Critique of
                                            technology is an analysis</a>
                                    </h5>
                                    <p class="text-small text-black-50">August 15, 2018
                                        <span>by</span>
                                        <a href="#">Chris</a>
                                        <span>in</span>
                                        <a href="#">Science</a>
                                    </p>
                                    <p class="card-text">A parent company is a company that owns enough voting stock in
                                        another firm</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <nav class="pt-4">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <aside class="sidebar col-12 col-lg-4 order-2 order-lg-1 mt-6 mt-lg-0">
                    {% include "../templates/partials/sidebar.html" %}
                </aside>
            </div>
        </div>
    </section>
</main>
{% endblock %}