{% set page_title = "Blog Default"%} {% set page_active_link = "Right Sidebar" %} {% set page_link2 = "Blog" %} {% extends
"../templates/master.html" %} {% block content %} {% include "../templates/partials/page_title.html" %} {% import '../templates/macros/blogs.html'
as blogs %}
<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-8 order-1 order-md-2">
                    <div class="card mb-4">
                        {{ blogs.standard() }}
                    </div>
                    <div class="card mb-4">
                        {{ blogs.owlCarousel() }}
                    </div>
                    <div class="card mb-4">
                        {{ blogs.video() }}
                    </div>
                </div>
                <aside class="col-md-4 order-2 order-md-1 sidebar pl-md-4 mt-5 mt-md-0">
                    {% include "../templates/partials/sidebar.html" %}
                </aside>
            </div>
        </div>
    </div>
</div>
{% endblock %}