{% set page_title = "Progress Bars"%}
<!--  -->
{% set page_active_link = "Progress Bars" %}
<!--  -->
{% set page_link2 = "Elements" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %} {% include "../templates/partials/page_title.html" %}
<!--  -->
{% import '../templates/macros/components.html' as macroComponents %}
<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row">
                <div class="col-sm-6">
                    <p class="mb-2">Graphics Design</p>
                    {{ macroComponents.progressBar(90, "mb-4") }}
                    <p class="mb-2">Web Design</p>
                    {{ macroComponents.progressBar(80, "mb-4", "") }}
                    <p class="mb-2">Web Development</p>
                    {{ macroComponents.progressBar(75, "mb-4", "") }}
                    <p class="mb-2">Online Marketing</p>
                    {{ macroComponents.progressBar(75, "mb-4", "") }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}