{% set page_title = "Progress Bars"%}
<!--  -->
{% set page_active_link = "Progress Bars" %}
<!--  -->
{% set page_link2 = "Elements" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %} {% include "../templates/partials/page_title.html" %}
<!--  -->
{% import '../templates/macros/components.html' as macroComponents %}
<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row justify-content-center">
                <div class="col-sm-8">
                    <p class="mb-2">Progress Primary</p>
                    {{ macroComponents.progress_bar(90, "mb-4") }}
                    <p class="mb-2">Progress Secondary</p>
                    {{ macroComponents.progress_bar(80, "mb-4", "bg-secondary") }}
                    <p class="mb-2">Progress Success</p>
                    {{ macroComponents.progress_bar(75, "mb-4", "bg-success") }}
                    <p class="mb-2">Progress Danger</p>
                    {{ macroComponents.progress_bar(75, "mb-4", "bg-danger") }}
                    <p class="mb-2">Progress Warning</p>
                    {{ macroComponents.progress_bar(90, "mb-4", "bg-warning") }}
                    <p class="mb-2">Progress Info</p>
                    {{ macroComponents.progress_bar(80, "mb-4", "bg-info") }}
                    <p class="mb-2">Progress Light</p>
                    {{ macroComponents.progress_bar(75, "mb-4", "bg-light text-dark") }}
                    <p class="mb-2">Progress Dark</p>
                    {{ macroComponents.progress_bar(65, "mb-4", "bg-dark") }}
                    <p class="mb-2">Progress White</p>
                    {{ macroComponents.progress_bar(50, "mb-4", "bg-white text-dark") }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}