{% set page_title = "Lists"%}
<!--  -->
{% set page_active_link = "Lists" %}
<!--  -->
{% set page_link2 = "Elements" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %} {% include "../templates/partials/page_title.html" %}

<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-6">
                    <div class="bd-example">
                        <ul class="list-unstyled list-lg">
                            <li>
                                <i class="ti-email icon-lg mr-2 text-primary mr-2"></i>info@company.com
                            </li>
                            <li>
                                <i class="ti-support icon-lg text-primary mr-2"></i>support@company.com
                            </li>
                            <li>
                                <i class="ti-mobile icon-lg mr-2 text-primary mr-2"></i>+1 123 312 32 23
                            </li>
                            <li>
                                <i class="ti-location-pin icon-lg mr-2 text-primary mr-2"></i>63739 street lorem ipsum dolor City, Country
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bd-example">
                        <ul class="list-unstyled list-lg">
                            <li>
                                <i class="ti-check-box icon-lg text-primary mr-2"></i>Lorem ipsum dolor sit amet
                            </li>
                            <li>
                                <i class="ti-check-box icon-lg text-primary mr-2"></i>Consectetur adipiscing elit</li>
                            <li>
                                <i class="ti-check-box icon-lg text-primary mr-2"></i>Integer molestie lorem at massa</li>
                            <li>
                                <i class="ti-check-box icon-lg text-primary mr-2"></i>Facilisis in pretium nisl aliquet</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}