{% set page_title = "Buttons"%}
<!--  -->
{% set page_active_link = "Buttons" %}
<!--  -->
{% set page_link2 = "Elements" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %} {% include "../templates/partials/page_title.html" %}
<!--  -->
{% import '../templates/macros/blogs.html' as macroBlogs %}
<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-12">
                    <h2>Default Button</h2>
                    <div class="bd-example">
                        <button type="button" class="btn btn-primary">Primary</button>
                        <button type="button" class="btn btn-black">Black</button>
                        <button type="button" class="btn btn-success">Success</button>
                        <button type="button" class="btn btn-danger">Danger</button>
                        <button type="button" class="btn btn-warning">Warning</button>
                        <button type="button" class="btn btn-info">Info</button>
                        <button type="button" class="btn btn-light">Light</button>
                        <button type="button" class="btn btn-dark">Dark</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}