{% set page_title = "Accordions"%}
<!--  -->
{% set page_active_link = "Accordions" %}
<!--  -->
{% set page_link2 = "Elements" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %} {% include "../templates/partials/page_title.html" %}

<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="bd-example">
                        <div id="accordion1" class="accordion">
                            <div class="card rounded-0 border-0 bg-light mb-3">
                                <div class="card-header bg-light border-bottom-0" role="tab" id="headingOne">
                                    <h5 class="h6 mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            2000 - 2001 Sodales Varius University
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion1">
                                    <div class="card-body p-4">
                                        <p>Dolore ac maecenas feugiat dis consectetur. Pellentesque pede do anim rhoncus ligula.
                                            Diam conubia minim cursus maecenas sed. Tincidunt congue laborum sunt rhoncus.
                                            Per praesent elit nisl purus laoreet. Mollis inceptos sem tempor aenean. Etiam
                                            officia sem quam esse. Integer per fusce tellus sint Donec eleifend hendrerit
                                            porta sed. Faucibus dolore cum curabitur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card rounded-0 border-0 bg-light mb-3">
                                <div class="card-header bg-light border-bottom-0" role="tab" id="headingTwo">
                                    <h5 class="h6 mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            2002 - 2003 Euismod Taciti University
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion1">
                                    <div class="card-body p-4">
                                        <p>Inceptos facilisis tempor venenatis faucibus. Auctor qui lectus integer massa. Curabitur
                                            arcu in tellus odio. Cursus id vel aliqua pariatur fermentum. Leo ornare natoque
                                            cursus taciti. Cursus diam bibendum ridiculus ut. Libero ultrices morbi urna
                                            consequat. Donec natoque incididunt adipisicing urna tortor. Ridiculus praesent
                                            porttitor dolore nulla.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card rounded-0 border-0 bg-light mb-3">
                                <div class="card-header bg-light border-bottom-0" role="tab" id="headingThree">
                                    <h5 class="h6 mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            2004 - 2005 Eros Facilisis University
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion1">
                                    <div class="card-body p-4">
                                        <p>Sunt laoreet enim egestas proident. Libero dis consequat pretium cubilia inceptos.
                                            Arcu magna culpa ex montes. Curae nullam volutpat mi iaculis tempor. Tempus curae
                                            ligula aenean mollit phasellus. Ridiculus cum nostrud tristique habitant vitae.
                                            Aenean consectetur ridiculus placerat quis. Sociosqu vitae adipiscing gravida
                                            purus commodo. Inceptos eu officia porttitor eiusmod quisque. Massa ullamco cursus
                                            mauris imperdiet porta.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card rounded-0 border-0 bg-light mb-3">
                                <div class="card-header bg-light border-bottom-0" role="tab" id="headingFour">
                                    <h5 class="h6 mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            2006 - 2007 Mauris Labore University
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion1">
                                    <div class="card-body p-4">
                                        <p>Montes dolore consequat luctus gravida. Lobortis conubia dictum incididunt rhoncus
                                            accumsan consectetur. Ac primis nunclorem molestie fusce lacinia aliquip sagittis
                                            do irure nisi parturient. Odio reprehenderit deserunt cursus aliquam. Congue
                                            in labore ea consequat malesuada tempus. Justo donec non ridiculus conubia.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary">
        <div class="container py-7">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="bd-example">
                        <div id="accordion2" class="accordion">
                            <div class="card rounded-0 border-0 mb-1">
                                <div class="card-header border-0 bg-white" role="tab" id="headingOne">
                                    <h5 class="h6 mb-0">
                                        <a data-toggle="collapse" href="#accordion2_collapseOne" aria-expanded="true" aria-controls="accordion2_collapseOne">
                                            2000 - 2001 Sodales Varius University
                                        </a>
                                    </h5>
                                </div>
                                <div id="accordion2_collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion2">
                                    <div class="card-body p-4">
                                        <p>Dolore ac maecenas feugiat dis consectetur. Pellentesque pede do anim rhoncus ligula.
                                            Diam conubia minim cursus maecenas sed. Tincidunt congue laborum sunt rhoncus.
                                            Per praesent elit nisl purus laoreet. Mollis inceptos sem tempor aenean. Etiam
                                            officia sem quam esse. Integer per fusce tellus sint Donec eleifend hendrerit
                                            porta sed. Faucibus dolore cum curabitur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card rounded-0 border-0 mb-1">
                                <div class="card-header border-0 bg-white" role="tab" id="headingTwo">
                                    <h5 class="h6 mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#accordion2_collapseTwo" aria-expanded="false" aria-controls="accordion2_collapseTwo">
                                            2002 - 2003 Euismod Taciti University
                                        </a>
                                    </h5>
                                </div>
                                <div id="accordion2_collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion2">
                                    <div class="card-body p-4">
                                        <p>Inceptos facilisis tempor venenatis faucibus. Auctor qui lectus integer massa. Curabitur
                                            arcu in tellus odio. Cursus id vel aliqua pariatur fermentum. Leo ornare natoque
                                            cursus taciti. Cursus diam bibendum ridiculus ut. Libero ultrices morbi urna
                                            consequat. Donec natoque incididunt adipisicing urna tortor. Ridiculus praesent
                                            porttitor dolore nulla.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card rounded-0 border-0 mb-1">
                                <div class="card-header border-0 bg-white" role="tab" id="headingThree">
                                    <h5 class="h6 mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#accordion2_collapseThree" aria-expanded="false" aria-controls="accordion2_collapseThree">
                                            2004 - 2005 Eros Facilisis University
                                        </a>
                                    </h5>
                                </div>
                                <div id="accordion2_collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion2">
                                    <div class="card-body p-4">
                                        <p>Sunt laoreet enim egestas proident. Libero dis consequat pretium cubilia inceptos.
                                            Arcu magna culpa ex montes. Curae nullam volutpat mi iaculis tempor. Tempus curae
                                            ligula aenean mollit phasellus. Ridiculus cum nostrud tristique habitant vitae.
                                            Aenean consectetur ridiculus placerat quis. Sociosqu vitae adipiscing gravida
                                            purus commodo. Inceptos eu officia porttitor eiusmod quisque. Massa ullamco cursus
                                            mauris imperdiet porta.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card rounded-0 border-0 mb-1">
                                <div class="card-header border-0 bg-white" role="tab" id="headingFour">
                                    <h5 class="h6 mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#accordion2_collapseFour" aria-expanded="false" aria-controls="accordion2_collapseFour">
                                            2006 - 2007 Mauris Labore University
                                        </a>
                                    </h5>
                                </div>
                                <div id="accordion2_collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion2">
                                    <div class="card-body p-4">
                                        <p>Montes dolore consequat luctus gravida. Lobortis conubia dictum incididunt rhoncus
                                            accumsan consectetur. Ac primis nunclorem molestie fusce lacinia aliquip sagittis
                                            do irure nisi parturient. Odio reprehenderit deserunt cursus aliquam. Congue
                                            in labore ea consequat malesuada tempus. Justo donec non ridiculus conubia.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}