{% set page_title = "Tabs"%}
<!--  -->
{% set page_active_link = "Tabs" %}
<!--  -->
{% set page_link2 = "Elements" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %} {% include "../templates/partials/page_title.html" %}
<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-flush flex-column flex-md-row" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#desc" role="tab">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#info" role="tab">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#review" role="tab">Messages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#custom" role="tab">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Tab panes -->
            <div class="tab-content mt-4">
                <div class="tab-pane active" id="desc" role="tabpanel">
                    <p>Consectetuer metus pharetra aliquip posuere. Himenaeos nec inceptos sed convallis curae nam cras venenatis
                        habitant. Aliquam nullam leo sociosqu ridiculus. Aute hendrerit lorem laborum eiusmod ultrices at
                        ex laboris nascetur torquent officia. Metus in phasellus nullam pariatur adipiscing. Sollicitudin
                        lacus egestas accumsan litora aenean sint. Voluptate curabitur cum dis non sociis blandit laborum.
                        Vulputate aliquet est mi massa feugiat.</p>
                    <p>Praesent ornare anim consectetuer laoreet netus tellus ac morbi. Enim netus habitant litora elementum
                        odio. Nec massa convallis litora rutrum laboris vulputate. Fringilla nullam proident non sapien ultrices
                        aliqua leo quis quam. Dolore per condimentum adipisicing veniam. Vehicula tempor nam vivamus suspendisse
                        habitant litora consectetur bibendum lectus.</p>
                    <p>Mauris leo sollicitudin erat est dictum felis curabitur duis dolore. Velit ultricies cursus turpis culpa
                        aenean consectetur semper aliquip praesent minim. Fames amet cupidatat sem voluptate do sagittis
                        ornare. Semper dui praesent fames lobortis rhoncus nisi ut excepteur.</p>
                </div>
                <div class="tab-pane" id="info" role="tabpanel">
                    <p>Consectetuer metus pharetra aliquip posuere. Himenaeos nec inceptos sed convallis curae nam cras venenatis
                        habitant. Aliquam nullam leo sociosqu ridiculus. Aute hendrerit lorem laborum eiusmod ultrices at
                        ex laboris nascetur torquent officia. Metus in phasellus nullam pariatur adipiscing. Sollicitudin
                        lacus egestas accumsan litora aenean sint. Voluptate curabitur cum dis non sociis blandit laborum.
                        Vulputate aliquet est mi massa feugiat.</p>
                    <p>Praesent ornare anim consectetuer laoreet netus tellus ac morbi. Enim netus habitant litora elementum
                        odio. Nec massa convallis litora rutrum laboris vulputate. Fringilla nullam proident non sapien ultrices
                        aliqua leo quis quam. Dolore per condimentum adipisicing veniam. Vehicula tempor nam vivamus suspendisse
                        habitant litora consectetur bibendum lectus.</p>
                    <p>Mauris leo sollicitudin erat est dictum felis curabitur duis dolore. Velit ultricies cursus turpis culpa
                        aenean consectetur semper aliquip praesent minim. Fames amet cupidatat sem voluptate do sagittis
                        ornare. Semper dui praesent fames lobortis rhoncus nisi ut excepteur.</p>
                </div>
                <div class="tab-pane" id="review" role="tabpanel">
                    <p>Consectetuer metus pharetra aliquip posuere. Himenaeos nec inceptos sed convallis curae nam cras venenatis
                        habitant. Aliquam nullam leo sociosqu ridiculus. Aute hendrerit lorem laborum eiusmod ultrices at
                        ex laboris nascetur torquent officia. Metus in phasellus nullam pariatur adipiscing. Sollicitudin
                        lacus egestas accumsan litora aenean sint. Voluptate curabitur cum dis non sociis blandit laborum.
                        Vulputate aliquet est mi massa feugiat.</p>
                    <p>Praesent ornare anim consectetuer laoreet netus tellus ac morbi. Enim netus habitant litora elementum
                        odio. Nec massa convallis litora rutrum laboris vulputate. Fringilla nullam proident non sapien ultrices
                        aliqua leo quis quam. Dolore per condimentum adipisicing veniam. Vehicula tempor nam vivamus suspendisse
                        habitant litora consectetur bibendum lectus.</p>
                    <p>Mauris leo sollicitudin erat est dictum felis curabitur duis dolore. Velit ultricies cursus turpis culpa
                        aenean consectetur semper aliquip praesent minim. Fames amet cupidatat sem voluptate do sagittis
                        ornare. Semper dui praesent fames lobortis rhoncus nisi ut excepteur.</p>
                </div>
                <div class="tab-pane" id="custom" role="tabpanel">
                    <p>Consectetuer metus pharetra aliquip posuere. Himenaeos nec inceptos sed convallis curae nam cras venenatis
                        habitant. Aliquam nullam leo sociosqu ridiculus. Aute hendrerit lorem laborum eiusmod ultrices at
                        ex laboris nascetur torquent officia. Metus in phasellus nullam pariatur adipiscing. Sollicitudin
                        lacus egestas accumsan litora aenean sint. Voluptate curabitur cum dis non sociis blandit laborum.
                        Vulputate aliquet est mi massa feugiat.</p>
                    <p>Praesent ornare anim consectetuer laoreet netus tellus ac morbi. Enim netus habitant litora elementum
                        odio. Nec massa convallis litora rutrum laboris vulputate. Fringilla nullam proident non sapien ultrices
                        aliqua leo quis quam. Dolore per condimentum adipisicing veniam. Vehicula tempor nam vivamus suspendisse
                        habitant litora consectetur bibendum lectus.</p>
                    <p>Mauris leo sollicitudin erat est dictum felis curabitur duis dolore. Velit ultricies cursus turpis culpa
                        aenean consectetur semper aliquip praesent minim. Fames amet cupidatat sem voluptate do sagittis
                        ornare. Semper dui praesent fames lobortis rhoncus nisi ut excepteur.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}