{% set page_title = "Typography"%}
<!--  -->
{% set page_active_link = "Typography" %}
<!--  -->
{% set page_link2 = "Elements" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %} {% include "../templates/partials/page_title.html" %}

<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-12">
                    <div class="bd-example pt-3 pb-4">
                        <h1>h1. Bootstrap heading</h1>
                        <h2>h2. Bootstrap heading</h2>
                        <h3>h3. Bootstrap heading</h3>
                        <h4>h4. Bootstrap heading</h4>
                        <h5>h5. Bootstrap heading</h5>
                        <h6>h6. Bootstrap heading</h6>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-md-12">
                    <div class="bd-example pt-3 pb-4">
                        <p class="lead">
                            Laboris mattis rutrum donec sociosqu aliquip laoreet dui. Aliquam ridiculus tortor ante sollicitudin. Taciti orci ullamcorper
                            condimentum cursus arcu nostra quis. Fringilla blandit curae porttitor hendrerit ullamcorper
                            fusce auctor felis dapibus commodo. Neque lacinia aptent erat culpa cupidatat semper. Eiusmod
                            lorem orci lacinia nam est fringilla elit esse ac litora. Aute dignissim aliquip porta sociis.
                        </p>
                        <p>Ante veniam est condimentum aliquam mi convallis netus curabitur. Aliquet congue incididunt dolore
                            odio dolor magnis condimentum sagittis placerat pretium bibendum. Lectus justo cillum litora
                            veniam quam. Luctus tincidunt erat qui sit aliquam lorem turpis. Ullamcorper fames risus venenatis
                            elit ipsum nostrud do dis. Placerat aliqua nisi vulputate anim conubia curae dictum mattis habitant.</p>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-md-12">
                    <div class="bd-example pt-3 pb-4">
                        <blockquote class="blockquote">
                            <p class="mb-0">Curabitur penatibus iaculis curae montes porttitor. Penatibus consectetur imperdiet eget tristique
                                nostra dis netus sit nec convallis. Pellentesque taciti varius eros auctor pede.</p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-md-12">
                    <div class="bd-example pt-3 pb-4">
                        <blockquote class="blockquote">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer class="blockquote-footer">Someone famous in
                                <cite title="Source Title">Source Title</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}