{% set page_title = "Icon With Text"%}
<!--  -->
{% set page_active_link = "Icon With Text" %}
<!--  -->
{% set page_link2 = "Elements" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %} {% include "../templates/partials/page_title.html" %}

<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-4 text-center mb-4 mb-md-0">
                    <i class="ti-bar-chart-alt icon-3x text-primary"></i>
                    <h4 class="mt-4 mb-3">
                        Business Intelligence
                    </h4>
                    <p class="mb-0">Aliquam excepteur magna primis placerat nostrud imperdiet varius aliquam sagittis rutrum semper luctus
                        vitae primis.</p>
                </div>
                <div class="col-md-4 text-center mb-4 mb-md-0">
                    <i class="ti-world icon-3x text-primary"></i>
                    <h4 class="mt-4 mb-3">
                        Managed Services
                    </h4>
                    <p class="mb-0">Aliquam excepteur magna primis placerat nostrud imperdiet varius aliquam sagittis rutrum semper luctus
                        vitae primis.</p>
                </div>
                <div class="col-md-4 text-center mb-4 mb-md-0">
                    <i class="ti-timer icon-3x text-primary"></i>
                    <h4 class="mt-4 mb-3">
                        Systems Integration
                    </h4>
                    <p class="mb-0">Aliquam excepteur magna primis placerat nostrud imperdiet varius aliquam sagittis rutrum semper luctus
                        vitae primis.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary">
        <div class="container py-7">
            <div class="row text-center">
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card rounded-0">
                        <div class="card-body p-4">
                            <i class="ti-crown icon-5x text-primary"></i>
                            <h4 class="mt-4">Business Intelligence</h4>
                            <p class="mt-3 mb-0">Proin imperdiet ut massa sed mollis. In sodales turpis et arcu vulputate placerat. Proin diam
                                augue, gravida non diam vitae, dignissim dapibus erat. In eu rutrum ante. Nullam id lorem
                                fermentum, accumsan enim non, auctor neque.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card rounded-0">
                        <div class="card-body p-4">
                            <i class="ti-cup icon-5x text-primary"></i>
                            <h4 class="mt-4">Custom Software</h4>
                            <p class="mt-3 mb-0">Proin imperdiet ut massa sed mollis. In sodales turpis et arcu vulputate placerat. Proin diam
                                augue, gravida non diam vitae, dignissim dapibus erat. In eu rutrum ante. Nullam id lorem
                                fermentum, accumsan enim non, auctor neque.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card rounded-0">
                        <div class="card-body p-4">
                            <i class="ti-world icon-5x text-primary"></i>
                            <h4 class="mt-4">Systems Integration</h4>
                            <p class="mt-3 mb-0">Proin imperdiet ut massa sed mollis. In sodales turpis et arcu vulputate placerat. Proin diam
                                augue, gravida non diam vitae, dignissim dapibus erat. In eu rutrum ante. Nullam id lorem
                                fermentum, accumsan enim non, auctor neque.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}