{% set page_title = "Pricing"%}
<!--  -->
{% set page_active_link = "Pricing" %}
<!--  -->
{% set page_link2 = "Elements" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %} {% include "../templates/partials/page_title.html" %}
<!--  -->
{% import '../templates/macros/prices.html' as macroPrices %}
<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-4">
                    <div class="card pricing rounded-0 text-center mb-4 mb-md-0 ">
                        <div class="card-header bg-white p-4 border-bottom-0">
                            <h3 class="price mb-0">
                                <span class="currency">$</span>19
                                <span class="period">/month</span>
                            </h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Startup License</h4>
                            <ul class="list-unstyled list-lg">
                                <li>
                                    <strong>1</strong> Project</li>
                                <li>
                                    <strong>100K</strong> API Access</li>
                                <li>
                                    <strong>100MB</strong> Storage</li>
                                <li>100KCustom
                                    <strong>Cloud</strong> Services</li>
                                <li>Weekly
                                    <strong>Reports</strong>
                                </li>
                                <li>7/24
                                    <strong>Support</strong>
                                </li>
                            </ul>
                            <a href="#" class="btn  mt-2">Choose Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card pricing rounded-0 text-center mb-4 mb-md-0 ">
                        <div class="card-header bg-white text-primary rounded-0 p-4 border-bottom-0">
                            <h3 class="price mb-0">
                                <span class="currency">$</span>29
                                <span class="period">/month</span>
                            </h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Business License</h4>
                            <ul class="list-unstyled list-lg">
                                <li>
                                    <strong>1</strong> Project</li>
                                <li>
                                    <strong>100K</strong> API Access</li>
                                <li>
                                    <strong>100MB</strong> Storage</li>
                                <li>100KCustom
                                    <strong>Cloud</strong> Services</li>
                                <li>Weekly
                                    <strong>Reports</strong>
                                </li>
                                <li>7/24
                                    <strong>Support</strong>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-primary mt-2">Choose Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card pricing rounded-0 text-center mb-4 mb-md-0 ">
                        <div class="card-header bg-white p-4 border-bottom-0">
                            <h3 class="price mb-0">
                                <span class="currency">$</span>39
                                <span class="period">/month</span>
                            </h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Enterprise License</h4>
                            <ul class="list-unstyled list-lg">
                                <li>
                                    <strong>1</strong> Project</li>
                                <li>
                                    <strong>100K</strong> API Access</li>
                                <li>
                                    <strong>100MB</strong> Storage</li>
                                <li>100KCustom
                                    <strong>Cloud</strong> Services</li>
                                <li>Weekly
                                    <strong>Reports</strong>
                                </li>
                                <li>7/24
                                    <strong>Support</strong>
                                </li>
                            </ul>
                            <a href="#" class="btn  mt-2">Choose Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-4">
                    <div class="card pricing border-0 rounded-0 text-center mb-4 mb-md-0 ">
                        <div class="card-header bg-white p-4 border-bottom-0">
                            <h3 class="price mb-0">
                                <span class="currency">$</span>19
                                <span class="period">/month</span>
                            </h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Startup License</h4>
                            <ul class="list-unstyled list-lg">
                                <li>
                                    <strong>1</strong> Project</li>
                                <li>
                                    <strong>100K</strong> API Access</li>
                                <li>
                                    <strong>100MB</strong> Storage</li>
                                <li>100KCustom
                                    <strong>Cloud</strong> Services</li>
                                <li>Weekly
                                    <strong>Reports</strong>
                                </li>
                                <li>7/24
                                    <strong>Support</strong>
                                </li>
                            </ul>
                            <a href="#" class="btn  mt-2">Choose Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card pricing border-0 rounded-0 text-center mb-4 mb-md-0 ">
                        <div class="card-header bg-white text-primary rounded-0 p-4 border-bottom-0">
                            <h3 class="price mb-0">
                                <span class="currency">$</span>29
                                <span class="period">/month</span>
                            </h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Business License</h4>
                            <ul class="list-unstyled list-lg">
                                <li>
                                    <strong>1</strong> Project</li>
                                <li>
                                    <strong>100K</strong> API Access</li>
                                <li>
                                    <strong>100MB</strong> Storage</li>
                                <li>100KCustom
                                    <strong>Cloud</strong> Services</li>
                                <li>Weekly
                                    <strong>Reports</strong>
                                </li>
                                <li>7/24
                                    <strong>Support</strong>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-primary mt-2">Choose Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card pricing border-0 rounded-0 text-center mb-4 mb-md-0 ">
                        <div class="card-header bg-white p-4 border-bottom-0">
                            <h3 class="price mb-0">
                                <span class="currency">$</span>39
                                <span class="period">/month</span>
                            </h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Enterprise License</h4>
                            <ul class="list-unstyled list-lg">
                                <li>
                                    <strong>1</strong> Project</li>
                                <li>
                                    <strong>100K</strong> API Access</li>
                                <li>
                                    <strong>100MB</strong> Storage</li>
                                <li>100KCustom
                                    <strong>Cloud</strong> Services</li>
                                <li>Weekly
                                    <strong>Reports</strong>
                                </li>
                                <li>7/24
                                    <strong>Support</strong>
                                </li>
                            </ul>
                            <a href="#" class="btn  mt-2">Choose Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}