{% set page_title = "Counters"%}
<!--  -->
{% set page_active_link = "Counters" %}
<!--  -->
{% set page_link2 = "Elements" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %} {% include "../templates/partials/page_title.html" %}

<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-12">
                    <div class="row justify-content-md-center text-center">
                        <div class="col-3">
                            <div class="counter">
                                <span class="h1" data-from="0" data-to="600" data-speed="3500" data-refresh-interval="50"></span>
                            </div>
                            <p class="mt-3 mb-4">Employees</p>
                        </div>
                        <div class="col-3">
                            <div class="counter">
                                <span class="h1" data-from="0" data-to="100" data-speed="3500" data-refresh-interval="50"></span>
                            </div>
                            <p class="mt-3 mb-4">Offices</p>
                        </div>
                        <div class="col-3">
                            <div class="counter mt-4 mt-md-0">
                                <span class="h1" data-from="0" data-to="320" data-speed="3500" data-refresh-interval="50"></span>
                            </div>
                            <p class="mt-3">Continents</p>
                        </div>
                        <div class="col-3">
                            <div class="counter mt-4 mt-md-0">
                                <span class="h1" data-from="0" data-to="480" data-speed="3500" data-refresh-interval="50"></span>
                            </div>
                            <p class="mt-3">Clients</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}