{% set page_title = "Contact Us" %}
{% extends "../templates/layout.html" %}
{% block content %}
{% include "../templates/partials/header.html" %}
<main>
    <section class="bg-primary py-6">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white mb-0">Contact Us</h1>
                    <nav aria-label="breadcrumb" class="d-inline-block mt-4">
                        <ol class="breadcrumb bg-transparent p-0 m-0">
                            <li class="breadcrumb-item d-flex align-items-center">
                                <a href="/" class="d-flex align-items-center text-small text-white">
                                    <i class="material-icons align-middle mr-1 icon-18">
                                        home
                                    </i>
                                    Home</a>
                                <i class="material-icons text-white align-middle px-1 icon-18">
                                    chevron_right
                                </i>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center pl-0">
                                <a href="#" class="text-small text-white">Pages</a>
                                <i class="material-icons text-white align-middle px-1 icon-18">
                                    chevron_right
                                </i>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center pl-0 active">
                                <span class="text-small text-white-50">Contact Us</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body text-center p-4">
                            <i class="flag-icon flag-icon-gb icon-36 mr-2 align-middle"></i>
                            <h5 class="text-uppercase mt-4 mb-3">United Kingdom</h5>
                            <p>2708 John Avenue
                                <br>Norborne, Missouri 48933.</p>
                            <p class="mb-0">
                                <strong>P:</strong> 517-827-1213
                                <br>
                                <strong>E:</strong>
                                <a href="mailto:info@domain.com">info@domain.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body text-center p-4">
                            <i class="flag-icon flag-icon-fr icon-36 mr-2 align-middle"></i>
                            <h5 class="text-uppercase mt-4 mb-3">France</h5>
                            <p>2754 Arthur Avenue
                                <br>Orangeville, Illinois 61060.</p>
                            <p class="mb-0">
                                <strong>P:</strong> 815-789-9078
                                <br>
                                <strong>E:</strong>
                                <a href="mailto:info@domain.com">info@domain.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body text-center p-4">
                            <i class="flag-icon flag-icon-us icon-36 mr-2 align-middle"></i>
                            <h5 class="text-uppercase mt-4 mb-3">United States</h5>
                            <p>2896 Hamill Avenue
                                <br>San Diego, California 92123.</p>
                            <p class="mb-0">
                                <strong>P:</strong> 858-410-1269
                                <br>
                                <strong>E:</strong>
                                <a href="mailto:info@domain.com">info@domain.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="google-map wide" style="width: 100%; height: 450px" data-lat="51.211215" data-lng="3.226287"></div>
            </div>
        </div>
    </section>
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Get In Touch</h2>
                    <h6 class="font-weight-light text-muted mb-0">We will reply to all emails within 24 hours.</h6>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-lg-8">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" name="first" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" name="first" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" name="first" class="form-control" placeholder="Phone">
                            </div>
                            <div class="form-group col-md-6">
                                <select name="department" class="form-control">
                                    <option value="">Select Department</option>
                                    <option value="Sales">Sales</option>
                                    <option value="Marketing">Marketing</option>
                                    <option value="Support">Customer Support</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="textarea" id="textarea" class="form-control" rows="6" cols="30" placeholder="Enter your comment here..."></textarea>
                        </div>
                        <input type="submit" value="Send message" name="submit" class="btn btn-primary text-uppercase">
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% include "partials/footer.html" %}
{% endblock %}