{% set page_title = "Contact Us" %} {% extends "../templates/layout.html" %} {% block content %} {% include "../templates/partials/page_title.html"
%}
<div id="content">
    <div class="bg-white">
        <div class="container py-5 py-md-7">
            <div class="container">
                <p class="lead text-center">Curabitur curae pellentesque
                    <em>molestie</em> vulputate porttitor. Molestie fusce iaculis scelerisque pariatur vehicula. Consequat laborum
                    curae velit veniam. Sociis
                    <em>voluptate</em> diam penatibus ad ullamcorper.</p>
                <ul class="list-inline text-center mt-4 mb-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
                    <li class="list-inline-item my-2 my-md-0 ml-4">
                        <i class="fa fa-map-marker mr-2"></i>3302 Neighbor Rd, Saint Joseph, MO, 64506</li>
                    <li class="list-inline-item my-2 my-md-0 ml-4">
                        <i class="fa fa-phone mr-2"></i>(816) 676-0309</li>
                    <li class="list-inline-item my-2 my-md-0 ml-4">
                        <i class="fa fa-envelope-o mr-2"></i>info@email.com</li>
                </ul>
                <div class="row mt-6">
                    <div class="col-md-6 push-md-6">
                        <div class="google-map" style="width: 100%; height: 440px" data-lat="51.211215" data-lng="3.226287"></div>
                    </div>
                    <div class="col-md-6 pull-md-6 mt-6 mt-md-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
                        <form class="form-container" name="form_name" action="#" method="post">
                            <div class="form-group">
                                <input type="text" name="first" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="first" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" name="first" class="form-control" placeholder="Phone">
                            </div>
                            <div class="form-group">
                                <select name="department" class="form-control">
                                    <option value="">Select Department</option>
                                    <option value="Sales">Sales</option>
                                    <option value="Marketing">Marketing</option>
                                    <option value="Support">Customer Support</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea name="textarea" id="textarea" class="form-control" rows="6" cols="30" placeholder="Enter your comment here..."></textarea>
                            </div>
                            <input type="submit" value="Send Message" name="submit" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}