{% set page_title = "Our Services" %}
<!--  -->
{% set page_link2 = "Pages" %}
<!--  -->
{% set page_active_link = "Our Services" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% import '../templates/macros/teams.html' as macroTeams %}
<!--  -->
{% import '../templates/macros/partners.html' as macroPartners %}
<!--  -->
{% import '../templates/macros/testimonial.html' as macroTestimonials %}
<!--  -->
{% import '../templates/macros/clients.html' as macroClients %}
<!--  -->
{% import '../templates/macros/components.html' as macroComponents %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<!--  -->
{% include "partials/header.html" %}

<div id="content">
    <div class="bg-white">
        <div class="container py-8">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>We have been trusted advisors to the world’s biggest companies</h3>
                    <p class="font-weight-light">We continue to grow with the help of more than 20,000 people in our global network</p>
                </div>
            </div>
            <div class="row mt-6">
                <div class="col-lg-6">
                    <div class="d-block pr-3">
                        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum, nunc ut hendrerit tempus,
                            ex dolor consectetur risus, ut pharetra dolor elit eu magna. Vivamus vitae tincidunt.</p>
                        <h6>We provide dedicated innovative software</h6>
                        <p class="mt-3 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum, nunc ut hendrerit tempus,
                            ex dolor consectetur risus.</p>
                        <h6>We provide dedicated innovative software</h6>
                        <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum, nunc ut hendrerit tempus,
                            ex dolor consectetur risus.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid" src="assets/img/other/other-15-1200x752.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light py-8">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Global Business Lounge Services</h3>
                </div>
                <div class="col-md-6 text-right">
                    <a href="#" class="btn btn-primary text-uppercase">send free enquiry</a>
                </div>
            </div>
            <div class="row mt-7">
                <div class="col-md-4">
                    <div class="card border-0 p-4 mb-4 text-center">
                        <i class="ti-bar-chart-alt icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Business Intelligence
                        </h4>
                        <p class="mb-0">Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for modern marketing
                            campaigns
                        </p>
                        <a href="#" class="card-link mt-5">Read More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-0 p-4 mb-4 text-center">
                        <i class="ti-world icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Systems Integration
                        </h4>
                        <p class="mb-0">Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for modern marketing
                            campaigns
                        </p>
                        <a href="#" class="card-link mt-5">Read More</a>
                    </div>
                </div>
                <div class="col-md-4 text-center mb-4 mb-md-0">
                    <div class="card border-0 p-4 mb-4 text-center">
                        <i class="ti-wallet icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Managed Services
                        </h4>
                        <p class="mb-0">Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for modern marketing
                            campaigns
                        </p>
                        <a href="#" class="card-link mt-5">Read More</a>
                    </div>
                </div>
                <div class="col-md-4 text-center mb-4 mb-md-0">
                    <div class="card border-0 p-4 mb-4 text-center">
                        <i class="ti-bar-chart-alt icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Business Intelligence
                        </h4>
                        <p class="mb-0">Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for modern marketing
                            campaigns
                        </p>
                        <a href="#" class="card-link mt-5">Read More</a>
                    </div>
                </div>
                <div class="col-md-4 text-center mb-4 mb-md-0">
                    <div class="card border-0 p-4 mb-4 text-center">
                        <i class="ti-world icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Systems Integration
                        </h4>
                        <p class="mb-0">Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for modern marketing
                            campaigns
                        </p>
                        <a href="#" class="card-link mt-5">Read More</a>
                    </div>
                </div>
                <div class="col-md-4 text-center mb-4 mb-md-0">
                    <div class="card border-0 p-4 mb-4 text-center">
                        <i class="ti-wallet icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Managed Services
                        </h4>
                        <p class="mb-0">Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for modern marketing
                            campaigns
                        </p>
                        <a href="#" class="card-link mt-5">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative bg-primary">
        <img alt="" src="assets/img/other/other-10-1920x700.jpg" class="bg-image bg-image-center op-2">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-12 text-center text-white">
                    <h3>A trusted partner to the best</h3>
                    <h6 class="font-weight-light mt-3">We work in partnership with our clients, meeting their needs for high-quality information, analysis.</h6>
                </div>
            </div>
            <div class="row mt-5 justify-content-md-center text-center">
                <div class="col-md-4 mb-4">
                    <img src="assets/img/client/client-1-light-180x80.png" alt="">
                </div>
                <div class="col-md-4 mb-4">
                    <img src="assets/img/client/client-2-light-180x80.png" alt="">
                </div>
                <div class="col-md-4 mb-4">
                    <img src="assets/img/client/client-7-light-180x80.png" alt="">
                </div>
                <div class="col-md-4">
                    <img src="assets/img/client/client-4-light-180x80.png" alt="">
                </div>
                <div class="col-md-4">
                    <img src="assets/img/client/client-8-light-180x80.png" alt="">
                </div>
                <div class="col-md-4">
                    <img src="assets/img/client/client-6-light-180x80.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="container py-7">
            <div class="owl-carousel owl-theme owl-loaded owl-nav-dark" data-owl-carousel-options='{"nav":true,"margin":30, "loop":true, "autoHeight":true,"responsive": {"0": {"items": 1,"nav":false,"dots": true}, "768": {"items": 1,"dots": false}, "992": {"items": 1,"dots": false}}}'>
                {% set testimonials = testimonials.slice(0,3) %}
                <!--  -->
                {% for testimonial in testimonials %}
                <div class="item">
                    {{ macroTestimonials.layout2(testimonial) }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}