{% set page_title = "About Us" %}
<!--  -->
{% set page_link2 = "Pages" %}
<!--  -->
{% set page_active_link = "About Us" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<!--  -->
{% import '../templates/macros/teams.html' as macroTeams %}
<!--  -->
{% import '../templates/macros/partners.html' as macroPartners %}
<!--  -->
{% import '../templates/macros/testimonial.html' as macroTestimonials %}
<!--  -->
{% import '../templates/macros/clients.html' as macroClients %}
<!--  -->
{% import '../templates/macros/components.html' as macroComponents %}
<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-6 pr-md-5">
                    <h3>Our Mission</h3>
                    <hr class="hr-lg mt-3 mx-0 mb-4 w-60px hr-primary">
                    <p>Convallis risus fames vel a. Orci tincidunt ullamco commodo fringilla sed volutpat himenaeos auctor.
                        Himenaeos consequat fermentum netus. Faucibus justo incididunt varius erat. Semper pellentesque culpa
                        laboris gravida tortor imperdiet nostra.</p>
                    <ul class="list-unstyled list-lg">
                        <li>
                            <i class="ti-check-box icon-lg text-primary mr-2"></i>Lorem ipsum dolor sit amet
                        </li>
                        <li>
                            <i class="ti-check-box icon-lg text-primary mr-2"></i>Consectetur adipiscing elit</li>
                        <li>
                            <i class="ti-check-box icon-lg text-primary mr-2"></i>Integer molestie lorem at massa</li>
                        <li>
                            <i class="ti-check-box icon-lg text-primary mr-2"></i>Facilisis in pretium nisl aliquet</li>
                    </ul>
                </div>
                <div class="col-md-6 pl-md-5">
                    <h3>Our Vision</h3>
                    <hr class="hr-lg mt-3 mx-0 mb-4 w-60px hr-primary">
                    <p>Maecenas nostrud vulputate nisi voluptate integer torquent hendrerit tortor at blandit. Ipsum senectus
                        bibendum pulvinar curabitur. Cursus cupidatat taciti odio. Imperdiet varius fames consectetuer
                        convallis voluptate. Nulla lobortis adipisicing dictum feugiat veniam excepteur porttitor fusce
                        pulvinar nostrud netus orci magnis faucibus conubia pariatur veniam esse posuere rutrum.</p>
                    <p>Congue maecenas occaecat primis conubia fames id aliqua dapibus. Pretium netus condimentum vulputate
                        labore vulputate ullamcorper dolore suspendisse gravida convallis eiusmod pulvinar deserunt
                        consequat imperdiet qui sint porta montes.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-6 text-white text-center text-md-left">
                    <h3 class="mb-3">The polling numbers don't lie</h3>
                    <p>Libero enim vulputate lorem felis fringilla. Curabitur auctor cillum rutrum posuere. Laborum occaecat
                        euismod litora himenaeos lorem.</p>
                    <a href="#" class="btn btn btn-outline-light mt-4">Read More</a>
                </div>
                <div class="col-md-6 text-white mt-5 mt-md-0">
                    <div class="row justify-content-md-center text-center">
                        <div class="col-6">
                            <div class="counter">
                                <span class="h1" data-from="0" data-to="600" data-speed="3500" data-refresh-interval="50"></span>
                            </div>
                            <p class="mt-3 mb-4">Employees</p>
                        </div>
                        <div class="col-6">
                            <div class="counter">
                                <span class="h1" data-from="0" data-to="100" data-speed="3500" data-refresh-interval="50"></span>
                            </div>
                            <p class="mt-3 mb-4">Offices</p>
                        </div>
                        <div class="col-6">
                            <div class="counter mt-4 mt-md-0">
                                <span class="h1" data-from="0" data-to="320" data-speed="3500" data-refresh-interval="50"></span>
                            </div>
                            <p class="mt-3">Continents</p>
                        </div>
                        <div class="col-6">
                            <div class="counter mt-4 mt-md-0">
                                <span class="h1" data-from="0" data-to="480" data-speed="3500" data-refresh-interval="50"></span>
                            </div>
                            <p class="mt-3">Clients</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="container py-7">
            <h6 class="font-weight-light text-muted text-center">We are a global team</h6>
            <h3 class="text-center">We Are Known For Our Quality</h3>
            <hr class="hr-lg mt-3 mb-4 w-60px hr-primary">
            <div class="row mt-6">
                {% set teams = teams.slice(0,4) %} {% for team in teams %}
                <div class="col-md-3">
                    {{ macroTeams.layout1(team) }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="bg-primary">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-6 pr-md-5 text-white">
                    <h3 class="mb-3">Our History</h3>
                    <p>tincidunt ante et, tempus metus. Nunc pellentesque purus odio, eu dictum mi luctus vitae. Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas fermentum
                        interdum elit, vel laoreet elit ultricies quis. Nam massa nisl.</p>
                    <p>Maecenas fermentum interdum elit, vel laoreet elit ultricies quis. Nam massa nisl, bibendum ut lectus
                        ac, sodales laoreet nibh. Praesent cursus mauris at purus volutpat ultrices.</p>
                    <a href="#" class="btn btn btn-outline-light mt-3">Read More</a>
                </div>
                <div class="col-md-6 pl-md-5 pt-4 pt-md-0">
                    <dl class="row mb-0 text-white">
                        <dt class="col-sm-3">
                            <i class="ti-calendar icon-lg mr-2"></i>01/02/16</dt>
                        <dd class="col-sm-9 pt-3 pt-md-0">
                            <p class="font-weight-bold">Aute libero ornare taciti phasellus inceptos</p>
                            <p>Mauris duis nostra enim iaculis laborum cillum vestibulum incididunt qui sapien labore litora.</p>
                        </dd>
                        <dt class="col-sm-3">
                            <i class="ti-calendar icon-lg mr-2"></i>10/05/17</dt>
                        <dd class="col-sm-9 pt-3 pt-md-0">
                            <p class="font-weight-bold">Tortor a convallis volutpat praesent nullam</p>
                            <p>Mauris duis nostra enim iaculis laborum cillum vestibulum incididunt qui sapien labore litora.</p>
                        </dd>
                        <dt class="col-sm-3">
                            <i class="ti-calendar icon-lg mr-2"></i>15/02/18</dt>
                        <dd class="col-sm-9 pt-3 pt-md-0">
                            <p class="font-weight-bold">Fermentum pellentesque senectus nostra</p>
                            <p>Mauris duis nostra enim iaculis laborum cillum vestibulum incididunt qui sapien labore litora.</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-6 pr-md-5 text-center text-md-left">
                    <h3>Fast Growing Business</h3>
                    <hr class="hr-lg mt-3 mx-md-0 mb-4 w-60px hr-primary">
                    <p>Aliquam ut pede cursus laboris lacus fames parturient elementum excepteur purus cillum. Blandit ornare
                        ultrices elementum sollicitudin curae dolor. Aptent eros excepteur massa mus fugiat. Porta deserunt
                        cursus montes natoque quis tempor conubia adipisicing molestie Non facilisi metus feugiat donec fringilla
                        ultricies. Litora tincidunt semper vulputate ex pede ad dictum faucibus.</p>
                    <a href="#" class="btn btn-primary mt-3">Read More</a>
                </div>
                <div class="col-md-6 mt-5 mt-md-0 pl-md-5">
                    <p class="mb-2">Finance</p>
                    {{ macroComponents.progress_bar(90, "mb-4") }}
                    <p class="mb-2">formation Technologies</p>
                    {{ macroComponents.progress_bar(80, "mb-4") }}
                    <p class="mb-2">Education</p>
                    {{ macroComponents.progress_bar(75, "mb-4") }}
                    <p class="mb-2">Retail</p>
                    {{ macroComponents.progress_bar(70, "mb-4") }}
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12">
                    {{ macroClients.layout1(clients) }}
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white">
        <div class="container py-7">
            <h6 class="font-weight-light text-muted text-center">testimonials</h6>
            <h3 class="text-center">What They Are Saying</h3>
            <hr class="hr-lg mt-3 mb-4 w-60px hr-primary">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme owl-loaded owl-dots-primary owl-nav-bg-black mt-5" data-owl-carousel-options='{"nav":false,"margin":30, "dots":true, "loop":true, "autoHeight":true,"responsive": {"0": {"items": 1}, "768": {"items": 2}, "992": {"items": 3}}}'>
                        {% for testimonial in testimonials %}
                        <div class="item mb-4">
                            {{ macroTestimonials.layout1(testimonial) }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}