{% set page_title = "About Us" %}
<!--  -->
{% set page_link2 = "Pages" %}
<!--  -->
{% set page_active_link = "About Us" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% import '../templates/macros/teams.html' as macroTeams %}
<!--  -->
{% import '../templates/macros/partners.html' as macroPartners %}
<!--  -->
{% import '../templates/macros/clients.html' as macroClients %}
<!--  -->
{% import '../templates/macros/components.html' as macroComponents %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<!--  -->
{% include "partials/header.html" %}

<div id="content">
    <section class="py-8 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pr-lg-4">
                    <img src="assets/img/about/about-1-1600x1102.jpg" class="figure-img img-fluid mb-0" alt="">
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0 pl-lg-4">
                    <h3 class="mb-3">Our Overview</h3>
                    <p>Consultants provide their advice to their clients in a variety of forms. Reports and presentations are
                        often used. However, in some specialized fields, the consultant may develop customized software or
                        other products for the client. Depending on the nature of the consulting services and the wishes
                        of the client, the advice from the consultant may be made public, by placing the report or presentation
                        online, or the advice may be kept confidential, and only given to the senior executives of the organization
                        paying for the consulting services.</p>
                    <a href="#" class="btn btn btn-primary text-uppercase mt-4">Read More</a>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center mb-4 mb-lg-0">
                    <i class="ti-wallet icon-3x text-primary"></i>
                    <h4 class="mt-4 mb-3">
                        Budget Friendly
                    </h4>
                    <p class="mb-0">The budget of a government is a summary or plan of the intended revenues and expenditures of that government.</p>
                </div>
                <div class="col-lg-4 text-center mb-4 mb-lg-0">
                    <i class="ti-world icon-3x text-primary"></i>
                    <h4 class="mt-4 mb-3">
                        Worldwide Availability
                    </h4>
                    <p class="mb-0">Manufacturing is the production of merchandise for use or sale using labour and machines tools chemical
                        and biological.</p>
                </div>
                <div class="col-lg-4 text-center mb-4 mb-lg-0">
                    <i class="ti-user icon-3x text-primary"></i>
                    <h4 class="mt-4 mb-3">
                        After Sale Support
                    </h4>
                    <p class="mb-0">Owners may manage their businesses themselves, or employ managers to do so for them whether they are
                        owners.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pr-lg-4">
                    <h3 class="mb-3">Our Mission</h3>
                    <p>Some specialized businesses may also require licenses, either due to laws governing entry into certain
                        trades, occupations or professions, that require special education or to raise revenue for local
                        governments. Professions that require special licenses include law.</p>
                    <ul class="list-unstyled list-icon list-lg mt-4 mb-0">
                        <li>
                            <i class="ti-check-box icon-lg text-primary mr-3"></i>Financial services consulting firm into the market.
                        </li>
                        <li>
                            <i class="ti-check-box icon-lg text-primary mr-3"></i>Business consulting and tech services branches.
                        </li>
                        <li>
                            <i class="ti-check-box icon-lg text-primary mr-3"></i>Products and consulting services and creating brand.
                        </li>
                        <li>
                            <i class="ti-check-box icon-lg text-primary mr-3"></i>Energy and environment and management consulting.
                        </li>
                        <li>
                            <i class="ti-check-box icon-lg text-primary mr-3"></i>Logistics consulting and solution provider.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0 pl-lg-4">
                    <h3 class="mb-4">Our Vision</h3>
                    <div class="overlay">
                        <img src="assets/img/about/about-2-1600x1102.jpg" alt="" class="img-fluid">
                        <div class="overlay-body">
                            <div class="video-gallery overlay-align-middle text-center">
                                <a class="icon-video" href="https://www.youtube.com/watch?v=TJ1SDXbij8Y">
                                    <i class="ion-ios-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ macroClients.layout3() }}
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>Our History</h3>
                    <h6 class="font-weight-light text-muted">We provide dedicated innovative software</h6>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-lg-10">
                    <ul class="timeline timeline-split">
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>January 12, 2015</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h5 class="mb-3">Start a Service Related Business</h5>
                                <p>Finance aims to price assets based on their risk level and their expected rate of return.
                                    Finance can be broken into three different sub-categories.</p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>February 15, 2016</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h5 class="mb-3">New Office in Miami</h5>
                                <p>The term developed from the original meaning which referred literally to going to a market
                                    to buy or sell goods or services. Marketing tactics include advertising.
                                </p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>November 12, 2017</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h5 class="mb-3">Partnership with The Community</h5>
                                <p>Marketing is defined by the American Marketing Association as "the activity, set of institutions,
                                    and processes for creating, communicating, delivering.
                                </p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>December 12, 2018</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h5 class="mb-3">Founded The Company</h5>
                                <p>Research and development are very difficult to manage since the defining feature of the research
                                    is that the researchers do not know in advance exactly.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-9 text-white text-center text-md-left">
                    <h3 class="text-white">Looking for a first-class business plan consultant?</h3>
                    <p>Plan consultant and is responsible for administration and business development.</p>
                </div>
                <div class="col-md-3 my-auto text-center text-md-right">
                    <a href="#" class="btn btn-outline-light mt-4 mt-md-0 text-uppercase">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}