{% set page_title = "Contact Us" %}
<!--  -->
{% set page_link2 = "Pages" %}
<!--  -->
{% set page_active_link = "Contact" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<!--  -->
{% import '../templates/macros/input_data.html' as inputData %}
<!--  -->
{% include "partials/header.html" %}
<div id="content">
    <div class="container py-8">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center p-4">
                        <i class="flag-icon flag-icon-gb icon-2x mr-2 align-middle"></i>
                        <h6 class="text-uppercase mt-4 mb-3">Iceland</h6>
                        <p>401 Broadway, 24th Floor
                            <br>Iceland, Iceland 10013.</p>
                        <p class="mb-0">
                            <strong>P:</strong> + 1-800-222-000
                            <br>
                            <strong>E:</strong>
                            <a href="mailto:info@domain.com">info@domain.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center p-4">
                        <i class="flag-icon flag-icon-fr icon-2x mr-2 align-middle"></i>
                        <h6 class="text-uppercase mt-4 mb-3">France</h6>
                        <p>401 Broadway, 24th Floor
                            <br>Iceland, Iceland 10013.</p>
                        <p class="mb-0">
                            <strong>P:</strong> + 1-800-222-000
                            <br>
                            <strong>E:</strong>
                            <a href="mailto:info@domain.com">info@domain.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center p-4">
                        <i class="flag-icon flag-icon-de icon-2x mr-2 align-middle"></i>
                        <h6 class="text-uppercase mt-4 mb-3">Switzerland</h6>
                        <p>401 Broadway, 24th Floor
                            <br>Iceland, Iceland 10013.</p>
                        <p class="mb-0">
                            <strong>P:</strong> + 1-800-222-000
                            <br>
                            <strong>E:</strong>
                            <a href="mailto:info@domain.com">info@domain.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="google-map wide" style="width: 100%; height: 450px" data-lat="51.211215" data-lng="3.226287"></div>
        </div>
    </div>
    <div class="container py-8">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Fill Out the Form</h3>
                <h6 class="font-weight-light text-muted">We provide dedicated innovative software</h6>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-8">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="first" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" name="first" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="first" class="form-control" placeholder="Phone">
                        </div>
                        <div class="form-group col-md-6">
                            {{ inputData.ddlDepartments() }}
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="textarea" id="textarea" class="form-control" rows="6" cols="30" placeholder="Enter your comment here..."></textarea>
                    </div>
                    <input type="submit" value="Send message" name="submit" class="btn btn-primary text-uppercase">
                </form>
                <!-- <form class="form-container" name="form_name" action="#" method="post">
                    <div class="form-group">
                        <input type="text" name="first" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" name="first" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" name="first" class="form-control" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        {{ inputData.ddlDepartments() }}
                    </div>
                    <div class="form-group">
                        <textarea name="textarea" id="textarea" class="form-control" rows="6" cols="30" placeholder="Enter your comment here..."></textarea>
                    </div>
                    <input type="submit" value="Send message" name="submit" class="btn btn-primary text-uppercase">
                </form> -->
            </div>
        </div>
    </div>

</div>
{% endblock %}