{% set page_title = "Our Services" %}
<!--  -->
{% set page_link2 = "Pages" %}
<!--  -->
{% set page_active_link = "Services" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %} {% include "../templates/partials/page_title.html" %}
<!--  -->
{% import '../templates/macros/teams.html' as macroTeams %}
<!--  -->
{% import '../templates/macros/partners.html' as macroPartners %}
<!--  -->
{% import '../templates/macros/prices.html' as macroPrices %}
<!--  -->
{% import '../templates/macros/clients.html' as macroClients %}

<div id="content">
    <div class="bg-white">
        <div class="container pt-4 pb-4 pb-md-0">
            <div class="row">
                <div class="col-md-6 pb-4 pb-md-0 text-center">
                    <img src="assets/img/portrait/portrait-1-365x549.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 my-auto text-center text-md-left pb-4 mp-md-0">
                    <h3 class="mb-4">We have the pleasure of working with some fantastic organizations. and we continue to grow with the help of more than <span class="text-primary">10,000</span> clients in our global network
                    </h3>
                    <p>Consequat lorem morbi culpa voluptate fames natoque aliqua faucibus semper. Aliqua curae dui senectus
                        fames adipiscing neque himenaeos leo rutrum pretium laboris dapibus netus eget ante dictum ante
                        facilisi cubilia mi himenaeos porta turpis sunt nostra luctus dignissim dui eros sodales etiam
                        malesuada cum fugiat litora cubilia.</p>
                    <a href="#" class="btn btn-primary mt-3">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-6 text-center text-md-left">
                    <h3 class="text-white">Business Solutions And Services</h3>
                    <hr class="hr-lg mt-3 mx-md-0 mb-4 w-60px hr-white">
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <a href="#" class="btn btn-outline-light">Send Free Enquiry</a>
                </div>
            </div>

            <div class="row text-center mt-6">
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card rounded-0">
                        <div class="card-body p-4">
                            <i class="ti-crown icon-5x text-primary"></i>
                            <h4 class="mt-4">Business Intelligence</h4>
                            <p class="mt-3 mb-0">Proin imperdiet ut massa sed mollis. In sodales turpis et arcu vulputate placerat. Proin diam
                                augue, gravida non diam vitae, dignissim dapibus erat. In eu rutrum ante. Nullam id lorem
                                fermentum, accumsan enim non, auctor neque.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card rounded-0">
                        <div class="card-body p-4">
                            <i class="ti-cup icon-5x text-primary"></i>
                            <h4 class="mt-4">Custom Software</h4>
                            <p class="mt-3 mb-0">Proin imperdiet ut massa sed mollis. In sodales turpis et arcu vulputate placerat. Proin diam
                                augue, gravida non diam vitae, dignissim dapibus erat. In eu rutrum ante. Nullam id lorem
                                fermentum, accumsan enim non, auctor neque.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card rounded-0">
                        <div class="card-body p-4">
                            <i class="ti-world icon-5x text-primary"></i>
                            <h4 class="mt-4">Systems Integration</h4>
                            <p class="mt-3 mb-0">Proin imperdiet ut massa sed mollis. In sodales turpis et arcu vulputate placerat. Proin diam
                                augue, gravida non diam vitae, dignissim dapibus erat. In eu rutrum ante. Nullam id lorem
                                fermentum, accumsan enim non, auctor neque.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center mt-0 mt-md-5">
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card rounded-0">
                        <div class="card-body p-4">
                            <i class="ti-timer icon-5x text-primary"></i>
                            <h4 class="mt-4">Managed Services</h4>
                            <p class="mt-3 mb-0">Proin imperdiet ut massa sed mollis. In sodales turpis et arcu vulputate placerat. Proin diam
                                augue, gravida non diam vitae, dignissim dapibus erat. In eu rutrum ante. Nullam id lorem
                                fermentum, accumsan enim non, auctor neque.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card rounded-0">
                        <div class="card-body p-4">
                            <i class="ti-pie-chart icon-5x text-primary"></i>
                            <h4 class="mt-4">Outsourced IT Staffing</h4>
                            <p class="mt-3 mb-0">Proin imperdiet ut massa sed mollis. In sodales turpis et arcu vulputate placerat. Proin diam
                                augue, gravida non diam vitae, dignissim dapibus erat. In eu rutrum ante. Nullam id lorem
                                fermentum, accumsan enim non, auctor neque.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card rounded-0">
                        <div class="card-body p-4">
                            <i class="ti-stats-up icon-5x text-primary"></i>
                            <h4 class="mt-4">Microsoft Solutions</h4>
                            <p class="mt-3 mb-0">Proin imperdiet ut massa sed mollis. In sodales turpis et arcu vulputate placerat. Proin diam
                                augue, gravida non diam vitae, dignissim dapibus erat. In eu rutrum ante. Nullam id lorem
                                fermentum, accumsan enim non, auctor neque.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="container py-7">
            <h2 class="text-center">Our Prices</h2>
            <hr class="hr-lg mt-3 mb-4 w-60px hr-primary">
            <div class="row mt-6">
                <div class="col-md-4">
                    {{ macroPrices.default(19, "Startup License", "", "") }}
                </div>
                <div class="col-md-4">
                    {{ macroPrices.default(29, "Business License", "", "btn-primary") }}
                </div>
                <div class="col-md-4">
                    {{ macroPrices.default(39, "Enterprise License", "", "") }}
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-9 text-white text-center text-md-left">
                    <h3>The most powerful services ever on the market.</h3>
                    <p>Auctor labore taciti ex nisl ullamco. In cubilia aliquam viverra vestibulum litora blandit veniam labore
                        ullamcorper.
                    </p>
                </div>
                <div class="col-md-3 my-auto text-center text-md-right">
                    <a href="#" class="btn btn-outline-light mt-4 mt-md-0">Contact Us Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}