{% set page_title = "About Us" %}
<!--  -->
{% set page_link2 = "Pages" %}
<!--  -->
{% set page_active_link = "About Us" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% import '../templates/macros/teams.html' as macroTeams %}
<!--  -->
{% import '../templates/macros/partners.html' as macroPartners %}
<!--  -->
{% import '../templates/macros/clients.html' as macroClients %}
<!--  -->
{% import '../templates/macros/components.html' as macroComponents %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<!--  -->
{% include "partials/header.html" %}

<div id="content">
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="mb-3">About Us</h3>
                    <p>Company of persons can be created at law as a legal person so the company in itself can accept limited
                        liability for civil responsibility and taxation incurred as members perform their duty within the
                        publicly declared birth certificate or published policy.</p>
                    <p class="mt-4">In the United Kingdom, a partnership is not legally a company, but may sometimes be referred to informally
                        as a company. It may be referred to as a firm. the English word company has its origins in the Old
                        French.
                    </p>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0 pl-lg-5">
                    <img class="img-fluid" src="assets/img/other/other-15-800x518.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light py-7">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card bg-transparent border-0 py-4 px-2 mb-4 text-center">
                        <i class="ti-bar-chart-alt icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Financial Planning
                        </h4>
                        <p class="mb-0">Finance is one of the most important aspects of business management and includes analysis related.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 text-center mb-4 mb-md-0">
                    <div class="card bg-transparent border-0 p-4 mb-4 text-center">
                        <i class="ti-world icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Software and Research
                        </h4>
                        <p class="mb-0">Software quality is very important, especially for commercial and system software like Microsoft
                            Windows.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card bg-transparent border-0 p-4 mb-4 text-center">
                        <i class="ti-stats-up icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Business Services
                        </h4>
                        <p class="mb-0">The confusion surrounding the term financial plans might stem from the fact that there are many types
                            of financial.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 text-center mb-4 mb-md-0">
                    <div class="card bg-transparent border-0 p-4 mb-4 text-center">
                        <i class="ti-pie-chart icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Economic Consulting
                        </h4>
                        <p class="mb-0">These factors give context, content, and set the conditions and parameters in which an economy functions.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 text-center mb-4 mb-md-0">
                    <div class="card bg-transparent border-0 p-4 mb-4 text-center">
                        <i class="ti-wallet icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Investment Planning
                        </h4>
                        <p class="mb-0">Investors generally expect higher returns from riskier investments. Financial assets range from low-risk.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 text-center mb-4 mb-md-0">
                    <div class="card bg-transparent border-0 p-4 mb-4 text-center">
                        <i class="ti-heart-broken icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Healthcare Consulting
                        </h4>
                        <p class="mb-0">Primary care is often used as the term for the health care services that play a role in the local
                            community.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Our Partners</h3>
                    <h6 class="font-weight-light mt-3">We work in partnership with our clients, meeting their needs for high-quality information, analysis.</h6>
                </div>
            </div>
            <div class="row mt-5 justify-content-md-center text-center">
                <div class="col-md-4 mb-4">
                    <img src="assets/img/client/client-1-dark-180x80.png" class="op-3" alt="">
                </div>
                <div class="col-md-4 mb-4">
                    <img src="assets/img/client/client-2-dark-180x80.png" class="op-3" alt="">
                </div>
                <div class="col-md-4 mb-4">
                    <img src="assets/img/client/client-7-dark-180x80.png" class="op-3" alt="">
                </div>
                <div class="col-md-4">
                    <img src="assets/img/client/client-4-dark-180x80.png" class="op-3" alt="">
                </div>
                <div class="col-md-4">
                    <img src="assets/img/client/client-8-dark-180x80.png" class="op-3" alt="">
                </div>
                <div class="col-md-4">
                    <img src="assets/img/client/client-6-dark-180x80.png" class="op-3" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="py-8 bg-light">
        <div class="container">
            <h3 class="text-center">Get In Touch</h3>
            <div class="row mt-6">
                <div class="col-12 col-lg-6">
                    <h5 class="mb-3">Contact Info</h5>
                    <p>Consultants provide their advice to their clients in a variety of forms. Reports and presentations are
                        often used. However, in some specialized fields, the consultant may develop customized software.</p>
                    <ul class="list-unstyled list-lg mt-4 mb-0">
                        <li>
                            <i class="ti-email icon-lg text-primary mr-3"></i>info@company.com
                        </li>
                        <li>
                            <i class="ti-support icon-lg text-primary mr-3"></i>support@company.com
                        </li>
                        <li>
                            <i class="ti-mobile icon-lg text-primary mr-3"></i>+1 123 312 32 23
                        </li>
                        <li>
                            <i class="ti-location-pin icon-lg text-primary mr-3"></i>93731 street lorem ipsum dolor City, Country
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-6 mt-5 mt-lg-0">
                    <form class="form-container" name="form_name" action="#" method="post">
                        <div class="form-group">
                            <input type="text" name="first" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="first" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" name="first" class="form-control" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <textarea name="textarea" id="textarea" class="form-control" rows="6" cols="30" placeholder="Enter your comment here..."></textarea>
                        </div>
                        <input type="submit" value="Send Message" name="submit" class="btn btn-primary text-uppercase">
                    </form>
                </div>
            </div>

        </div>
    </section>
</div>
{% endblock %}