{% set page_title = "About Us" %}
<!--  -->
{% set page_link2 = "Pages" %}
<!--  -->
{% set page_active_link = "About Us" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% import '../templates/macros/teams.html' as macroTeams %}
<!--  -->
{% import '../templates/macros/partners.html' as macroPartners %}
<!--  -->
{% import '../templates/macros/clients.html' as macroClients %}
<!--  -->
{% import '../templates/macros/components.html' as macroComponents %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<!--  -->
{% include "partials/header.html" %}

<div id="content">
    <section class="py-8 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="assets/img/about/about-1-1600x1102.jpg" class="figure-img img-fluid mb-0" alt="">
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0">
                    <h3 class="mb-3">Our Overview</h3>
                    <p>Companies as legal persons may associate and register themselves collectively as other companies – often
                        known as a corporate group. When a company closes, it may need a "death certificate" to avoid further
                        legal obligations. It is not affected by the death, insanity, or insolvency of an individual member.</p>
                    <blockquote class="blockquote my-4">
                        <p class="mb-0">Company or association of persons can be created at law as a legal person so that the company in
                            itself can accept limited liability.
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="mb-3">Our Approach</h3>
                    <p>The efficient and effective operation of a business, and study of this subject, is called management.
                        The major branches of management are financial management, marketing management. human resource management,
                        strategic management, production management, operations management.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4 text-center mb-4 mb-lg-0">
                    <i class="ti-bar-chart-alt icon-3x text-primary"></i>
                    <h4 class="mt-4 mb-3">
                        Investment Consulting
                    </h4>
                    <p class="mb-0">The investment principles of both of these investors have points in common with the Kelly criterion for
                        money management.</p>
                </div>
                <div class="col-lg-4 text-center mb-4 mb-lg-0">
                    <i class="ti-world icon-3x text-primary"></i>
                    <h4 class="mt-4 mb-3">
                        Financial Consulting
                    </h4>
                    <p class="mb-0">Finance is one of the most important aspects of business management and includes analysis related to
                        the use and acquisition.</p>
                </div>
                <div class="col-lg-4 text-center mb-4 mb-lg-0">
                    <i class="ti-briefcase icon-3x text-primary"></i>
                    <h4 class="mt-4 mb-3">
                        Business Consulting
                    </h4>
                    <p class="mb-0">Manufacturing is the production of merchandise for use or sale using labour and machines, tools, chemical
                        and biological processing.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="mb-3">Our Mission</h3>
                    <p>Company or association of persons can be created at law as a legal person so that the company in itself
                        can accept limited liability for civil responsibility and taxation incurred as members perform their
                        duty within the publicly declared or published policy.</p>
                    <ul class="list-unstyled list-lg mt-4 mb-0">
                        <li>
                            <i class="ti-check-box text-primary icon-lg mr-3"></i>Financial services consulting firm into the market.
                        </li>
                        <li>
                            <i class="ti-check-box text-primary icon-lg mr-3"></i>Business consulting and tech services branches.
                        </li>
                        <li>
                            <i class="ti-check-box text-primary icon-lg mr-3"></i>Products and consulting services and creating brand.
                        </li>
                        <li>
                            <i class="ti-check-box text-primary icon-lg mr-3"></i>Energy and environment and management consulting.
                        </li>
                        <li>
                            <i class="ti-check-box text-primary icon-lg mr-3"></i>Logistics consulting and solution provider.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0">
                    <h3 class="mb-4">Our Vision</h3>
                    <div class="overlay">
                        <img src="assets/img/about/about-2-1600x1102.jpg" alt="" class="img-fluid">
                        <div class="overlay-body">
                            <div class="video-gallery overlay-align-middle text-center">
                                <a class="icon-video" href="https://www.youtube.com/watch?v=TJ1SDXbij8Y">
                                    <i class="ion-ios-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="mb-3">Our History</h3>
                    <p>Manufacturing is the production of merchandise for use or sale using labour and machines, tools, chemical
                        and biological processing, or formulation. The term may refer to a range of human activity, from
                        handicraft to high tech.</p>
                    <dl class="row mt-5 mb-0">
                        <dt class="col-sm-2">
                            15 Jan 2018
                        </dt>
                        <dd class="col-sm-10 pt-3 pt-md-0">
                            <a href="#">
                                <h4 class="h6">Start a Service Related Business</h4>
                            </a>
                            <p>Finance aims to price assets based on their risk level and their expected rate of return. Finance
                                can be broken into three different sub-categories: public finance, corporate finance and
                                personal finance.</p>
                        </dd>
                        <dt class="col-sm-2">
                            01 Feb 2017
                        </dt>
                        <dd class="col-sm-10 pt-3 pt-md-0">
                            <a href="#">
                                <h4 class="h6">New Office in Miami</h4>
                            </a>
                            <p>Finance aims to price assets based on their risk level and their expected rate of return. Finance
                                can be broken into three different sub-categories: public finance, corporate finance and
                                personal finance.</p>
                        </dd>
                        <dt class="col-sm-2">
                            15 Nov 2016
                        </dt>
                        <dd class="col-sm-10 pt-3 pt-md-0">
                            <a href="#">
                                <h4 class="h6">Partnership with The Community</h4>
                            </a>
                            <p>Finance aims to price assets based on their risk level and their expected rate of return. Finance
                                can be broken into three different sub-categories: public finance, corporate finance and
                                personal finance.</p>
                        </dd>
                        <dt class="col-sm-2">
                            08 Dec 2015
                        </dt>
                        <dd class="col-sm-10 pt-3 pt-md-0">
                            <a href="#">
                                <h4 class="h6">Founded The Company</h4>
                            </a>
                            <p>Finance aims to price assets based on their risk level and their expected rate of return. Finance
                                can be broken into three different sub-categories: public finance, corporate finance and
                                personal finance.</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-9 text-white text-center text-md-left">
                    <h3>Looking for a first-class business plan consultant?</h3>
                    <p>Plan consultant and is responsible for administration and business development.</p>
                </div>
                <div class="col-md-3 my-auto text-center text-md-right">
                    <a href="#" class="btn btn-outline-light mt-4 mt-md-0 text-uppercase">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}