{% set page_title = "Our Services" %}
<!--  -->
{% set page_link2 = "Pages" %}
<!--  -->
{% set page_active_link = "Our Services" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% import '../templates/macros/teams.html' as macroTeams %}
<!--  -->
{% import '../templates/macros/partners.html' as macroPartners %}
<!--  -->
{% import '../templates/macros/testimonial.html' as macroTestimonials %}
<!--  -->
{% import '../templates/macros/clients.html' as macroClients %}
<!--  -->
{% import '../templates/macros/components.html' as macroComponents %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<!--  -->
{% include "partials/header.html" %}

<div id="content">
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="mb-3">We have been trusted advisors to the world’s biggest companies</h3>
                    <p class="mb-4 text-black-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="d-block">
                        <h6>We provide dedicated innovative software</h6>
                        <p class="mt-3 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum, nunc ut hendrerit tempus,
                            ex dolor consectetur risus.</p>
                        <h6>We provide dedicated innovative software</h6>
                        <p class="mt-3 mb-4 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum, nunc ut hendrerit tempus,
                            ex dolor consectetur risus.</p>
                        <h6>We provide dedicated innovative software</h6>
                        <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum, nunc ut hendrerit tempus,
                            ex dolor consectetur risus.</p>
                    </div>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0 pl-lg-6">
                    <img class="img-fluid" src="assets/img/service/service-7-800x787.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light py-8">
        <div class="container">
            <div class="row">
                <div class="col-md-7 text-center text-md-left my-auto">
                    <h3 class="mb-4 mb-sm-0">Global Business Services</h3>
                </div>
                <div class="col-md-5 text-center text-lg-right">
                    <a href="#" class="btn btn-primary text-uppercase">send free enquiry</a>
                </div>
            </div>
            <div class="row mt-7">
                <div class="col-lg-4">
                    <div class="card border-0 p-4 mb-4 text-center">
                        <i class="ti-bar-chart-alt icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Financial Planning
                        </h4>
                        <p class="mb-0">Finance is one of the most important aspects of business management and includes analysis related.
                        </p>
                        <a href="#" class="card-link mt-5">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 text-center mb-4 mb-md-0">
                    <div class="card border-0 p-4 mb-4 text-center">
                        <i class="ti-world icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Software and Research
                        </h4>
                        <p class="mb-0">Software quality is very important, especially for commercial and system software like Microsoft
                            Windows.
                        </p>
                        <a href="#" class="card-link mt-5">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card border-0 p-4 mb-4 text-center">
                        <i class="ti-briefcase icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Business Services
                        </h4>
                        <p class="mb-0">The confusion surrounding the term financial plans might stem from the fact that there are many types
                            of financial.
                        </p>
                        <a href="#" class="card-link mt-5">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 text-center mb-4 mb-md-0">
                    <div class="card border-0 p-4 mb-4 text-center">
                        <i class="ti-pie-chart icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Economic Consulting
                        </h4>
                        <p class="mb-0">These factors give context, content, and set the conditions and parameters in which an economy functions.
                        </p>
                        <a href="#" class="card-link mt-5">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 text-center mb-4 mb-md-0">
                    <div class="card border-0 p-4 mb-4 text-center">
                        <i class="ti-wallet icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Investment Planning
                        </h4>
                        <p class="mb-0">Investors generally expect higher returns from riskier investments. Financial assets range from low-risk.
                        </p>
                        <a href="#" class="card-link mt-5">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 text-center mb-4 mb-md-0">
                    <div class="card border-0 p-4 mb-4 text-center">
                        <i class="ti-heart-broken icon-3x text-primary"></i>
                        <h4 class="my-4">
                            Healthcare Consulting
                        </h4>
                        <p class="mb-0">Primary care is often used as the term for the health care services that play a role in the local
                            community.
                        </p>
                        <a href="#" class="card-link mt-5">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="position-relative bg-primary py-7">
        <img alt="" src="assets/img/other/other-12-1920x700.jpg" class="bg-image bg-image-center op-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto text-white">
                    <h6 class="font-weight-light">The software industry represents the best</h6>
                    <h3>We provide the marketing resources to help you continue to grow your business</h3>
                    <ul class="list-unstyled list-lg mt-4 mb-0">
                        <li>
                            <i class="ti-check-box text-white icon-lg mr-3"></i>Financial services consulting firm into the market.
                        </li>
                        <li>
                            <i class="ti-check-box text-white icon-lg mr-3"></i>Business consulting and tech services branches.
                        </li>
                        <li>
                            <i class="ti-check-box text-white icon-lg mr-3"></i>Products and consulting services and creating brand.
                        </li>
                        <li>
                            <i class="ti-check-box text-white icon-lg mr-3"></i>Energy and environment and management consulting.
                        </li>
                        <li>
                            <i class="ti-check-box text-white icon-lg mr-3"></i>Logistics consulting and solution provider.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-5 my-auto">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="col-md-6 text-center mb-4">
                                <img src="assets/img/client/client-3-light-180x80.png" alt="">
                            </div>
                            <div class="col-md-6 text-center mb-4">
                                <img src="assets/img/client/client-2-light-180x80.png" alt="">
                            </div>
                            <div class="col-md-6 text-center mb-4">
                                <img src="assets/img/client/client-4-light-180x80.png" alt="">
                            </div>
                            <div class="col-md-6 text-center mb-4">
                                <img src="assets/img/client/client-6-light-180x80.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-7">
        <div class="container">
            <div class="owl-carousel owl-theme owl-loaded owl-nav-dark" data-owl-carousel-options='{"nav":true,"margin":30, "loop":true, "autoHeight":true,"responsive": {"0": {"items": 1,"nav":false,"dots": true}, "768": {"items": 1,"dots": false}, "992": {"items": 1,"dots": false}}}'>
                {% set testimonials = testimonials.slice(0,3) %}
                <!--  -->
                {% for testimonial in testimonials %}
                <div class="item">
                    {{ macroTestimonials.layout1(testimonial) }}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}