{% set page_title = "Contact Us" %}
<!--  -->
{% set page_link2 = "Pages" %}
<!--  -->
{% set page_active_link = "Contact" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% import '../templates/macros/input_data.html' as inputData %}
<!--  -->
{% include "partials/header.html" %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<div id="content">
    <div class="bg-white">
        <div class="container-fluid">
            <div class="row">
                <div class="google-map wide" style="width: 100%; height: 450px" data-lat="51.211215" data-lng="3.226287"></div>
            </div>
        </div>
        <div class="container py-8">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h5 class="mb-3">Contact Info</h5>
                    <p>Consultants provide their advice to their clients in a variety of forms. Reports and presentations are
                        often used. However, in some specialized fields, the consultant may develop customized software.</p>
                    <ul class="list-unstyled list-lg mt-4 mt-lg-0 mb-0">
                        <li>
                            <i class="ti-email icon-lg text-primary mr-3"></i>info@company.com
                        </li>
                        <li>
                            <i class="ti-support icon-lg text-primary mr-3"></i>support@company.com
                        </li>
                        <li>
                            <i class="ti-mobile icon-lg text-primary mr-3"></i>+1 123 312 32 23
                        </li>
                        <li>
                            <i class="ti-location-pin icon-lg text-primary mr-3"></i>93731 street lorem ipsum dolor City, Country
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-6 mt-5 mt-lg-0">
                    <form class="form-container" name="form_name" action="#" method="post">
                        <div class="form-group">
                            <input type="text" name="first" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="first" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" name="first" class="form-control" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            {{ inputData.ddlDepartments() }}
                        </div>
                        <div class="form-group">
                            <textarea name="textarea" id="textarea" class="form-control" rows="6" cols="30" placeholder="Enter your comment here..."></textarea>
                        </div>
                        <input type="submit" value="Send message" name="submit" class="btn btn-primary text-uppercase">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}