{% set page_title = "Portfolio Metro Style" %}
<!--  -->
{% set page_link2 = "Portfolio" %}
<!--  -->
{% set page_active_link = "Portfolio Metro Style" %}
<!--  -->
{% extends "../templates/master.html" %} {% block content %}
<!--  -->
{% include "../templates/partials/page_title.html"%}
<!--  -->
{% include "partials/header.html" %}
<!--  -->
{% import '../templates/macros/portfolios.html' as macroPortfolios %}

<div id="content">
    <div class="container py-6 py-lg-8">
        <div class="row justify-content-center mx-0">
            <div class="col-12 px-0 border-bottom">
                {% include "../templates/partials/portfolio_filters.html" %}
            </div>
        </div>
        {% set portfolios = portfolios.slice(0,7) %}
        <div class="row justify-content-center mt-5">
            <div class="col-12">
                <div class="portfolio-grid portfolio-grid-packery row">
                    <div class="grid-item col-lg-6 mb-4 planning">
                        <a class="d-block" href="portfolio-single-image.html">
                            <figure class="figure overlay overlay-hover mb-0">
                                <div class="overlay-gradient op-5"></div>
                                <img src="assets/img/portfolio/metro/portfolio-5-960x960.jpg" class="figure-img img-fluid mb-0" alt="">
                                <figcaption class="overlay-body overlay-bottom p-4">
                                    <h3 class="h5">{{ portfolios[0].title }}</h3>
                                    <span class="font-weight-light">{{ portfolios[0].desc }}</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="grid-item col-lg-3 mb-4 planning">
                        <a class="d-block" href="portfolio-single-image.html">
                            <figure class="figure overlay overlay-hover mb-0">
                                <div class="overlay-gradient op-5"></div>
                                <img src="assets/img/portfolio/metro/portfolio-8-960x960.jpg" class="figure-img img-fluid mb-0" alt="">
                                <figcaption class="overlay-body overlay-bottom p-4">
                                    <h3 class="h5">{{ portfolios[1].title }}</h3>
                                    <span class="font-weight-light">{{ portfolios[1].desc }}</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="grid-item col-lg-3 mb-4 investing">
                        <a class="d-block" href="portfolio-single-image.html">
                            <figure class="figure overlay overlay-hover mb-0">
                                <div class="overlay-gradient op-5"></div>
                                <img src="assets/img/portfolio/metro/portfolio-3-960x960.jpg" class="figure-img img-fluid mb-0" alt="">
                                <figcaption class="overlay-body overlay-bottom p-4">
                                    <h3 class="h5">{{ portfolios[3].title }}</h3>
                                    <span class="font-weight-light">{{ portfolios[3].desc }}</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="grid-item col-lg-6 mb-4 traning">
                        <a class="d-block" href="portfolio-single-image.html">
                            <figure class="figure overlay overlay-hover mb-0">
                                <div class="overlay-gradient op-5"></div>
                                <img src="assets/img/portfolio/metro/portfolio-1-960x960.jpg" class="figure-img img-fluid mb-0" alt="">
                                <figcaption class="overlay-body overlay-bottom p-4">
                                    <h3 class="h5">{{ portfolios[4].title }}</h3>
                                    <span class="font-weight-light">{{ portfolios[4].desc }}</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="grid-item col-lg-3 mb-4 investing marketing">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image.html">
                                <figure class="figure overlay overlay-hover mb-0">
                                    <div class="overlay-gradient op-5"></div>
                                    <img src="assets/img/portfolio/metro/portfolio-9-960x960.jpg" class="figure-img img-fluid mb-0" alt="">
                                    <figcaption class="overlay-body overlay-bottom p-4">
                                        <h3 class="h5">{{ portfolios[5].title }}</h3>
                                        <span class="font-weight-light">{{ portfolios[5].desc }}</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </figure>
                    </div>
                    <div class="grid-item col-lg-3 mb-4 traning marketing">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image.html">
                                <figure class="figure overlay overlay-hover mb-0">
                                    <div class="overlay-gradient op-5"></div>
                                    <img src="assets/img/portfolio/metro/portfolio-7-960x960.jpg" class="figure-img img-fluid mb-0" alt="">
                                    <figcaption class="overlay-body overlay-bottom p-4">
                                        <h3 class="h5">{{ portfolios[6].title }}</h3>
                                        <span class="font-weight-light">{{ portfolios[6].desc }}</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}