{% set page_title = "Grid Three Columns" %}
{% set page_link_one = "Portfolio" %}
{% set page_link_two = "Grid Three Columns" %}
{% extends "../templates/master.html" %}
{% block content %}
{% include "../templates/partials/header.html" %}
{% include "../templates/partials/page_title.html" %}
<main>
    <section class="pt-8 pb-7">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                        <figure class="figure overlay overlay-hover mb-4">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-1-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h4 class="h5">Partners branding agency</h4>
                                <span class="font-weight-light">Marketing and Planning</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>   
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                        <figure class="figure overlay overlay-hover mb-4">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-2-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h4 class="h5">Our market analysis</h4>
                                <span class="font-weight-light">Planning and Training</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>  
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                        <figure class="figure overlay overlay-hover mb-4">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-3-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h4 class="h5">Market research studies</h4>
                                <span class="font-weight-light">Investing and Marketing</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>   
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                        <figure class="figure overlay overlay-hover mb-4">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-4-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h4 class="h5">Software analysis and quality </h4>
                                <span class="font-weight-light">Planning and Training</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>  
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                        <figure class="figure overlay overlay-hover mb-4">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-5-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h4 class="h5">Social media marketing</h4>
                                <span class="font-weight-light">Investing and Marketing</span>
                            </figcaption>
                        </figure>
                    </a>
                </div> 
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                        <figure class="figure overlay overlay-hover mb-4">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-6-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h4 class="h5">Business seminar on branding</h4>
                                <span class="font-weight-light">Planning and Training</span>
                            </figcaption>
                        </figure>
                    </a>
                </div> 
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                        <figure class="figure overlay overlay-hover mb-4">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-7-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h4 class="h5">Staff training and development</h4>
                                <span class="font-weight-light">Investing and Planning</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                        <figure class="figure overlay overlay-hover mb-4">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-8-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h4 class="h5">Financial training workshop</h4>
                                <span class="font-weight-light">Marketing and Training</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                        <figure class="figure overlay overlay-hover mb-4">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-9-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h4 class="h5">Professional call center</h4>
                                <span class="font-weight-light">Investing and Planning</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}