{% set page_title = "Portfolio Masonry Style" %}
<!--  -->
{% set page_link2 = "Portfolio" %}
<!--  -->
{% set page_active_link = "Portfolio Masonry Style" %}
<!--  -->
{% extends "../templates/master.html" %} {% block content %}
<!--  -->
{% include "../templates/partials/page_title.html"%}

<div id="content">
    <div class="container py-7">
        <div class="row">
            <div class="col-md-12">
                {% include "../templates/partials/portfolio_filters.html" %}
            </div>
        </div>
        <div class="portfolio-grid portfolio-grid-masonry row mt-4">
            <div class="grid-item col-md-4 mb-4 marketing">
                <figure class="figure mb-0">
                    <a class="d-block" href="portfolio-single-image.html">
                        <img src="assets/img/portfolio/masonry/portfolio-1-800x800.jpg" class="figure-img img-fluid mb-0" alt="">
                    </a>
                    <figcaption class="bg-primary px-4 py-3 text-white">
                        <h3 class="h5">
                            <a href="portfolio-post.html" class="text-white">Agricultural Market Analysis</a>
                        </h3>
                        <p class="mb-0">Market, Analysis</p>
                    </figcaption>
                </figure>
            </div>
            <div class="grid-item col-md-4 mb-4 marketing">
                <figure class="figure mb-0">
                    <a class="d-block" href="portfolio-single-image.html">
                        <img src="assets/img/portfolio/masonry/portfolio-3-800x1200.jpg" class="figure-img img-fluid mb-0" alt="">
                    </a>
                    <figcaption class="bg-primary px-4 py-3 text-white">
                        <h3 class="h5">
                            <a href="portfolio-post.html" class="text-white">Agricultural Market Analysis</a>
                        </h3>
                        <p class="mb-0">Market, Analysis</p>
                    </figcaption>
                </figure>

            </div>
            <div class="grid-item col-md-4 mb-4 marketing">

                <figure class="figure mb-0">
                    <a class="d-block" href="portfolio-single-image.html">
                        <img src="assets/img/portfolio/masonry/portfolio-2-800x800.jpg" class="figure-img img-fluid mb-0" alt="">
                    </a>
                    <figcaption class="bg-primary px-4 py-3 text-white">
                        <h3 class="h5">
                            <a href="portfolio-post.html" class="text-white">Agricultural Market Analysis</a>
                        </h3>
                        <p class="mb-0">Market, Analysis</p>
                    </figcaption>
                </figure>
            </div>
            <div class="grid-item col-md-4 mb-4 planning">

                <figure class="figure mb-0">
                    <a class="d-block" href="portfolio-single-image.html">
                        <img src="assets/img/portfolio/masonry/portfolio-5-800x1200.jpg" class="figure-img img-fluid mb-0" alt="">
                    </a>
                    <figcaption class="bg-primary px-4 py-3 text-white">
                        <h3 class="h5">
                            <a href="portfolio-post.html" class="text-white">Agricultural Market Analysis</a>
                        </h3>
                        <p class="mb-0">Market, Analysis</p>
                    </figcaption>
                </figure>
            </div>
            <div class="grid-item col-md-4 mb-4 traning">

                <figure class="figure mb-0">
                    <a class="d-block" href="portfolio-single-image.html">
                        <img src="assets/img/portfolio/masonry/portfolio-4-800x1200.jpg" class="figure-img img-fluid mb-0" alt="">
                    </a>
                    <figcaption class="bg-primary px-4 py-3 text-white">
                        <h3 class="h5">
                            <a href="portfolio-post.html" class="text-white">Agricultural Market Analysis</a>
                        </h3>
                        <p class="mb-0">Market, Analysis</p>
                    </figcaption>
                </figure>
            </div>
            <div class="grid-item col-md-4 mb-4 traning">

                <figure class="figure mb-0">
                    <a class="d-block" href="portfolio-single-image.html">
                        <img src="assets/img/portfolio/masonry/portfolio-6-800x800.jpg" class="figure-img img-fluid mb-0" alt="">
                    </a>
                    <figcaption class="bg-primary px-4 py-3 text-white">
                        <h3 class="h5">
                            <a href="portfolio-post.html" class="text-white">Agricultural Market Analysis</a>
                        </h3>
                        <p class="mb-0">Market, Analysis</p>
                    </figcaption>
                </figure>
            </div>
            <div class="grid-item col-md-4 mb-4 investing">

                <figure class="figure mb-0">
                    <a class="d-block" href="portfolio-single-image.html">
                        <img src="assets/img/portfolio/masonry/portfolio-8-800x800.jpg" class="figure-img img-fluid mb-0" alt="">
                    </a>
                    <figcaption class="bg-primary px-4 py-3 text-white">
                        <h3 class="h5">
                            <a href="portfolio-post.html" class="text-white">Agricultural Market Analysis</a>
                        </h3>
                        <p class="mb-0">Market, Analysis</p>
                    </figcaption>
                </figure>
            </div>
            <div class="grid-item col-md-4 mb-4 investing">

                <figure class="figure mb-0">
                    <a class="d-block" href="portfolio-single-image.html">
                        <img src="assets/img/portfolio/masonry/portfolio-7-800x800.jpg" class="figure-img img-fluid mb-0" alt="">
                    </a>
                    <figcaption class="bg-primary px-4 py-3 text-white">
                        <h3 class="h5">
                            <a href="portfolio-post.html" class="text-white">Agricultural Market Analysis</a>
                        </h3>
                        <p class="mb-0">Market, Analysis</p>
                    </figcaption>
                </figure>
            </div>
            <div class="grid-item col-md-4 mb-4 investing">

                <figure class="figure mb-0">
                    <a class="d-block" href="portfolio-single-image.html">
                        <img src="assets/img/portfolio/masonry/portfolio-9-800x800.jpg" class="figure-img img-fluid mb-0" alt="">
                    </a>
                    <figcaption class="bg-primary px-4 py-3 text-white">
                        <h3 class="h5">
                            <a href="portfolio-post.html" class="text-white">Agricultural Market Analysis</a>
                        </h3>
                        <p class="mb-0">Market, Analysis</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}