{% set page_title = "Portfolio Single" %}
<!--  -->
{% set page_link2 = "Portfolio" %}
<!--  -->
{% set page_active_link = "Portfolio Single" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/page_title.html"%}
<!--  -->
{% include "partials/header.html" %}
<div id="content">
    <div class="container py-8">
        <div class="row">
            <div class="col-md-12">
                <div class="row light-gallery">
                    <div class="col-md-4 mb-4">
                        <figure class="figure overlay overlay-hover mb-0">
                            <a class="d-block lgitem" href="assets/img/portfolio/portfolio-1-1600x1033.jpg" data-sub-html="#caption1">
                                <div id="caption1" class="d-none">
                                    <h3>Business training must be about values</h3>
                                    <p>We focus on business planning, capital raising and methodical and sustained growth.</p>
                                </div>
                                <img src="assets/img/portfolio/portfolio-1-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                        </figure>
                    </div>
                    <div class="col-md-4 mb-4">
                        <figure class="figure overlay overlay-hover mb-0">
                            <a class="d-block lgitem" href="assets/img/portfolio/portfolio-2-1600x1033.jpg" data-sub-html="#caption1">
                                <div id="caption1" class="d-none">
                                    <h3>Montes aliqua nunc imperdiet nam.</h3>
                                    <p>Esse mattis habitant senectus labore lorem. Facilisi duis quam do ligula. Reprehenderit
                                        vestibulum exercitation.</p>
                                </div>
                                <img src="assets/img/portfolio/portfolio-2-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                        </figure>
                    </div>
                    <div class="col-md-4 mb-4">
                        <figure class="figure overlay overlay-hover mb-0">
                            <a class="d-block lgitem" href="assets/img/portfolio/portfolio-3-1600x1033.jpg" data-sub-html="#caption1">
                                <div id="caption1" class="d-none">
                                    <h3>Montes aliqua nunc imperdiet nam.</h3>
                                    <p>Esse mattis habitant senectus labore lorem. Facilisi duis quam do ligula. Reprehenderit
                                        vestibulum exercitation.</p>
                                </div>
                                <img src="assets/img/portfolio/portfolio-3-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                        </figure>
                    </div>
                    <div class="col-md-4 mb-4">
                        <figure class="figure overlay overlay-hover mb-0">
                            <a class="d-block lgitem" href="assets/img/portfolio/portfolio-4-1600x1033.jpg" data-sub-html="#caption1">
                                <div id="caption1" class="d-none">
                                    <h3>Montes aliqua nunc imperdiet nam.</h3>
                                    <p>Esse mattis habitant senectus labore lorem. Facilisi duis quam do ligula. Reprehenderit
                                        vestibulum exercitation.</p>
                                </div>
                                <img src="assets/img/portfolio/portfolio-4-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                        </figure>
                    </div>
                    <div class="col-md-4 mb-4">
                        <figure class="figure overlay overlay-hover mb-0">
                            <a class="d-block lgitem" href="assets/img/portfolio/portfolio-5-1600x1033.jpg" data-sub-html="#caption1">
                                <div id="caption1" class="d-none">
                                    <h3>Montes aliqua nunc imperdiet nam.</h3>
                                    <p>Esse mattis habitant senectus labore lorem. Facilisi duis quam do ligula. Reprehenderit
                                        vestibulum exercitation.</p>
                                </div>
                                <img src="assets/img/portfolio/portfolio-5-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                        </figure>
                    </div>
                    <div class="col-md-4 mb-4">
                        <figure class="figure overlay overlay-hover mb-0">
                            <a class="d-block lgitem" href="assets/img/portfolio/portfolio-6-1600x1033.jpg" data-sub-html="#caption1">
                                <div id="caption1" class="d-none">
                                    <h3>Montes aliqua nunc imperdiet nam.</h3>
                                    <p>Esse mattis habitant senectus labore lorem. Facilisi duis quam do ligula. Reprehenderit
                                        vestibulum exercitation.</p>
                                </div>
                                <img src="assets/img/portfolio/portfolio-6-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-8 col-sm-12">
                <div class="d-block pr-lg-5">
                    <h3 class="mb-4">Project Case Study</h3>
                    <p>Many companies today have a customer focus (or market orientation). This implies that the company focuses
                        its activities and products on consumer demands. Generally there are three ways of doing this: the
                        customer-driven approach, the sense of identifying market changes and the product innovation approach.</p>
                    <ul class="list-unstyled list-icon list-lg mt-4 mb-0">
                        <li>
                            <i class="ti-check-box icon-lg text-primary mr-3"></i>Financial services consulting firm into the market.
                        </li>
                        <li>
                            <i class="ti-check-box icon-lg text-primary mr-3"></i>Business consulting and tech services branches.
                        </li>
                        <li>
                            <i class="ti-check-box icon-lg text-primary mr-3"></i>Products and consulting services and creating brand.
                        </li>
                        <li>
                            <i class="ti-check-box icon-lg text-primary mr-3"></i>Energy and environment and management consulting.
                        </li>
                        <li>
                            <i class="ti-check-box icon-lg text-primary mr-3"></i>Logistics consulting and solution provider.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mt-6 mt-lg-0">
                <h3 class="mb-4">Project Description</h3>
                <p>In project management a project consists of a temporary endeavor undertaken to create a unique product, service
                    or result.</p>
                <dl class="row mt-4 mb-0">
                    <dt class="col-sm-5">Project name</dt>
                    <dd class="col-sm-7">Rainbow Long Waffle</dd>

                    <dt class="col-sm-5">Author</dt>
                    <dd class="col-sm-7">Raul Newton</dd>

                    <dt class="col-sm-5">Created</dt>
                    <dd class="col-sm-7">01 January 2018</dd>

                    <dt class="col-sm-5 text-truncate">Updated</dt>
                    <dd class="col-sm-7">15 Febuary 2018</dd>

                    <dt class="col-sm-5 text-truncate">Download</dt>
                    <dd class="col-sm-7">1509</dd>
                </dl>
                <a href="#" class="btn btn-primary text-uppercase mt-3">Download</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}