{% set page_title = "Post With Slider" %} {% extends "../templates/layout.html" %} {% block content %} {% include "../templates/partials/page_title.html"
%}
<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <p class="lead mb-0">Luctus tempor anim
                <em>aptent</em> taciti. Venenatis
                <em>proident</em> luctus euismod ligula. Tristique nostrud fermentum fugiat curabitur eleifend. Laborum ligula
                ipsum scelerisque non. Torquent mus dolore sagittis commodo.</p>
            <div class="row mt-6 text-center">
                <div class="col-md-4 mb-4 mb-md-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
                    <i class="fa fa-bar-chart icon-md text-primary"></i>
                    <h4 class="mt-4">1. System Analysis</h4>
                    <p>Torquent excepteur diam donec pellentesque. Molestie nibh urna imperdiet varius. Eu facilisi iaculis
                        senectus curae.</p>
                </div>
                <div class="col-md-4 mb-4 mb-md-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <i class="fa fa-area-chart icon-md text-primary"></i>
                    <h4 class="mt-4">2. Data Analysis</h4>
                    <p>Torquent excepteur diam donec pellentesque. Molestie nibh urna imperdiet varius. Eu facilisi iaculis
                        senectus curae.</p>
                </div>
                <div class="col-md-4 mb-4 mb-md-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                    <i class="fa fa-line-chart icon-md text-primary"></i>
                    <h4 class="mt-4">3. Brochure Dsign</h4>
                    <p>Torquent excepteur diam donec pellentesque. Molestie nibh urna imperdiet varius. Eu facilisi iaculis
                        senectus curae.</p>
                </div>
            </div>
            <div class="post-gallery pt-6">
                <div class="basic-carousel owl-carousel owl-theme owl-loadedr owl-img-dots owl-dot-white wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="item">
                        <img src="assets/img/portfolio/portfolio_1-1200x650.jpg" alt="" />
                    </div>
                    <div class="item">
                        <img src="assets/img/portfolio/portfolio_2-1200x650.jpg" alt="" />
                    </div>
                    <div class="item">
                        <img src="assets/img/portfolio/portfolio_3-1200x650.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary">
        <div class="container py-7">
            <div class="w-90 mx-auto text-white">
                <h2 class="mb-3">Project Description</h2>
                <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
                    <div class="col-md-12">
                        <p>Proident aliquip pellentesque officia velit. Morbi nisl litora voluptate dictum pulvinar. Aliquam
                            massa per euismod fugiat. Fringilla cubilia quam montes pariatur congue. Netus pellentesque suspendisse
                            mollit posuere. Justo augue et lectus occaecat esse. Enim esse donec reprehenderit eget mattis.
                            Sollicitudin reprehenderit vestibulum luctus cum inceptos. Sagittis auctor inceptos euismod erat
                            aenean. Sit quis sunt aliquet sagittis massa. Purus semper scelerisque sit cursus.</p>
                        <p>Excepteur taciti hendrerit exercitation lacus tempus. Turpis culpa natoque pharetra aliquip. Sint
                            mattis rutrum accumsan minim mollis. Aenean sem lorem ex mattis nascetur. Pulvinar ullamco turpis
                            ornare facilisis. Aliqua exercitation justo cursus vivamus nec. Primis ea aliqua dis mus class.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}