{% set page_title = "Portfolio Masonry Style" %}
<!--  -->
{% set page_link2 = "Portfolio" %}
<!--  -->
{% set page_active_link = "Portfolio Masonry Style" %}
<!--  -->
{% extends "../templates/master.html" %} {% block content %}
<!--  -->
{% include "../templates/partials/page_title.html"%}
<!--  -->
{% include "partials/header.html" %}
<div id="content">
    <div class="container py-8">
        <div class="row">
            <div class="col-md-12">
                {% include "../templates/partials/portfolio_filters.html" %}
            </div>
        </div>
        <div class="portfolio-grid portfolio-grid-masonry row mt-4">
            <div class="grid-item col-md-4 mb-4 traning">
                <a class="d-block" href="portfolio-single-image.html">
                    <figure class="figure mb-0">
                        <img src="assets/img/portfolio/masonry/portfolio-4-800x1200.jpg" class="figure-img img-fluid mb-0" alt="">
                    </figure>
                </a>
            </div>
            <div class="grid-item col-md-4 mb-4 investing">
                <a class="d-block" href="portfolio-single-image.html">
                    <figure class="figure mb-0">
                        <img src="assets/img/portfolio/masonry/portfolio-8-800x800.jpg" class="figure-img img-fluid mb-0" alt="">
                    </figure>
                </a>
            </div>
            <div class="grid-item col-md-4 mb-4 marketing">
                <a class="d-block" href="portfolio-single-image.html">
                    <figure class="figure mb-0">
                        <img src="assets/img/portfolio/masonry/portfolio-3-800x1200.jpg" class="figure-img img-fluid mb-0" alt="">
                    </figure>
                </a>
            </div>
            <div class="grid-item col-md-4 mb-4 planning">
                <a class="d-block" href="portfolio-single-image.html">
                    <figure class="figure mb-0">
                        <img src="assets/img/portfolio/masonry/portfolio-5-800x1200.jpg" class="figure-img img-fluid mb-0" alt="">
                    </figure>
                </a>
            </div>
            <div class="grid-item col-md-4 mb-4 investing">
                <a class="d-block" href="portfolio-single-image.html">
                    <figure class="figure mb-0">
                        <img src="assets/img/portfolio/masonry/portfolio-9-800x800.jpg" class="figure-img img-fluid mb-0" alt="">
                    </figure>
                </a>
            </div>
            <div class="grid-item col-md-4 mb-4 marketing">
                <a class="d-block" href="portfolio-single-image.html">
                    <figure class="figure mb-0">
                        <img src="assets/img/portfolio/masonry/portfolio-2-800x800.jpg" class="figure-img img-fluid mb-0" alt="">
                    </figure>
                </a>
            </div>
            <div class="grid-item col-md-4 mb-4 investing">
                <a class="d-block" href="portfolio-single-image.html">
                    <figure class="figure mb-0">
                        <img src="assets/img/portfolio/masonry/portfolio-7-800x800.jpg" class="figure-img img-fluid mb-0" alt="">
                    </figure>
                </a>
            </div>
            <div class="grid-item col-md-4 mb-4 traning">
                <a class="d-block" href="portfolio-single-image.html">
                    <figure class="figure mb-0">
                        <img src="assets/img/portfolio/masonry/portfolio-6-800x800.jpg" class="figure-img img-fluid mb-0" alt="">
                    </figure>
                </a>
            </div>
            <div class="grid-item col-md-4 mb-4 marketing">
                <a class="d-block" href="portfolio-single-image.html">
                    <figure class="figure mb-0">
                        <img src="assets/img/portfolio/masonry/portfolio-1-800x800.jpg" class="figure-img img-fluid mb-0" alt="">
                    </figure>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}