{% set page_title = "Portfolio Single" %}
{% extends "../templates/master.html" %}
{% block content %}
{% include "../templates/partials/header.html" %}
<main>
    <section class="bg-primary py-5 py-md-6">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="caption-6 caption-lg-5 text-white mb-0">Portfolio Single</h1>
                    <nav aria-label="breadcrumb" role="navigation" class="d-inline-block mt-3 mt-md-4">
                        <ol class="breadcrumb bg-transparent p-0 m-0">
                            <li class="breadcrumb-item d-flex align-items-center">
                                <a href="/" class="d-flex align-items-center text-small text-white">
                                    <i class="material-icons align-middle mr-1 icon-18">
                                        home
                                    </i>
                                    Home</a>
                                <i class="material-icons text-white align-middle px-1 icon-18">
                                    chevron_right
                                </i>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center pl-0 active">
                                <span class="text-small text-white-50">Portfolio Single</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-8 pb-5">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-4">
                    <div class="card border-0 text-center mb-5">
                        <h4 class="mb-3"><span class="text-primary">1.</span> System Analysis</h4>
                        <p class="card-text">System analysis is used in every field where there is a work of developing
                            something.</p>
                    </div>
                </div>
                <div class="col-md-8 col-lg-4">
                    <div class="card border-0 text-center mb-5">
                        <h4 class="mb-3"><span class="text-primary">2.</span> Software Analysis</h4>
                        <p class="card-text">Outstanding skill in using a variety of analytical software to facilitate
                            analysis.</p>
                    </div>
                </div>
                <div class="col-md-8 col-lg-4">
                    <div class="card border-0 text-center mb-5">
                        <h4 class="mb-3"><span class="text-primary">3.</span> Data Analysis</h4>
                        <p class="card-text">Design analytical reports and prepare financial trend and data analysis
                            reports.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel owl-theme owl-loaded" data-owl-carousel-options='{"margin": 30, "nav":true, "dots":false, "loop":true, "responsive":{"0":{"items":1}, "600":{"items":2}, "940":{"items":2}}}'>
                        <div class="item">
                            <img src="assets/images/portfolio/portfolio-4-1200x857.jpg" alt="Image Description" />
                        </div>
                        <div class="item">
                            <img src="assets/images/portfolio/portfolio-2-1200x857.jpg" alt="Image Description" />
                        </div>
                        <div class="item">
                            <img src="assets/images/portfolio/portfolio-6-1200x857.jpg" alt="Image Description" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="mb-3">Project Description</h3>
                    <p>In computer science and information science, system is a software system which has
                        components as
                        its structure and observable inter-process communications as its behavior. Again, an
                        example
                        will illustrate: There are systems of counting, as with Roman numerals, and various systems
                        for
                        filing papers, or catalogues, and various library systems, of which the Dewey Decimal
                        Classification
                        is an example. This still fits with the definition of components which are connected
                        together
                        (in this case to facilitate the flow of information).</p>
                    <blockquote class="blockquote my-4">
                        <p class="mb-0">Captives are becoming an increasingly important component of the risk
                            management and risk financing
                            strategy of their parent. This can be understood against the following background.
                        </p>
                    </blockquote>
                    <p>Social and cognitive sciences recognize systems in human person models and in human
                        societies. They
                        include human brain functions and mental processes as well as normative ethics systems and
                        social/cultural
                        behavioral patterns.</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}