{% set page_title = "Project Grid" %}
<!--  -->
{% set page_link2 = "Grid List" %}
<!--  -->
{% set page_active_link = "Project Grid" %}
<!--  -->
{% extends "../templates/master.html" %} {% block content %}
<!--  -->
{% include "../templates/partials/page_title.html"%}
<!--  -->
{% import '../templates/macros/portfolios.html' as macroPortfolios %}

<div id="content">
    <div class="container py-7">
        <div class="row">
            <div class="col-md-6">
                <figure class="figure mb-0">
                    <a href="portfolio-post.html">
                        <img src="assets/img/portfolio/grid/portfolio-9-800x650.jpg" class="img-fluid mb-0" alt="">
                    </a>
                </figure>
            </div>
            <div class="col-md-6 my-auto">
                <div class="card border-0 mb-4 mb-md-0">
                    <div class="card-body py-4 px-0">
                        <h3 class="card-title h5">
                            <a href="blog-single-right-sidebar.html">The Important Standard Post Format</a>
                        </h3>
                        <p class="meta">
                            January 1, 2018
                            <span class="font-italic">by</span>
                            <a href="#">Mark</a>
                            <span class="font-italic">in</span>
                            <a href="#">Business</a>
                        </p>
                        <p>Laoreet leo libero nostra volutpat dapibus. Vel per fusce vestibulum lacinia. Nullam est augue elit
                            accumsan. Commodo nec convallis.</p>
                        <a href="#" class="btn btn-primary mt-3">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 my-auto order-2 order-md-1">
                <div class="card border-0 mb-4 mb-md-0">
                    <div class="card-body py-4 px-0">
                        <h3 class="card-title h5">
                            <a href="blog-single-right-sidebar.html">The Important Standard Post Format</a>
                        </h3>
                        <p class="meta">
                            January 1, 2018
                            <span class="font-italic">by</span>
                            <a href="#">Mark</a>
                            <span class="font-italic">in</span>
                            <a href="#">Business</a>
                        </p>
                        <p>Laoreet leo libero nostra volutpat dapibus. Vel per fusce vestibulum lacinia. Nullam est augue elit
                            accumsan. Commodo nec convallis.</p>
                        <a href="#" class="btn btn-primary mt-3">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <figure class="figure mb-0">
                    <a href="portfolio-post.html">
                        <img src="assets/img/portfolio/grid/portfolio-5-800x650.jpg" class="img-fluid mb-0" alt="">
                    </a>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <figure class="figure mb-0">
                    <a href="portfolio-post.html">
                        <img src="assets/img/portfolio/grid/portfolio-3-800x650.jpg" class="img-fluid mb-0" alt="">
                    </a>
                </figure>
            </div>
            <div class="col-md-6 my-auto">
                <div class="card border-0 mb-4 mb-md-0">
                    <div class="card-body py-4 px-0">
                        <h3 class="card-title h5">
                            <a href="blog-single-right-sidebar.html">The Important Standard Post Format</a>
                        </h3>
                        <p class="meta">
                            January 1, 2018
                            <span class="font-italic">by</span>
                            <a href="#">Mark</a>
                            <span class="font-italic">in</span>
                            <a href="#">Business</a>
                        </p>
                        <p>Laoreet leo libero nostra volutpat dapibus. Vel per fusce vestibulum lacinia. Nullam est augue elit
                            accumsan. Commodo nec convallis.</p>
                        <a href="#" class="btn btn-primary mt-3">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 my-auto order-2 order-md-1">
                <div class="card border-0 mb-4 mb-md-0">
                    <div class="card-body py-4 px-0">
                        <h3 class="card-title h5">
                            <a href="blog-single-right-sidebar.html">The Important Standard Post Format</a>
                        </h3>
                        <p class="meta">
                            January 1, 2018
                            <span class="font-italic">by</span>
                            <a href="#">Mark</a>
                            <span class="font-italic">in</span>
                            <a href="#">Business</a>
                        </p>
                        <p>Laoreet leo libero nostra volutpat dapibus. Vel per fusce vestibulum lacinia. Nullam est augue elit
                            accumsan. Commodo nec convallis.</p>
                        <a href="#" class="btn btn-primary mt-3">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <figure class="figure mb-0">
                    <a href="portfolio-post.html">
                        <img src="assets/img/portfolio/grid/portfolio-8-800x650.jpg" class="img-fluid mb-0" alt="">
                    </a>
                </figure>
            </div>
        </div>
        {% include "../templates/partials/pagination.html" %}
    </div>
</div>
{% endblock %}