{% set page_title = "Portfolio Grid" %}
<!--  -->
{% set page_link2 = "Portfolio" %}
<!--  -->
{% set page_active_link = "3 Columns" %}
<!--  -->
{% extends "../templates/master.html" %} {% block content %}
<!--  -->
{% include "../templates/partials/page_title.html"%}
<!--  -->
{% import '../templates/macros/portfolios.html' as macroPortfolios %}

<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="isotope">
                {% include "../templates/partials/isotope_filters.html" %}
                <div class="isotope-grid pt-3">
                    <div class="grid-item coporate">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image-gallery.html">
                                <img src="assets/img/portfolio/portfolio-0-primary.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                        </figure>
                    </div>
                    <div class="grid-item coporate">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image-gallery.html">
                                <img src="assets/img/portfolio/portfolio-2-primary.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                        </figure>
                    </div>
                    <div class="grid-item grid-item-x2 coporate package">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image-gallery.html">
                                <img src="assets/img/portfolio/portfolio-4-hwide-gap.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                        </figure>
                    </div>

                    <div class="grid-item package">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image-gallery.html">
                                <img src="assets/img/portfolio/portfolio-8-primary.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                        </figure>
                    </div>
                    <div class="grid-item grid-item-x2 package">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image-gallery.html">
                                <img src="assets/img/portfolio/portfolio-9-primary.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                        </figure>
                    </div>
                    <div class="grid-item video">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image-gallery.html">
                                <img src="assets/img/portfolio/portfolio-6-vwide-gap.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                        </figure>
                    </div>

                    <div class="grid-item food">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image-gallery.html">
                                <img src="assets/img/portfolio/portfolio-1-primary.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}