{% set page_title = "Projects Grid Style" %}
<!--  -->
{% set page_link2 = "Projects" %}
<!--  -->
{% set page_active_link = "Projects - Grid Style" %}
<!--  -->
{% extends "../templates/master.html" %} {% block content %}
<!--  -->
{% include "../templates/partials/page_title.html"%}
<!--  -->
{% import '../templates/macros/portfolios.html' as macroPortfolios %}

<div id="content">
    <div class="container py-7">
        <div class="row">
            <div class="col-md-12">
                {% include "../templates/partials/portfolio_filters.html" %}
            </div>
        </div>
        <div class="portfolio-grid row mt-4">
            <div class="grid-item col-12 col-md-4 mb-4 illustration">
                <figure class="figure mb-0">
                    <a class="overlay overlay-hover" href="portfolio-single-image.html">
                        <img src="assets/img/portfolio/portfolio-1-440x300.jpg" class="figure-img overlay-figure mb-0" alt="">
                    </a>
                    <figcaption class="figure-caption mt-3">
                        <h3 class="h5">
                            <a href="portfolio-post.html">Open Imagination</a>
                        </h3>
                        <p class="meta">
                            Mark, Business
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="grid-item col-12 col-md-4 mb-4 illustration business">
                <figure class="figure mb-0">
                    <a class="overlay overlay-hover" href="portfolio-single-image.html">
                        <img src="assets/img/portfolio/portfolio-2-440x300.jpg" class="figure-img overlay-figure mb-0" alt="">
                    </a>
                    <figcaption class="figure-caption mt-3">
                        <h3 class="h5">
                            <a href="portfolio-post.html">Curabitur Blandit</a>
                        </h3>
                        <p class="meta">
                            Mark, Business
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="grid-item col-12 col-md-4 mb-4 business illustration">
                <figure class="figure mb-0">
                    <a class="overlay overlay-hover" href="portfolio-single-image.html">
                        <img src="assets/img/portfolio/portfolio-3-440x300.jpg" class="figure-img overlay-figure mb-0" alt="">
                    </a>
                    <figcaption class="figure-caption mt-3">
                        <h3 class="h5">
                            <a href="portfolio-post.html">Curabitur Blandit</a>
                        </h3>
                        <p class="meta">
                            Mark, Business
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="grid-item col-12 col-md-4 mb-4 works branding">
                <figure class="figure mb-0">
                    <a class="overlay overlay-hover" href="portfolio-single-image.html">
                        <img src="assets/img/portfolio/portfolio-4-440x300.jpg" class="figure-img overlay-figure mb-0" alt="">
                    </a>
                    <figcaption class="figure-caption mt-3">
                        <h3 class="h5">
                            <a href="portfolio-post.html">Curabitur Blandit</a>
                        </h3>
                        <p class="meta">
                            Mark, Business
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="grid-item col-12 col-md-4 mb-4 business works branding">
                <figure class="figure mb-0">
                    <a class="overlay overlay-hover" href="portfolio-single-image.html">
                        <img src="assets/img/portfolio/portfolio-5-440x300.jpg" class="figure-img overlay-figure mb-0" alt="">
                    </a>
                    <figcaption class="figure-caption mt-3">
                        <h3 class="h5">
                            <a href="portfolio-post.html">Curabitur Blandit</a>
                        </h3>
                        <p class="meta">
                            Mark, Business
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="grid-item col-md-4 branding">
                <figure class="figure mb-0">
                    <a class="overlay overlay-hover" href="portfolio-single-image.html">
                        <img src="assets/img/portfolio/portfolio-6-440x300.jpg" class="figure-img overlay-figure mb-0" alt="">
                    </a>
                    <figcaption class="figure-caption mt-3">
                        <h3 class="h5">
                            <a href="portfolio-post.html">Curabitur Blandit</a>
                        </h3>
                        <p class="meta">
                            Mark, Business
                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
{% endblock %}