{% set page_title = "Portfolio" %}
{% extends "../templates/master.html" %}
{% block content %}
{% include "../templates/partials/header.html" %}
<main>
    <section class="bg-primary py-5 py-md-6">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="caption-6 caption-lg-5 text-white mb-0">Portfolio</h1>
                    <nav aria-label="breadcrumb" class="d-inline-block mt-3 mt-md-4">
                        <ol class="breadcrumb bg-transparent p-0 m-0">
                            <li class="breadcrumb-item d-flex align-items-center">
                                <a href="/" class="d-flex align-items-center text-small text-white">
                                    <i class="material-icons align-middle mr-1 icon-18">
                                        home
                                    </i>
                                    Home</a>
                                <i class="material-icons text-white align-middle px-1 icon-18">
                                    chevron_right
                                </i>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center pl-0 active">
                                <span class="text-small text-white-50">Portfolio</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-8 pb-6">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <a class="d-block" href="portfolio-single.html">
                        <figure class="figure overlay overlay-hover mb-30px">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-1-1200x857.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h2 class="h5">Partners branding agency</h2>
                                <span class="font-weight-light">Marketing and Planning</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="d-block" href="portfolio-single.html">
                        <figure class="figure overlay overlay-hover mb-30px">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-2-1200x857.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h2 class="h5">Our market analysis</h2>
                                <span class="font-weight-light">Planning and Training</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="d-block" href="portfolio-single.html">
                        <figure class="figure overlay overlay-hover mb-30px">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-3-1200x857.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h2 class="h5">Market research studies</h2>
                                <span class="font-weight-light">Investing and Marketing</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="d-block" href="portfolio-single.html">
                        <figure class="figure overlay overlay-hover mb-30px">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-4-1200x857.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h2 class="h5">Software analysis and quality </h2>
                                <span class="font-weight-light">Planning and Training</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="d-block" href="portfolio-single.html">
                        <figure class="figure overlay overlay-hover mb-30px">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-5-1200x857.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h2 class="h5">Social media marketing specialists</h2>
                                <span class="font-weight-light">Investing and Marketing</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="d-block" href="portfolio-single.html">
                        <figure class="figure overlay overlay-hover mb-30px">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-6-1200x857.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h2 class="h5">Business seminar on branding</h2>
                                <span class="font-weight-light">Planning and Training</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="d-block" href="portfolio-single.html">
                        <figure class="figure overlay overlay-hover mb-30px">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-7-1200x857.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h2 class="h5">Staff training and development</h2>
                                <span class="font-weight-light">Investing and Planning</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="d-block" href="portfolio-single.html">
                        <figure class="figure overlay overlay-hover mb-30px">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-8-1200x857.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h2 class="h5">Financial training workshop</h2>
                                <span class="font-weight-light">Marketing and Training</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
{% include "partials/footer.html" %}
{% endblock %}