{% set page_title = "Portfolio Grid" %}
{% set page_link_one = "Portfolio" %}
{% set page_link_two = "Portfolio Grid" %}
{% extends "../templates/master.html" %}
{% block content %}
{% include "../templates/partials/header.html" %}
{% include "../templates/partials/page_title.html" %}
<main>
    <section class="pt-8 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <figure class="figure mb-4">
                        <a href="portfolio-single-photo-gallery-grid.html">
                            <img src="assets/images/portfolio/portfolio-1-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="Image Description">
                        </a>
                        <figcaption class="figure-caption py-4">
                            <h4 class="h5">
                                <a class="text-body" href="portfolio-single-photo-gallery-grid.html">Partners branding agency</a>
                            </h4>
                            <span class="text-muted">Marketing and Planning</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-10">
                    <figure class="figure mb-4">
                        <a href="portfolio-single-photo-gallery-grid.html">
                            <img src="assets/images/portfolio/portfolio-2-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="Image Description">
                        </a>
                        <figcaption class="figure-caption py-4">
                            <h4 class="h5">
                                <a class="text-body" href="portfolio-single-photo-gallery-grid.html">Our market analysis</a>
                            </h4>
                            <span class="text-muted">Planning and Training</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-10">
                    <figure class="figure mb-4">
                        <a href="portfolio-single-photo-gallery-grid.html">
                            <img src="assets/images/portfolio/portfolio-3-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="Image Description">
                        </a>
                        <figcaption class="figure-caption py-4">
                            <h4 class="h5">
                                <a class="text-body" href="portfolio-single-photo-gallery-grid.html">Market research studies</a>
                            </h4>
                            <span class="text-muted">Investing and Marketing</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-10">
                    <figure class="figure mb-4">
                        <a href="portfolio-single-photo-gallery-grid.html">
                            <img src="assets/images/portfolio/portfolio-4-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="Image Description">
                        </a>
                        <figcaption class="figure-caption py-4">
                            <h4 class="h5">
                                <a class="text-body" href="portfolio-single-photo-gallery-grid.html">Software analysis and quality </a>
                            </h4>
                            <span class="text-muted">Planning and Training</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-10">
                    <figure class="figure mb-4">
                        <a href="portfolio-single-photo-gallery-grid.html">
                            <img src="assets/images/portfolio/portfolio-5-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="Image Description">
                        </a>
                        <figcaption class="figure-caption py-4">
                            <h4 class="h5">
                                <a class="text-body" href="portfolio-single-photo-gallery-grid.html">Social media marketing specialists</a>
                            </h4>
                            <span class="text-muted">Investing and Marketing</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-10">
                    <figure class="figure mb-4">
                        <a href="portfolio-single-photo-gallery-grid.html">
                            <img src="assets/images/portfolio/portfolio-6-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="Image Description">
                        </a>
                        <figcaption class="figure-caption py-4">
                            <h4 class="h5">
                                <a class="text-body" href="portfolio-single-photo-gallery-grid.html">Business seminar on branding</a>
                            </h4>
                            <span class="text-muted">Planning and Training</span>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}