{% set page_title = "Portfolio Single" %}
<!--  -->
{% set page_link2 = "Portfolo" %}
<!--  -->
{% set page_active_link = "Single Image Gallery" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/page_title.html"%}
<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="row light-gallery">
                        <div class="col-md-6 mb-4">
                            <figure class="figure overlay overlay-hover mb-0">
                                <a class="d-block lgitem" href="assets/img/portfolio/portfolio-1-1200x650.jpg" data-sub-html="#caption1">
                                    <div id="caption1" class="d-none">
                                        <h3>Montes aliqua nunc imperdiet nam.</h3>
                                        <p>Esse mattis habitant senectus labore lorem. Facilisi duis quam do ligula. Reprehenderit
                                            vestibulum exercitation.</p>
                                    </div>
                                    <img src="assets/img/portfolio/portfolio-1-440x300.jpg" class="figure-img img-fluid mb-0" alt="">
                                    <figcaption class="overlay-body overlay-primary overlay-fade p-4">
                                        <i class="ion-android-expand overlay-align-middle text-center icon-2x"></i>
                                    </figcaption>
                                </a>
                            </figure>
                        </div>
                        <div class="col-md-6 mb-4">
                            <figure class="figure overlay overlay-hover mb-0">
                                <a class="d-block lgitem" href="assets/img/portfolio/portfolio-2-1200x650.jpg" data-sub-html="#caption1">
                                    <div id="caption1" class="d-none">
                                        <h3>Montes aliqua nunc imperdiet nam.</h3>
                                        <p>Esse mattis habitant senectus labore lorem. Facilisi duis quam do ligula. Reprehenderit
                                            vestibulum exercitation.</p>
                                    </div>
                                    <img src="assets/img/portfolio/portfolio-2-440x300.jpg" class="figure-img img-fluid mb-0" alt="">
                                    <figcaption class="overlay-body overlay-primary overlay-fade p-4">
                                        <i class="ion-android-expand overlay-align-middle text-center icon-2x"></i>
                                    </figcaption>
                                </a>
                            </figure>
                        </div>
                        <div class="col-md-6 mb-4">
                            <figure class="figure overlay overlay-hover mb-0">
                                <a class="d-block lgitem" href="assets/img/portfolio/portfolio-3-1200x650.jpg" data-sub-html="#caption1">
                                    <div id="caption1" class="d-none">
                                        <h3>Montes aliqua nunc imperdiet nam.</h3>
                                        <p>Esse mattis habitant senectus labore lorem. Facilisi duis quam do ligula. Reprehenderit
                                            vestibulum exercitation.</p>
                                    </div>
                                    <img src="assets/img/portfolio/portfolio-3-440x300.jpg" class="figure-img img-fluid mb-0" alt="">
                                    <figcaption class="overlay-body overlay-primary overlay-fade p-4">
                                        <i class="ion-android-expand overlay-align-middle text-center icon-2x"></i>
                                    </figcaption>
                                </a>
                            </figure>
                        </div>
                        <div class="col-md-6 mb-4">
                            <figure class="figure overlay overlay-hover mb-0">
                                <a class="d-block lgitem" href="assets/img/portfolio/portfolio-4-1200x650.jpg" data-sub-html="#caption1">
                                    <div id="caption1" class="d-none">
                                        <h3>Montes aliqua nunc imperdiet nam.</h3>
                                        <p>Esse mattis habitant senectus labore lorem. Facilisi duis quam do ligula. Reprehenderit
                                            vestibulum exercitation.</p>
                                    </div>
                                    <img src="assets/img/portfolio/portfolio-4-440x300.jpg" class="figure-img img-fluid mb-0" alt="">
                                    <figcaption class="overlay-body overlay-primary overlay-fade p-4">
                                        <i class="ion-android-expand overlay-align-middle text-center icon-2x"></i>
                                    </figcaption>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="section-title no-line mb-3">
                        <h2>Project Description</h2>
                        <p class="lead">Learn about our awesome products and quality service features</p>
                    </div>
                    <p>Sociis occaecat habitant urna mattis proident curabitur anim senectus eiusmod laborum nunc imperdiet
                        pellentesque laoreet occaecat.</p>
                    <dl class="row mb-0">
                        <dt class="col-sm-5">Project name</dt>
                        <dd class="col-sm-7">Rainbow Long Waffle</dd>

                        <dt class="col-sm-5">Author</dt>
                        <dd class="col-sm-7">Raul Newton</dd>

                        <dt class="col-sm-5">Created</dt>
                        <dd class="col-sm-7">01 January 2017</dd>

                        <dt class="col-sm-5 text-truncate">Updated</dt>
                        <dd class="col-sm-7">15 Febuary 2017</dd>

                        <dt class="col-sm-5 text-truncate">Download</dt>
                        <dd class="col-sm-7">1509</dd>
                    </dl>
                    <a href="#" class="btn btn-primary mt-3">Download</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}