{% set page_title = "Portfolio Grid" %}
<!--  -->
{% set page_link2 = "Portfolio" %}
<!--  -->
{% set page_active_link = "Portfolio Grid" %}
<!--  -->
{% extends "../templates/master.html" %} {% block content %}
<!--  -->
{% include "../templates/partials/page_title.html"%}
<!--  -->
{% import '../templates/macros/portfolios.html' as macroPortfolios %}

<div id="content">
    <div class="container py-7">
        <div class="isotope">
            {% include "../templates/partials/isotope_filters.html" %}
            <div class="isotope-grid mt-4" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "fitRows"}}'>
                <div class="grid-item col-12 col-md-4 mb-4 illustration">
                    <figure class="figure mb-0">
                        <a class="d-block" href="portfolio-single-image-gallery.html">
                            <img src="assets/img/portfolio/grid/p1-440x300.jpg" class="figure-img img-fluid mb-0" alt="">
                        </a>
                        <figcaption class="figure-caption text-body mt-3">
                            <h3 class="h4">
                                <a href="portfolio-post.html">Open Imagination</a>
                            </h3>
                            <p class="meta">
                                <a href="#">Mark</a>,
                                <a href="#">Business</a>
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="grid-item col-12 col-md-4 mb-4 illustration business">
                    <figure class="figure mb-0">
                        <a class="d-block" href="portfolio-single-image-gallery.html">
                            <img src="assets/img/portfolio/grid/p2-440x300.jpg" class="figure-img img-fluid mb-0" alt="">
                        </a>
                        <figcaption class="figure-caption text-body mt-3">
                            <h3 class="h4">
                                <a href="portfolio-post.html">Curabitur Blandit</a>
                            </h3>
                            <p class="meta">
                                <a href="#">Mark</a>,
                                <a href="#">Business</a>
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="grid-item col-12 col-md-4 mb-4 business illustration">
                    <figure class="figure mb-0">
                        <a class="d-block" href="portfolio-single-image-gallery.html">
                            <img src="assets/img/portfolio/grid/p3-440x300.jpg" class="figure-img img-fluid mb-0" alt="">
                        </a>
                        <figcaption class="figure-caption text-body mt-3">
                            <h3 class="h4">
                                <a href="portfolio-post.html">Curabitur Blandit</a>
                            </h3>
                            <p class="meta">
                                <a href="#">Mark</a>,
                                <a href="#">Business</a>
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="grid-item col-12 col-md-4 mb-4 works branding">
                    <figure class="figure mb-0">
                        <a class="d-block" href="portfolio-single-image-gallery.html">
                            <img src="assets/img/portfolio/grid/p4-440x300.jpg" class="figure-img img-fluid mb-0" alt="">
                        </a>
                        <figcaption class="figure-caption text-body mt-3">
                            <h3 class="h4">
                                <a href="portfolio-post.html">Curabitur Blandit</a>
                            </h3>
                            <p class="meta">
                                <a href="#">Mark</a>,
                                <a href="#">Business</a>
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="grid-item col-12 col-md-4 mb-4 business works branding">
                    <figure class="figure mb-0">
                        <a class="d-block" href="portfolio-single-image-gallery.html">
                            <img src="assets/img/portfolio/grid/p5-440x300.jpg" class="figure-img img-fluid mb-0" alt="">
                        </a>
                        <figcaption class="figure-caption text-body mt-3">
                            <h3 class="h4">
                                <a href="portfolio-post.html">Curabitur Blandit</a>
                            </h3>
                            <p class="meta">
                                <a href="#">Mark</a>,
                                <a href="#">Business</a>
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="grid-item col-md-4 branding">
                    <figure class="figure mb-0">
                        <a class="d-block" href="portfolio-single-image-gallery.html">
                            <img src="assets/img/portfolio/grid/p6-440x300.jpg" class="figure-img img-fluid mb-0" alt="">
                        </a>
                        <figcaption class="figure-caption text-body mt-3">
                            <h3 class="h4">
                                <a href="portfolio-post.html">Curabitur Blandit</a>
                            </h3>
                            <p class="meta">
                                <a href="#">Mark</a>,
                                <a href="#">Business</a>
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}