{% set page_title = "Project Grid Two Column" %}
<!--  -->
{% set page_link2 = "Projects" %}
<!--  -->
{% set page_active_link = "Grid Two Column" %}
<!--  -->
{% extends "../templates/master.html" %} {% block content %}
<!--  -->
{% include "../templates/partials/page_title.html"%}
<!--  -->
{% import '../templates/macros/portfolios.html' as macroPortfolios %}
<!--  -->
{% include "partials/header.html" %}
<div id="content">
    <div class="container py-6 py-lg-8">
        <div class="row justify-content-center mx-0">
            <div class="col-12 px-0 border-bottom">
                {% include "../templates/partials/portfolio_filters.html" %}
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-12">
                <div class="portfolio-grid portfolio-grid-packery row">
                    {% set portfolios = portfolios.slice(0,6) %}
                    <!--  -->
                    {% for portfolio in portfolios %}
                    <div class="grid-item col-md-6 mb-4 {{ portfolio.tag }}">
                        <figure class="figure">
                            <a href="portfolio-post.html">
                                <img src="{{ portfolio.img }}" class="figure-img img-fluid mb-0" alt="">
                            </a>
                            <figcaption class="figure-caption text-center pt-4">
                                <h4 class="h5">
                                    <a href="portfolio-post.html">{{ portfolio.title }}</a>
                                </h4>
                                <span class="font-weight-light">{{ portfolio.desc }}</span>
                            </figcaption>
                        </figure>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}