{% set page_title = "Project Grid Two Column" %}
<!--  -->
{% set page_link2 = "Projects" %}
<!--  -->
{% set page_active_link = "Grid Two Column" %}
<!--  -->
{% extends "../templates/master.html" %} {% block content %}
<!--  -->
{% include "../templates/partials/page_title.html"%}
<!--  -->
{% import '../templates/macros/portfolios.html' as macroPortfolios %}
<!--  -->
{% include "partials/header.html" %}
<div id="content">
    <div class="container py-6 pt-lg-8">
        <div class="row justify-content-center">
            {% set portfolios = portfolios.slice(0,8) %}
            <!--  -->
            {% for portfolio in portfolios %}
            <div class="col-md-6">
                <figure class="figure mb-4">
                    <a href="portfolio-single-photo-gallery-grid.html">
                        <img src="{{ portfolio.img }}" class="figure-img img-fluid mb-0" alt="">
                    </a>
                    <figcaption class="figure-caption py-3">
                        <h4 class="h5">
                            <a href="portfolio-single-photo-gallery-grid.html">{{ portfolio.title }}</a>
                        </h4>
                        <span class="text-muted">{{ portfolio.desc }}</span>
                    </figcaption>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}