{% set page_title = "Portfolio" %}
{% extends "../templates/master.html" %}
{% block content %}
{% include "../templates/partials/header.html" %}
<main>
    <section class="bg-primary py-5 py-md-6">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="caption-6 caption-lg-5 text-white mb-0">Portfolio</h1>
                    <nav aria-label="breadcrumb" role="navigation" class="d-inline-block mt-3 mt-md-4">
                        <ol class="breadcrumb bg-transparent p-0 m-0">
                            <li class="breadcrumb-item d-flex align-items-center">
                                <a href="/" class="d-flex align-items-center text-small text-white">
                                    <i class="material-icons align-middle mr-1 icon-18">
                                        home
                                    </i>
                                    Home</a>
                                <i class="material-icons text-white align-middle px-1 icon-18">
                                    chevron_right
                                </i>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center pl-0 active">
                                <span class="text-small text-white-50">Portfolio</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-8 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <figure class="figure mb-5">
                        <a href="portfolio-single-photo-gallery-grid.html">
                            <img src="assets/images/portfolio/portfolio-1-1200x857.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                        </a>
                        <figcaption class="figure-caption pt-4">
                            <h4 class="h5">
                                <a class="text-body" href="portfolio-single-photo-gallery-grid.html">Partners branding
                                    agency</a>
                            </h4>
                            <span class="text-muted">Marketing and Planning</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-10">
                    <figure class="figure mb-5">
                        <a href="portfolio-single-photo-gallery-grid.html">
                            <img src="assets/images/portfolio/portfolio-2-1200x857.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                        </a>
                        <figcaption class="figure-caption pt-4">
                            <h4 class="h5">
                                <a class="text-body" href="portfolio-single-photo-gallery-grid.html">Our market
                                    analysis</a>
                            </h4>
                            <span class="text-muted">Planning and Training</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-10">
                    <figure class="figure mb-5">
                        <a href="portfolio-single-photo-gallery-grid.html">
                            <img src="assets/images/portfolio/portfolio-3-1200x857.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                        </a>
                        <figcaption class="figure-caption pt-4">
                            <h4 class="h5">
                                <a class="text-body" href="portfolio-single-photo-gallery-grid.html">Market research
                                    studies</a>
                            </h4>
                            <span class="text-muted">Investing and Marketing</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-10">
                    <figure class="figure mb-5">
                        <a href="portfolio-single-photo-gallery-grid.html">
                            <img src="assets/images/portfolio/portfolio-4-1200x857.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                        </a>
                        <figcaption class="figure-caption pt-4">
                            <h4 class="h5">
                                <a class="text-body" href="portfolio-single-photo-gallery-grid.html">Software analysis
                                    and quality </a>
                            </h4>
                            <span class="text-muted">Planning and Training</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-10">
                    <figure class="figure mb-5">
                        <a href="portfolio-single-photo-gallery-grid.html">
                            <img src="assets/images/portfolio/portfolio-5-1200x857.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                        </a>
                        <figcaption class="figure-caption pt-4">
                            <h4 class="h5">
                                <a class="text-body" href="portfolio-single-photo-gallery-grid.html">Social media
                                    marketing specialists</a>
                            </h4>
                            <span class="text-muted">Investing and Marketing</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-10">
                    <figure class="figure mb-5">
                        <a href="portfolio-single-photo-gallery-grid.html">
                            <img src="assets/images/portfolio/portfolio-6-1200x857.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                        </a>
                        <figcaption class="figure-caption pt-4">
                            <h4 class="h5">
                                <a class="text-body" href="portfolio-single-photo-gallery-grid.html">Business seminar
                                    on branding</a>
                            </h4>
                            <span class="text-muted">Planning and Training</span>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}