{% set page_title = "Portfolio Metro Style" %}
<!--  -->
{% set page_link2 = "Portfolio" %}
<!--  -->
{% set page_active_link = "Portfolio Metro Style" %}
<!--  -->
{% extends "../templates/master.html" %} {% block content %}
<!--  -->
{% include "../templates/partials/page_title.html"%}
<!--  -->
{% import '../templates/macros/portfolios.html' as macroPortfolios %}

<div id="content">
    <div class="container py-7">
        <div class="isotope">
            <div class="row">
                <div class="col-md-12">
                    {% include "../templates/partials/isotope_filters.html" %}
                </div>
            </div>
            <div class="isotope-grid mt-4" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "packery"}'>
                <div class="grid-item col-md-6 mb-4 illustration">
                    <a class="d-block" href="portfolio-single-image.html">
                        <figure class="figure mb-0">
                            <img src="assets/img/portfolio/metro/project-5-960x960.jpg" class="figure-img img-fluid mb-0" alt="">
                        </figure>
                    </a>
                </div>
                <div class="grid-item col-md-3 mb-4 illustration">
                    <a class="d-block" href="portfolio-single-image.html">
                        <figure class="figure mb-0">
                            <img src="assets/img/portfolio/metro/project-8-960x960.jpg" class="figure-img img-fluid mb-0" alt="">
                        </figure>
                    </a>
                </div>
                <div class="grid-item col-md-3 mb-4 illustration business">
                    <a class="d-block" href="portfolio-single-image.html">
                        <figure class="figure mb-0">
                            <img src="assets/img/portfolio/metro/project-3-960x960.jpg" class="figure-img img-fluid mb-0" alt="">
                        </figure>
                    </a>
                </div>
                <div class="grid-item col-md-3 mb-4 illustration works">
                    <a class="d-block" href="portfolio-single-image.html">
                        <figure class="figure mb-0">
                            <img src="assets/img/portfolio/metro/project-1-960x960.jpg" class="figure-img img-fluid mb-0" alt="">
                        </figure>
                    </a>
                </div>
                <div class="grid-item col-md-3 mb-4 illustration branding">
                    <a class="d-block" href="portfolio-single-image.html">
                        <figure class="figure mb-0">
                            <img src="assets/img/portfolio/metro/project-9-960x960.jpg" class="figure-img img-fluid mb-0" alt="">
                        </figure>
                    </a>
                </div>
                <div class="grid-item col-md-3 mb-4 illustration branding">
                    <a class="d-block" href="portfolio-single-image.html">
                        <figure class="figure mb-0">
                            <img src="assets/img/portfolio/metro/project-7-960x960.jpg" class="figure-img img-fluid mb-0" alt="">
                        </figure>
                    </a>
                </div>
                <div class="grid-item col-md-3 mb-4 illustration branding">
                    <a class="d-block" href="portfolio-single-image.html">
                        <figure class="figure mb-0">
                            <img src="assets/img/portfolio/metro/project-10-960x960.jpg" class="figure-img img-fluid mb-0" alt="">
                        </figure>
                    </a>
                </div>
                <div class="grid-item col-md-6 mb-4 illustration branding">
                    <a class="d-block" href="portfolio-single-image.html">
                        <figure class="figure mb-0">
                            <img src="assets/img/portfolio/metro/project-2-960x960.jpg" class="figure-img img-fluid mb-0" alt="">
                        </figure>
                    </a>
                </div>
                <div class="grid-item col-md-3 mb-4 illustration branding">
                    <a class="d-block" href="portfolio-single-image.html">
                        <figure class="figure mb-0">
                            <img src="assets/img/portfolio/metro/project-6-960x960.jpg" class="figure-img img-fluid mb-0" alt="">
                        </figure>
                    </a>
                </div>
                <div class="grid-item col-md-3 mb-4 illustration branding">
                    <a class="d-block" href="portfolio-single-image.html">
                        <figure class="figure mb-0">
                            <img src="assets/img/portfolio/metro/project-4-960x960.jpg" class="figure-img img-fluid mb-0" alt="">
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}