{% set page_title = "Portfolio" %}
{% extends "../templates/layout.html" %}
{% block content %}
{% include "../templates/partials/header.html" %}
<main>
    <section class="bg-primary py-6">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white mb-0">Portfolio</h1>
                    <nav aria-label="breadcrumb" class="d-inline-block mt-4">
                        <ol class="breadcrumb bg-transparent p-0 m-0">
                            <li class="breadcrumb-item d-flex align-items-center">
                                <a href="/" class="d-flex align-items-center text-small text-white">
                                    <i class="material-icons align-middle mr-1 icon-18">
                                        home
                                    </i>
                                    Home</a>
                                <i class="material-icons text-white align-middle px-1 icon-18">
                                    chevron_right
                                </i>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center pl-0 active">
                                <span class="text-small text-white-50">Portfolio</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-8 pb-6">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single.html">
                        <figure class="figure overlay overlay-hover mb-30px">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-1.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h5 class="mb-md-0 mb-lg-2">Partners branding agency</h5>
                                <span class="font-weight-light d-md-none d-lg-block">Marketing and Planning</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single.html">
                        <figure class="figure overlay overlay-hover mb-30px">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-2.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h5 class="mb-md-0 mb-lg-2">Our market analysis</h5>
                                <span class="font-weight-light d-md-none d-lg-block">Planning and Training</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single.html">
                        <figure class="figure overlay overlay-hover mb-30px">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-3.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h5 class="mb-md-0 mb-lg-2">Market research studies</h5>
                                <span class="font-weight-light d-md-none d-lg-block">Investing and Marketing</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single.html">
                        <figure class="figure overlay overlay-hover mb-30px">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-4.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h5 class="mb-md-0 mb-lg-2">Software analysis and quality </h5>
                                <span class="font-weight-light d-md-none d-lg-block">Planning and Training</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single.html">
                        <figure class="figure overlay overlay-hover mb-30px">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-5.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h5 class="mb-md-0 mb-lg-2">Social media marketing</h5>
                                <span class="font-weight-light d-md-none d-lg-block">Investing and Marketing</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single.html">
                        <figure class="figure overlay overlay-hover mb-30px">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-6.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h5 class="mb-md-0 mb-lg-2">Business seminar on branding</h5>
                                <span class="font-weight-light d-md-none d-lg-block">Planning and Training</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single.html">
                        <figure class="figure overlay overlay-hover mb-30px">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-7.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h5 class="mb-md-0 mb-lg-2">Staff training and development</h5>
                                <span class="font-weight-light d-md-none d-lg-block">Investing and Planning</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single.html">
                        <figure class="figure overlay overlay-hover mb-30px">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-8.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h5 class="mb-md-0 mb-lg-2">Financial training workshop</h5>
                                <span class="font-weight-light d-md-none d-lg-block">Marketing and Training</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="d-block" href="portfolio-single.html">
                        <figure class="figure overlay overlay-hover mb-30px">
                            <div class="d-block overlay-linear-gradient gradient-dark gradient-to-top w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-9.jpg" class="figure-img img-fluid mb-0"
                                alt="Image Description">
                            <figcaption class="position-absolute position-y-bottom text-white p-4">
                                <h5 class="mb-md-0 mb-lg-2">Professional call center</h5>
                                <span class="font-weight-light d-md-none d-lg-block">Investing and Planning</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
{% include "partials/footer.html" %}
{% endblock %}