{% set page_title = "Project Grid Two Columns" %}
<!--  -->
{% set page_link2 = "Projects" %}
<!--  -->
{% set page_active_link = "Grid Two Columns" %}
<!--  -->
{% extends "../templates/master.html" %} {% block content %}
<!--  -->
{% include "../templates/partials/page_title.html"%}
<!--  -->
{% include "partials/header.html" %}
<!--  -->
{% import '../templates/macros/portfolios.html' as macroPortfolios %}
<div id="content">
    <div class="container py-6 py-lg-8">
        <div class="row justify-content-center">
            <div class="col-4">
                {% include "../templates/partials/portfolio_filters.html" %}
            </div>
        </div>
        <div class="row justify-content-center mt-6">
            <div class="col-12">
                <div class="portfolio-grid portfolio-grid-packery row">
                    {% set portfolios = portfolios.slice(0,8) %}
                    <!--  -->
                    {% for portfolio in portfolios %}
                    <div class="grid-item col-md-6 mb-4 {{ portfolio.tag }}">
                        <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                            <figure class="figure overlay overlay-hover mb-0">
                                <div class="d-block bg-linear-gradient gradient-dark gradient-bottom w-100 h-80 op-5"></div>
                                <img src="{{ portfolio.img }}" class="figure-img img-fluid mb-0" alt="">
                                <figcaption class="overlay-body overlay-bottom p-4">
                                    <h4 class="h5">{{ portfolio.title }}</h4>
                                    <span class="font-weight-light">{{ portfolio.desc }}</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}