{% set page_title = "Portfolio Grid" %}
<!--  -->
{% set page_link2 = "Portfolio" %}
<!--  -->
{% set page_active_link = "Portfolio Grid" %}
<!--  -->
{% extends "../templates/master.html" %} {% block content %}
<!--  -->
{% include "../templates/partials/page_title.html"%}
<!--  -->
{% import '../templates/macros/portfolios.html' as macroPortfolios %}

<div id="content">
    <div class="container py-7">
        <div class="isotope">
            <div class="row">
                <div class="col-md-12">
                    {% include "../templates/partials/isotope_filters.html" %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="isotope-grid mt-4" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "fitRows"}}'>
                        <div class="grid-item col-12 col-md-4 mb-4 illustration">
                            <figure class="figure mb-0">
                                <a class="d-block position-relative" href="portfolio-single-image.html">
                                    <img src="assets/img/portfolio/portfolio-1-440x300.jpg" class="figure-img img-fluid mb-0" alt="">
                                    <div class="overlay overlay-light overlay-hover-2">
                                        <div class="overlay-body">
                                            <button type="button" class="btn btn-primary mt-3 overlay-content-1">View Detail</button>
                                        </div>
                                    </div>
                                </a>
                                <figcaption class="figure-caption mt-3">
                                    <h3 class="h5">
                                        <a href="portfolio-post.html">Open Imagination</a>
                                    </h3>
                                    <p class="meta">
                                        Mark, Business
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="grid-item col-12 col-md-4 mb-4 illustration business">
                            <figure class="figure mb-0">
                                <a class="d-block position-relative" href="portfolio-single-image.html">
                                    <img src="assets/img/portfolio/portfolio-2-440x300.jpg" class="figure-img img-fluid mb-0" alt="">
                                    <div class="overlay overlay-light overlay-hover-2">
                                        <div class="overlay-body">
                                            <button type="button" class="btn btn-primary mt-3 overlay-content-1">View Detail</button>
                                        </div>
                                    </div>
                                </a>
                                <figcaption class="figure-caption mt-3">
                                    <h3 class="h5">
                                        <a href="portfolio-post.html">Curabitur Blandit</a>
                                    </h3>
                                    <p class="meta">
                                        Mark, Business
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="grid-item col-12 col-md-4 mb-4 business illustration">
                            <figure class="figure mb-0">
                                <a class="d-block position-relative" href="portfolio-single-image.html">
                                    <img src="assets/img/portfolio/portfolio-3-440x300.jpg" class="figure-img img-fluid mb-0" alt="">
                                    <div class="overlay overlay-light overlay-hover-2">
                                        <div class="overlay-body">
                                            <button type="button" class="btn btn-primary mt-3 overlay-content-1">View Detail</button>
                                        </div>
                                    </div>
                                </a>
                                <figcaption class="figure-caption mt-3">
                                    <h3 class="h5">
                                        <a href="portfolio-post.html">Curabitur Blandit</a>
                                    </h3>
                                    <p class="meta">
                                        Mark, Business
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="grid-item col-12 col-md-4 mb-4 works branding">
                            <figure class="figure mb-0">
                                <a class="d-block position-relative" href="portfolio-single-image.html">
                                    <img src="assets/img/portfolio/portfolio-4-440x300.jpg" class="figure-img img-fluid mb-0" alt="">
                                    <div class="overlay overlay-light overlay-hover-2">
                                        <div class="overlay-body">
                                            <button type="button" class="btn btn-primary mt-3 overlay-content-1">View Detail</button>
                                        </div>
                                    </div>
                                </a>
                                <figcaption class="figure-caption mt-3">
                                    <h3 class="h5">
                                        <a href="portfolio-post.html">Curabitur Blandit</a>
                                    </h3>
                                    <p class="meta">
                                        Mark, Business
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="grid-item col-12 col-md-4 mb-4 business works branding">
                            <figure class="figure mb-0">
                                <a class="d-block position-relative" href="portfolio-single-image.html">
                                    <img src="assets/img/portfolio/portfolio-5-440x300.jpg" class="figure-img img-fluid mb-0" alt="">
                                    <div class="overlay overlay-light overlay-hover-2">
                                        <div class="overlay-body">
                                            <button type="button" class="btn btn-primary mt-3 overlay-content-1">View Detail</button>
                                        </div>
                                    </div>
                                </a>
                                <figcaption class="figure-caption mt-3">
                                    <h3 class="h5">
                                        <a href="portfolio-post.html">Curabitur Blandit</a>
                                    </h3>
                                    <p class="meta">
                                        Mark, Business
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="grid-item col-md-4 branding">
                            <figure class="figure mb-0">
                                <a class="d-block position-relative" href="portfolio-single-image.html">
                                    <img src="assets/img/portfolio/portfolio-6-440x300.jpg" class="figure-img img-fluid mb-0" alt="">
                                    <div class="overlay overlay-light overlay-hover-2">
                                        <div class="overlay-body">
                                            <button type="button" class="btn btn-primary mt-3 overlay-content-1">View Detail</button>
                                        </div>
                                    </div>
                                </a>
                                <figcaption class="figure-caption mt-3">
                                    <h3 class="h5">
                                        <a href="portfolio-post.html">Curabitur Blandit</a>
                                    </h3>
                                    <p class="meta">
                                        Mark, Business
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}