{% set page_title = "Project Grid Masonry Style" %}
<!--  -->
{% set page_link2 = "Projects" %}
<!--  -->
{% set page_active_link = "Grid Masonry Style" %}
<!--  -->
{% extends "../templates/master.html" %} {% block content %}
<!--  -->
{% include "../templates/partials/page_title.html"%}
<!--  -->
{% import '../templates/macros/portfolios.html' as macroPortfolios %}
<!--  -->
{% include "partials/header.html" %}
<div id="content">
    <div class="container py-8">
        {% include "../templates/partials/portfolio_filters.html" %}
        <div class="row justify-content-center mt-6">
            <div class="col-12">
                <div class="portfolio-grid portfolio-grid-masonry row">
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[0].tag }}">
                        <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                            <figure class="figure overlay mb-0">
                                <div class="d-block bg-linear-gradient gradient-dark gradient-bottom w-100 h-80 op-5"></div>
                                <img src="assets/img/portfolio/portfolio-15-1600x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                                <figcaption class="overlay-body overlay-bottom p-4">
                                    <h3 class="h5">{{ portfolios[0].title }}</h3>
                                    <span class="font-weight-light">{{ portfolios[0].desc }}</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[1].tag }}">
                        <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                            <figure class="figure overlay mb-0">
                                <div class="d-block bg-linear-gradient gradient-dark gradient-bottom w-100 h-80 op-5"></div>
                                <img src="assets/img/portfolio/portfolio-16-1067x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                                <figcaption class="overlay-body overlay-bottom p-4">
                                    <h3 class="h5">{{ portfolios[1].title }}</h3>
                                    <span class="font-weight-light">{{ portfolios[1].desc }}</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[2].tag }}">
                        <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                            <figure class="figure overlay mb-0">
                                <div class="d-block bg-linear-gradient gradient-dark gradient-bottom w-100 h-80 op-5"></div>
                                <img src="assets/img/portfolio/portfolio-14-1600x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                                <figcaption class="overlay-body overlay-bottom p-4">
                                    <h3 class="h5">{{ portfolios[2].title }}</h3>
                                    <span class="font-weight-light">{{ portfolios[2].desc }}</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[3].tag }}">
                        <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                            <figure class="figure overlay mb-0">
                                <div class="d-block bg-linear-gradient gradient-dark gradient-bottom w-100 h-80 op-5"></div>
                                <img src="assets/img/portfolio/portfolio-17-1067x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                                <figcaption class="overlay-body overlay-bottom p-4">
                                    <h3 class="h5">{{ portfolios[3].title }}</h3>
                                    <span class="font-weight-light">{{ portfolios[3].desc }}</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[4].tag }}">
                        <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                            <figure class="figure overlay mb-0">
                                <div class="d-block bg-linear-gradient gradient-dark gradient-bottom w-100 h-80 op-5"></div>
                                <img src="assets/img/portfolio/portfolio-18-1067x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                                <figcaption class="overlay-body overlay-bottom p-4">
                                    <h3 class="h5">{{ portfolios[4].title }}</h3>
                                    <span class="font-weight-light">{{ portfolios[4].desc }}</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[5].tag }}">
                        <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                            <figure class="figure overlay mb-0">
                                <div class="d-block bg-linear-gradient gradient-dark gradient-bottom w-100 h-80 op-5"></div>
                                <img src="assets/img/portfolio/portfolio-13-1600x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                                <figcaption class="overlay-body overlay-bottom p-4">
                                    <h3 class="h5">{{ portfolios[5].title }}</h3>
                                    <span class="font-weight-light">{{ portfolios[5].desc }}</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[6].tag }}">
                        <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                            <figure class="figure overlay mb-0">
                                <div class="d-block bg-linear-gradient gradient-dark gradient-bottom w-100 h-80 op-5"></div>
                                <img src="assets/img/portfolio/portfolio-10-1600x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                                <figcaption class="overlay-body overlay-bottom p-4">
                                    <h3 class="h5">{{ portfolios[6].title }}</h3>
                                    <span class="font-weight-light">{{ portfolios[6].desc }}</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[7].tag }}">
                        <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                            <figure class="figure overlay mb-0">
                                <div class="d-block bg-linear-gradient gradient-dark gradient-bottom w-100 h-80 op-5"></div>
                                <img src="assets/img/portfolio/portfolio-11-1600x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                                <figcaption class="overlay-body overlay-bottom p-4">
                                    <h3 class="h5">{{ portfolios[7].title }}</h3>
                                    <span class="font-weight-light">{{ portfolios[7].desc }}</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[8].tag }}">
                        <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                            <figure class="figure overlay mb-0">
                                <div class="d-block bg-linear-gradient gradient-dark gradient-bottom w-100 h-80 op-5"></div>
                                <img src="assets/img/portfolio/portfolio-12-1600x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                                <figcaption class="overlay-body overlay-bottom p-4">
                                    <h3 class="h5">{{ portfolios[8].title }}</h3>
                                    <span class="font-weight-light">{{ portfolios[8].desc }}</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}