{% set page_title = "Project Grid Masonry Style" %}
<!--  -->
{% set page_link2 = "Projects" %}
<!--  -->
{% set page_active_link = "Grid Masonry Style" %}
<!--  -->
{% extends "../templates/master.html" %} {% block content %}
<!--  -->
{% include "../templates/partials/page_title.html"%}
<!--  -->
{% import '../templates/macros/portfolios.html' as macroPortfolios %}
<!--  -->
{% include "partials/header.html" %}
<div id="content">
    <div class="container py-8">
        {% include "../templates/partials/portfolio_filters.html" %}
        <div class="row justify-content-center mt-6">
            <div class="col-12">
                <div class="portfolio-grid portfolio-grid-masonry row">
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[0].tag }}">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image.html">
                                <img src="assets/img/portfolio/portfolio-15-1600x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                            <figcaption class="figure-caption pt-4">
                                <h3 class="h5">
                                    <a href="portfolio-single-photo-gallery-grid.html">{{ portfolios[0].title }}</a>
                                </h3>
                                <span class="font-weight-light">{{ portfolios[0].desc }}</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[1].tag }}">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image.html">
                                <img src="assets/img/portfolio/portfolio-16-1067x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                             <figcaption class="figure-caption pt-4">
                                <h3 class="h5">
                                    <a href="portfolio-single-photo-gallery-grid.html">{{ portfolios[1].title }}</a>
                                </h3>
                                <span class="font-weight-light">{{ portfolios[1].desc }}</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[2].tag }}">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image.html">
                                <img src="assets/img/portfolio/portfolio-14-1600x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                             <figcaption class="figure-caption pt-4">
                                <h3 class="h5">
                                    <a href="portfolio-single-photo-gallery-grid.html">{{ portfolios[2].title }}</a>
                                </h3>
                                <span class="font-weight-light">{{ portfolios[2].desc }}</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[3].tag }}">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image.html">
                                <img src="assets/img/portfolio/portfolio-17-1067x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                             <figcaption class="figure-caption pt-4">
                                <h3 class="h5">
                                    <a href="portfolio-single-photo-gallery-grid.html">{{ portfolios[3].title }}</a>
                                </h3>
                                <span class="font-weight-light">{{ portfolios[3].desc }}</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[4].tag }}">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image.html">
                                <img src="assets/img/portfolio/portfolio-18-1067x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                             <figcaption class="figure-caption pt-4">
                                <h3 class="h5">
                                    <a href="portfolio-single-photo-gallery-grid.html">{{ portfolios[4].title }}</a>
                                </h3>
                                <span class="font-weight-light">{{ portfolios[4].desc }}</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[5].tag }}">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image.html">
                                <img src="assets/img/portfolio/portfolio-13-1600x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                             <figcaption class="figure-caption pt-4">
                                <h3 class="h5">
                                    <a href="portfolio-single-photo-gallery-grid.html">{{ portfolios[5].title }}</a>
                                </h3>
                                <span class="font-weight-light">{{ portfolios[5].desc }}</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[6].tag }}">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image.html">
                                <img src="assets/img/portfolio/portfolio-10-1600x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                             <figcaption class="figure-caption pt-4">
                                <h3 class="h5">
                                    <a href="portfolio-single-photo-gallery-grid.html">{{ portfolios[6].title }}</a>
                                </h3>
                                <span class="font-weight-light">{{ portfolios[6].desc }}</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[7].tag }}">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image.html">
                                <img src="assets/img/portfolio/portfolio-11-1600x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                             <figcaption class="figure-caption pt-4">
                                <h3 class="h5">
                                    <a href="portfolio-single-photo-gallery-grid.html">{{ portfolios[7].title }}</a>
                                </h3>
                                <span class="font-weight-light">{{ portfolios[7].desc }}</span>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="grid-item col-lg-4 mb-4 {{ portfolios[8].tag }}">
                        <figure class="figure mb-0">
                            <a class="d-block" href="portfolio-single-image.html">
                                <img src="assets/img/portfolio/portfolio-12-1600x1600.jpg" class="figure-img img-fluid mb-0" alt="">
                            </a>
                             <figcaption class="figure-caption pt-4">
                                <h3 class="h5">
                                    <a href="portfolio-single-photo-gallery-grid.html">{{ portfolios[8].title }}</a>
                                </h3>
                                <span class="font-weight-light">{{ portfolios[8].desc }}</span>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}