{% set page_title = "About Us" %}
<!--  -->
{% set page_link2 = "Pages" %}
<!--  -->
{% set page_active_link = "About Us" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<!--  -->
{% import '../templates/macros/components.html' as macroComponents %}
<!--  -->
{% import '../templates/macros/prices.html' as macroPrices %}
<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-6 pr-md-5">
                    <h3>About Pricing</h3>
                    <hr class="hr-lg mt-3 mx-0 mb-4 w-60px hr-primary">
                    <p>Tincidunt quam mattis ultrices aliquam laoreet vivamus cupidatat. Malesuada cum ultricies ultrices vel
                        veniam mauris semper. Sint libero laboris inceptos ultrices officia dolore vestibulum commodo duis
                        eiusmod blandit. Primis mollis labore pellentesque malesuada aenean litora urna libero. Nisl do felis
                        a phasellus consectetuer. Vel augue dolor natoque curae aliqua. Dictum non massa tellus aptent volutpat.
                    </p>
                    <p>Laborum nostrud vehicula excepteur curabitur. Do habitant magnis enim quisque. Cum officia curae non
                        posuere accumsan. Cupidatat irure aenean nascetur cras dolore.</p>
                </div>
                <div class="col-md-6 pl-md-5">
                    <h3>FAQ</h3>
                    <hr class="hr-lg mt-3 mx-0 mb-4 w-60px hr-primary">
                    <div id="accordion1" class="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card rounded-0 border-0 bg-light mb-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
                            <div class="card-header bg-light border-bottom-0" role="tab" id="headingOne">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <i class="ti-help-alt icon-lg text-primary mr-2 ml-1"></i> Etiam magna arcu, ullamcorper ut pulvinar et
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body border-top p-4">
                                    <p class="mb-0">Dolore ac maecenas feugiat dis consectetur. Pellentesque pede do anim rhoncus ligula.
                                        Diam conubia minim cursus maecenas sed. Tincidunt congue laborum sunt rhoncus. Per
                                        praesent elit nisl purus laoreet. Mollis inceptos sem tempor aenean. Etiam officia
                                        sem quam esse. Integer per fusce tellus sint Donec eleifend hendrerit porta sed.
                                        Faucibus dolore cum curabitur luctus cursus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="accordion1" class="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card rounded-0 border-0 bg-light mb-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
                            <div class="card-header bg-light border-bottom-0" role="tab" id="headingTwo">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="ti-help-alt icon-lg text-primary mr-2 ml-1"></i> Etiam magna arcu, ullamcorper ut pulvinar et
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body border-top p-4">
                                    <p class="mb-0">Dolore ac maecenas feugiat dis consectetur. Pellentesque pede do anim rhoncus ligula.
                                        Diam conubia minim cursus maecenas sed. Tincidunt congue laborum sunt rhoncus. Per
                                        praesent elit nisl purus laoreet. Mollis inceptos sem tempor aenean. Etiam officia
                                        sem quam esse. Integer per fusce tellus sint Donec eleifend hendrerit porta sed.
                                        Faucibus dolore cum curabitur luctus cursus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="accordion1" class="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card rounded-0 border-0 bg-light mb-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
                            <div class="card-header  bg-light border-bottom-0" role="tab" id="headingThree">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <i class="ti-help-alt icon-lg text-primary mr-2 ml-1"></i> Etiam magna arcu, ullamcorper ut pulvinar et
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-body border-top p-4">
                                    <p class="mb-0">Dolore ac maecenas feugiat dis consectetur. Pellentesque pede do anim rhoncus ligula.
                                        Diam conubia minim cursus maecenas sed. Tincidunt congue laborum sunt rhoncus. Per
                                        praesent elit nisl purus laoreet. Mollis inceptos sem tempor aenean. Etiam officia
                                        sem quam esse. Integer per fusce tellus sint Donec eleifend hendrerit porta sed.
                                        Faucibus dolore cum curabitur luctus cursus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="accordion1" class="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card rounded-0 border-0 bg-light mb-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
                            <div class="card-header bg-light border-bottom-0" role="tab" id="headingFour">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <i class="ti-help-alt icon-lg text-primary mr-2 ml-1"></i> Etiam magna arcu, ullamcorper ut pulvinar et
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="card-body border-top p-4">
                                    <p class="mb-0">Dolore ac maecenas feugiat dis consectetur. Pellentesque pede do anim rhoncus ligula.
                                        Diam conubia minim cursus maecenas sed. Tincidunt congue laborum sunt rhoncus. Per
                                        praesent elit nisl purus laoreet. Mollis inceptos sem tempor aenean. Etiam officia
                                        sem quam esse. Integer per fusce tellus sint Donec eleifend hendrerit porta sed.
                                        Faucibus dolore cum curabitur luctus cursus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary">
        <div class="container py-7">
            <h3 class="text-center text-white">Service Pricing Table</h3>
            <hr class="hr-lg mt-3 mb-4 w-60px hr-white">
            <div class="row mt-6">
                <div class="col-md-4">
                    {{ macroPrices.default(19, "Startup License", "", "") }}
                </div>
                <div class="col-md-4">
                    {{ macroPrices.default(29, "Business License", "","btn-primary") }}
                </div>
                <div class="col-md-4">
                    {{ macroPrices.default(39, "Enterprise License", "", "") }}
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-6 pr-md-5">
                    <h3>About Pricing</h3>
                    <hr class="hr-lg mt-3 mx-0 mb-4 w-60px hr-primary">
                    <p>Cursus eget integer consequat est nascetur blandit augue culpa molestie deserunt luctus minim laborum
                        lectus do tempus ultricies anim adipiscing aptent ultricies commodo fermentum nostra.</p>
                    <ul class="list-unstyled list-lg mt-4 mb-0">
                        <li>
                            <i class="ti-email icon-lg mr-2 text-primary mr-2"></i>info@company.com
                        </li>
                        <li>
                            <i class="ti-support icon-lg text-primary mr-2"></i>support@company.com
                        </li>
                        <li>
                            <i class="ti-mobile icon-lg mr-2 text-primary mr-2"></i>+1 123 312 32 23
                        </li>
                        <li>
                            <i class="ti-location-pin icon-lg mr-2 text-primary mr-2"></i>63739 street lorem ipsum dolor City, Country
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <form class="form-container" name="form_name" action="#" method="post">
                        <div class="form-group">
                            <input type="text" name="first" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="first" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <select name="department" class="form-control">
                                <option value="">Select Department</option>
                                <option value="Sales">Sales</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Support">Customer Support</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea name="textarea" id="textarea" class="form-control" rows="6" cols="30" placeholder="Enter your comment here..."></textarea>
                        </div>
                        <input type="submit" value="Send Message" name="submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}