{% set page_title = "Pricing" %}
{% extends "../templates/master.html" %}
{% block content %}
{% include "../templates/partials/header.html" %}
<main>
    <section class="bg-primary py-5 py-md-6">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="caption-6 caption-lg-5 text-white mb-0">Pricing</h1>
                    <nav aria-label="breadcrumb" role="navigation" class="d-inline-block mt-3 mt-md-4">
                        <ol class="breadcrumb bg-transparent p-0 m-0">
                            <li class="breadcrumb-item d-flex align-items-center">
                                <a href="/" class="d-flex align-items-center text-small text-white">
                                    <i class="material-icons align-middle mr-1 icon-18">
                                        home
                                    </i>
                                    Home</a>
                                <i class="material-icons text-white align-middle px-1 icon-18">
                                    chevron_right
                                </i>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center pl-0">
                                <a href="#" class="text-small text-white">Pages</a>
                                <i class="material-icons text-white align-middle px-1 icon-18">
                                    chevron_right
                                </i>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center pl-0 active">
                                <span class="text-small text-white-50">Pricing</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="mb-3">About Pricing</h3>
                    <p>Experience curve pricing occurs when a manufacturer prices a product or service at a low rate in
                        order
                        to obtain volume and with the expectation that the cost of production will decrease with the
                        acquisition
                        of manufacturing experience. This approach which is often used in the pricing of high
                        technology
                        products and services.
                    </p>
                    <p>Exit Fees refer to a fee charged for customers who depart from the service process prior to
                        natural completion.</p>
                </div>
                <div class="col-lg-6 mt-5 mt-lg-0">
                    <h3 class="mb-3">FAQ</h3>
                    <div id="accordion1" class="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card rounded-0 border-0 mb-2">
                            <div class="card-header border bg-white" role="tab" id="headingOne">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        What made you get into technical support?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                                data-parent="#accordion1">
                                <div class="card-body border-bottom border-right border-left">
                                    <p class="mb-0">The physical properties of compounds such as melting point and
                                        boiling point
                                        change when
                                        other compounds are added. Together they are called colligative properties.
                                        There
                                        are several ways to quantify the amount of one compound dissolved in the other
                                        compounds
                                        collectively.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded-0 border-0 mb-2">
                            <div class="card-header border bg-white" role="tab" id="headingTwo">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        How are travel expenses calculated and billed?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                                data-parent="#accordion1">
                                <div class="card-body border-bottom border-right border-left">
                                    <p class="mb-0">The physical properties of compounds such as melting point and
                                        boiling point
                                        change when
                                        other compounds are added. Together they are called colligative properties.
                                        There
                                        are several ways to quantify the amount of one compound dissolved in the other
                                        compounds
                                        collectively.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded-0 border-0 mb-2">
                            <div class="card-header border bg-white" role="tab" id="headingThree">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        How is the scope of a consulting project determined?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                                data-parent="#accordion1">
                                <div class="card-body border-bottom border-right border-left">
                                    <p class="mb-0">The physical properties of compounds such as melting point and
                                        boiling point
                                        change when
                                        other compounds are added. Together they are called colligative properties.
                                        There
                                        are several ways to quantify the amount of one compound dissolved in the other
                                        compounds
                                        collectively.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded-0 border-0 mb-2">
                            <div class="card-header border bg-white" role="tab" id="headingFour">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        What problems does business consulting typically solve?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour"
                                data-parent="#accordion1">
                                <div class="card-body border-bottom border-right border-left">
                                    <p class="mb-0">The physical properties of compounds such as melting point and
                                        boiling point
                                        change when
                                        other compounds are added. Together they are called colligative properties.
                                        There
                                        are several ways to quantify the amount of one compound dissolved in the other
                                        compounds
                                        collectively.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light py-8">
        <div class="container">
            <div class="card-deck">
                <div class="card text-center border-0 my-4">
                    <div class="card-header border-0 bg-white p-4">
                        <h4 class="my-0 font-weight-normal">Quoted Price</h4>
                    </div>
                    <div class="card-body px-4 pb-4 pt-0">
                        <div class="d-flex justify-content-center text-primary pb-4">
                            <div class="align-self-center"><span class="h5">$</span></div>
                            <div><span class="display-4 font-weight-400 line-height-1">90</span></div>
                        </div>
                        <div class="mb-5">
                            <p class="text-small text-black-50 mb-1">Business plan</p>
                            <p>No</p>
                            <p class="text-small text-black-50 mb-1">Business stage</p>
                            <p>Established 5 years</p>
                            <p class="text-small text-black-50 mb-1">Industry</p>
                            <p>Real estate, Retail</p>
                        </div>
                        <button type="button" class="btn btn-block btn-outline-primary text-uppercase">Buy Now</button>
                    </div>
                </div>
                <div class="card text-center border-0 my-4">
                    <div class="card-header border-0 bg-white p-4">
                        <h4 class="my-0 font-weight-normal">Quoted Price</h4>
                    </div>
                    <div class="card-body px-4 pb-4 pt-0">
                        <div class="d-flex justify-content-center text-primary pb-4">
                            <div class="align-self-center"><span class="h5">$</span></div>
                            <div><span class="display-4 font-weight-400 line-height-1">100</span></div>
                        </div>
                        <div class="mb-5">
                            <p class="text-small text-black-50 mb-1">Business plan</p>
                            <p>No</p>
                            <p class="text-small text-black-50 mb-1">Business stage</p>
                            <p>Established 5 years</p>
                            <p class="text-small text-black-50 mb-1">Industry</p>
                            <p>Education</p>
                        </div>
                        <button type="button" class="btn btn-block btn-primary text-uppercase">Buy Now</button>
                    </div>
                </div>
                <div class="card text-center border-0 my-4">
                    <div class="card-header border-0 bg-white p-4">
                        <h4 class="my-0 font-weight-normal">Quoted Price</h4>
                    </div>
                    <div class="card-body px-4 pb-4 pt-0">
                        <div class="d-flex justify-content-center text-primary pb-4">
                            <div class="align-self-center"><span class="h5">$</span></div>
                            <div><span class="display-4 font-weight-400 line-height-1">150</span></div>
                        </div>
                        <div class="mb-5">
                            <p class="text-small text-black-50 mb-1">Business plan</p>
                            <p>No</p>
                            <p class="text-small text-black-50 mb-1">Business stage</p>
                            <p>Established 3 years</p>
                            <p class="text-small text-black-50 mb-1">Industry</p>
                            <p>Non-profit groups</p>
                        </div>
                        <button type="button" class="btn btn-block btn-outline-primary text-uppercase">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pr-lg-5">
                    <h3 class="mb-3">Get In Touch</h3>
                    <p>Provide us with as much detail as possible and tell us how we can contact you for more information about your business.</p>
                    <ul class="list-unstyled list-lg mb-0">
                        <li class="d-flex align-items-center">
                            <i class="material-icons text-primary mr-2">email</i>info@company.com
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="material-icons text-primary mr-2">account_circle</i>support@company.com
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="material-icons text-primary mr-2">phone</i>
                            </i>903-965-1149, 940-453-7439
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="material-icons text-primary mr-2">location_on</i>368 Alpha Avenue, Texas 75414
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <form class="form-container mt-4 mt-lg-0" name="form_name" action="#" method="post">
                        <div class="form-group">
                            <input type="text" name="first" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="first" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <select name="department" class="form-control">
                                <option value="">Select Department</option>
                                <option value="Sales">Sales</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Support">Customer Support</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea name="textarea" id="textarea" class="form-control" rows="6" cols="30" placeholder="Enter your comment here..."></textarea>
                        </div>
                        <input type="submit" value="Send Message" name="submit" class="btn btn-primary text-uppercase">
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}