{% set page_title = "Services" %}
{% extends "../templates/master.html" %}
{% block content %}
{% include "../templates/partials/header.html" %}
<main>
    <section class="bg-primary py-5 py-md-6">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="caption-6 caption-lg-5 text-white mb-0">Services</h1>
                    <nav aria-label="breadcrumb" class="d-inline-block mt-3 mt-md-4">
                        <ol class="breadcrumb bg-transparent p-0 m-0">
                            <li class="breadcrumb-item d-flex align-items-center">
                                <a href="/" class="d-flex align-items-center text-small text-white">
                                    <i class="material-icons align-middle mr-1 icon-18">
                                        home
                                    </i>
                                    Home</a>
                                <i class="material-icons text-white align-middle px-1 icon-18">
                                    chevron_right
                                </i>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center pl-0">
                                <a href="#" class="text-small text-white">Pages</a>
                                <i class="material-icons text-white align-middle px-1 icon-18">
                                    chevron_right
                                </i>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center pl-0 active">
                                <span class="text-small text-white-50">Services</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 my-auto text-center pt-6 pt-lg-0 order-2 order-lg-1">
                    <canvas id="chartBar" width="400" height="300"></canvas>
                </div>
                <div class="col-12 col-lg-6 my-auto order-1 order-lg-2">
                    <div class="d-block pl-lg-4">
                        <h3 class="mb-3">We manage <span class="text-primary">$35 billion</span> in assets and serve
                            more than 90,000 members.</h3>
                        <p>Modern mathematical analysis is the study of infinite processes. It is the branch of
                            mathematics
                            that includes calculus. It can be applied in the study of classical concepts of
                            mathematics,
                            such as real numbers complex variables, trigonometric functions, and algorithms, or of
                            non-classical
                            concepts like constructivism.</p>
                        <p>In recent decades, states modeled some of their assets and enterprises after business
                            enterprises.
                            In 2003, for example, the People's Republic of China modeled 80% of its state-owned
                            enterprises.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="border-top pt-8 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-7 text-center text-md-left my-auto">
                    <h2 class="h3 mb-3 mb-md-0">Global Business Services</h2>
                </div>
                <div class="col-md-5 text-center text-lg-right">
                    <a href="#" class="btn btn-primary text-uppercase mt-4 mt-md-0">send free enquiry</a>
                </div>
            </div>
            <div class="row justify-content-center mt-6">
                <div class="col-md-8 col-lg-4">
                    <div class="card border-0 text-center mb-5">
                        <i class="material-icons icon-60 text-primary">bar_chart</i>
                        <h3 class="h4 mt-4 mb-3">
                            Financial Planning
                        </h3>
                        <p class="card-text">
                            We provide customized financial education benefits planning retirement preparedness and
                            wellness programs.
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-lg-4">
                    <div class="card border-0 text-center mb-5">
                        <i class="material-icons icon-60 text-primary">desktop_windows</i>
                        <h3 class="h4 mt-4 mb-3">
                            Software Research
                        </h3>
                        <p class="card-text">We have software specialists and program specialists that are very
                            experienced
                            and software for business.
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-lg-4">
                    <div class="card border-0 text-center mb-5">
                        <i class="material-icons icon-60 text-primary">person_outline</i>
                        <h3 class="h4 mt-4 mb-3">
                            Business Services
                        </h3>
                        <p class="card-text">Provide expert advice and business services that help our clients improve
                            business efficiencies and create competitive.
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-lg-4">
                    <div class="card border-0 text-center mb-5">
                        <i class="material-icons icon-60 text-primary">work_outline</i>
                        <h3 class="h4 mt-4 mb-3">
                            Economic Consulting
                        </h3>
                        <p class="card-text">One thing that can help economic growth is offering good university
                            education
                            at a low cost so more people become educated.
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-lg-4">
                    <div class="card border-0 text-center mb-5">
                        <i class="material-icons icon-60 text-primary">language</i>
                        <h3 class="h4 mt-4 mb-3">
                            Investment Planning
                        </h3>
                        <p class="card-text">Planning for a comfortable financial future, cash management, debt
                            reduction,
                            tax and investment planning and estate decisions.
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-lg-4">
                    <div class="card border-0 text-center mb-5">
                        <i class="material-icons icon-60 text-primary">favorite_border</i>
                        <h3 class="h4 mt-4 mb-3">
                            Healthcare Consulting
                        </h3>
                        <p class="card-text">We are a leading network solutions consulting company working with the
                            nation's
                            biggest healthcare providers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="position-relative border-top py-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <h6 class="font-weight-light text-muted">The software industry represents the best</h6>
                    <h3 class="mb-3">We provide the marketing resources to help you continue to grow your business</h3>
                    <ul class="list-unstyled list-lg mb-0">
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Financial services consulting firm
                            into the market.
                        </li>
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Business consulting and tech
                            services branches.
                        </li>
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Products and consulting services
                            and creating brand.
                        </li>
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Energy and environment and
                            management consulting.
                        </li>
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Logistics consulting and solution
                            provider.
                        </li>
                    </ul>
                </div>
                <div class="col-1 d-none d-lg-block text-center">
                    <div class="h-100 d-inline-block border-left"></div>
                </div>
                <div class="col-lg-5 px-lg-0 my-auto">
                    <div class="row mt-5 mt-lg-0">
                        <div class="col-6 my-auto text-center p-4">
                            <img src="assets/images/client/client-1.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 my-auto text-center p-4">
                            <img src="assets/images/client/client-2.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 my-auto text-center p-4">
                            <img src="assets/images/client/client-3.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 my-auto text-center p-4">
                            <img src="assets/images/client/client-4.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 my-auto text-center pt-4">
                            <img src="assets/images/client/client-5.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 my-auto text-center pt-4">
                            <img src="assets/images/client/client-6.png" class="img-fluid" alt="Image Description">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="border-top py-8">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="h3">What Our Clients Say</h2>
                    <h6 class="font-weight-light text-muted mb-0">We help our customer find opportunities to cut costs</h6>
                </div>
            </div>
            <div class="owl-carousel owl-theme owl-loaded mt-6" data-owl-carousel-options='{"margin": 30, "nav":false, "dots":true, "responsive":{"0":{"items":1}, "576":{"items":2}, "940":{"items":3}}}'>
                <div class="item">
                    <div class="testimonial testimonial-center">
                        <div class="testimonial-body text-center p-4 border">
                            <i class="material-icons icon-36 text-primary">format_quote</i>
                            <p class="font-weight-light mb-0">Your company is truly upstanding and is behind its
                                product 100%. I have gotten at least 50 times
                                the value from business.</p>
                        </div>
                        <div class="testimonial-footer mt-4">
                            <img src="assets/images/author/author-1-400x400.jpg" class="d-inline rounded-circle w-max-90px mr-2"
                                alt="Image Description">
                            <div class="d-inline-block align-middle text-left ml-3">
                                <h5 class="h6 text-primary mb-2">
                                    <a href="#">Kristina Cain</a>
                                </h5>
                                <p class="text-small text-black-50 pb-0 mb-0">Managing Director</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial testimonial-center">
                        <div class="testimonial-body text-center p-4 border">
                            <i class="material-icons icon-36 text-primary">format_quote</i>
                            <p class="font-weight-light mb-0">I don&#39;t always clop, but when I do, it&#39;s because
                                of business. Keep up the excellent work.</p>
                        </div>
                        <div class="testimonial-footer mt-4">
                            <img src="assets/images/author/author-2-400x400.jpg" class="d-inline rounded-circle w-max-90px shadow-sm mr-2"
                                alt="Image Description">
                            <div class="d-inline-block align-middle text-left ml-3">
                                <h5 class="h6 text-primary mb-2">
                                    <a href="#">Stacy Logan</a>
                                </h5>
                                <p class="text-small text-black-50 pb-0 mb-0">Operations Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial testimonial-center">
                        <div class="testimonial-body text-center p-4 border">
                            <i class="material-icons icon-36 text-primary">format_quote</i>
                            <p class="font-weight-light mb-0">I could probably go into sales for you. No matter where
                                you go, business is the coolest, most
                                happening thing around!.</p>
                        </div>
                        <div class="testimonial-footer mt-4">
                            <img src="assets/images/author/author-3-400x400.jpg" class="d-inline rounded-circle w-max-90px shadow-sm mr-2"
                                alt="Image Description">
                            <div class="d-inline-block align-middle text-left ml-3">
                                <h5 class="h6 text-primary mb-2">
                                    <a href="#">Candice Perkins</a>
                                </h5>
                                <p class="text-small text-black-50 pb-0 mb-0">Technology Director</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial testimonial-center">
                        <div class="testimonial-body text-center p-4 border">
                            <i class="material-icons icon-36 text-primary">format_quote</i>
                            <p class="font-weight-light mb-0">I love business. Thanks to business, we&#39;ve just
                                launched our 5th website! You&#39;ve saved
                                our business.</p>
                        </div>
                        <div class="testimonial-footer mt-4">
                            <img src="assets/images/author/author-4-400x400.jpg" class="d-inline rounded-circle w-max-90px shadow-sm mr-2"
                                alt="Image Description">
                            <div class="d-inline-block align-middle text-left ml-3">
                                <h5 class="h6 text-primary mb-2">
                                    <a href="#">Coriss Ambady</a>
                                </h5>
                                <p class="text-small text-black-50 pb-0 mb-0">Marketing Specialist</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% include "partials/footer.html" %}
{% endblock %}