<!--  -->
{% set page_title = "Product Detail" %}
<!--  -->
{% set page_link2 = "Shop" %}
<!--  -->
{% set page_active_link = "Single Product" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<!--  -->
{% import '../templates/macros/shops.html' as macroShops %}
<!--  -->
<div id="content">
    <div class="bg-white">
        <div class="container product py-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="owl-carousel owl-theme owl-loaded owl-dots-inside owl-dots-white owl-nav-edge owl-nav-bg-black" data-owl-carousel-options='{"items":1, "nav":true,"margin":0, "dots":true, "loop":true, "autoHeight":true}'>
                        <div class="item">
                            <img src="assets/img/shop/shop-1-700x892.jpg" alt="" />
                        </div>
                        <div class="item">
                            <img src="assets/img/shop/shop-3-700x892.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <h3 class="card-title mt-4 mt-md-0">Truetone by Ecolatnix U22 T-Shirt</h3>
                    <h4 class="font-weight-bold">
                        <del class="font-weight-light text-muted">$55.00</del>
                        <ins class="text-decoration-none text-primary">$35.00</ins>
                    </h4>
                    <div class="float-none mt-3 text-primary">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="d-block mt-4">
                        <p>Pellentesque sollicitudin integer odio cubilia pretium. Minim lobortis eu eleifend pulvinar nam.
                            Ullamcorper parturient veniam proident mattis eros. Tristique natoque semper diam tempus. Nunc
                            condimentum varius etiam dolor donec.</p>
                    </div>
                    <div class="d-block">
                        <strong>Share:</strong>
                        <div class="d-inline-block ml-4">
                            <ul class="list-inline list-inline-lg mb-0">
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="ion-social-twitter icon-lg"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="ion-social-facebook icon-lg"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="ion-social-googleplus icon-lg"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-5">
                        <form>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-2 col-form-label">Size:</label>
                                <div class="col-10 col-md-6">
                                    <select class="form-control">
                                        <option>Small</option>
                                        <option>Medium</option>
                                        <option>Large</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-2 col-form-label">Color:</label>
                                <div class="col-10 col-md-6">
                                    <select class="form-control">
                                        <option>Red</option>
                                        <option>Yellow</option>
                                        <option>Green</option>
                                        <option>Pink</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-number-input" class="col-2 col-form-label">Qty:</label>
                                <div class="col-10 col-md-6">
                                    <input class="form-control" type="number" value="42" id="example-number-input">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-2 col-6">
                                    <input type="submit" value="Add To Card" name="submit" class="btn btn-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-flush flex-column flex-md-row mt-6" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#desc" role="tab">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#info" role="tab">Additional Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#review" role="tab">Reviews (4)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#custom" role="tab">Custom</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Tab panes -->
            <div class="tab-content mt-4">
                <div class="tab-pane active" id="desc" role="tabpanel">
                    <p>Consectetuer metus pharetra aliquip posuere. Himenaeos nec inceptos sed convallis curae nam cras venenatis
                        habitant. Aliquam nullam leo sociosqu ridiculus. Aute hendrerit lorem laborum eiusmod ultrices at
                        ex laboris nascetur torquent officia. Metus in phasellus nullam pariatur adipiscing. Sollicitudin
                        lacus egestas accumsan litora aenean sint. Voluptate curabitur cum dis non sociis blandit laborum.
                        Vulputate aliquet est mi massa feugiat.</p>
                    <blockquote class="blockquote">
                        <p class="mb-0">Gravida semper penatibus urna molestie pulvinar convallis ullamcorper pede tincidunt fermentum. Torquent
                            per cum nulla proident metus aliquam sociosqu curae bibendum.</p>
                    </blockquote>
                    <p>Praesent ornare anim consectetuer laoreet netus tellus ac morbi. Enim netus habitant litora elementum
                        odio. Nec massa convallis litora rutrum laboris vulputate. Fringilla nullam proident non sapien ultrices
                        aliqua leo quis quam. Dolore per condimentum adipisicing veniam. Vehicula tempor nam vivamus suspendisse
                        habitant litora consectetur bibendum lectus.</p>
                    <p>Mauris leo sollicitudin erat est dictum felis curabitur duis dolore. Velit ultricies cursus turpis culpa
                        aenean consectetur semper aliquip praesent minim. Fames amet cupidatat sem voluptate do sagittis
                        ornare. Semper dui praesent fames lobortis rhoncus nisi ut excepteur.</p>
                </div>
                <div class="tab-pane" id="info" role="tabpanel">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th class="w-25 border-top-0">Collection</th>
                                <td class="border-top-0">Collection Title</td>
                            </tr>
                            <tr>
                                <th class="w-25">Fabrication</th>
                                <td>Awesome Fabrication</td>
                            </tr>
                            <tr>
                                <th class="w-25">Style</th>
                                <td>Jeans Jacket</td>
                            </tr>
                            <tr>
                                <th class="w-25">Display Type</th>
                                <td>Analog</td>
                            </tr>
                            <tr>
                                <th class="w-25">Case Material</th>
                                <td>Stainless Steel</td>
                            </tr>
                            <tr>
                                <th class="w-25">Band width</th>
                                <td>23mm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="review" role="tabpanel">
                    <h4>Customer Reviews</h4>
                    <ul class="list-unstyled mt-4">
                        <li class="media mb-2">
                            <a href="#">
                                <img src="assets/img/author/author-1-70x70.jpg" alt="" class="d-flex">
                            </a>
                            <div class="media-body ml-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="h6">
                                            <a href="#">Connor Gibson</a>
                                        </h4>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="float-left float-md-right">
                                            <i class="ion-ios-star text-primary"></i>
                                            <i class="ion-ios-star text-primary"></i>
                                            <i class="ion-ios-star text-primary"></i>
                                            <i class="ion-ios-star text-primary"></i>
                                            <i class="ion-ios-star-half text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="meta">January 14, 2017</div>
                                <p>Reprehenderit aenean volutpat commodo cum aliqua phasellus. Mollit nam iaculis nisi aute
                                    vivamus placerat. Mollis gravida venenatis maecenas mattis. Risus occaecat nam vestibulum
                                    metus laboris esse facilisi vulputate do.</p>
                            </div>
                        </li>
                        <li class="media mb-2">
                            <a href="#">
                                <img src="assets/img/author/author-2-70x70.jpg" alt="" class="d-flex">
                            </a>
                            <div class="media-body ml-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="h6">
                                            <a href="#">Connor Gibson</a>
                                        </h4>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="float-left float-md-right">
                                            <i class="ion-ios-star text-primary"></i>
                                            <i class="ion-ios-star text-primary"></i>
                                            <i class="ion-ios-star text-primary"></i>
                                            <i class="ion-ios-star text-primary"></i>
                                            <i class="ion-ios-star-half text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="meta">January 14, 2017</div>
                                <p>Faucibus placerat anim penatibus magna accumsan. Senectus ex consequat pellentesque hendrerit
                                    neque. Ornare sapien vitae qui dignissim sociis. Bibendum cum commodo ultrices dignissim
                                    libero.
                                </p>
                            </div>
                        </li>
                        <li class="media mb-2">
                            <a href="#">
                                <img src="assets/img/author/author-3-70x70.jpg" alt="" class="d-flex">
                            </a>
                            <div class="media-body ml-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="h6">
                                            <a href="#">Connor Gibson</a>
                                        </h4>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="float-left float-md-right">
                                            <i class="ion-ios-star text-primary"></i>
                                            <i class="ion-ios-star text-primary"></i>
                                            <i class="ion-ios-star text-primary"></i>
                                            <i class="ion-ios-star text-primary"></i>
                                            <i class="ion-ios-star-half text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="meta">January 14, 2017</div>
                                <p>Vehicula do eget placerat pellentesque. Ornare tempor esse molestie veniam et. Labore dui
                                    amet adipisicing nam. Laboris praesent reprehenderit auctor feugiat. Fermentum dolor
                                    molestie aliqua adipiscing.</p>
                            </div>
                        </li>
                        <li class="media mb-2">
                            <a href="#">
                                <img src="assets/img/author/author-4-70x70.jpg" alt="" class="d-flex">
                            </a>
                            <div class="media-body ml-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="h6">
                                            <a href="#">Connor Gibson</a>
                                        </h4>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="float-left float-md-right">
                                            <i class="ion-ios-star text-primary"></i>
                                            <i class="ion-ios-star text-primary"></i>
                                            <i class="ion-ios-star text-primary"></i>
                                            <i class="ion-ios-star text-primary"></i>
                                            <i class="ion-ios-star-half text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="meta">
                                    <span class="date">January 14, 2017</span>
                                </div>
                                <p>Risus elit eget vulputate ligula. Ultricies maecenas nulla ultrices excepteur. Velit tempus
                                    ex sociosqu arcu risus. Orci volutpat turpis rhoncus justo himenaeos. Dolor curae curabitur
                                    nulla lectus. Porttitor eu urna mattis curabitur viverra.</p>
                            </div>
                        </li>
                    </ul>
                    <div class="row mt-5">
                        <div class="col-md-6">
                            <h4>Add a Reivew</h4>
                            <div class="d-block mt-3">
                                <span class="d-inline-block mr-2">Your rating:</span>
                                <div class="float-none d-inline-block">
                                    <i class="ion-ios-star text-primary"></i>
                                    <i class="ion-ios-star text-primary"></i>
                                    <i class="ion-ios-star text-primary"></i>
                                    <i class="ion-ios-star text-primary"></i>
                                    <i class="ion-ios-star-half text-primary"></i>
                                </div>
                            </div>
                            <form class="form-container pt-2" name="form_name" action="#" method="post">
                                <div class="form-group">
                                    <input type="text" name="first" class="form-control" title="Name*">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="first" class="form-control" title="Email*">
                                </div>
                                <div class="form-group">
                                    <textarea name="textarea" id="textarea" class="form-control" rows="5" cols="30" title="Enter your comment here..."></textarea>
                                </div>
                                <input type="submit" value="Add Review" name="submit" class="btn btn-primary">
                            </form>
                        </div>
                        <div class="col-md-6">
                            <h4 class="mt-5 mt-md-0">Reviews Summary</h4>
                            <p class="mt-3">Quisque tristique tincidunt metus non aliquam.</p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="border-top-0">
                                            <div class="product-rate">
                                                <i class="ion-ios-star text-primary"></i>
                                                <i class="ion-ios-star text-primary"></i>
                                                <i class="ion-ios-star text-primary"></i>
                                                <i class="ion-ios-star text-primary"></i>
                                                <i class="ion-ios-star text-primary"></i>
                                            </div>
                                        </td>
                                        <td class="border-top-0 text-right">
                                            <span class="amount">84%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart-product-name">
                                            <div class="product-rate">
                                                <i class="ion-ios-star text-primary"></i>
                                                <i class="ion-ios-star text-primary"></i>
                                                <i class="ion-ios-star text-primary"></i>
                                                <i class="ion-ios-star text-primary"></i>
                                                <i class="ion-ios-star-outline text-primary"></i>
                                            </div>
                                        </td>
                                        <td class="cart-product-name  text-right">
                                            <span class="amount">10%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart-product-name">
                                            <div class="product-rate">
                                                <i class="ion-ios-star text-primary"></i>
                                                <i class="ion-ios-star text-primary"></i>
                                                <i class="ion-ios-star-outline text-primary"></i>
                                                <i class="ion-ios-star-outline text-primary"></i>
                                            </div>
                                        </td>
                                        <td class="cart-product-name  text-right">
                                            <span class="amount">3%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart-product-name">
                                            <div class="product-rate">
                                                <i class="ion-ios-star text-primary"></i>
                                                <i class="ion-ios-star text-primary"></i>
                                                <i class="ion-ios-star-outline text-primary"></i>
                                                <i class="ion-ios-star-outline text-primary"></i>
                                                <i class="ion-ios-star-outline text-primary"></i>
                                            </div>
                                        </td>
                                        <td class="cart-product-name text-right">
                                            <span class="amount">2%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart-product-name">
                                            <div class="product-rate">
                                                <i class="ion-ios-star text-primary"></i>
                                                <i class="ion-ios-star-outline text-primary"></i>
                                                <i class="ion-ios-star-outline text-primary"></i>
                                                <i class="ion-ios-star-outline text-primary"></i>
                                                <i class="ion-ios-star-outline text-primary"></i>
                                            </div>
                                        </td>
                                        <td class="cart-product-name text-right">
                                            <span class="amount">1%</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="custom" role="tabpanel">
                    <p>Suspendisse vel sint eros maecenas a. Varius vivamus nullam suspendisse aliquam pharetra sint ad mus
                        lacus ipsum voluptate. Justo laoreet incididunt molestie dis nec quam viverra augue cillum pharetra
                        consectetuer. Fames malesuada occaecat aliquet torquent mi purus montes elementum. Quis dignissim
                        phasellus mollis tellus metus sapien sem. Occaecat vitae mattis quisque volutpat duis nostrud arcu
                        montes ornare facilisi fames.</p>
                </div>
            </div>
            <div class="mt-7">
                <h3>Related Products</h3>
            </div>
            <div class="owl-carousel owl-theme owl-loaded owl-dots-primary owl-nav-bg-black mt-5" data-owl-carousel-options='{"nav":false,"margin":30, "dots":true, "loop":true, "autoHeight":true,"responsive": {"0": {"items": 1}, "768": {"items": 2}, "992": {"items": 4}}}'>
                {% set products = products.slice(0,9) %} {% for product in products %} {{ macroShops.default(product,"border-0") }} {% endfor
                %}
            </div>
        </div>
    </div>
</div>
{% endblock %}