{% set page_title = "Shop" %} {% extends "../templates/master.html" %} {% block content %} {% include "../templates/partials/page_title.html"
%}
<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        {% set products = products.slice(0,9) %} {% for product in products %}
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <a href="product-detail.html">
                                    {% if product.sale %}
                                    <span class="shop-item-sale">sale</span>
                                    {% endif %}
                                    <img class="card-img-top img-fluid" src="{{ product.img }}" alt="">
                                    <div class="overlay">
                                        <div class="overlay-text">
                                            <span>Product Detail</span>
                                        </div>
                                    </div>
                                </a>
                                <div class="card-body px-0">
                                    <h4 class="card-title">
                                        <a href="product-detail.html">{{ product.name }}</a>
                                    </h4>
                                    <span class="font-weight-bold">
                                        <del class="op-5">{{ product.price }}</del>
                                        <ins class="text-decoration-none">{{ product.discount_price }}</ins>
                                    </span>
                                    <div class="float-right">
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star-half-o text-primary"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% include "../templates/partials/pagination.html" %}
                </div>
                <aside class="col-md-3 sidebar pl-md-4 mt-5 mt-md-0">
                    {% include "../templates/partials/sidebar_shop.html" %}
                </aside>
            </div>
        </div>
    </div>
</div>
{% endblock %}