{% set page_title = "Team III" %} {% extends "../templates/master.html" %} {% block content %} {% include "../templates/partials/page_title.html"
%}
<!--  -->
{% include "partials/header.html" %}
<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row team">
                <div class="col-md-4 text-center">
                    <div class="card mb-0 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                        <a href="team-member.html">
                            <img src="assets/img/team/team_1.jpg" class="img-fluid" alt="">
                            <div class="overlay">
                                <div class="overlay-text">
                                    <span>View Profile</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-8 mt-4 mt-md-0">
                    <div class="media align-items-center">
                        <span class="display-3 text-primary">01</span>
                        <div class="media-body ml-3">
                            <h3 class="text-uppercase mb-0 pb-0">Debra Barnes
                                <small>Web Designer</small>
                            </h3>
                        </div>
                    </div>
                    <table class="table mt-3">
                        <tbody>
                            <tr>
                                <td class="w-25 font-weight-bold border-top-0 text-nowrap">Experience</td>
                                <td class="border-top-0">Nostra malesuada risus adipiscing primis. Sed sollicitudin proident consectetur vel magna.
                                    Labore scelerisque aliqua.</td>
                            </tr>
                            <tr>
                                <td class="w-25 font-weight-bold text-nowrap">Technology</td>
                                <td>Commodo eu mauris dolor fringilla libero. Magna egestas duis laborum facilisis nostra. Laoreet
                                    varius dolore sed velit enim.</td>
                            </tr>
                            <tr>
                                <td class="w-25 font-weight-bold text-nowrap">Education</td>
                                <td>Rutrum donec vitae auctor eiusmod. Eu orci lorem id arcu. Laoreet vulputate et metus facilisis.
                                    Nunc sed euismod gravida praesent nullam.</td>
                            </tr>
                            <tr>
                                <td class="w-25 font-weight-bold text-nowrap">Language Skills</td>
                                <td>Integer metus rhoncus porttitor penatibus. Facilisi mauris risus dolor rutrum litora. Nostrud
                                    litora pulvinar donec placerat cubilia.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="line-dotted my-6">
            <div class="row team">
                <div class="col-md-4 text-center">
                    <div class="card mb-0 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                        <a href="team-member.html">
                            <img src="assets/img/team/team_2.jpg" class="img-fluid" alt="">
                            <div class="overlay">
                                <div class="overlay-text">
                                    <span>View Profile</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-8 mt-4 mt-md-0">
                    <div class="media align-items-center">
                        <span class="display-3 text-primary">02</span>
                        <div class="media-body ml-3">
                            <h3 class="text-uppercase mb-0 pb-0">Martin Campbell
                                <small>Software Developer</small>
                            </h3>
                        </div>
                    </div>
                    <table class="table mt-3">
                        <tbody>
                            <tr>
                                <td class="w-25 font-weight-bold border-top-0 text-nowrap">Experience</td>
                                <td class="border-top-0">Nostra malesuada risus adipiscing primis. Sed sollicitudin proident consectetur vel magna.
                                    Labore scelerisque aliqua.</td>
                            </tr>
                            <tr>
                                <td class="w-25 font-weight-bold text-nowrap">Technology</td>
                                <td>Commodo eu mauris dolor fringilla libero. Magna egestas duis laborum facilisis nostra. Laoreet
                                    varius dolore sed velit enim.</td>
                            </tr>
                            <tr>
                                <td class="w-25 font-weight-bold text-nowrap">Education</td>
                                <td>Rutrum donec vitae auctor eiusmod. Eu orci lorem id arcu. Laoreet vulputate et metus facilisis.
                                    Nunc sed euismod gravida praesent nullam.</td>
                            </tr>
                            <tr>
                                <td class="w-25 font-weight-bold text-nowrap">Language Skills</td>
                                <td>Integer metus rhoncus porttitor penatibus. Facilisi mauris risus dolor rutrum litora. Nostrud
                                    litora pulvinar donec placerat cubilia.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="line-dotted my-6">
            <div class="row team">
                <div class="col-md-4 text-center">
                    <div class="card mb-0 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                        <a href="team-member.html">
                            <img src="assets/img/team/team_3.jpg" class="img-fluid" alt="">
                            <div class="overlay">
                                <div class="overlay-text">
                                    <span>View Profile</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-8 mt-4 mt-md-0">
                    <div class="media align-items-center">
                        <span class="display-3 text-primary">03</span>
                        <div class="media-body ml-3">
                            <h3 class="text-uppercase mb-0 pb-0">Judith Foster
                                <small>Computer Programmer</small>
                            </h3>
                        </div>
                    </div>
                    <table class="table mt-3">
                        <tbody>
                            <tr>
                                <td class="w-25 font-weight-bold border-top-0 text-nowrap">Experience</td>
                                <td class="border-top-0">Nostra malesuada risus adipiscing primis. Sed sollicitudin proident consectetur vel magna.
                                    Labore scelerisque aliqua.</td>
                            </tr>
                            <tr>
                                <td class="w-25 font-weight-bold text-nowrap">Technology</td>
                                <td>Commodo eu mauris dolor fringilla libero. Magna egestas duis laborum facilisis nostra. Laoreet
                                    varius dolore sed velit enim.</td>
                            </tr>
                            <tr>
                                <td class="w-25 font-weight-bold text-nowrap">Education</td>
                                <td>Rutrum donec vitae auctor eiusmod. Eu orci lorem id arcu. Laoreet vulputate et metus facilisis.
                                    Nunc sed euismod gravida praesent nullam.</td>
                            </tr>
                            <tr>
                                <td class="w-25 font-weight-bold text-nowrap">Language Skills</td>
                                <td>Integer metus rhoncus porttitor penatibus. Facilisi mauris risus dolor rutrum litora. Nostrud
                                    litora pulvinar donec placerat cubilia.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="line-dotted my-6">
            <div class="row team">
                <div class="col-md-4 text-center">
                    <div class="card mb-0 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                        <a href="team-member.html">
                            <img src="assets/img/team/team_4.jpg" class="img-fluid" alt="">
                            <div class="overlay">
                                <div class="overlay-text">
                                    <span>View Profile</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-8 mt-4 mt-md-0">
                    <div class="media align-items-center">
                        <span class="display-3 text-primary">04</span>
                        <div class="media-body ml-3">
                            <h3 class="text-uppercase mb-0 pb-0">Sharon Martinez
                                <small>Java Programmer</small>
                            </h3>
                        </div>
                    </div>
                    <table class="table mt-3">
                        <tbody>
                            <tr>
                                <td class="w-25 font-weight-bold border-top-0 text-nowrap">Experience</td>
                                <td class="border-top-0">Nostra malesuada risus adipiscing primis. Sed sollicitudin proident consectetur vel magna.
                                    Labore scelerisque aliqua.</td>
                            </tr>
                            <tr>
                                <td class="w-25 font-weight-bold text-nowrap">Technology</td>
                                <td>Commodo eu mauris dolor fringilla libero. Magna egestas duis laborum facilisis nostra. Laoreet
                                    varius dolore sed velit enim.</td>
                            </tr>
                            <tr>
                                <td class="w-25 font-weight-bold text-nowrap">Education</td>
                                <td>Rutrum donec vitae auctor eiusmod. Eu orci lorem id arcu. Laoreet vulputate et metus facilisis.
                                    Nunc sed euismod gravida praesent nullam.</td>
                            </tr>
                            <tr>
                                <td class="w-25 font-weight-bold text-nowrap">Language Skills</td>
                                <td>Integer metus rhoncus porttitor penatibus. Facilisi mauris risus dolor rutrum litora. Nostrud
                                    litora pulvinar donec placerat cubilia.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}