{% set page_title = "Our Team" %}
<!--  -->
{% set page_link2 = "Pages" %}
<!--  -->
{% set page_active_link = "Team" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<!--  -->
{% import '../templates/macros/shops.html' as macroShops %}
<!--  -->
{% import '../templates/macros/paginations.html' as macroPaginations %}
<!--  -->
{% import '../templates/macros/teams.html' as macroTeams %}
<div id="content">
    <div class="bg-white">
        <div class="container pt-7 pb-6">
            <div class="row">
                {% set teams = teams.slice(0,8) %}
                <!--  -->
                {% for team in teams %}
                <div class="col-md-3">
                    {{ macroTeams.layout1(team) }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="bg-primary">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-9 text-white text-center text-md-left">
                    <h3>Join the people behind our success.</h3>
                    <p>Vivamus adipisicing sit ultrices cursus morbi proident erat ipsum. Penatibus ea ullamco ut tellus praesent.</p>
                </div>
                <div class="col-md-3 my-auto text-center text-md-right">
                    <a href="#" class="btn btn-black text-uppercase mt-4 mt-md-0">Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}