{% set page_title = "Team" %} {% extends "../templates/layout.html" %} {% block content %} {% include "../templates/partials/page_title.html"
%}
<div id="content">
    <div class="bg-white">
        <div class="container py-7">
            <div class="row team justify-content-center wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="col-md-3">
                    <div class="card img-overlay mb-4">
                        <a href="team-member.html">
                            <img class="card-img img-fluid" src="assets/img/team/team_1.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-text">
                                    <span>View Profile</span>
                                </div>
                            </div>
                            <div class="card-img-overlay text-white">
                                <h4 class="card-title mb-0">Debra Barnes</h4>
                                <p class="card-text">Web Designer</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card img-overlay mb-4">
                        <a href="team-member.html">
                            <img class="card-img img-fluid" src="assets/img/team/team_2.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-text">
                                    <span>View Profile</span>
                                </div>
                            </div>
                            <div class="card-img-overlay text-white">
                                <h4 class="card-title mb-0">Martin Campbell</h4>
                                <p class="card-text">Software Developer</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card img-overlay mb-4">
                        <a href="team-member.html">
                            <img class="card-img img-fluid" src="assets/img/team/team_3.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-text">
                                    <span>View Profile</span>
                                </div>
                            </div>
                            <div class="card-img-overlay text-white">
                                <h4 class="card-title mb-0">Judith Foster</h4>
                                <p class="card-text">Computer Programmer</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card img-overlay mb-4">
                        <a href="team-member.html">
                            <img class="card-img img-fluid" src="assets/img/team/team_4.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-text">
                                    <span>View Profile</span>
                                </div>
                            </div>
                            <div class="card-img-overlay text-white">
                                <h4 class="card-title mb-0">Sharon Martinez</h4>
                                <p class="card-text">Java Programmer</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card img-overlay mb-4">
                        <a href="team-member.html">
                            <img class="card-img img-fluid" src="assets/img/team/team_1.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-text">
                                    <span>View Profile</span>
                                </div>
                            </div>
                            <div class="card-img-overlay text-white">
                                <h4 class="card-title mb-0">Denise Ward</h4>
                                <p class="card-text">Web Programmer</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card img-overlay mb-4">
                        <a href="team-member.html">
                            <img class="card-img img-fluid" src="assets/img/team/team_2.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-text">
                                    <span>View Profile</span>
                                </div>
                            </div>
                            <div class="card-img-overlay text-white">
                                <h4 class="card-title mb-0">Juan Murphy</h4>
                                <p class="card-text">Maintenance Technician</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card img-overlay mb-4">
                        <a href="team-member.html">
                            <img class="card-img img-fluid" src="assets/img/team/team_3.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-text">
                                    <span>View Profile</span>
                                </div>
                            </div>
                            <div class="card-img-overlay text-white">
                                <h4 class="card-title mb-0">Peter Miller</h4>
                                <p class="card-text">Web Designer</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card img-overlay mb-4">
                        <a href="team-member.html">
                            <img class="card-img img-fluid" src="assets/img/team/team_4.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-text">
                                    <span>View Profile</span>
                                </div>
                            </div>
                            <div class="card-img-overlay text-white">
                                <h4 class="card-title mb-0">Deborah Young</h4>
                                <p class="card-text">Web Programmer</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}