{% set page_title = "Team" %}
{% extends "../templates/layout.html" %}
{% block content %}
{% include "../templates/partials/header.html" %}
<main>
    <section class="bg-primary py-6">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white mb-0">Team</h1>
                    <nav aria-label="breadcrumb" class="d-inline-block mt-4">
                        <ol class="breadcrumb bg-transparent p-0 m-0">
                            <li class="breadcrumb-item d-flex align-items-center">
                                <a href="/" class="d-flex align-items-center text-small text-white">
                                    <i class="material-icons align-middle mr-1 icon-18">
                                        home
                                    </i>
                                    Home</a>
                                <i class="material-icons text-white align-middle px-1 icon-18">
                                    chevron_right
                                </i>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center pl-0">
                                <a href="#" class="text-small text-white">Pages</a>
                                <i class="material-icons text-white align-middle px-1 icon-18">
                                    chevron_right
                                </i>
                            </li>
                            <li class="breadcrumb-item d-flex align-items-center pl-0 active">
                                <span class="text-small text-white-50">Team</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-8 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-0 mb-5">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-1.jpg" alt="Image Description">
                        </a>
                        <div class="card-body text-center pt-4 pb-0 px-0">
                            <h5 class="card-title">
                                <a href="#">Debra Barnes</a>
                            </h5>
                            <p class="card-text text-muted">Web Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-0 mb-5">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-2.jpg" alt="Image Description">
                        </a>
                        <div class="card-body text-center pt-4 pb-0 px-0">
                            <h5 class="card-title">
                                <a href="#">Martin Campbell</a>
                            </h5>
                            <p class="card-text text-muted">Software Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-0 mb-5">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-3.jpg" alt="Image Description">
                        </a>
                        <div class="card-body text-center pt-4 pb-0 px-0">
                            <h5 class="card-title">
                                <a href="#">Judith Foster</a>
                            </h5>
                            <p class="card-text text-muted">Computer Programmer</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-0 mb-5">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-4.jpg" alt="Image Description">
                        </a>
                        <div class="card-body text-center pt-4 pb-0 px-0">
                            <h5 class="card-title">
                                <a href="#">Sharon Martinez</a>
                            </h5>
                            <p class="card-text text-muted">Java Programmer</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-0 mb-5">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-5.jpg" alt="Image Description">
                        </a>
                        <div class="card-body text-center pt-4 pb-0 px-0">
                            <h5 class="card-title">
                                <a href="#">Denise Ward</a>
                            </h5>
                            <p class="card-text text-muted">Web Programmer</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-0 mb-5">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-6.jpg" alt="Image Description">
                        </a>
                        <div class="card-body text-center pt-4 pb-0 px-0">
                            <h5 class="card-title">
                                <a href="#">Juan Murphy</a>
                            </h5>
                            <p class="card-text text-muted">Maintenance Technician</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-0 mb-5">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-7.jpg" alt="Image Description">
                        </a>
                        <div class="card-body text-center pt-4 pb-0 px-0">
                            <h5 class="card-title">
                                <a href="#">Peter Miller</a>
                            </h5>
                            <p class="card-text text-muted">Web Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-0 mb-5">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-8.jpg" alt="Image Description">
                        </a>
                        <div class="card-body text-center pt-4 pb-0 px-0">
                            <h5 class="card-title">
                                <a href="#">Deborah Young</a>
                            </h5>
                            <p class="card-text text-muted">Web Programmer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-white">
                    <h3 class="text-white mb-3 mb-lg-2">Join the people behind our success.</h3>
                    <p class="mb-3 mb-lg-0">Vivamus adipisicing sit ultrices cursus morbi proident erat ipsum. Penatibus ea ullamco ut
                        tellus praesent.</p>
                </div>
                <div class="col-lg-3 my-auto text-lg-right">
                    <a href="#" class="btn btn-outline-light mt-4 mt-lg-0 text-uppercase">Apply Now</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% include "partials/footer.html" %}
{% endblock %}