//
// Custom Typography
//
blockquote {
    border-left: 3px solid $primary !important;
    position: relative;
    margin: 30px 0;
    padding: 15px 30px;
    font-style: italic;
}

.text-decoration-none {
    text-decoration: none;
}

a {
    outline: none;
}

// Heading font size
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        @each $index, $size in $headings {
            .heading#{$infix}-#{$index} { font-size: $size !important; }
        }
    }
}