/*-----------------------------------------------------------------------------------*/


/*  Base > Typography
/*-----------------------------------------------------------------------------------*/

html,
body {
    font-family: "Roboto", sans-serif;
    // color: $font-color;
}

body,
li,
address {
    line-height: 28px;
}

blockquote {
    border-left: 3px solid $primary-color !important;
    position: relative;
    margin: 30px 0;
    padding: 15px 30px;
    font-style: italic;
}

a {
    backface-visibility: hidden;
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;
    color: $primary-color;
    &:hover {
        color: $primary-color;
        text-decoration: none;
    }
    &:focus {
        color: $primary-color;
        text-decoration: none;
    }
}

small {
    display: block;
    margin-top: 5px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: normal;
    line-height: 1.4;
    // color: $font-heading-color;
}

.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-weight: 400;
    line-height: 1;
}

.h1,
h1 {
    font-size: 2.45rem
}

.h2,
h2 {
    font-size: 2.15rem
}

.h3,
h3 {
    font-size: 1.75rem
}

.h4,
h4 {
    font-size: 1.25rem
}

.h5,
h5 {
    font-size: 1rem
}

.h6,
h6 {
    font-size: .85rem
}

.h1 small,
h1 small {
    font-size: 1.55rem
}

.h2 small,
h2 small {
    font-size: 1.05rem
}

.h3 small,
.h4 small,
h3 small,
h4 small {
    font-size: 1rem
}

dl {
    line-height: 28px;
}

.list-border-bottom {
    li:not(:last-child) {
        border-bottom: 1px solid rgba(#000000, 0.2);
    }
}

.lead {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}