//
// Custom Typography
//
blockquote {
    border-left: 3px solid $primary !important;
    position: relative;
    margin: 30px 0;
    padding: 15px 30px;
    font-style: italic;
}

.text-decoration-none {
    text-decoration: none;
}

a {
    outline: none;
}

.headline-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
}

.headline-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.headline-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.headline-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    @include media-breakpoint-down(lg) {
        font-size: 2.375rem;
    }
}

.line-height-8{
    line-height: 0.8;
}