//
// Custom utilities position
//
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .position#{$infix}-absolute {
            position: absolute;
        }

        .position#{$infix}-relative {
            position: relative;
        }
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .position-y#{$infix}-top {
            top: 0 !important;
        }

        .position-y#{$infix}-center {
            top: 50% !important;
            transform: translateY(-50%) !important;
        }

        .position-y#{$infix}-bottom {
            bottom: 0;
        }
    }
}


@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .position-x#{$infix}-left {
            left: 0 !important;
        }

        .position-x#{$infix}-center {
            left: 50% !important;
            transform: translateX(-50%) !important;
        }

        .position-x#{$infix}-right {
            right: 0 !important;
        }
    }
}
