/*-----------------------------------------------------------------------------------*/

/* 	PAGE > PORTFOLIO
/*-----------------------------------------------------------------------------------*/

.isotope {
	.isotope-filter {
		a {
			cursor: pointer;
		}
	}
	.isotope-grid {
		.grid-item {
			width: 25%;
			padding: 10px;
			&.grid-item-x2 {
				width: 50%;
				@include media-breakpoint-down(sm) {
					width: 100%;
				}
			}
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
		}
	}
}

// .portfolio{
// 	.grid{
// 		margin-right: -15px;
// 		.grid-item{
// 			@media (max-width: 767px){
// 				width: 50%;
// 			}
// 			figure{
// 				.figure-caption{
// 					a{
// 						color: $font-color;
// 						&:hover{
// 							color: $primary-color;;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// 	&.caption{
// 		.grid-item{						
// 			figcaption{
// 				margin-top: 15px;
// 			}
// 		}
// 	}
// 	.filters-button-group{
// 		ul{
// 			li{
// 				a{
// 					display: inline-block;
// 					line-height: 1;
// 					font-weight: 500;
// 					padding-bottom: 10px;
// 					margin-right: 40px;
// 					cursor: pointer;
// 					position: relative;
// 					color: $primary-color;
// 					&:hover,
// 					&.is-checked{
// 						color: $primary-color;
// 						&:before{
// 							visibility: visible;
// 							transform: scaleX(1);
// 						}
// 					}
// 					&:before {
// 						content: "";
// 						position: absolute;
// 						width: 100%;
// 						height: 2px;
// 						bottom: 0;
// 						left: 0;
// 						background-color: $primary-color;
// 						visibility: hidden;
// 						-webkit-transform: scaleX(0);
// 						transform: scaleX(0);
// 						-webkit-transition: all 0.3s ease-in-out 0s;
// 						transition: all 0.3s ease-in-out 0s;
// 					  }
// 				}
// 			}
// 		}
// 	}
// }