/*-----------------------------------------------------------------------------------*/


/*	PAGE > SHOP
/*-----------------------------------------------------------------------------------*/

.shop-item-sale {
	// border-radius: 50%;
	// font-size: 14px;
	// right: 12px;
	// top: 12px;
	// width: 50px;
	// height: 50px;
	// line-height: 50px;
	// z-index: 5;
	// position: absolute;
	// text-align: center;
	// text-transform: uppercase;
}