/*-----------------------------------------------------------------------------------*/
/*	PAGE > TEAM
/*-----------------------------------------------------------------------------------*/
.team{
	.card-img-overlay{
		z-index: 1;
		top: auto;
	}
	.team-number{
		font-size: 64px;
		font-weight: 600;
		line-height: 54px;
	}
}