<header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-dropdown-hover fixed-hide shadow-sm bg-white">
        <div class="container">
    <a class="navbar-brand text-uppercase" href="index.html">
        <img class="logo logo-dark" src="assets/images/brand/logo-dark.png">
        <img class="logo logo-light" src="assets/images/brand/logo-light.png">
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home
                    <span class="sr-only">(current)</span>
                </a>
                <ul class="dropdown-menu shadow-sm">
                    <li class="nav-item">
                        <a class="nav-link dropdown-item" href="index.html">Home Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-item" href="index2.html">Home Page II</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-item" href="index3.html">Home Page III</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-item" href="index4.html">Home Page IV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-item" href="index5.html">Home Page V</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-item" href="index6.html">Home Page VI</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pages
                </a>
                <ul class="dropdown-menu shadow-sm">
                    <li class="nav-item dropdown dropdown-submenu">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            About</a>
                        <ul class="dropdown-menu shadow-sm">
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="about-us.html">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="about-us-2.html">About Us II</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown dropdown-submenu">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Services</a>
                        <ul class="dropdown-menu shadow-sm">
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="services.html">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="services-2.html">Services II</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown dropdown-submenu">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Contact</a>
                        <ul class="dropdown-menu shadow-sm">
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="contact.html">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="contact-2.html">Contact Us II</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown dropdown-submenu">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Team</a>
                        <ul class="dropdown-menu shadow-sm">
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="team.html">Team</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="team-member.html">Team Member</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-item" href="pricing.html">Pricing</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Portfolio
                </a>
                <ul class="dropdown-menu shadow-sm">
                    <li class="nav-item dropdown dropdown-submenu">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Titles Outside</a>
                        <ul class="dropdown-menu shadow-sm">
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="portfolio-one-col-1.html">Grid One Column</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="portfolio-one-col-2.html">Grid Two Columns</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="portfolio-one-col-3.html">Grid Three Columns</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown dropdown-submenu">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Title Inside</a>
                        <ul class="dropdown-menu shadow-sm">
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="portfolio-two-col-1.html">Grid One Column</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="portfolio-two-col-2.html">Grid Two Columns</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="portfolio-two-col-3.html">Grid Three Columns</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown dropdown-submenu">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Title Hover</a>
                        <ul class="dropdown-menu shadow-sm">
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="portfolio-three-col-1.html">Grid One Column</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="portfolio-three-col-2.html">Grid Two Columns</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="portfolio-three-col-3.html">Grid Three Columns</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown dropdown-submenu">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Portfolio Single</a>
                        <ul class="dropdown-menu shadow-sm">
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="portfolio-single.html">Portfolio Single</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="portfolio-single-2.html">Portfolio Single II</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="portfolio-single-3.html">Portfolio Single III</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Blog
                </a>
                <ul class="dropdown-menu shadow-sm">
                    <li class="nav-item dropdown dropdown-submenu">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Blog List</a>
                        <ul class="dropdown-menu shadow-sm">
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="blog-default-left-sidebar.html">Blog - Left
                                    Sidebar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="blog-default-right-sidebar.html">Blog - Right
                                    Sidebar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="blog-default-fullwidth.html">Blog - Full Width</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="blog-grid-left-sidebar.html">Blog - Grid Left
                                    Sidebar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="blog-grid-right-sidebar.html">Blog - Grid Right
                                    Sidebar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="blog-grid-col-3.html">Blog - Grid</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown dropdown-submenu">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Single Posts</a>
                        <ul class="dropdown-menu shadow-sm">
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="blog-single-left-sidebar.html">Standard Post -
                                    Left Sidebar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="blog-single-right-sidebar.html">Standard Post -
                                    Right Sidebar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="blog-single-fullwidth.html">Standard Post -
                                    Full Width</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="blog-single-slide-right-sidebar.html">Slide
                                    Show Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-item" href="blog-single-video-right-sidebar.html">Video
                                    Post</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Shop
                </a>
                <ul class="dropdown-menu shadow-sm">
                    <li class="nav-item">
                        <a class="nav-link dropdown-item" href="shop-grid-left-sidebar.html">Shop - Grid Left Sidebar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-item" href="shop-grid-right-sidebar.html">Shop - Grid Right Sidebar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-item" href="shop-grid-col-4.html">Shop - Grid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-item" href="shop-single.html">Single Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-item" href="shop-cart.html">Shop - Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-item" href="shop-checkout.html">Shop - Checkout</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="docs/getting-started/introduction.html">
                    Documents
                </a>
            </li>
        </ul>
    </div>
    <div class="navbar-action">
        <div class="d-flex flex-row">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLanguage">
                <i class="flag-icon flag-icon-gb"></i>
                <span class="text-small text-uppercase ml-2">en</span>
            </a>
            <a class="d-flex justify-content-center align-items-center nav-link" href="shop-cart.html">
                <i class="material-icons">
                    shopping_cart
                </i>
            </a>
            <a class="d-flex justify-content-center align-items-center nav-link pr-0" href="#" data-toggle="modal"
                data-target="#modalSearch">
                <i class="material-icons">
                    search
                </i>
            </a>
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
    </button>
</div>
    </nav>
</header>