<section class="position-relative bg-primary py-5 py-md-6">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="caption-6 caption-lg-5 text-white mb-0"></h1>
                <nav aria-label="breadcrumb" role="navigation" class="d-inline-block mt-3 mt-md-4">
                    <ol class="breadcrumb bg-transparent p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/" class="text-white">Home</a>
                        </li>
                         
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>