<footer class="footer bg-darken">
    <div class="container py-7">
        <div class="row">
            <div class="col-sm-5 mb-5 mb-sm-0">
                <img src="assets/img/brand/logo-light.png" alt="" style="max-height: 30px;">
                <p class="text-gray font-size-15 line-height-26 mt-3 pr-sm-4">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
                    literature from 45 BC,making.</p>
                <p class="font-size-13 text-gray mb-0">© 2018 Yuka. Design by Yukathemes</p>
            </div>
            <div class="col-sm-2 mb-5 mb-sm-0">
                <h5 class="h6 text-light mb-0">Company</h5>
                <ul class="list-unstyled list-sm font-size-13 text-uppercase mt-3 mb-0">
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="">Media &amp; Press</a>
                    </li>
                    <li>
                        <a href="">Career</a>
                    </li>
                    <li>
                        <a href="">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 mb-5 mb-sm-0">
                <h5 class="h6 text-light mb-0">Support</h5>
                <ul class="list-unstyled list-sm font-size-13 text-uppercase mt-3 mb-0">
                    <li>
                        <a href="">Help &amp; Support</a>
                    </li>
                    <li>
                        <a href="">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 mb-5 mb-sm-0">
                <h5 class="h6 text-light mb-0">Contact Us</h5>
                <ul class="list-unstyled list-sm font-size-15 text-gray mt-3 mb-0">
                    <li>
                        <span>795 Folsom Ave, Suite 600 CA 94107</span>
                    </li>
                    <li>
                        <span>(123) 456-7890, 123-4567 89</span>
                    </li>
                    <li>
                        <a href="mailto:info@domain.com">info@domain.com</a>
                    </li>
                    <li>
                        <span>Monday - Friday: 10:00 - 20:00</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>