<footer class="footer bg-dark">
    <div class="container py-8">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <a href="index.html">
                    <img style="height: 28px;" alt="Logo" src="assets/images/brand/logo-light.svg">
                </a>
                <div class="d-block text-light pr-md-5">
                    <p class="text-small mt-4 pr-sm-4">We are passionate about the work we do, the
                        accuracy and speed of our service, and proud of the customer focus that has grown our
                        business.</p>
                    <p class="text-small">© Copyright 2018. All Rights Reserved.</p>
                </div>
            </div>
            <div class="col-6 col-lg-2 mb-5 mb-lg-0">
                <h4 class="h5 text-light mb-3">Get in Touch</h5>
                    <ul class="list-unstyled list-md mb-0">
                        <li>
                            <a class="text-light" href="#">
                                <i class="fab fa-twitter w-40px"></i><span class="text-small">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a class="text-light" href="#">
                                <i class="fab fa-facebook-f w-40px"></i><span class="text-small">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a class="text-light" href="#">
                                <i class="fab fa-linkedin-in w-40px"></i><span class="text-small">LinkedIn</span>
                            </a>
                        </li>
                        <li>
                            <a class="text-light" href="#">
                                <i class="fab fa-youtube w-40px"></i><span class="text-small">Youtube</span>
                            </a>
                        </li>
                    </ul>
            </div>
            <div class="col-6 col-lg-2 mb-5 mb-lg-0">
                <h4 class="h5 text-light mb-3">Projects</h5>
                    <ul class="list-unstyled list-md text-small mb-0">
                        <li>
                            <a class="text-light" href="#">Marketing</a>
                        </li>
                        <li>
                            <a class="text-light" href="#">Investing</a>
                        </li>
                        <li>
                            <a class="text-light" href="#">Organization</a>
                        </li>
                        <li>
                            <a class="text-light" href="#">Seminar</a>
                        </li>
                        <li>
                            <a class="text-light" href="#">Insurance</a>
                        </li>
                    </ul>
            </div>
            <div class="col-lg-2">
                <h4 class="h5 text-light mb-3">Latest News</h5>
                    <ul class="list-unstyled list-md text-small mb-0">
                        <li>
                            <p class="text-small text-white-50 mb-0">January 1, 2018</p>
                            <h3 class="card-title h5 mb-0">
                                <a class="text-light text-small" href="blog-single-right-sidebar.html">
                                    We discuss our business priorities
                                </a>
                            </h3>
                        </li>
                        <li>
                            <p class="text-small text-white-50 mb-0">January 1, 2018</p>
                            <h3 class="card-title h5 mb-0">
                                <a class="text-light text-small" href="blog-single-right-sidebar.html">
                                    The key account sales and marketing
                                </a>
                            </h3>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</footer>