<footer class="footer bg-primary">
    <div class="container py-8">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <a href="index.html">
                    <img style="height: 38px;" alt="Logo" src="assets/images/brand/logo-light.svg">
                </a>
                <p class="text-small text-light mt-4 pr-sm-4 mb-0">We are passionate about the work we do, the
                    accuracy and speed of our service, and proud of the customer focus that has grown our
                    business.</p>
                <ul class="list-inline mt-4">
                    <li class="list-inline-item mr-4">
                        <a class="text-white" href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-4">
                        <a class="text-white" href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-4">
                        <a class="text-white" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-white" href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
                <p class="text-small text-light mt-4 mb-0">© Copyright 2018. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>