<footer class="footer bg-dark">
    <div class="container py-8">
        <div class="row">
            <div class="col-sm-12 col-lg-4 mb-5 mb-lg-0">
                <img style="height: 28px;" alt="Logo" src="assets/images/brand/logo-light.svg">
            </div>
            <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                <h5 class="text-light mb-3">Contact Information</h5>
                <ul class="list-unstyled list-md text-small mb-0">
                    <li>
                        <span class="text-small text-light">368 Alpha Avenue, Texas 75414</span>
                    </li>
                    <li>
                        <span class="text-small text-light">903-965-1149, 940-453-7439</span>
                    </li>
                    <li>
                        <span class="text-small text-light">368 Alpha Avenue, Texas 75414</span>
                    </li>
                    <li>
                        <a class="text-small text-light" href="mailto:info@company.com">info@company.com</a>
                    </li>
                    <li>
                        <span class="text-small text-light">Monday - Friday: 10:00 - 20:00</span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-2 mb-5 mb-lg-0">
                <h5 class="text-light mb-3">Support</h5>
                <ul class="list-unstyled list-md text-small mb-0">
                    <li>
                        <a class="text-light" href="#">Help &amp; Support</a>
                    </li>
                    <li>
                        <a class="text-light" href="#">Sales & support</a>
                    </li>
                    <li>
                        <a class="text-light" href="#">Account profile</a>
                    </li>
                    <li>
                        <a class="text-light" href="#">Download Center</a>
                    </li>
                    <li>
                        <a class="text-light" href="#">Order tracking</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h5 class="text-light mb-4">Subscribe Newsletter</h5>
                <div class="form-group input-icon mb-0">
                    <button type="submit" class="input-btn">
                        <i class="material-icons icon">chevron_right</i>
                    </button>
                    <input type="text" class="form-control" placeholder="Your Email">
                </div>
            </div>
        </div>
    </div>
    <div class="border-light border-top op-2"></div>
    <div class="container py-4">
        <div class="row">
            <div class="col-12 text-center">
                <span class="text-small text-light">© Copyright 2018. All Rights Reserved.</span>
            </div>
        </div>
    </div>
</footer>