<footer class="footer bg-darker">
    <div class="container py-8">
        <div class="row">
            <div class="col-sm-4 mb-5 mb-sm-0">
                <img src="assets/img/brand/logo-light.png" alt="" style="max-height: 30px;">
                <p class="text-gray font-size-15 line-height-26 mt-3 pr-sm-4 mb-0">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,making it over 2000 years old.
                </p>
            </div>
            <div class="col-sm-2 mb-5 mb-sm-0">
                <h5 class="h6 text-light mb-0">Company</h5>
                <ul class="list-unstyled list-sm font-size-13 text-uppercase mt-3 mb-0">
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="">Media &amp; Press</a>
                    </li>
                    <li>
                        <a href="">Career</a>
                    </li>
                    <li>
                        <a href="">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 mb-5 mb-sm-0">
                <h5 class="h6 text-light mb-0">Support</h5>
                <ul class="list-unstyled list-sm font-size-13 text-uppercase mt-3 mb-0">
                    <li>
                        <a href="">Help &amp; Support</a>
                    </li>
                    <li>
                        <a href="">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="">Safety and security</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 mb-5 mb-sm-0">
                <div class="ml-sm-5">
                    <h5 class="h6 text-light mb-0">Contact Us</h5>
                    <ul class="list-unstyled list-sm font-size-15 text-gray mt-3 mb-0">
                        <li>
                            <span>795 Folsom Ave, Suite 600 CA 94107</span>
                        </li>
                        <li>
                            <span>(123) 456-7890, 123-4567 89</span>
                        </li>
                        <li>
                            <a href="mailto:info@domain.com">info@domain.com</a>
                        </li>
                        <li>
                            <span>Monday - Friday: 10:00 - 20:00</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="bg-darkest">
        <div class="container font-size-13 py-4">
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-gray mb-0">© 2018 Yuka. Design by Yukathemes</p>
                </div>
                <div class="col-sm-6 text-right ">
                    <ul class="list-inline mb-0 d-none d-md-block">
                        <li class="list-inline-item mr-4">
                            <a href="#">
                                <i class="ion-social-facebook icon-lg text-gray"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-4">
                            <a href="#">
                                <i class="ion-social-instagram icon-lg text-gray"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-4">
                            <a href="#">
                                <i class="ion-social-twitter icon-lg text-gray"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="ion-social-youtube icon-lg text-gray"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>