<footer class="footer bg-dark">
    <div class="container pt-7 pb-6">
        <div class="row">
            <div class="col-12 col-md-4">
                <a href="/">
                    <img src="assets/img/logo-footer.png" alt="">
                </a>
                <p class="text-light mt-4">is a responsive site template with a clean and professional design. A great solution for your business, portfolio,
                    blog or any other purpose.</p>
            </div>
            <div class="col-6 col-md-2">
                <h5 class="h4 text-light mb-3 mt-3 mt-sm-0">Quick Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Terms &amp; Condition</a>
                    </li>
                    <li>
                        <a href="#">Support</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2">
                <h5 class="h4 text-light mb-3 mt-3 mt-sm-0 ">Information</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Customer</a>
                    </li>
                    <li>
                        <a href="#">Service</a>
                    </li>
                    <li>
                        <a href="#">Collection</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <h5 class="h4 text-light mb-3 mt-3 mt-sm-0">Our Address</h5>
                <ul class="list-unstyled text-light">
                    <li>Address: 639 Riverside Drive, New York, NY 10027, United States</li>
                    <li>Phone: +1 714 2222 6666</li>
                    <li>Email: support@your-domain.com</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-darken py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-muted mb-0">© 2017 Soprano by PuzzleThemes. All right reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>