<header>
    <div class="bg-primary font-size-15 text-white py-2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9 text-center text-md-left">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-4">
                            <a href="tel:171422226666" class="text-white">
                                <i class="ion-ios-telephone icon-lg mr-2"></i>+1 714 2222 6666</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="mailto:Info@construction.com" class="text-white">
                                <i class="ion-ios-email icon-lg mr-2"></i>Info@construction.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-3">
                    <ul class="list-inline mb-0 d-none d-md-block float-right">
                        <li class="list-inline-item mr-4">
                            <a href="#" class="text-white">
                                <i class="ion-social-facebook icon-lg"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-4">
                            <a href="#" class="text-white">
                                <i class="ion-social-instagram icon-lg"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-4">
                            <a href="#" class="text-white">
                                <i class="ion-social-twitter icon-lg"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-white">
                                <i class="ion-social-youtube icon-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">Mega Dropdown</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-uppercase dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Blog</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="blog-default-left-sidebar.html">Blog - Left Sidebar</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="blog-default-right-sidebar.html">Blog - Right Sidebar</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="blog-grid-col-3.html">Blog - Grid</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="blog-single-right-sidebar.html">Single - Standard Post</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="blog-single-slide-right-sidebar.html">Single - Slide Show Post</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="blog-single-video-right-sidebar.html">Single - Video Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown mega-menu">
                        <a class="nav-link text-uppercase dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Category 2
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <span class="nav-link text-uppercase" href="#">Category 1</span>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Active</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <span class="nav-link text-uppercase" href="#">Category 2</span>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Active</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.col-md-4  -->
                                    <div class="col-md-4">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <span class="nav-link text-uppercase" href="#">Category 3</span>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Active</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.col-md-4  -->
                                </div>
                            </div>
                            <!--  /.container  -->
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- Modal Language-->
    <div class="modal fade" id="modalLanguage" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content bg-overlay">
                <div class="modal-header border-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <form>
                                    <h3 class="popup-title text-center mb-4">Switch The Language</h3>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-6 col-md-3 mb-4 mb-md-0 text-center">
                                                <a href="#" class="d-inline" data-toggle="navbar-popup" data-target="#popupLanguage">
                                                    <i class="flag-icon flag-icon-de icon-2x mr-2 align-middle"></i>
                                                    <span class="text-muted">Deutsch</span>
                                                </a>
                                            </div>
                                            <div class="col-6 col-md-3 mb-4 mb-md-0 text-center">
                                                <a href="#" class="d-inline" data-toggle="navbar-popup" data-target="#popupLanguage">
                                                    <i class="flag-icon flag-icon-gb icon-2x mr-2 align-middle"></i>
                                                    <span class="text-muted">English</span>
                                                </a>
                                            </div>
                                            <div class="col-6 col-md-3 mb-4 mb-md-0 text-center">
                                                <a href="#" class="d-inline" data-toggle="navbar-popup" data-target="#popupLanguage">
                                                    <i class="flag-icon flag-icon-es icon-2x mr-2 align-middle"></i>
                                                    <span class="text-muted">Español</span>
                                                </a>
                                            </div>
                                            <div class="col-6 col-md-3 mb-4 mb-md-0 text-center">
                                                <a href="#" class="d-inline" data-toggle="navbar-popup" data-target="#popupLanguage">
                                                    <i class="flag-icon flag-icon-fr icon-2x mr-2 align-middle"></i>
                                                    <span class="text-muted">Français</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>