<!--  -->
{% import 'macros/menu.html' as macroMenu%}
<header class="header-topbar">
    <div class="header-top header-top-dark bg-primary py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-left">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-4">
                            <a href="tel:171422226666">
                                <i class="ion-ios-telephone icon-lg mr-2"></i>+1 714 2222 6666</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="mailto:Info@construction.com">
                                <i class="ion-ios-email icon-lg mr-2"></i>info@domain.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline mb-0 d-none d-md-block float-right">
                        <li class="list-inline-item mr-4">
                            <a href="#">
                                <i class="ion-social-facebook icon-lg"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-4">
                            <a href="#">
                                <i class="ion-social-instagram icon-lg"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-4">
                            <a href="#">
                                <i class="ion-social-twitter icon-lg"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="ion-social-youtube icon-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light navbar-top navbar-dropdown-hover bg-transparent">
        {{ macroMenu.navbar() }}
    </nav>
</header>