<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-9 d-none d-sm-block">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-clock-o"></i>Mon - Sat: 8:00 - 17:00
                        </li>
                        <li class="list-inline-item">
                            <a href="tel:171422226666">
                                <i class="fa fa-phone"></i>+1 714 2222 6666</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="mailto:Info@construction.com">
                                <i class="fa fa-envelope-o"></i>Info@construction.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-3">
                    <ul class="list-inline master-social float-right">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <a class="navbar-brand py-3 py-sm-4" href="/">
                <img src="assets/img/logo.png" alt="">
            </a>
            <input id="main-menu-state" type="checkbox" />
            <label class="main-menu-btn" for="main-menu-state">
                <span class="main-menu-btn-icon"></span> Toggle main menu visibility
            </label>
            <div class="collapse navbar-collapse justify-content-end" id="main-menu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="bootstrap-4-navbar-fixed-bottom.html">Blog</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="blog2.html">Blog</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-item dropdown-toggle" href="#">Grid Blogs</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="blog.html">Grid Blog 3 Columns</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="blog3.html">Grid Blog Sidebar Left</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="blog4.html">Grid Blog Sidebar Right</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-item dropdown-toggle" href="#">Classic Blogs</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="blog2.html">Classic Blog Sidebar Left</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="blog5.html">Classic Blog Sidebar Right</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="blog6.html">Classic Blog No Sidebar</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-item dropdown-toggle" href="#">Single Post Layouts</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="blog-post2.html">Blog Post Sidebar Left</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="blog-post.html">Blog Post Sidebar Right</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="blog-post3.html">Blog Post No Sidebar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">Pages</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="about.html">About</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="services.html">Services</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="contact.html">Contact</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-item dropdown-toggle" href="#">Portfolio</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="portfolio.html">Detail Portfolio 3 Columns</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="portfolio2.html">Detail Portfolio 4 Columns</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="portfolio3.html">LightBox Portfolio 3 Columns</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="portfolio4.html">LightBox Portfolio 4 Columns</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="portfolio-post.html">Post With Slider</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="portfolio-post2.html">Post With Image</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-item dropdown-toggle" href="#">Team</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="team.html">Team I</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="team2.html">Team II</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="team3.html">Team III</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="team-member.html">Team Member</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="bootstrap-4-navbar-static-top.html">Shop</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="shop.html">Shop</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="product-detail.html">Product Detail</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="shop-cart.html">Cart</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="shop-cart-empty.html">Cart Empty</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="shop-checkout.html">Check Out</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="bootstrap-4-navbar-fixed-bottom.html">Features</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>