<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-9 d-none d-sm-block">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-clock-o"></i>Mon - Sat: 8:00 - 17:00
                        </li>
                        <li class="list-inline-item">
                            <a href="tel:171422226666">
                                <i class="fa fa-phone"></i>+1 714 2222 6666</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="mailto:Info@construction.com">
                                <i class="fa fa-envelope-o"></i>Info@construction.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-3">
                    <ul class="list-inline master-social float-right">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <nav class="navbar navbar-expand-md navbar-hover-menu">
        <div class="container">
            <a class="navbar-brand py-3 py-sm-4" href="/">
                <img src="assets/img/logo.png" alt="">
            </a>
            <div class="navbar-collapse collapse" id="navbar_collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="https://bootstrapthemes.co" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another action</a>
                            </li>
                            <li>
                                <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#">Submenu action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Another submenu action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="#">Subsubmenu action</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Another subsubmenu action</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="#">Subsubmenu action</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Another subsubmenu action</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Blog
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="blog2.html">Blog</a>
                            </li>
                            <li>
                                <a class="dropdown-item dropdown-toggle" href="#">Grid Blogs</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="blog.html">Grid Blogs 3 Columns</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="blog4.html">Grid Blog With Sidebar</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="blog3.html">Grid Blog With Sidebar Left</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="#">Subsubmenu action</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Another subsubmenu action</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="#">Subsubmenu action</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Another subsubmenu action</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-action">
                <ul>
                    <li class="nav-item nav-item-search d-flex">
                        <a class="btn-search d-flex align-items-center" href="#">
                            <i class="fa fa-search fa-lg"></i>
                        </a>
                    </li>
                    <li class="nav-item nav-item-menu">
                        <a class="navbar-toggler" href="#" data-toggle="collapse" data-target="#navbar_collapse" aria-controls="navbar_collapse"
                            aria-expanded="false" aria-label="Toggle navigation">Menu
                            <span></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="search-popup" style="display: none;">
            <div class="search-popup-block d-flex align-items-center justify-content-center">
                <div class="btn-close"> CLOSE
                    <i class="fa fa-close"></i>
                </div>
                <form>
                    <h2 class="text-center">Search Our Website</h2>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary text-uppercase" type="button">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </nav> -->

    <nav class="navbar navbar-expand-md">
        <div class="container">
            <a class="navbar-brand py-3 py-sm-4" href="/">
                <img src="assets/img/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="bootstrap-4-navbar.html">Default</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="bootstrap-4-navbar-static-top.html">Static top</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="bootstrap-4-navbar-fixed-top.html">Fixed top</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="bootstrap-4-navbar-fixed-bottom.html">Fixed bottom</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">Dropdown</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li class="dropdown">
                                <a class="dropdown-item dropdown-toggle" href="#">A sub menu</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#">Action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item disabled" href="#">Disabled item</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">One more link</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">A separated link</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

</header>