<div class="isotope-filter">
    <ul class="list-inline">
        <li class="list-inline-item" data-filter="*">
            <a data-filter="*">All</a>
        </li>
        <li class="list-inline-item">
            <a data-filter=".coporate">Fashion</a>
        </li>
        <li class="list-inline-item">
            <a data-filter=".package">Travel</a>
        </li>
        <li class="list-inline-item">
            <a data-filter=".food">Wedding</a>
        </li>
        <li class="list-inline-item">
            <a data-filter=".books">Food</a>
        </li>
        <li class="list-inline-item">
            <a data-filter=".video">Other</a>
        </li>
    </ul>
</div>