<ul class="nav isotope-filter nav-tabs nav-tabs-flush flex-column flex-md-row">
    <li class="nav-item">
        <a class="nav-link active" href="#" data-filter="*">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-filter=".coporate">Fashion</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-filter=".package">Travel</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-filter=".food">Wedding</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-filter=".video">Food</a>
    </li>
</ul>