<div class="position-relative bg-primary top-space">
    <img alt="" src="assets/img/other/other-13-1920x500.jpg" class="bg-image bg-image-center op-3">
    <div class="container py-8">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <h1 class="h5 text-white mb-0">{{ page_title }}</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb" role="navigation" class="float-none mt-3 mt-md-0 float-md-right">
                    <ol class="breadcrumb bg-transparent p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/" class="text-white">Home</a>
                        </li>
                        {% if page_link2 %}
                        <li class="breadcrumb-item">
                            <a href="#" class="text-white">{{ page_link2 }}</a>
                        </li>
                        {% endif %}
                        {% if page_active_link %}
                        <li class="breadcrumb-item active text-white" aria-current="page">{{ page_active_link }}</li>
                        {% endif %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>