<div class="bg-grey">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <h1 class="h5 text-uppercase mb-0">{{ page_title }}</h1>
            </div>
            <div class="col-md-6">
                <nav aria-label="breadcrumb" role="navigation" class="float-none mt-3 mt-md-0 float-md-right">
                    <ol class="breadcrumb bg-transparent p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        {% if page_link2 %}
                        <li class="breadcrumb-item">
                            <a href="#">{{ page_link2 }}</a>
                        </li>
                        {% endif %}
                        {% if page_active_link %}
                        <li class="breadcrumb-item active" aria-current="page">{{ page_active_link }}</li>
                        {% endif %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>