<div class="row client justify-content-md-center">
    <div class="client-item">
        <a>
            <img src="assets/img/partner/brand_1.jpg" class="text-xs-center">
        </a>
    </div>
    <div class="client-item">
        <a>
            <img src="assets/img/partner/brand_2.jpg" class="text-xs-center">
        </a>
    </div>
    <div class="client-item">
        <a>
            <img src="assets/img/partner/brand_3.jpg" class="text-xs-center">
        </a>
    </div>
    <div class="client-item">
        <a>
            <img src="assets/img/partner/brand_4.jpg" class="text-xs-center">
        </a>
    </div>
    <div class="client-item">
        <a>
            <img src="assets/img/partner/brand_5.jpg" class="text-xs-center">
        </a>
    </div>
    <div class="client-item">
        <a>
            <img src="assets/img/partner/brand_6.jpg" class="text-xs-center">
        </a>
    </div>
    <div class="client-item">
        <a>
            <img src="assets/img/partner/brand_7.jpg" class="text-xs-center">
        </a>
    </div>
    <div class="client-item">
        <a>
            <img src="assets/img/partner/brand_8.jpg" class="text-xs-center">
        </a>
    </div>
    <div class="client-item">
        <a>
            <img src="assets/img/partner/brand_9.jpg" class="text-xs-center">
        </a>
    </div>
    <div class="client-item">
        <a>
            <img src="assets/img/partner/brand_10.jpg" class="text-xs-center">
        </a>
    </div>
</div>