<nav class="nav nav-tabs-flush justify-content-center justify-content-lg-start portfolio-filter">
    <li class="nav-item">
        <a class="nav-link active" href="#" data-filter="*">All Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-filter=".investing">Investing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-filter=".marketing">Marketing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-filter=".planning">Planning</a>
    </li>
</ul>
