<!-- <nav class="nav nav-tabs-flush justify-content-center justify-content-lg-start portfolio-filter">
    <li class="nav-item">
        <a class="nav-link active" href="#" data-filter="*">All Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-filter=".investing">Investing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-filter=".marketing">Marketing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-filter=".planning">Planning</a>
    </li>
</ul> -->
<form>
    <div class="form-group row justify-content-center mb-0">
        <label class="col-sm-3 col-form-label">Category: </label>
        <div class="col-sm-8">
            <select class="form-control">
                <option value="menu_order" selected="selected">All Categories</option>
                <option value="investing">Investing</option>
                <option value="marketing">Marketing</option>
                <option value="planning">Planning</option>
            </select>
        </div>
    </div>
</form>