<nav class="nav nav-tabs-flush flex-column flex-md-row portfolio-filter text-center">
    <li class="nav-item">
        <a class="nav-link active" href="#" data-filter="*">All Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-filter=".business">Business</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-filter=".illustration">Illustration</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-filter=".works">Works</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-filter=".branding">Branding</a>
    </li>
</ul>