<div class="mb-5">
    <h4 class="mb-3">Search</h4>
    <form>
        <div class="form-group input-icon">
            <button type="submit" class="input-btn">
                <i class="material-icons icon">search</i>
            </button>
            <input type="text" class="form-control" name="" placeholder="Search">
        </div>
    </form>
</div>
<div class="mb-5">
    <h4 class="mb-3">Product Categories</h4>
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item px-0">
                <a class="text-body" href="#">Accessories</a>
            </li>
            <li class="list-group-item px-0">
                <a class="text-body" href="#">Swimsuit</a>
            </li>
            <li class="list-group-item px-0">
                <a class="text-body" href="#">Shirt</a>
            </li>
            <li class="list-group-item px-0">
                <a class="text-body" href="#">Dress</a>
            </li>
            <li class="list-group-item px-0">
                <a class="text-body" href="#">Trousers</a>
            </li>
        </ul>
    </div>
</div>
<div class="mb-5">
    <h4 class="mb-3">Latest Products</h4>
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item px-0">
                <div class="media">
                    <a class="w-25" href="shop-single.html">
                        <img class="img-fluid" src="assets/images/shop/product-1.jpg" alt="">
                    </a>
                    <div class="media-body ml-3 my-auto">
                        <h5 class="h6">
                            <a class="text-body d-block" href="shop-single.html">Women black t-shirt</a>
                        </h5>
                        <span class="font-weight-bold">
                            <del class="font-weight-light text-muted">$95.00</del>
                            <ins class="text-decoration-none">$65.00</ins>
                        </span>
                    </div>
                </div>
            </li>
            <li class="list-group-item px-0">
                <div class="media">
                    <a class="w-25" href="shop-single.html">
                        <img class="img-fluid" src="assets/images/shop/product-2.jpg" alt="">
                    </a>
                    <div class="media-body ml-3 my-auto">
                        <h5 class="h6">
                            <a class="text-body d-block" href="shop-single.html">Men long-sleeve t-shirt</a>
                        </h5>
                        <span class="font-weight-bold">
                            <del class="font-weight-light text-muted">$95.00</del>
                            <ins class="text-decoration-none">$65.00</ins>
                        </span>
                    </div>
                </div>
            </li>
            <li class="list-group-item px-0">
                <div class="media">
                    <a class="w-25" href="shop-single.html">
                        <img class="img-fluid" src="assets/images/shop/product-3.jpg" alt="">
                    </a>
                    <div class="media-body ml-3 my-auto">
                        <h5 class="h6">
                            <a class="text-body d-block" href="shop-single.html">Women long-sleeve</a>
                        </h5>
                        <span class="font-weight-bold">
                            <del class="font-weight-light text-muted">$95.00</del>
                            <ins class="text-decoration-none">$65.00</ins>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="d-block">
    <h4 class="mb-3">Popular Tags</h4>
    <div>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Catalog</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Animal</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Urban</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Tilted</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Wanderer</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Inspiring</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Pixieset</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Family</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Minimal</a>
    </div>
</div>