<div class="widget">
    <h4 class="widget-title">Search form</h4>
    <form>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-primary text-uppercase" type="button">Search</button>
            </span>
        </div>
    </form>
</div>
<div class="widget">
    <h4 class="widget-title">About Us</h4>
    <p>Auctor aliquet occaecat magnis ridiculus tristique. Nullam pellentesque pulvinar himenaeos tellus.</p>
</div>
<div class="widget">
    <h4 class="widget-title">Latest News</h4>
    <ul class="post-list list-unstyled list-border-bottom list-xl">
        <li class="media">
            <a href="blog-post.html">
                <img class="d-flex" src="assets/img/blog/blog_1-80x80.jpg" alt="">
                <div class="overlay">
                    <div class="overlay-text">
                        <i class="fa fa-link"></i>
                    </div>
                </div>
            </a>
            <div class="media-body ml-3">
                <a class="post-list-title" href="blog-post.html">Rutrum pellentesque accumsan quam purus primis</a>
                <p class="meta mb-0">
                    <span>17 Mar 2017</span>
                </p>
            </div>
        </li>
        <li class="media my-2">
            <a href="blog-post.html">
                <img class="d-flex" src="assets/img/blog/blog_2-80x80.jpg" alt="">
                <div class="overlay">
                    <div class="overlay-text">
                        <i class="fa fa-link"></i>
                    </div>
                </div>
            </a>
            <div class="media-body ml-3">
                <a class="post-list-title" href="blog-post.html">Congue veniam labore euismod neque</a>
                <p class="meta mb-0">
                    <span>11 Jul 2017</span>
                </p>
            </div>
        </li>
        <li class="media">
            <a href="blog-post.html">
                <img class="d-flex" src="assets/img/blog/blog_3-80x80.jpg" alt="">
                <div class="overlay">
                    <div class="overlay-text">
                        <i class="fa fa-link"></i>
                    </div>
                </div>
            </a>
            <div class="media-body ml-3">
                <a class="post-list-title" href="blog-post.html">Excepteur magnis pede placerat fusce molestie</a>
                <p class="meta mb-0">
                    <span>19 Mar 2017</span>
                </p>
            </div>
        </li>
    </ul>
</div>
<div class="widget">
    <h4 class="widget-title">Categories</h4>
    <ul class="list-unstyled list-md mb-0">
        <li class="pt-0">
            <a href="#">Magazine (20)</a>
        </li>
        <li>
            <a href="#">Social History (15)</a>
        </li>
        <li>
            <a href="#">Creativity (19)</a>
        </li>
        <li>
            <a href="#">Fashion Startups (10)</a>
        </li>
        <li>
            <a href="#">Vintage (14)</a>
        </li>
    </ul>
</div>
{% include "./widget_tag.html" %}