<div class="mb-5">
    <form>
        <div class="form-group input-icon">
            <button type="submit" class="input-btn">
                <i class="ion-ios-search-strong icon"></i>
            </button>
            <input type="text" class="form-control" name="" placeholder="Search">
        </div>
    </form>
</div>
{% include "./widget_product_categories.html" %}
<div class="mb-5">
    <h4 class="mb-3">Latest Products</h4>
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item px-0">
                <div class="media">
                    <a class="w-25" href="product-detail.html">
                        <img class="img-fluid" src="assets/img/shop/product-1.jpg" alt="">
                    </a>
                    <div class="media-body ml-3 my-auto">
                        <h5 class="h6">
                            <a class="d-block" href="blog-post.html">Women black t-shirt</a>
                        </h5>
                        <span class="font-weight-bold">
                            <del class="font-weight-light text-muted">$95.00</del>
                            <ins class="text-decoration-none">$65.00</ins>
                        </span>
                    </div>
                </div>
            </li>
            <li class="list-group-item px-0">
                <div class="media">
                    <a class="w-25" href="product-detail.html">
                        <img class="img-fluid" src="assets/img/shop/product-2.jpg" alt="">
                    </a>
                    <div class="media-body ml-3 my-auto">
                        <h5 class="h6">
                            <a class="d-block" href="blog-post.html">Men long-sleeve t-shirt</a>
                        </h5>
                        <span class="font-weight-bold">
                            <del class="text-muted">$95.00</del>
                            <ins class="text-decoration-none">$65.00</ins>
                        </span>
                    </div>
                </div>
            </li>
            <li class="list-group-item px-0">
                <div class="media">
                    <a class="w-25" href="product-detail.html">
                        <img class="img-fluid" src="assets/img/shop/product-3.jpg" alt="">
                    </a>
                    <div class="media-body ml-3 my-auto">
                        <h5 class="h6">
                            <a class="d-block" href="blog-post.html">Women long-sleeve</a>
                        </h5>
                        <span class="font-weight-bold">
                            <del class="text-muted">$95.00</del>
                            <ins class="text-decoration-none">$65.00</ins>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% include "./widget_tag.html" %}