<div class="mb-5">
    <h4 class="mb-3">Search form</h4>
    <form>
        <div class="input-icon input-group">
            <button type="submit" class="input-btn">
                <i class="ion-ios-search-strong icon"></i>
            </button>
            <input type="text" class="form-control" name="" placeholder="Search">
        </div>
    </form>
</div>
<div class="mb-5">
    <h4 class="mb-3">About Us</h4>
    <p>Auctor aliquet occaecat magnis ridiculus tristique. Nullam pellentesque pulvinar himenaeos tellus.</p>
</div>
<div class="mb-5">
    <h4 class="mb-3">Latest News</h4>
    <div>
        <ul class="list-group list-group-flush text-body">
            <li class="list-group-item px-0">
                <div class="media">
                    <a href="blog-post.html">
                        <img class="d-flex" src="assets/img/blog/blog_1-80x80.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-body">
                                <i class="ion-link icon-lg text-white"></i>
                            </div>
                        </div>
                    </a>
                    <div class="media-body ml-3">
                        <h5>
                            <a class="text-heading" href="blog-post.html">Rutrum pellentesque accumsan quam purus primis</a>
                        </h5>
                        <p class="blog-post-meta mb-0">
                            January 1, 2018
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-group-item px-0">
                <div class="media my-2">
                    <a href="blog-post.html">
                        <img class="d-flex" src="assets/img/blog/blog_2-80x80.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-body">
                                <i class="ion-link icon-lg text-white"></i>
                            </div>
                        </div>
                    </a>
                    <div class="media-body ml-3">
                        <h5>
                            <a href="blog-post.html">Congue veniam labore euismod neque</a>
                        </h5>
                        <p class="blog-post-meta mb-0">
                            February 1, 2018
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-group-item px-0">
                <div class="media">
                    <a href="blog-post.html">
                        <img class="d-flex" src="assets/img/blog/blog_3-80x80.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-body">
                                <i class="ion-link icon-lg text-white"></i>
                            </div>
                        </div>
                    </a>
                    <div class="media-body ml-3">
                        <h5>
                            <a href="blog-post.html">Excepteur magnis pede placerat fusce molestie</a>
                        </h5>
                        <p class="blog-post-meta mb-0">
                            March 10, 2018
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="mb-5">
    <h4 class="mb-3">Categories</h4>
    <ul class="list-unstyled mb-0 text-body">
        <li class="py-2">
            <a href="#">Magazine (20)</a>
        </li>
        <li class="py-2">
            <a href="#">Social History (15)</a>
        </li>
        <li class="py-2">
            <a href="#">Creativity (19)</a>
        </li>
        <li class="py-2">
            <a href="#">Fashion Startups (10)</a>
        </li>
        <li class="py-2">
            <a href="#">Vintage (14)</a>
        </li>
    </ul>
</div>
{% include "./widget_tag.html" %}