<div class="mb-5">
    <h4 class="mb-3">Search</h4>
    <form>
        <div class="form-group input-icon">
            <button type="submit" class="input-btn">
                <i class="material-icons icon">search</i>
            </button>
            <input type="text" class="form-control" placeholder="Enter your keyword...">
        </div>
    </form>
</div>
<div class="mb-5">
    <h4 class="mb-3">About Us</h4>
    <p>We are a friendly local security alarm company looking for full time customer service to help us handle our growing business.
    </p>
</div>
<div class="mb-5">
    <h4 class="mb-3">Latest News</h4>
    <div>
        <ul class="list-group list-group-lg list-group-flush">
            <li class="list-group-item px-0">
                <div class="media">
                    <a href="blog-single-left-sidebar.html">
                        <img class="img-fluid" src="assets/images/blog/blog-1-65x65.jpg" alt="Image Description">
                    </a>
                    <div class="media-body ml-3">
                        <h5 class="h6">
                            <a class="text-body" href="blog-single-right-sidebar.html">We talk about what the role for business people</a>
                        </h5>
                        <p class="text-small text-black-50 mb-0">
                            January 1, 2018
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-group-item px-0">
                <div class="media">
                    <a href="blog-single-left-sidebar.html">
                        <img class="img-fluid" src="assets/images/blog/blog-2-65x65.jpg" alt="Image Description">
                    </a>
                    <div class="media-body ml-3">
                        <h5 class="h6">
                            <a class="text-body" href="blog-single-right-sidebar.html">Working with an accountant can help you to succeed</a>
                        </h5>
                        <p class="text-small text-black-50 mb-0">
                            February 1, 2018
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-group-item px-0">
                <div class="media">
                    <a href="blog-single-left-sidebar.html">
                        <img class="img-fluid" src="assets/images/blog/blog-3-65x65.jpg" alt="Image Description">
                    </a>
                    <div class="media-body ml-3">
                        <h5 class="h6">
                            <a class="text-body" href="blog-single-right-sidebar.html">We were meeting for a business lunch to discuss working</a>
                        </h5>
                        <p class="text-small text-black-50 mb-0">
                            March 10, 2018
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="mb-5">
    <h4 class="mb-3">Categories</h4>
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                <a class="text-body" href="#">Economics</a>
                <span>12</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                <a class="text-body" href="#">Management‎</a>
                <span>15</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                <a class="text-body" href="#">Education‎</a>
                <span>20</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                <a class="text-body" href="#">Organizations‎</a>
                <span>10</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                <a class="text-body" href="#">Intelligence‎</a>
                <span>14</span>
            </li>
        </ul>
    </div>
</div>
<div class="d-block">
    <h4 class="mb-3">Popular Tags</h4>
    <div>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Catalog</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Animal</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Urban</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Tilted</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Wanderer</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Inspiring</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Pixieset</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Family</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Minimal</a>
    </div>
</div>