<div class="mb-5">
    <form>
        <div class="input-icon input-group">
            <button type="submit" class="input-btn">
                <i class="ion-ios-search-strong icon"></i>
            </button>
            <input type="text" class="form-control" name="" placeholder="Search">
        </div>
    </form>
</div>
{% include "./widget_product_categories.html" %}
<div class="mb-5">
    <h4 class="mb-3">Latest Products</h4>
    <div>
        <ul class="list-group list-group-flush text-body">
            <li class="list-group-item px-0">
                <div class="media">
                    <a href="product-detail.html">
                        <img class="d-flex" src="assets/img/shop/shop-1-50x72.jpg" alt="">
                    </a>
                    <div class="media-body ml-3">
                        <a class="d-block" href="blog-post.html">Magna mollis ultricies</a>
                        <span class="font-weight-bold">
                            <del class="text-muted">$95.00</del>
                            <ins class="text-decoration-none">$65.00</ins>
                        </span>
                        <div class="d-block text-primary">
                            <i class="ion-ios-star text-primary"></i>
                            <i class="ion-ios-star text-primary"></i>
                            <i class="ion-ios-star text-primary"></i>
                            <i class="ion-ios-star text-primary"></i>
                            <i class="ion-ios-star-half text-primary"></i>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item px-0">
                <div class="media">
                    <a href="product-detail.html">
                        <img class="d-flex" src="assets/img/shop/shop-2-50x72.jpg" alt="">
                    </a>
                    <div class="media-body ml-3">
                        <a class="d-block" href="blog-post.html">Ornare nullam risus</a>
                        <span class="font-weight-bold">
                            <del class="text-muted">$95.00</del>
                            <ins class="text-decoration-none">$65.00</ins>
                        </span>
                        <div class="d-block text-primary">
                            <i class="ion-ios-star text-primary"></i>
                            <i class="ion-ios-star text-primary"></i>
                            <i class="ion-ios-star text-primary"></i>
                            <i class="ion-ios-star text-primary"></i>
                            <i class="ion-ios-star-half text-primary"></i>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item px-0">
                <div class="media">
                    <a href="product-detail.html">
                        <img class="d-flex" src="assets/img/shop/shop-3-50x72.jpg" alt="">
                    </a>
                    <div class="media-body ml-3">
                        <a class="d-block" href="blog-post.html">Euismod nullam</a>
                        <span class="font-weight-bold">
                            <del class="text-muted">$95.00</del>
                            <ins class="text-decoration-none">$65.00</ins>
                        </span>
                        <div class="d-block text-primary">
                            <i class="ion-ios-star text-primary"></i>
                            <i class="ion-ios-star text-primary"></i>
                            <i class="ion-ios-star text-primary"></i>
                            <i class="ion-ios-star text-primary"></i>
                            <i class="ion-ios-star-half text-primary"></i>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% include "./widget_tag.html" %}