<div class="widget">
    <h4 class="widget-title">Popular Tags</h4>
    <ul class="list-unstyled list-md mb-0">
        <li class="pt-0">
            <a href="#">Catalog (20)</a>
        </li>
        <li>
            <a href="#">Animal (19)</a>
        </li>
        <li>
            <a href="#">Urban (24)</a>
        </li>
        <li>
            <a href="#">Tilted (12)</a>
        </li>
        <li>
            <a href="#">Wanderer (15)</a>
        </li>
        <li>
            <a href="#">Inspiring (21)</a>
        </li>
        <li>
            <a href="#">Pixieset (5)</a>
        </li>
        <li>
            <a href="#">Family (9)</a>
        </li>
        <li>
            <a href="#">Minimal (14)</a>
        </li>
    </ul>
</div>