<div class="d-block">
    <h4 class="mb-4">Popular Tags</h4>
    <div>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Catalog</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Animal</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Urban</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Tilted</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Wanderer</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Inspiring</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Pixieset</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Family</a>
        <a href="#" class="badge badge-primary px-2 py-1 h6">Minimal</a>
    </div>
</div>