/*-----------------------------------------------------------------------------------*/


/*  Component > Badge
/*-----------------------------------------------------------------------------------*/

.badge {
    &.badge-primary {
        background: $primary-color;
    }
    &.badge-pill {
        &.badge-sm {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}