/*-----------------------------------------------------------------------------------*/

/*  Custom > Component > Badge
/*-----------------------------------------------------------------------------------*/

.badge {
    &.badge-primary {
        background: $primary;
    }
    &.badge-pill {
        &.badge-circle {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
}