// /*-----------------------------------------------------------------------------------*/
// /*	COMPONENT > BUTTON
// /*-----------------------------------------------------------------------------------*/


.input-group-btn{
    .btn {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.btn{
	box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
    font-size: 13px !important;
	outline: none;
	&:hover{
		box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
	}
}

.btn{
    border: none;
    position: relative;
    padding: 12px 30px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    background: transparent;
}

.btn-primary{
	background-color: $primary-color;
	color: #fff;
	&:hover,
	&:active,
	&:focus{
		background-color: $primary-color;
	}
}

.btn-lg{
	padding: 18px 36px;
}
