/*-----------------------------------------------------------------------------------*/
/*	COMPONENT > BUTTON
/*-----------------------------------------------------------------------------------*/

.btn{
	font-size: 13px;
	padding: 12px 30px;
}
.btn-primary{
	background: $primary-color !important;
	border-color:  $primary-color !important;
}