/*-----------------------------------------------------------------------------------*/


/*  COMPONENTS > CARD
/*-----------------------------------------------------------------------------------*/

.card {
	background-color: #ffffff;
	border-radius: 2px;
	border: none;
	.card-title {
		font-size: 20px;
		font-weight: normal;
		line-height: 28px;
		a {
			color: $font-color;
			&:hover {
				color: $primary-color;
			}
		}
	}
	.card-header {
		background-color: transparent;
	}
	.card-footer {
		background-color: transparent;
	}
	img {
		border-radius: 2px 2px 0 0;
	}
	.card-img-left {
		border-bottom-left-radius: calc(.25rem - 1px);
		border-top-left-radius: calc(.25rem - 1px);
		float: left;
		padding-right: 1em;
		margin-bottom: -1.25em;
	}
	.card-link {
		font-size: 12px;
		color: $primary-color;
		text-transform: uppercase;
	}
	.card-social {
		float: right;
		visibility: hidden;
		transform: translateZ(0);
		transform: translateX(-50px);
		transition: transform 0.35s ease;
		a:not(:last-child) {
			margin-right: 25px;
		}
		&.active {
			visibility: visible;
			transform: translateZ(0);
			transform: translateX(0);
			transition: transform 0.35s ease;
		}
	}
}