.icon-sm{
	font-size: 55px;
}
.icon-md{
	font-size: 75px;	
}

.icon-video{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index: 10;
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	border: 5px solid #ffffff;
	background: rgba($primary-color, 0.8);
	transition: all .2s ease-in;
	>*{
		display: block;
		position: absolute;
		color: #ffffff;
		text-align: center;
		font-size: 1.5rem;
		top: 50%;
		left: 50%;
		width: 50px;
		height: 50px;
		line-height: 51px;
		margin-top: -25px;
		margin-left: -25px;
		padding-left: 5px;
	}
	&:hover{
		background: $primary-color;
		width: 85px;
		height: 85px;
	}
}