//
// Custom input group
//
.input-icon {
    position: relative;
    .input-btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding: 0 15px;
        background: 0 0;
        border: none;
        outline: none !important;
        z-index: 999;
        .icon {
            color: #76838f;
            font-size: 20px;
        }
    }
    &.input-group {
        .icon {
            margin: 0 6px;
            font-size: 20px;
        }
    }
    &.input-group-lg {
        .icon {
            margin: 0 10px;
            font-size: 24px;
        }
    }
}