
.list-sm {
	li {
		padding-top: 4px;
		padding-bottom: 4px;
	}
}

.list-md {
	li {
		padding-top: 6px;
		padding-bottom: 6px;
	}
}

.list-lg {
	li {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

.list-group-lg{
	li {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}


.list-inline-lg {
	li {
		&:not(:first-child) {
			margin-left: 30px;
		}
	}
}

.list-group-flush {
	&:first-child {
		.list-group-item {
			&:first-child {
				border-top: 0;
			}
		}
	}
}