/*-----------------------------------------------------------------------------------*/


/*  COMPONENTS > NAVS
/*-----------------------------------------------------------------------------------*/

.nav {
    &.nav-tabs {
        &.nav-tabs-flush {
            border-bottom: 2px solid rgba(0,0,0,0.09);
            .nav-link {
                padding: 15px 0;
                margin-right: 30px;
                border: none;
                color: $font-color;
                &:first-child {
                    padding-left: 0;
                }
                &.active {
                    background-color: transparent;
                    border-color: transparent transparent transparent;
                    color: $primary-color;
                    font-weight: 500;
                    &:after {
                        height: 2px;
                        width: 100%;
                        display: block;
                        content: " ";
                        bottom: -1px;
                        left: 0;
                        position: absolute;
                        background: $primary-color;
                    }
                }
            }
        }
    }
}