//
// Custom navs
//
.nav-tabs-flush {
    .nav-item {
        @include media-breakpoint-down(md) {
            flex: 1 1 auto;
            margin: 10px 0 0;
        }
        &:not(:last-child) {
            .nav-link {
                margin-right: 0;
                @include media-breakpoint-up(sm) {
                    margin-right: 46px;
                }
            }
        }
    }
    .nav-link {
        @include media-breakpoint-down(sm) {
            display: inline-block;
        }
        padding: 0 0 4px;
        border: 0;
        &.active {
            color: $primary;
            border: 0;
            border-bottom: 2px solid $primary;
        }
    }
}