/*-----------------------------------------------------------------------------------*/

/*  Custom > Components > Navbar
/*-----------------------------------------------------------------------------------*/

@mixin arrow-right() {
    display: inline-block;
    float: right;
    margin-top: 6px;
    border-left: 4px dashed;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

@mixin arrow-down() {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.header-top{
    &.header-top-dark{
        color: $navbar-dark-color;
        a{
            color: inherit;
            text-decoration: none;
        }
    }
}

.navbar {
    height: $navbar-height;
    z-index: 99;
    @include media-breakpoint-up(sm) {
        height: $navbar-height;
        padding: 0;
    }
    @include media-breakpoint-down(sm) {
        padding: 0 20px;
    }
    .container {
        @include media-breakpoint-down(md) {
            display: block;
            margin: 0;
            margin-left: auto;
            margin-right: auto;            
        }
        @include media-breakpoint-down(sm) {
            max-width: none;
        }
    }
    .navbar-brand {
        display: block;
        padding: 0;
        margin: 0;
        @include media-breakpoint-down(md) {
            width: 100%;
            position: absolute;
            left: 0;
            margin-top: -5px;
            text-align: center;
            z-index: -1;
            transform: scale(1);
            transition: all .4s ease .4s;
        }
    }
    .navbar-collapse {
        @include media-breakpoint-down(md) {
            left: 0;
            padding: 0;
            position: absolute;
            top: 100%;
            width: 100%;
        }
    }
    .navbar-nav {
        @include media-breakpoint-down(md) {
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: $navbar-nav-bg-color;
        }
        .nav-item {
            @include media-breakpoint-down(md) {
                margin-left: 20px;
            }
        }
        >.nav-item {
            @include media-breakpoint-down(md) {
                margin: 0 20px;
            }
            >.nav-link {
                font-size: $navbar-ddl-menu-font-size;
                text-transform: uppercase;
                font-weight: 600;
                margin: 0 20px;
                padding: 0;
                letter-spacing: 0.015em;
                outline: 0;
                >i {
                    @include media-breakpoint-up(lg) {
                        line-height: $navbar-height;
                    }
                }
                @include media-breakpoint-down(md) {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin: 0;
                    color: #fff;
                }
                @include media-breakpoint-up(lg) {
                    line-height: $navbar-height;
                }
            }
        }
    }
    .dropdown {
        &.show {
            >.dropdown-toggle {
                &:after {
                    @include media-breakpoint-down(lg) {
                        transform: rotate(-180deg);
                    }
                }
            }
        }
    }
    .dropdown-submenu {
        >a {
            @include media-breakpoint-up(md) {
                &:after {
                    @include arrow-right;
                }
            }
        }
    }
    .dropdown-item {
        &:active {
            background-color: transparent;
        }
    }
    .nav-link {
        position: relative;
        &:after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 2px;
            vertical-align: middle;
            border-top: 4px dashed;
            border-top: 4px solid;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            @include media-breakpoint-down(md) {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .dropdown-menu {
        border-radius: 0;
        border: none;
        background-color: $navbar-ddl-menu-bg-color;
        min-width: 220px;
        margin-top: 0;
        padding-top: 19px;
        padding-bottom: 19px;
        @include media-breakpoint-down(md) {
            background-color: transparent;
            padding-top: 0;
            padding-bottom: 0;
        }
        .nav-item {
            @include media-breakpoint-up(md) {
                padding-left: 28px;
                padding-right: 28px;
            }
        }
        .nav-link,
        .dropdown-item {
            font-size: $navbar-ddl-menu-font-size !important;
            color: $navbar-ddl-menu-font-color !important;
            padding: 9px 0;
            @include media-breakpoint-down(md) {
                padding: 10px 0;
            }
            &:hover,
            &:focus {
                color: $navbar-ddl-menu-font-hover-color !important;
            }
        }
        .dropdown-item {
            &:hover,
            &:focus {
                background-color: transparent;
            }
        }
    }
    .dropdown-submenu {
        @include media-breakpoint-down(sm) {
            padding-right: 0;
        }
    }
    .dropdown-mega-menu {
        &.dropdown-menu-w-75 {
            .dropdown-menu {
                @include media-breakpoint-down(sm) {
                    margin-left: 20px;
                }
                @include media-breakpoint-up(md) {
                    padding: 19px 0;
                }
                .dropdown-header {
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: $navbar-ddl-header-color;
                    padding: 9px 0;
                }
                .row{
                    @include media-breakpoint-up(md) {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
                [class*="col-"]{
                    @include media-breakpoint-up(md) {
                        padding-left: 28px;
                        padding-right: 28px;
                    }
                }
                [class*="col-"]:not(:last-child) {
                    @include media-breakpoint-up(md) {
                        border-right: $navbar-ddl-menu-border;
                    }
                }                
                &.dropdown-menu-right {
                    @include media-breakpoint-up(md) {
                        right: 0;
                    }
                }
            }
        }
        &.dropdown-menu-w-75 {
            .dropdown-menu {
                @include media-breakpoint-up(sm) {
                    left: auto;
                    max-width: 75%;
                    min-width: 550px;
                }
            }
        }
    }
}

.navbar-toggler {
    float: right;
    position: relative;
    display: block;
    width: 30px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    color: transparent !important;
    border: none;
    padding: 0;
    @include media-breakpoint-down(sm) {
        float: right;
        z-index: 2;
    }
    &:focus {
        outline: 0;
    }
    span,
    span::before,
    span::after {
        position: absolute;
        display: inline-block;
        height: 2px;
        width: 24px;
        background: #333333;
    }
    span {
        position: absolute;
        top: 50%;
        right: 20px;
        transition: background 0.2s 0.2s;
        left: 0;
    }
    span::before,
    span::after {
        content: '';
        right: 0;
        transform: translateZ(0);
        backface-visibility: hidden;
        transform-origin: 0% 50%;
        transition: transform 0.2s 0.2s;
    }
    span::before {
        top: -6px;
    }
    span::after {
        top: 6px;
    }
}

.navbar-action {
    @include media-breakpoint-down(md) {        
        float: left;
        z-index: 3;
        transform: translateX(-150%);
        transition: all .4s ease .4s;
    }
    @include media-breakpoint-up(lg) {
        margin-left: 40px;
    }
    span {
        font-size: 14px;
        text-transform: uppercase;
    }
    >ul {
        list-style: none;
        margin-bottom: 0;
        li {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
        a {
            color: $body-color;
            text-decoration: none;
            outline: 0;
        }
    }
}

.navbar-collapse-show {
    .navbar-brand {
        transform: scale(0);
        transition: all .4s ease 0s;
    }
    .navbar-action {
        transform: translateX(0);
        transition: all .4s ease 0s;
    }
    .navbar-toggler {
        span {
            background: rgba(51, 51, 51, 0);
            &::before,
            &::after {
                background: #333333;
            }
            &::before {
                transform: translateX(4px) translateY(-3px) rotate(45deg);
            }
            &::after {
                transform: translateX(4px) translateY(2px) rotate(-45deg);
            }
        }
    }
}

.navbar-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition-duration: 0.3s;
}

.sticky {
    .navbar-top {
        top: -160px;
        transition-duration: 0.3s;
    }
    &.header-appear {
        .navbar-top {
            top: 0;
            transition-duration: 0.3s;
        }
    }
    &.header-topbar {
        .header-top {
            top: -45px;
        }
    }
}

.header-topbar {
    &.sticky {
        &.header-appear {
            .navbar-top {
                top: 0;
            }
        }
        .navbar-top {
            top: -160px;
        }
    }
    .header-top {
        position: fixed;
        top: 0;
        font-size: 13px;
        z-index: 99;
        width: 100%;
        transition: ease-in-out 0.3s;
    }
    .navbar-top {
        top: 34px;
        background: #fff;
        box-shadow: 0 4px 10px -10px rgba(0, 0, 0, 0.6);
    }
}

header {
    &.sticky {
        .navbar-scroll-top {
            position: fixed;
            top: -120px;
            width: 100%;
            left: 0;
            transition-duration: 0s;
        }
        nav {
            &.fixed-top {
                &.navbar-dark {
                    background-color: #000000;
                }
            }
        }
        &.header-appear {
            .navbar-scroll-top {
                top: 0;
                transition-duration: 0.3s;
            }
            nav {
                &.navbar-light {
                    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.6);
                }
                &.navbar-dark {
                    background-color: #000000;
                    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.6);
                }
            }
        }
    }
}

.fixed-top {
    z-index: 9999;
    top: 0;
    border-width: 0 0 1px;
}