//
// Custom navs
//
.nav-tabs-flush {
    .nav-link {
        margin-right: 46px;
        padding: 16px 8px;
        border: 0;
        @include media-breakpoint-up(sm) {
            padding: 0 0 4px;
        }
        &.active {
            color: $primary;
            border: 0;
            border-bottom: 2px solid $primary;
        }
    }
}