/*-----------------------------------------------------------------------------------*/
/*  COMPONENTS > NAVS
/*-----------------------------------------------------------------------------------*/

.nav-vertical{
    top:0;
    transition: all 0.3s ease;
    ul{
        list-style:none;
        margin-top:0;
        padding:0;
        .nav-item{
             &:first-child{
                a{
                    padding-top: 0;
                }
            }
            &.dropdown{
                ul{
                    margin-top: 0;display: none;
                    li{
                        border-bottom: none;
                        &:first-child{
                            a{
                                padding-top: 0;
                            }
                        }
                        a{
                            padding: 10px 0 10px 30px;
                        }
                    }
                }
                 &.show{
                    >.dropdown-menu{
                        opacity: 1;
                        visibility: visible;
                        transform: translate3d(0px, 0, 0);
                        @include media-breakpoint-down(md) {
                            max-height: 200px;
                        }
                    }
                    >.dropdown-toggle{                
                        &:after{
                            transform: rotate(180deg);
                        }
                    }
                }  
            }
        }
        li{
            border-bottom: 1px dotted rgba($line-color, 0.4);                   
            a{
                display: flex;
                text-decoration:none;
                transition: all 0.3s ease;
                padding: 15px;
                color: $font-color;
                &:hover{
                    color: $brand-secondary;
                }
                i{
                    margin-right:10px;
                    font-size: 18px;
                    margin-top: 3px;
                    width: 20px;
                    &:first-child{
                        color: $brand-secondary;
                    }
                }
                i[class*='fa-caret']{
                    float: right;
                }
                &.active{
                    color: $brand-secondary;
                    &+ul{
                        display:block
                    }
                }
                &:hover{
                    color: $brand-secondary;
                }
            }
        }
    }

    .dropdown-toggle{
        display: flex;
        &:after{
            margin-left: auto;
            transition: all .4s ease;
            align-self: center;
        }   
    }
}

.nav{
    &.nav-tabs{
        border-bottom: 1px solid $line-color;
        .nav-link{
            padding-top: 15px;
            padding-bottom: 15px;
            border: none;
            &.active{
                background-color: transparent;
                border-color: transparent transparent transparent;
                color: $link-color;
                &:after{
                    height: 2px;
                    width: 100%;
                    display: block;
                    content: " ";
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    background: $brand-secondary;
                }
            }
        }        
    }
}