    /*-----------------------------------------------------------------------------------*/
    /*  COMPONENTS > NAVBAR
    /*-----------------------------------------------------------------------------------*/

    .navbar {
        background: #ffffff;
        box-shadow: 0 1px 6px rgba(0, 0, 0, .35);
        padding-top: 0;
        padding-bottom: 0;
        transition: all .6s;
        &.scroll-up {
            transform: translateY(-110%);
        }
        .navbar-brand {
            padding: 14px 0;
        }
        .navbar-nav {
            li {
                @include media-breakpoint-down(sm) {
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                }
                @include media-breakpoint-up(md) {
                    margin: 0;
                    border-top: none;
                }
                &:first-child {
                    border-top: 0;
                }
            }
            .nav-item {
                display: inline-block;
                text-align: center;
                @include media-breakpoint-down(md) {
                    text-align: left;
                }
                a {
                    font-size: 14px;
                    letter-spacing: 1px;
                }
                .nav-link {
                    position: relative;
                    white-space: nowrap;
                    text-transform: uppercase;
                    padding: 0 25px;
                    outline: none;
                    color: $font-color;
                    &:hover {
                        color: $primary-color;
                    }
                    @include media-breakpoint-down(md) {
                        line-height: 20px !important;
                        padding: 10px 0;
                    }
                }
            }
            &.sm-collapsible {
                .sub-arrow {
                    width: auto !important;
                    height: auto !important;
                    border: none;
                    transition: all .4s ease;
                    &:before {
                        content: "\f107" !important;
                        font-family: "FontAwesome";
                        font-size: 15px;
                    }
                }
                .show> {
                    a> {
                        .sub-arrow {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
        .dropdown-menu {
            padding: 0;
            border: none;
            @include media-breakpoint-down(md) {
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                padding-left: 20px;
            }
            li {
                &:first-child {
                    border: 0;
                }
                @include media-breakpoint-up(md) {
                    background: $primary-color;
                    border-top: 1px solid rgba(255, 255, 255, 0.2);
                }
                a {
                    background: none;
                    border: none;
                    color: $font-color;
                    text-transform: uppercase;
                    padding: 15px 0;
                    line-height: 1;
                    @include media-breakpoint-up(md) {
                        padding: 15px;
                        color: #ffffff;
                    }
                    &:hover {
                        @include media-breakpoint-up(md) {
                            background: lighten($primary-color, 10%);
                        }
                    }
                }
            }
        }
    }

    .navbar-action {
        margin-left: 20px;
        ul {
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                padding: 0 10px;
                i {
                    color: $font-color;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
        @include media-breakpoint-down(sm) {
            position: absolute;
            top: 20px;
            right: 65px;
        }
    }
    /* Adding a menu toggle button on small screens */

    .main-menu-btn {
        position: relative;
        display: inline-block;
        width: 28px;
        height: 28px;
        text-indent: 28px;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 0;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    /* hamburger icon */

    .main-menu-btn-icon,
    .main-menu-btn-icon:before,
    .main-menu-btn-icon:after {
        position: absolute;
        top: 50%;
        left: 2px;
        height: 1px;
        width: 24px;
        background: $font-color;
        transition: all 0.25s;
    }

    .main-menu-btn-icon:before {
        content: '';
        top: -7px;
        left: 0;
    }

    .main-menu-btn-icon:after {
        content: '';
        top: 7px;
        left: 0;
    }
    /* x icon */

    #main-menu-state:checked~.main-menu-btn .main-menu-btn-icon {
        height: 0;
        background: transparent;
    }

    #main-menu-state:checked~.main-menu-btn .main-menu-btn-icon:before {
        top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #main-menu-state:checked~.main-menu-btn .main-menu-btn-icon:after {
        top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    /* hide menu state checkbox (keep it visible to screen readers) */

    #main-menu-state {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
    }
    /* hide the menu in mobile view */

    #main-menu-state:not(:checked)~#main-menu {
        display: none;
    }

    #main-menu-state:checked~#main-menu {
        display: block;
    }

    @media (min-width: 768px) {
        /* hide the button in desktop view */
        .main-menu-btn {
            position: absolute;
            top: -99999px;
        }
        /* always show the menu in desktop view */
        #main-menu-state:not(:checked)~#main-menu {
            display: block;
        }
    }