/*-----------------------------------------------------------------------------------*/


/*  COMPONENT > OWLCAROUSEL
/*-----------------------------------------------------------------------------------*/

.owl-carousel {
    position: relative;
}

.owl-img-dots {
    .owl-dots {
        bottom: 60px;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        height: 3px;
    }
}

.owl-theme {
    .owl-dots {
        text-align: center;
        margin-top: 20px;
        .owl-dot {
            display: inline-block;
            zoom: 1;
            *display: inline;
            span {
                margin: 0 3px;
                display: block;
                border-radius: 100%;
                border: 2px solid $primary-color;
                width: 13px;
                height: 13px;
                transition: all 150ms ease-in;
            }
            &.active,
            &:hover {
                span {
                    background: $primary-color;
                }
            }
        }
    }
}

.owl-dot-white {
    .owl-dot {
        span {
            border: 2px solid #ffffff !important;
        }
        &.active,
        &:hover {
            span {
                background: #ffffff !important;
            }
        }
    }
}

.owl-dot-primary {
    .owl-dot {
        span {
            border: 2px solid $primary-color !important;
        }
        &.active,
        &:hover {
            span {
                background: $primary-color !important;
            }
        }
    }
}

.owl-nav {
    position: absolute;
    top: 50%;
    margin-top: -43px;
    width: 100%;
    .owl-prev,
    .owl-next {
        z-index: 100;
        position: absolute;
        background: none;
        width: auto;
        height: auto;
        font-size: 50px;
        color: rgba(255, 255, 255, 0.7);
        transition: color 200ms ease-in;
    }
}

.owl-carousel {
    .owl-stage {
        display: flex;
    }
    .owl-item {
        display: flex;
        flex: 1 0 auto;
        .item {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            .card {
                flex: 1 0 auto;
            }
            img {
                margin: auto;
            }
        }
    }
}