/*-----------------------------------------------------------------------------------*/

/*  Custom > Component > Owl Calrosel
/*-----------------------------------------------------------------------------------*/

.owl-carousel {
    position: relative;
    &:hover {
        .owl-nav {
            >div {
                opacity: 0.8;
            }
        }
    }
    .owl-stage {
        display: flex;
    }
    .owl-item {
        display: flex;
        flex: 1 0 auto;
        .item {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
            margin-top: auto;
            .card {
                flex: 1 0 auto;
            }
        }
    }
}

.owl-hero {
    .owl-item {
        .item {
            height: 100%;
            margin-top: 0;
        }
    }
}

.owl-dots {
    text-align: center;
    margin-top: 30px;
    .owl-dot {
        display: inline-block;
        zoom: 1;
        span {
            margin: 0 5px;
            display: block;
            border-radius: 100%;
            border: 1px solid $primary;
            width: 13px;
            height: 13px;
            transition: all 150ms ease-in;
        }
        &.active,
        &:hover {
            span {
                background: $primary;
            }
        }
    }
}

.owl-nav {
    >div {
        position: absolute;
        top: calc(50% - 14px);
        transform: translateY(-50%);
        display: inline-block;
        zoom: 1;
        margin: 0 1px;
        padding: 10px 0;
        line-height: 0;
        width: 40px;
        height: 40px;
        border-radius: 0;
        font-size: 0;
        transition: all 0.2s ease-in-out;
        &:after {
            font-family: 'themify';
            font-size: 20px;
            display: block;
            line-height: 40px;
        }
        &:hover {
            opacity: 1 !important;
        }
    }
    .owl-prev,
    .owl-next {
        text-align: center;
        color: #ffffff;
    }
    .owl-prev {
        left: 0;
        &:after {
            content: "\e64a";
        }
    }
    .owl-next {
        right: 0;
        &:after {
            content: "\e649";
        }
    }
}

.owl-nav-edge {
    .owl-prev,
    .owl-next {
        height: 60px;
        text-align: center;
        @include media-breakpoint-up(sm) {
            opacity: 0;
        }
    }
    .owl-prev {
        left: -1px;
    }
    .owl-next {
        right: -1px;
    }
}

.owl-item {
    figure {
        &:after {
            @include media-breakpoint-down(sm) {
                background: none !important;
            }
        }
    }
    .owl-caption {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        margin: 0 auto;
        overflow: hidden;
        padding: 0 !important;
    }
    .owl-caption-fluid {
        @include media-breakpoint-down(sm) {
            width: 100% !important;
        }
        @include media-breakpoint-up(sm) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            margin: 0 auto;
            overflow: hidden;
            padding: 0 !important;
        }
    }
}

.owl-dots-inside {
    .owl-dots {
        position: absolute;
        bottom: 30px;
        margin: 0;
        display: inline-block;
        left: 50%;
        width: auto;
        transform: translateX(-50%);
        span {
            box-shadow: $box-shadow;
        }
    }
}

.owl-dots-white {
    .owl-dot {
        span {
            border: 2px solid #ffffff !important;
        }
        &.active,
        &:hover {
            span {
                background: #ffffff !important;
            }
        }
    }
}

.owl-dots-primary {
    .owl-dot {
        span {
            border: 2px solid $primary !important;
        }
        &.active,
        &:hover {
            span {
                background: $primary !important;
            }
        }
    }
}

.owl-nav-bg-dark {
    .owl-nav {
        >div {
            width: 28px;
            color: #ffffff;
            background: $dark;
        }
    }
}

.owl-nav-dark {
    .owl-nav {
        >div {
            color: $dark;
        }
    }
}

.owl-nav-hover {
    .owl-prev,
    .owl-next {
        @include media-breakpoint-up(sm) {
            opacity: 0;
        }
    }
}