/*-----------------------------------------------------------------------------------*/
/*	02. COMPONENTS > PARALLAX
/*-----------------------------------------------------------------------------------*/

.parallax{
    .icon-video{
        position: relative;
        top: auto;
        left: auto;
        transform: none;
    }
}