/*-----------------------------------------------------------------------------------*/
/*	COMPONENTS > PRICING
/*-----------------------------------------------------------------------------------*/

.pricing{
	border: $card-border;
	.price {
		font-size: 80px;
		font-weight: 300;
		line-height: .8;
		.currency {
			position: relative;
			font-size: 44px;
			font-weight: 500;
			top: -22px;
			letter-spacing: 0px;
		}
		.period {
			font-size: 18px;
			letter-spacing: 0px;
		}
	}

}