/*-----------------------------------------------------------------------------------*/
/*	COMPONENTS > PROGRESS
/*-----------------------------------------------------------------------------------*/
.progress {
	border-radius: 0;
  	.progress-bar {
		width: 0;
		&.progress-md {
		    height: 30px;
		}
	}
}

