/*-----------------------------------------------------------------------------------*/
/*	COMPONENT > VIDEO
/*-----------------------------------------------------------------------------------*/
.video-parallax{
    height: 500px;
    .video-wrap {
        video {
            width: 100%;
            height: 100%;
            display: inline-block;
            vertical-align: baseline;
        }
        height: 100%;
        width: 100%;
    }
    video {
        &::-webkit-media-controls {
            display: none !important;
        }
    }
    .video-overlay {
        position: relative;
        z-index: 20;
        width: 100%;
        height: 100%;
        text-align: center;
        display: table;
        background: rgba(30,30,30,0.5);
        .video-caption {
            display: table-cell;
            vertical-align: middle;
        }
    }
}