{% set page_title = "Standard Post Left Sidebar" %}
<!--  -->
{% set page_link = "Single Posts" %}
<!--  -->
{% set page_link2 = "Standard Post Left Sidebar" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/header.html" %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<div id="content">
    <section class="py-6 py-lg-8">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 order-1 order-lg-2">
                    <div class="card border-0">
                        <img src="assets/images/blog/blog-1-1600x1033.jpg" class="img-fluid" alt="Image Description">
                        <div class="card-body py-4 px-0 mt-2">
                            <h3 class="card-title h4">We discuss our business priorities and how to match our technology</h3>
                            <p class="meta mb-4 border-bottom pb-4">
                                January 1, 2018
                                <span>by</span>
                                <a href="#">Mark</a>
                                <span>in</span>
                                <a href="#">Business</a>
                            </p>
                            <p>Reinsurance companies are insurance companies that sell policies to other insurance companies,
                                allowing them to reduce their risks and protect themselves from very large losses. The reinsurance
                                market is dominated by a few very large companies, with huge reserves. A reinsurer may also
                                be a direct writer of insurance risks as well.</p>
                            <p>Insurance companies are rated by various agencies such as A. M. Best. The ratings include the
                                company's financial strength, which measures its ability to pay claims. It also rates financial
                                instruments issued by the insurance company, such as bonds, notes, and securitization products.
                            </p>
                            <blockquote class="blockquote my-5">
                                <p class="mb-0">Captives are becoming an increasingly important component of the risk management and risk
                                    financing strategy of their parent. This can be understood against the following background.
                                </p>
                            </blockquote>
                            <h4 class="mt-4">The business model is to collect more in premium</h4>
                            <p>The types of risk that a captive can underwrite for their parents include property damage, public
                                and product liability, professional indemnity, employee benefits, employers' liability, motor
                                and medical aid expenses. The captive's exposure to such risks may be limited by the use
                                of reinsurance.</p>
                            <p>If the Insured has a "reimbursement" policy, the insured can be required to pay for a loss and
                                then be "reimbursed" by the insurance carrier for the loss and out of pocket costs including,
                                with the permission of the insurer, claim expenses.</p>
                            <div class="row no-gutters py-4 border-bottom">
                                <div class="col-md-6">
                                    <strong>Share:</strong>
                                    <div class="d-inline-block ml-4">
                                        <ul class="list-inline list-inline-lg mb-0">
                                            <li class="list-inline-item">
                                                <a href="#">
                                                    <i class="fab fa-twitter fa-lg"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#">
                                                    <i class="fab fa-facebook-f fa-lg"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#">
                                                    <i class="fab fa-google-plus-g fa-lg"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 text-md-right mt-4 mt-md-0">
                                    <div class="d-inline-block">
                                        <a href="#" class="badge badge-primary h6 px-2 py-1 mb-0">catalog</a>
                                        <a href="#" class="badge badge-primary h6 px-2 py-1 mb-0">business</a>
                                        <a href="#" class="badge badge-primary h6 px-2 py-1 mb-0">wanderer</a>
                                        <a href="#" class="badge badge-primary h6 px-2 py-1 mb-0">inspiring</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 mt-4">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <img src="assets/images/author/author-6-400x400.jpg" class="img-fluid mb-4 mb-md-0" alt="Image Description">
                                </div>
                                <div class="col-md-9">
                                    <h4>About the Author</h4>
                                    <p>Captives are becoming an increasingly important component of the risk management and
                                        risk financing strategy of their parent.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 mt-5">
                        <div class="card-body p-0">
                            <h4>5 Comments</h4>
                            <ul class="list-unstyled mt-4">
                                <li class="media mb-2">
                                    <a href="#">
                                        <img src="assets/images/author/author-1-400x400.jpg" alt="Image Description" class="d-flex w-70px">
                                    </a>
                                    <div class="media-body ml-4">
                                        <h5 class="h6">
                                            <a href="#">Jana Klein</a>
                                        </h5>

                                        <p class="meta">January 1, 2018
                                            <a href="#" class="text-uppercase meta-link ml-3">Reply</a>
                                        </p>
                                        <p>Neither insurance consultants nor insurance brokers are insurance companies and no
                                            risks are transferred to them in insurance transactions.</p>
                                    </div>
                                </li>
                                <li class="media mb-2">
                                    <a href="#">
                                        <img src="assets/images/author/author-2-400x400.jpg" alt="Image Description" class="d-flex w-70px">
                                    </a>
                                    <div class="media-body ml-4">
                                        <h5 class="h6">
                                            <a href="#">Ruby Nelson</a>
                                        </h5>
                                        <p class="meta">January 1, 2018
                                            <a href="#" class="text-uppercase meta-link ml-3">Reply</a>
                                        </p>
                                        <p>Third party administrators are companies that perform underwriting and sometimes
                                            claims handling services for insurance companies. </p>
                                    </div>
                                </li>
                                <li class="media mb-2">
                                    <a href="#">
                                        <img src="assets/images/author/author-3-400x400.jpg" alt="Image Description" class="d-flex w-70px">
                                    </a>
                                    <div class="media-body ml-4">
                                        <h5 class="h6">
                                            <a href="#">Hope Schneider</a>
                                        </h5>
                                        <p class="meta">January 1, 2018
                                            <a href="#" class="text-uppercase meta-link ml-3">Reply</a>
                                        </p>
                                        <p>These companies often have special expertise that the insurance companies do not
                                            have.</p>
                                        <div class="media mt-4 mb-2 pos-relative">
                                            <a href="#">
                                                <img src="assets/images/author/author-4-400x400.jpg" alt="Image Description" class="d-flex w-70px">
                                            </a>
                                            <div class="media-body ml-4">
                                                <h5 class="h6">
                                                    <a href="#">Doyle Holland</a>
                                                </h5>
                                                <p class="meta">January 1, 2018
                                                    <a href="#" class="text-uppercase meta-link ml-3">Reply</a>
                                                </p>
                                                <p class="mb-1">The use of basic technology is also a feature of other animal species apart
                                                    from humans. These include primates such as chimpanzees.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="media mb-2">
                                    <a href="#">
                                        <img src="assets/images/author/author-5-400x400.jpg" alt="Image Description" class="d-flex w-70px">
                                    </a>
                                    <div class="media-body ml-4">
                                        <h5 class="h6">
                                            <a href="#">Julian Wilson</a>
                                        </h5>
                                        <p class="meta">January 1, 2018
                                            <a href="#" class="text-uppercase meta-link ml-3">Reply</a>
                                        </p>
                                        <p>The science can be leading edge or well established and the function can have high
                                            visibility or be significantly more mundane.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card border-0 mt-5">
                        <div class="card-body p-0">
                            <h4 class="card-title">Would you like to share your thoughts?</h4>
                            <p>Your email address will not be published. Required fields are marked *</p>
                            <form id="comment_form" class="form-container pt-2" action="#" method="post">
                                <div class="form-group">
                                    <input type="text" name="first" class="form-control" placeholder="Name *">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="first" class="form-control" placeholder="Email *">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="first" class="form-control" placeholder="Website">
                                </div>
                                <div class="form-group">
                                    <textarea name="textarea" id="textarea" class="form-control" rows="5" cols="30" placeholder="Comment *"></textarea>
                                </div>
                                <input type="submit" value="Post Comment" name="submit" class="btn btn-primary text-uppercase">
                            </form>
                        </div>
                    </div>
                </div>
                <aside class="col-12 col-lg-4 order-2 order-lg-1 sidebar pr-lg-4 mt-5 mt-lg-0">
                    {% include "../templates/partials/sidebar.html" %}
                </aside>
            </div>
        </div>
    </section>
</div>
{% endblock %}