{% set page_title = "About Us" %}
<!--  -->
{% set page_link = "About" %}
<!--  -->
{% set page_link2 = "About Us" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/header.html" %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<div id="content">
    <section class="py-8 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pr-lg-4">
                    <div class="owl-carousel owl-theme owl-loaded owl-nav-dark" data-owl-carousel-options='{"items":1, "nav":true,"margin":0, "dots":false, "loop":true, "autoHeight":true}'>
                        <div class="item">
                            <img src="assets/images/about/about-1-800x517.jpg" alt="Image Description" />
                        </div>
                        <div class="item">
                            <img src="assets/images/about/about-2-800x517.jpg" alt="Image Description" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0 pl-lg-4">
                    <h3 class="mb-3">Our Overview</h3>
                    <p>Consultants provide their advice to their clients in a variety of forms. Reports and
                        presentations are
                        often used. However, in some specialized fields, the consultant may develop customized software
                        or
                        other products for the client. Depending on the nature of the consulting services and the
                        wishes
                        of the client, the advice from the consultant.
                    </p>
                    <p>the advice may be kept confidential, and only given to the senior executives of the organization
                        paying
                        for the consulting services.</p>
                    <a href="#" class="btn btn btn-primary text-uppercase mt-4">Read More</a>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-8 pb-6 py-lg-8">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-4">
                    <div class="card border-0 mb-5 mb-lg-0 text-center">
                        <i class="material-icons icon-60 text-primary">credit_card</i>
                        <h4 class="mt-4 mb-3">
                            Budget Friendly
                        </h4>
                        <p class="mb-0">The budget of a government is a summary or plan of the intended revenues and
                            expenditures of that government.
                        </p>
                    </div>
                </div>
                <div class="col-md-10 col-lg-4">
                    <div class="card border-0 mb-5 mb-lg-0 text-center">
                        <i class="material-icons icon-60 text-primary">public</i>
                        <h4 class="mt-4 mb-3">
                            Worldwide Availability
                        </h4>
                        <p class="mb-0">Manufacturing is the production of merchandise for use or sale using labour and
                            machines tools chemical
                            and biological.
                        </p>
                    </div>
                </div>
                <div class="col-md-10 col-lg-4">
                    <div class="card border-0 mb-5 mb-lg-0 text-center">
                        <i class="material-icons icon-60 text-primary">people_outline</i>
                        <h4 class="mt-4 mb-3">
                            After Sale Support
                        </h4>
                        <p class="mb-0">Owners may manage their businesses themselves, or employ managers to do so for them
                            whether they are
                            owners.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light py-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pr-lg-4">
                    <h3 class="mb-3">Our Mission</h3>
                    <p>Some specialized businesses may also require licenses, either due to laws governing entry into
                        certain
                        trades, occupations or professions, that require special education or to raise revenue for
                        local
                        governments. Professions that require special licenses include law.</p>
                    <ul class="list-unstyled list-lg mb-0">
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Financial services consulting firm
                            into the market.
                        </li>
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Business consulting and tech
                            services branches.
                        </li>
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Products and consulting services
                            and creating brand.
                        </li>
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Energy and environment and
                            management consulting.
                        </li>
                        <li class="d-flex align-items-md-center">
                            <i class="material-icons text-primary mr-2">check_box</i>Logistics consulting and solution
                            provider.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 mt-6 mt-lg-0 pl-lg-4">
                    <h3 class="mb-4">Our Vision</h3>
                    <div class="video">
                        <img src="assets/images/about/about-3-800x517.jpg" class="img-fluid" alt="Image Description">
                        <iframe class="d-none bg-image" data-src="https://www.youtube.com/embed/TJ1SDXbij8Y?autoplay=1"
                            allowfullscreen></iframe>
                        <a class="video-icon">
                            <i class="material-icons icon-36 text-light icon">play_arrow</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="position-relative bg-primary py-8">
        <img src="assets/images/other/other-1-1920x700.jpg" class="bg-image op-3" alt="Image Description">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center text-white">
                    <h3>Our Partners</h3>
                    <p class="mt-3 mb-0">Partner compensation will often be defined by the terms of a partnership
                        agreement. Partners who work
                        for the partnership may receive compensation for their labor before any division of profits
                        between
                        partners.
                    </p>
                </div>
            </div>
            <div class="row mt-4 justify-content-md-center text-center">
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-6 col-md-4 py-4 my-auto">
                            <img src="assets/images/client/client-1-light.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 col-md-4 py-4 my-auto">
                            <img src="assets/images/client/client-2-light.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 col-md-4 py-4 my-auto">
                            <img src="assets/images/client/client-3-light.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 col-md-4 py-4 pb-md-0 my-auto">
                            <img src="assets/images/client/client-5-light.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 col-md-4 py-4 pb-md-0 my-auto">
                            <img src="assets/images/client/client-6-light.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 col-md-4 py-4 pb-md-0 my-auto">
                            <img src="assets/images/client/client-4-light.png" class="img-fluid" alt="Image Description">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>Our History</h3>
                    <h6 class="font-weight-light text-muted">We provide dedicated innovative software</h6>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-lg-10">
                    <ul class="timeline timeline-split">
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>January 12, 2015</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h5 class="mb-3">Start a Service Related Business</h5>
                                <p>Finance aims to price assets based on their risk level and their expected rate of
                                    return.
                                    Finance can be broken into three different sub-categories.</p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>February 15, 2016</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h5 class="mb-3">New Office in Miami</h5>
                                <p>The term developed from the original meaning which referred literally to going to a
                                    market
                                    to buy or sell goods or services. Marketing tactics include advertising.
                                </p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>November 12, 2017</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h5 class="mb-3">Partnership with The Community</h5>
                                <p>Marketing is defined by the American Marketing Association as "the activity, set of
                                    institutions,
                                    and processes for creating, communicating, delivering.
                                </p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>December 12, 2018</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h5 class="mb-3">Founded The Company</h5>
                                <p>Research and development are very difficult to manage since the defining feature of
                                    the research
                                    is that the researchers do not know in advance exactly.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-white text-center text-md-left">
                    <h3 class="text-white">Looking for a first-class business plan consultant?</h3>
                    <p class="mb-0">Plan consultant and is responsible for administration and business development.</p>
                </div>
                <div class="col-lg-3 my-auto text-center text-md-left text-lg-right">
                    <a href="#" class="btn btn-outline-light mt-4 mt-lg-0 text-uppercase">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}