{% set page_title = "Pricing" %}
<!--  -->
{% set page_link = "About" %}
<!--  -->
{% set page_link2 = "Pricing" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/header.html" %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<div id="content">
    <section class="py-6 py-lg-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pr-lg-5">
                    <h3 class="mb-4">About Pricing</h3>
                    <p>Experience curve pricing occurs when a manufacturer prices a product or service at a low rate in order
                        to obtain volume and with the expectation that the cost of production will decrease with the acquisition
                        of manufacturing experience. This approach which is often used in the pricing of high technology
                        products and services.
                    </p>
                    <p>Exit Fees refer to a fee charged for customers who depart from the service process prior to natural completion.</p>
                </div>
                <div class="col-lg-6 pl-lg-5 mt-3 mt-lg-0">
                    <h3 class="mb-4">FAQ</h3>
                    <div id="accordion1" class="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card rounded-0 border-0 mb-2">
                            <div class="card-header border-0 bg-light" role="tab" id="headingOne">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        What made you get into technical support?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion1">
                                <div class="card-body bg-light p-4">
                                    <p>The physical properties of compounds such as melting point and boiling point change when
                                        other compounds are added. Together they are called colligative properties. There
                                        are several ways to quantify the amount of one compound dissolved in the other compounds
                                        collectively.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded-0 border-0 mb-2">
                            <div class="card-header border-0 bg-light" role="tab" id="headingTwo">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How are travel expenses calculated and billed?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion1">
                                <div class="card-body bg-light p-4">
                                    <p>The physical properties of compounds such as melting point and boiling point change when
                                        other compounds are added. Together they are called colligative properties. There
                                        are several ways to quantify the amount of one compound dissolved in the other compounds
                                        collectively.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded-0 border-0 mb-2">
                            <div class="card-header border-0 bg-light" role="tab" id="headingThree">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        How is the scope of a consulting project determined?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion1">
                                <div class="card-body bg-light p-4">
                                    <p>The physical properties of compounds such as melting point and boiling point change when
                                        other compounds are added. Together they are called colligative properties. There
                                        are several ways to quantify the amount of one compound dissolved in the other compounds
                                        collectively.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded-0  border-0 mb-2">
                            <div class="card-header border-0 bg-light" role="tab" id="headingFour">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        What problems does business consulting typically solve?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion1">
                                <div class="card-body bg-light p-4">
                                    <p>The physical properties of compounds such as melting point and boiling point change when
                                        other compounds are added. Together they are called colligative properties. There
                                        are several ways to quantify the amount of one compound dissolved in the other compounds
                                        collectively.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light py-6 py-lg-8">
        <div class="container">
            <h3 class="text-center">Service Pricing Table</h3>
            <div class="row justify-content-md-center mt-6">
                <div class="col-md-8 col-lg-4">
                    <div class="card pricing border-0 rounded-0 text-center mb-4 mb-lg-0 ">
                        <div class="card-header bg-white p-4 border-bottom-0">
                            <h3 class="price mb-0">
                                <span class="currency">$</span>19
                                <span class="period">/month</span>
                            </h3>
                        </div>
                        <div class="card-body py-4">
                            <h4 class="card-title">Startup License</h4>
                            <ul class="list-unstyled list-lg">
                                <li>
                                    <strong>1</strong> Project</li>
                                <li>
                                    <strong>100K</strong> API Access</li>
                                <li>
                                    <strong>100MB</strong> Storage</li>
                                <li>100KCustom
                                    <strong>Cloud</strong> Services</li>
                                <li>Weekly
                                    <strong>Reports</strong>
                                </li>
                                <li>7/24
                                    <strong>Support</strong>
                                </li>
                            </ul>
                            <a href="#" class="btn text-uppercase mt-2">Choose Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-lg-4">
                    <div class="card pricing border-0 rounded-0 text-center mb-4 mb-lg-0 ">
                        <div class="card-header bg-white text-primary rounded-0 p-4 border-bottom-0">
                            <h3 class="price mb-0">
                                <span class="currency">$</span>29
                                <span class="period">/month</span>
                            </h3>
                        </div>
                        <div class="card-body py-4">
                            <h4 class="card-title">Business License</h4>
                            <ul class="list-unstyled list-lg">
                                <li>
                                    <strong>1</strong> Project</li>
                                <li>
                                    <strong>100K</strong> API Access</li>
                                <li>
                                    <strong>100MB</strong> Storage</li>
                                <li>100KCustom
                                    <strong>Cloud</strong> Services</li>
                                <li>Weekly
                                    <strong>Reports</strong>
                                </li>
                                <li>7/24
                                    <strong>Support</strong>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-primary text-uppercase mt-2">Choose Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-lg-4">
                    <div class="card pricing border-0 rounded-0 text-center mb-4 mb-lg-0 ">
                        <div class="card-header bg-white p-4 border-bottom-0">
                            <h3 class="price mb-0">
                                <span class="currency">$</span>39
                                <span class="period">/month</span>
                            </h3>
                        </div>
                        <div class="card-body py-4">
                            <h4 class="card-title">Enterprise License</h4>
                            <ul class="list-unstyled list-lg">
                                <li>
                                    <strong>1</strong> Project</li>
                                <li>
                                    <strong>100K</strong> API Access</li>
                                <li>
                                    <strong>100MB</strong> Storage</li>
                                <li>100KCustom
                                    <strong>Cloud</strong> Services</li>
                                <li>Weekly
                                    <strong>Reports</strong>
                                </li>
                                <li>7/24
                                    <strong>Support</strong>
                                </li>
                            </ul>
                            <a href="#" class="btn text-uppercase mt-2">Choose Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-6 py-lg-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pr-lg-5">
                    <h3 class="mb-4">Get In Touch</h3>
                    <p>Consultants provide their advice to their clients in a variety of forms. Reports and presentations are
                        often used. However, in some specialized fields, the consultant may develop customized software.</p>
                    <ul class="list-unstyled list-lg mt-4 mb-0">
                        <li class="d-flex align-items-center">
                            <i class="material-icons mr-2">email</i>info@company.com
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="material-icons mr-2">account_circle</i>support@company.com
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="material-icons mr-2">phone</i>
                            </i>903-965-1149, 940-453-7439
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="material-icons mr-2">location_on</i>368 Alpha Avenue, Texas 75414
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <form class="form-container mt-4 mt-lg-0" name="form_name" action="#" method="post">
                        <div class="form-group">
                            <input type="text" name="first" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="first" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <select name="department" class="form-control">
                                <option value="">Select Department</option>
                                <option value="Sales">Sales</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Support">Customer Support</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea name="textarea" id="textarea" class="form-control" rows="6" cols="30" placeholder="Enter your comment here..."></textarea>
                        </div>
                        <input type="submit" value="Send Message" name="submit" class="btn btn-primary text-uppercase">
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}