{% set page_title = "Contact Us" %}
<!--  -->
{% set page_link = "About" %}
<!--  -->
{% set page_link2 = "Contact Us" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/header.html" %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<div id="content">
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="google-map wide" style="width: 100%; height: 450px" data-lat="51.211215" data-lng="3.226287"></div>
            </div>
        </div>
        <div class="container py-6 py-lg-8">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h5 class="mb-3">Contact Info</h5>
                    <p>Consultants provide their advice to their clients in a variety of forms. Reports and presentations are
                        often used. However, in some specialized fields, the consultant may develop customized software.</p>
                    <ul class="list-unstyled list-lg mt-4 mb-0">
                        <li class="d-flex align-items-center">
                            <i class="material-icons text-primary mr-2">email</i>info@company.com
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="material-icons text-primary mr-2">account_circle</i>support@company.com
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="material-icons text-primary mr-2">phone</i>
                            </i>903-965-1149, 940-453-7439
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="material-icons text-primary mr-2">location_on</i>368 Alpha Avenue, Texas 75414
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-6 mt-5 mt-lg-0">
                    <form class="form-container" name="form_name" action="#" method="post">
                        <div class="form-group">
                            <input type="text" name="first" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="first" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" name="first" class="form-control" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <select name="department" class="form-control">
                                <option value="">Select Department</option>
                                <option value="Sales">Sales</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Support">Customer Support</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea name="textarea" id="textarea" class="form-control" rows="6" cols="30" placeholder="Enter your comment here..."></textarea>
                        </div>
                        <input type="submit" value="Send message" name="submit" class="btn btn-primary text-uppercase">
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}