{% set page_title = "Our Services" %}
<!--  -->
{% set page_link = "About" %}
<!--  -->
{% set page_link2 = "Our Services" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/header.html" %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<div id="content">
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 my-auto text-center pt-5 pt-lg-0 order-2 order-lg-1">
                    <canvas id="chartBar" width="400" height="300"></canvas>
                </div>
                <div class="col-12 col-lg-6 my-auto order-1 order-lg-2">
                    <div class="d-block pl-lg-4">
                        <h3 class="mb-4">We manage $35 billion in assets and serve more than
                            <span class="text-primary">90,000</span> members and we continue to grow.</h3>
                        <p>Modern mathematical analysis is the study of infinite processes. It is the branch of mathematics
                            that includes calculus. It can be applied in the study of classical concepts of mathematics,
                            such as real numbers complex variables, trigonometric functions, and algorithms, or of non-classical
                            concepts like constructivism.</p>
                        <p>In recent decades, states modeled some of their assets and enterprises after business enterprises.
                            In 2003, for example, the People's Republic of China modeled 80% of its state-owned enterprises.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="border-top py-8">
        <div class="container">
            <div class="row">
                <div class="col-md-7 text-center text-md-left my-auto">
                    <h3 class="mb-4 mb-sm-0">Global Business Services</h3>
                </div>
                <div class="col-md-5 text-center text-lg-right">
                    <a href="#" class="btn btn-primary text-uppercase">send free enquiry</a>
                </div>
            </div>
            <div class="row justify-content-center mt-6 mt-lg-7">
                <div class="col-md-10 col-lg-4">
                    <div class="card border-0 mb-4 mb-lg-6 text-center align-items-center">
                        <i data-feather="pie-chart" width="60" height="60" stroke-width="1" class="text-primary"></i>
                        <h4 class="my-4">
                            Financial Planning
                        </h4>
                        <p class="mb-0">Finance is one of the most important aspects of business management and includes analysis related.
                        </p>
                    </div>
                </div>
                <div class="col-md-10 col-lg-4 text-center mb-4 mb-md-0">
                    <div class="card border-0 mb-4 mb-lg-6 text-center align-items-center">
                        <i data-feather="monitor" width="60" height="60" stroke-width="1" class="text-primary"></i>
                        <h4 class="my-4">
                            Software and Research
                        </h4>
                        <p class="mb-0">Software quality is very important, especially for commercial and system software like Microsoft
                            Windows.
                        </p>
                    </div>
                </div>
                <div class="col-md-10 col-lg-4">
                    <div class="card border-0 mb-4 mb-lg-6 text-center align-items-center ">
                        <i data-feather="user" width="60" height="60" stroke-width="1" class="text-primary"></i>
                        <h4 class="my-4">
                            Business Services
                        </h4>
                        <p class="mb-0">The confusion surrounding the term financial plans might stem from the fact that there are many types
                            of financial.
                        </p>
                    </div>
                </div>
                <div class="col-md-10 col-lg-4 text-center mb-4 mb-md-0">
                    <div class="card border-0 mb-4 text-center align-items-center">
                        <i data-feather="activity" width="60" height="60" stroke-width="1" class="text-primary"></i>
                        <h4 class="my-4">
                            Economic Consulting
                        </h4>
                        <p class="mb-0">These factors give context, content, and set the conditions and parameters in which an economy functions.
                        </p>
                    </div>
                </div>
                <div class="col-md-10 col-lg-4 text-center mb-4 mb-md-0">
                    <div class="card border-0 mb-4 text-center align-items-center">
                        <i data-feather="credit-card" width="60" height="60" stroke-width="1" class="text-primary"></i>
                        <h4 class="my-4">
                            Investment Planning
                        </h4>
                        <p class="mb-0">Investors generally expect higher returns from riskier investments. Financial assets range from low-risk.
                        </p>
                    </div>
                </div>
                <div class="col-md-10 col-lg-4 text-center">
                    <div class="card border-0 text-center align-items-center">
                        <i data-feather="heart" width="60" height="60" stroke-width="1" class="text-primary"></i>
                        <h4 class="my-4">
                            Healthcare Consulting
                        </h4>
                        <p class="mb-0">Primary care is often used as the term for the health care services that play a role in the local
                            community.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="position-relative border-top py-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <h6 class="font-weight-light">The software industry represents the best</h6>
                    <h3>We provide the marketing resources to help you continue to grow your business</h3>
                    <ul class="list-unstyled list-icon list-lg mt-4 mb-0">
                        <li class="d-flex align-items-center">
                            <i data-feather="check-square" stroke-width="2" class="text-primary mr-3"></i>Financial services consulting firm into the market.
                        </li>
                        <li class="d-flex align-items-center">
                            <i data-feather="check-square" stroke-width="2" class="text-primary mr-3"></i>Business consulting and tech services branches.
                        </li>
                        <li class="d-flex align-items-center">
                            <i data-feather="check-square" stroke-width="2" class="text-primary mr-3"></i>Products and consulting services and creating brand.
                        </li>
                        <li class="d-flex align-items-center">
                            <i data-feather="check-square" stroke-width="2" class="text-primary mr-3"></i>Energy and environment and management consulting.
                        </li>
                        <li class="d-flex align-items-center">
                            <i data-feather="check-square" stroke-width="2" class="text-primary mr-3"></i>Logistics consulting and solution provider.
                        </li>
                    </ul>
                </div>
                <div class="col-1 d-none d-lg-block text-center">
                    <div class="h-100 d-inline-block border-left"></div>
                </div>
                <div class="col-lg-5 px-lg-0 my-auto">
                    <div class="row mt-4 mt-lg-0">
                        <div class="col-6 my-auto text-center p-4">
                            <img src="assets/images/client/client-1.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 my-auto text-center p-4">
                            <img src="assets/images/client/client-2.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 my-auto text-center p-4">
                            <img src="assets/images/client/client-3.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 my-auto text-center p-4">
                            <img src="assets/images/client/client-4.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 my-auto text-center pt-4">
                            <img src="assets/images/client/client-5.png" class="img-fluid" alt="Image Description">
                        </div>
                        <div class="col-6 my-auto text-center pt-4">
                            <img src="assets/images/client/client-6.png" class="img-fluid" alt="Image Description">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="border-top py-8">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>What Our Clients Say</h3>
                    <h6 class="font-weight-light text-muted">We provide dedicated innovative software</h6>
                </div>
            </div>
            <div class="owl-carousel owl-theme owl-loaded owl-nav-md-hover mt-6" data-owl-carousel-options='{"nav":true, "dots":false, "margin":30, "loop":true, "autoHeight":true,"responsive": {"0": {"items": 1}, "768": {"items": 2}, "992": {"items": 3}}}'>
                <div class="item mt-0">
                    <div class="testimonial testimonial-center">
                        <div class="testimonial-body text-center p-4 border">
                            <p class="font-weight-light mb-0">Your company is truly upstanding and is behind its product 100%. I have gotten at least 50 times
                                the value from business.</p>
                        </div>
                        <div class="testimonial-footer mt-4">
                            <img src="assets/images/author/author-1-400x400.jpg" class="d-inline rounded-circle w-max-90px mr-2" alt="Image Description">
                            <div class="d-inline-block align-middle text-left ml-3">
                                <h6 class="text-primary mb-2">
                                    <a href="#">Kristina Cain</a>
                                </h6>
                                <p class="font-weight-light text-black-50 pb-0 mb-0">Managing Director</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item mt-0">
                    <div class="testimonial testimonial-center">
                        <div class="testimonial-body text-center p-4 border">
                            <p class="font-weight-light mb-0">I don&#39;t always clop, but when I do, it&#39;s because of business. Keep up the excellent work.</p>
                        </div>
                        <div class="testimonial-footer mt-4">
                            <img src="assets/images/author/author-2-400x400.jpg" class="d-inline rounded-circle w-max-90px mr-2" alt="Image Description">
                            <div class="d-inline-block align-middle text-left ml-3">
                                <h6 class="text-primary mb-2">
                                    <a href="#">Stacy Logan</a>
                                </h6>
                                <p class="font-weight-light text-black-50 pb-0 mb-0">Operations Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item mt-0">
                    <div class="testimonial testimonial-center">
                        <div class="testimonial-body text-center p-4 border">
                            <p class="font-weight-light mb-0">I could probably go into sales for you. No matter where you go, business is the coolest, most
                                happening thing around!.</p>
                        </div>
                        <div class="testimonial-footer mt-4">
                            <img src="assets/images/author/author-3-400x400.jpg" class="d-inline rounded-circle w-max-90px mr-2" alt="Image Description">
                            <div class="d-inline-block align-middle text-left ml-3">
                                <h6 class="text-primary mb-2">
                                    <a href="#">Candice Perkins</a>
                                </h6>
                                <p class="font-weight-light text-black-50 pb-0 mb-0">Technology Director</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item mt-0">
                    <div class="testimonial testimonial-center">
                        <div class="testimonial-body text-center p-4 border">
                            <p class="font-weight-light mb-0">I love business. Thanks to business, we&#39;ve just launched our 5th website! You&#39;ve saved
                                our business! I am so pleased with this product.</p>
                        </div>
                        <div class="testimonial-footer mt-4">
                            <img src="assets/images/author/author-4-400x400.jpg" class="d-inline rounded-circle w-max-90px mr-2" alt="Image Description">
                            <div class="d-inline-block align-middle text-left ml-3">
                                <h6 class="text-primary mb-2">
                                    <a href="#">Coriss Ambady</a>
                                </h6>
                                <p class="font-weight-light text-black-50 pb-0 mb-0">Marketing Specialist</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}