{% set page_title = "Portfolio Single Three" %}
<!--  -->
{% set page_link = "Portfolio" %}
<!--  -->
{% set page_link2 = "Portfolio Single Three" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/header.html" %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<div id="content">
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card border-0">
                        <div class="video">
                            <img src="assets/images/portfolio/portfolio-2-1600x1033.jpg" class="img-fluid" alt="Image Description">
                            <iframe class="d-none bg-image" data-src="https://www.youtube.com/embed/TJ1SDXbij8Y?autoplay=1" allowfullscreen></iframe>
                            <a class="video-icon">
                                <i class="material-icons icon-36 text-light icon">play_arrow</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-7">
                <div class="col-7">
                    <h3 class="mb-0">Related Blog Posts</h3>
                </div>
                <div class="col-5 my-auto">
                    <a href="#" class="d-flex justify-content-center align-items-center float-right">View More
                        <i class="material-icons">chevron_right</i>
                    </a>
                </div>
            </div>
            <div class="owl-carousel owl-theme owl-loaded owl-dots-primary mt-5" data-owl-carousel-options='{"nav":false, "margin":30, "dots":true, "loop":false, "autoHeight":true, "responsive": {"0": {"items": 1}, "768": {"items": 2}, "992": {"items": 3}}}'>
                <div class="card border-0 mb-4">
                    <a href="blog-single-right-sidebar.html">
                        <img src="assets/images/blog/blog-1-1600x1033.jpg" alt="Image Description" class="img-fluid">
                    </a>
                    <div class="card-body py-4 px-0">
                        <h5 class="card-title">
                            <a class="text-body" href="blog-single-right-sidebar.html">We discuss our business priorities</a>
                        </h5>
                        <p class="meta">January 1, 2018
                            <span>by</span>
                            <a href="#">Mark</a>
                            <span>in</span>
                            <a href="#">Design</a>
                        </p>
                        <p class="card-text">Manufacturing is the production of merchandise for use or sale using labour and machines</p>
                    </div>
                </div>
                <div class="card border-0 mb-4">
                    <a href="blog-single-right-sidebar.html">
                        <img src="assets/images/blog/blog-2-1600x1033.jpg" alt="Image Description" class="img-fluid">
                    </a>
                    <div class="card-body py-4 px-0">
                        <h5 class="card-title">
                            <a class="text-body" href="blog-single-right-sidebar.html">The key account sales and marketing</a>
                        </h5>
                        <p class="meta">February 1, 2018
                            <span>by</span>
                            <a href="#">Jacob</a>
                            <span>in</span>
                            <a href="#">World</a>
                        </p>
                        <p class="card-text">Finance aims to price assets based on their risk level and their expected rate of return</p>
                    </div>
                </div>
                <div class="card border-0 mb-4">
                    <a href="blog-single-right-sidebar.html">
                        <img src="assets/images/blog/blog-3-1600x1033.jpg" alt="Image Description" class="img-fluid">
                    </a>
                    <div class="card-body py-4 px-0">
                        <h5 class="card-title">
                            <a class="text-body" href="blog-single-right-sidebar.html">We are a small organization meeting</a>
                        </h5>
                        <p class="meta">March 10, 2018
                            <span>by</span>
                            <a href="#">Chris</a>
                            <span>in</span>
                            <a href="#">Technology</a>
                        </p>
                        <p class="card-text">The term developed from the original meaning which referred literally to going to a market</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}