{% set page_title = "Portfolio Single Three" %}
<!--  -->
{% set page_link = "Portfolio" %}
<!--  -->
{% set page_link2 = "Portfolio Single Three" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/header.html" %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<div id="content">
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="mb-3">Project Description</h3>
                    <p>In 1969, the Project Management Institute (PMI) was formed in the USA. PMI publishes A Guide to
                        the Project Management Body of Knowledge (PMBOK Guide), which describes project management
                        practices that are common to "most projects, most of the time." PMI also offers a range of
                        certifications. There are a number of approaches to organizing and completing project
                        activities, including.</p>
                    <p>Regardless of the methodology employed, careful consideration must be given to the overall
                        project objectives, timeline, and cost, as well as the roles and responsibilities of all
                        participants and stakeholders.</p>
                    <div class="mt-3">
                        <strong>Share:</strong>
                        <div class="d-inline-block ml-4">
                            <ul class="list-inline list-inline-lg mb-0">
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card border-0 mt-6 mt-lg-0">
                        <div class="video">
                            <img src="assets/images/portfolio/portfolio-2-1600x1033.jpg" class="img-fluid" alt="Image Description">
                            <iframe class="d-none bg-image" data-src="https://www.youtube.com/embed/TJ1SDXbij8Y?autoplay=1"
                                allowfullscreen></iframe>
                            <a class="video-icon">
                                <i class="material-icons icon-36 text-light icon">play_arrow</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light pt-8 pb-6">
        <div class="container">
            <div class="mt-5">
                <h3>Related Blog Posts</h3>
            </div>
            <div class="owl-carousel owl-theme owl-loaded mt-5" data-owl-carousel-options='{"nav":false, "margin":30, "dots":true, "loop":true, "autoHeight":true, "responsive": {"0": {"items": 1}, "768": {"items": 2}, "992": {"items": 3}}}'>
                <div class="item">
                    <div class="card bg-transparent border-0">
                        <a href="blog-single-right-sidebar.html">
                            <img src="assets/images/blog/blog-1-1600x1033.jpg" alt="Image Description" class="img-fluid">
                        </a>
                        <div class="card-body pt-4 pb-0 px-0">
                            <h5 class="card-title">
                                <a class="text-body" href="blog-single-right-sidebar.html">We discuss our business
                                    priorities</a>
                            </h5>
                            <p class="meta">January 1, 2018
                                <span>by</span>
                                <a href="#">Mark</a>
                                <span>in</span>
                                <a href="#">Design</a>
                            </p>
                            <p class="card-text">Manufacturing is the production of merchandise for use or sale using
                                labour and machines</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card bg-transparent border-0">
                        <a href="blog-single-right-sidebar.html">
                            <img src="assets/images/blog/blog-2-1600x1033.jpg" alt="Image Description" class="img-fluid">
                        </a>
                        <div class="card-body pt-4 pb-0 px-0">
                            <h5 class="card-title">
                                <a class="text-body" href="blog-single-right-sidebar.html">The key account sales and
                                    marketing</a>
                            </h5>
                            <p class="meta">February 1, 2018
                                <span>by</span>
                                <a href="#">Jacob</a>
                                <span>in</span>
                                <a href="#">World</a>
                            </p>
                            <p class="card-text">Finance aims to price assets based on their risk level and their
                                expected
                                rate of return</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card bg-transparent border-0">
                        <a href="blog-single-right-sidebar.html">
                            <img src="assets/images/blog/blog-3-1600x1033.jpg" alt="Image Description" class="img-fluid">
                        </a>
                        <div class="card-body pt-4 pb-0 px-0">
                            <h5 class="card-title">
                                <a class="text-body" href="blog-single-right-sidebar.html">We are a small organization
                                    meeting</a>
                            </h5>
                            <p class="meta">March 10, 2018
                                <span>by</span>
                                <a href="#">Chris</a>
                                <span>in</span>
                                <a href="#">Technology</a>
                            </p>
                            <p class="card-text">The term developed from the original meaning which referred literally
                                to
                                going to a market</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card bg-transparent border-0">
                        <a href="blog-single-right-sidebar.html">
                            <img src="assets/images/blog/blog-4-1600x1033.jpg" alt="Image Description" class="img-fluid">
                        </a>
                        <div class="card-body pt-4 pb-0 px-0">
                            <h5 class="card-title">
                                <a class="text-body" href="blog-single-right-sidebar.html">One feature of this
                                    bipartisan plan</a>
                            </h5>
                            <p class="meta">April 1, 2018
                                <span>by</span>
                                <a href="#">Mark</a>
                                <span>in</span>
                                <a href="#">Culture</a>
                            </p>
                            <p class="card-text">Marketing tactics include advertising as well as determining
                                product
                                pricing</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}