{% set page_title = "Grid One Column" %}
<!--  -->
{% set page_link = "Portfolio" %}
<!--  -->
{% set page_link2 = "Grid One Column" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/header.html" %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<div id="content">
    <section class="py-8">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                        <figure class="figure overlay mb-4">
                            <div class="d-block bg-linear-gradient gradient-dark gradient-bottom w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-1-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="">
                            <figcaption class="overlay-body overlay-bottom p-4">
                                <h4 class="h5">Partners branding agency</h4>
                                <span class="font-weight-light">Marketing and Planning</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-lg-10">
                    <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                        <figure class="figure overlay mb-4">
                            <div class="d-block bg-linear-gradient gradient-dark gradient-bottom w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-2-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="">
                            <figcaption class="overlay-body overlay-bottom p-4">
                                <h4 class="h5">Our market analysis</h4>
                                <span class="font-weight-light">Planning and Training</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-lg-10">
                    <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                        <figure class="figure overlay mb-4">
                            <div class="d-block bg-linear-gradient gradient-dark gradient-bottom w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-3-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="">
                            <figcaption class="overlay-body overlay-bottom p-4">
                                <h4 class="h5">Market research studies</h4>
                                <span class="font-weight-light">Investing and Marketing</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-lg-10">
                    <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                        <figure class="figure overlay mb-4">
                            <div class="d-block bg-linear-gradient gradient-dark gradient-bottom w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-4-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="">
                            <figcaption class="overlay-body overlay-bottom p-4">
                                <h4 class="h5">Software analysis and quality </h4>
                                <span class="font-weight-light">Planning and Training</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-lg-10">
                    <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                        <figure class="figure overlay mb-4">
                            <div class="d-block bg-linear-gradient gradient-dark gradient-bottom w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-5-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="">
                            <figcaption class="overlay-body overlay-bottom p-4">
                                <h4 class="h5">Social media marketing specialists</h4>
                                <span class="font-weight-light">Investing and Marketing</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-lg-10">
                    <a class="d-block" href="portfolio-single-photo-gallery-grid.html">
                        <figure class="figure overlay mb-4">
                            <div class="d-block bg-linear-gradient gradient-dark gradient-bottom w-100 h-80 op-5"></div>
                            <img src="assets/images/portfolio/portfolio-6-1600x1033.jpg" class="figure-img img-fluid mb-0" alt="">
                            <figcaption class="overlay-body overlay-bottom p-4">
                                <h4 class="h5">Business seminar on branding</h4>
                                <span class="font-weight-light">Planning and Training</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}