{% set page_title = "Portfolio Single One" %}
<!--  -->
{% set page_link = "Portfolio" %}
<!--  -->
{% set page_link2 = "Portfolio Single One" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/header.html" %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<div id="content">
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <img src="assets/images/portfolio/portfolio-1-1600x1033.jpg" class="img-fluid mb-4" alt="Image Description">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <img src="assets/images/portfolio/portfolio-2-1600x1033.jpg" class="img-fluid mb-4" alt="Image Description">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <img src="assets/images/portfolio/portfolio-3-1600x1033.jpg" class="img-fluid mb-4" alt="Image Description">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <img src="assets/images/portfolio/portfolio-4-1600x1033.jpg" class="img-fluid mb-4" alt="Image Description">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <img src="assets/images/portfolio/portfolio-5-1600x1033.jpg" class="img-fluid mb-4" alt="Image Description">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <img src="assets/images/portfolio/portfolio-6-1600x1033.jpg" class="img-fluid mb-4" alt="Image Description">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-8">
                    <div class="d-block pr-lg-5">
                        <h3 class="mb-3">Project Case Study</h3>
                        <p>Many companies today have a customer focus (or market orientation). This implies that the company
                            focuses its activities and products on consumer demands. Generally there are three ways of doing
                            this: the customer-driven approach, the sense of identifying market changes and the product innovation
                            approach.
                        </p>
                        <ul class="list-unstyled list-lg mt-4 mb-0">
                            <li class="d-flex align-items-md-center">
                                <i class="material-icons text-primary mr-2">check_box</i>Financial services consulting firm into the market.
                            </li>
                            <li class="d-flex align-items-md-center">
                                <i class="material-icons text-primary mr-2">check_box</i>Business consulting and tech services branches.
                            </li>
                            <li class="d-flex align-items-md-center">
                                <i class="material-icons text-primary mr-2">check_box</i>Products and consulting services and creating brand.
                            </li>
                            <li class="d-flex align-items-md-center">
                                <i class="material-icons text-primary mr-2">check_box</i>Energy and environment and management consulting.
                            </li>
                            <li class="d-flex align-items-md-center">
                                <i class="material-icons text-primary mr-2">check_box</i>Logistics consulting and solution provider.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <h3 class="mb-3">Project Description</h3>
                    <p>In project management a project consists of a temporary endeavor undertaken to create a unique product,
                        service or result.</p>
                    <dl class="row mt-4 mb-0">
                        <dt class="col-sm-5">Project name</dt>
                        <dd class="col-sm-7">Software System</dd>

                        <dt class="col-sm-5">Author</dt>
                        <dd class="col-sm-7">Doyle Holland</dd>

                        <dt class="col-sm-5">Created</dt>
                        <dd class="col-sm-7">01 January 2018</dd>

                        <dt class="col-sm-5 text-truncate">Updated</dt>
                        <dd class="col-sm-7">15 Febuary 2018</dd>

                        <dt class="col-sm-5 text-truncate">Download</dt>
                        <dd class="col-sm-7">1509</dd>
                    </dl>
                    <a href="#" class="btn btn-primary text-uppercase mt-4">Download</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}