{% set page_title = "Shop Grid" %}
<!--  -->
{% set page_link = "Shop" %}
<!--  -->
{% set page_link2 = "Shop Grid" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/header.html" %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<div id="content">
    <section class="py-6 py-lg-8">
        <div class="container">
            <div class="row mx-0 mb-4 mb-md-6">
                <div class="col-12 col-md-6 my-auto px-0">
                    <p class="font-weight-bold text-uppercase mb-0">Showing 1–12 of 23 results</p>
                </div>
                <div class="col-12 col-md-6 my-auto px-0">
                    <form class="float-none float-md-right mt-3 mt-md-0">
                        <div class="form-group">
                            <select class="form-control">
                                <option value="menu_order">Default sorting</option>
                                <option value="popularity">Sort by popularity</option>
                                <option value="rating" selected="selected">Sort by average rating</option>
                                <option value="date">Sort by newness</option>
                                <option value="price">Sort by price: low to high</option>
                                <option value="price-desc">Sort by price: high to low</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="card border-0 mb-4">
                                <span class="badge badge-primary badge-pill badge-sale text-uppercase position-absolute right-0 mt-3 mr-3">sale</span>
                                <a href="shop-single.html">
                                    <img class="card-img-top rounded-0 img-fluid" src="assets/images/shop/product-1.jpg" alt="">
                                </a>
                                <div class="card-body px-0">
                                    <h3 class="card-title h5">
                                        <a class="text-body" href="shop-single.html">Women black t-shirt</a>
                                    </h3>
                                    <span class="font-weight-bold">
                                        <del class="font-weight-light text-muted">$85</del>
                                        <ins class="text-decoration-none">$35</ins>
                                    </span>
                                    <div class="float-right">
                                        <a href="#">
                                            <i class="ti-shopping-cart-full icon-lg text-primary"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="card border-0 mb-4">
                                <a href="shop-single.html">
                                    <img class="card-img-top rounded-0 img-fluid" src="assets/images/shop/product-2.jpg" alt="">
                                </a>
                                <div class="card-body px-0">
                                    <h3 class="card-title h5">
                                        <a class="text-body" href="shop-single.html">Men long-sleeve t-shirt</a>
                                    </h3>
                                    <span class="font-weight-bold">
                                        <del class="font-weight-light text-muted">$85</del>
                                        <ins class="text-decoration-none">$35</ins>
                                    </span>
                                    <div class="float-right">
                                        <a href="#">
                                            <i class="ti-shopping-cart-full icon-lg text-primary"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="card border-0 mb-4">
                                <span class="badge badge-primary badge-pill badge-sale text-uppercase position-absolute right-0 mt-3 mr-3">sale</span>
                                <a href="shop-single.html">
                                    <img class="card-img-top rounded-0 img-fluid" src="assets/images/shop/product-3.jpg" alt="">
                                </a>
                                <div class="card-body px-0">
                                    <h3 class="card-title h5">
                                        <a class="text-body" href="shop-single.html">Women long-sleeve t-shirt</a>
                                    </h3>
                                    <span class="font-weight-bold">
                                        <del class="font-weight-light text-muted">$85</del>
                                        <ins class="text-decoration-none">$35</ins>
                                    </span>
                                    <div class="float-right">
                                        <a href="#">
                                            <i class="ti-shopping-cart-full icon-lg text-primary"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="card border-0 mb-4">
                                <a href="shop-single.html">
                                    <img class="card-img-top rounded-0 img-fluid" src="assets/images/shop/product-4.jpg" alt="">
                                </a>
                                <div class="card-body px-0">
                                    <h3 class="card-title h5">
                                        <a class="text-body" href="shop-single.html">Men comfort jacket</a>
                                    </h3>
                                    <span class="font-weight-bold">
                                        <del class="font-weight-light text-muted">$85</del>
                                        <ins class="text-decoration-none">$35</ins>
                                    </span>
                                    <div class="float-right">
                                        <a href="#">
                                            <i class="ti-shopping-cart-full icon-lg text-primary"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="card border-0 mb-4">
                                <a href="shop-single.html">
                                    <img class="card-img-top rounded-0 img-fluid" src="assets/images/shop/product-5.jpg" alt="">
                                </a>
                                <div class="card-body px-0">
                                    <h3 class="card-title h5">
                                        <a class="text-body" href="shop-single.html">Men long-sleeve shirt</a>
                                    </h3>
                                    <span class="font-weight-bold">
                                        <del class="font-weight-light text-muted">$85</del>
                                        <ins class="text-decoration-none">$35</ins>
                                    </span>
                                    <div class="float-right">
                                        <a href="#">
                                            <i class="ti-shopping-cart-full icon-lg text-primary"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="card border-0 mb-4">
                                <a href="shop-single.html">
                                    <img class="card-img-top rounded-0 img-fluid" src="assets/images/shop/product-6.jpg" alt="">
                                </a>
                                <div class="card-body px-0">
                                    <h3 class="card-title h5">
                                        <a class="text-body" href="shop-single.html">Men long-sleeve shirt</a>
                                    </h3>
                                    <span class="font-weight-bold">
                                        <del class="font-weight-light text-muted">$85</del>
                                        <ins class="text-decoration-none">$35</ins>
                                    </span>
                                    <div class="float-right">
                                        <a href="#">
                                            <i class="ti-shopping-cart-full icon-lg text-primary"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="card border-0 mb-4">
                                <a href="shop-single.html">
                                    <img class="card-img-top rounded-0 img-fluid" src="assets/images/shop/product-7.jpg" alt="">
                                </a>
                                <div class="card-body px-0">
                                    <h3 class="card-title h5">
                                        <a class="text-body" href="shop-single.html">Men slim-fit shirt</a>
                                    </h3>
                                    <span class="font-weight-bold">
                                        <del class="font-weight-light text-muted">$85</del>
                                        <ins class="text-decoration-none">$35</ins>
                                    </span>
                                    <div class="float-right">
                                        <a href="#">
                                            <i class="ti-shopping-cart-full icon-lg text-primary"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="card border-0 mb-4">
                                <a href="shop-single.html">
                                    <img class="card-img-top rounded-0 img-fluid" src="assets/images/shop/product-8.jpg" alt="">
                                </a>
                                <div class="card-body px-0">
                                    <h3 class="card-title h5">
                                        <a class="text-body" href="shop-single.html">Men red polo shirt</a>
                                    </h3>
                                    <span class="font-weight-bold">
                                        <del class="font-weight-light text-muted">$85</del>
                                        <ins class="text-decoration-none">$35</ins>
                                    </span>
                                    <div class="float-right">
                                        <a href="#">
                                            <i class="ti-shopping-cart-full icon-lg text-primary"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="mt-5">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}