{% set page_title = "Our Team" %}
{% set page_link = "About" %}
{% set page_link2 = "Our Team" %}
{% extends "../templates/master.html" %}
{% block content %}
{% include "../templates/partials/header.html" %}
{% include "../templates/partials/page_title.html" %}
<div id="content">
    <section class="pt-8 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-0 mb-4">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-1-900x1225.jpg" alt="Image Description">
                        </a>
                        <div class="card-body py-4 px-0 text-center">
                            <h4 class="card-title h5">
                                <a href="#">Debra Barnes</a>
                            </h4>
                            <p class="text-muted mb-0">Web Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-0 mb-4">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-2-900x1225.jpg" alt="Image Description">
                        </a>
                        <div class="card-body py-4 px-0 text-center">
                            <h4 class="card-title h5">
                                <a href="#">Martin Campbell</a>
                            </h4>
                            <p class="text-muted mb-0">Software Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-0 mb-4">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-3-900x1225.jpg" alt="Image Description">
                        </a>
                        <div class="card-body py-4 px-0 text-center">
                            <h4 class="card-title h5">
                                <a href="#">Judith Foster</a>
                            </h4>
                            <p class="text-muted mb-0">Computer Programmer</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-0 mb-4">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-4-900x1225.jpg" alt="Image Description">
                        </a>
                        <div class="card-body py-4 px-0 text-center">
                            <h4 class="card-title h5">
                                <a href="#">Sharon Martinez</a>
                            </h4>
                            <p class="text-muted mb-0">Java Programmer</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-0 mb-4">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-5-900x1225.jpg" alt="Image Description">
                        </a>
                        <div class="card-body py-4 px-0 text-center">
                            <h4 class="card-title h5">
                                <a href="#">Denise Ward</a>
                            </h4>
                            <p class="text-muted mb-0">Web Programmer</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-0 mb-4">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-6-900x1225.jpg" alt="Image Description">
                        </a>
                        <div class="card-body py-4 px-0 text-center">
                            <h4 class="card-title h5">
                                <a href="#">Juan Murphy</a>
                            </h4>
                            <p class="text-muted mb-0">Maintenance Technician</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-0 mb-4">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-7-900x1225.jpg" alt="Image Description">
                        </a>
                        <div class="card-body py-4 px-0 text-center">
                            <h4 class="card-title h5">
                                <a href="#">Peter Miller</a>
                            </h4>
                            <p class="text-muted mb-0">Web Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-0 mb-4">
                        <a href="team-member.html">
                            <img class="card-img img-fluid rounded-0" src="assets/images/team/team-8-900x1225.jpg" alt="Image Description">
                        </a>
                        <div class="card-body py-4 px-0 text-center">
                            <h4 class="card-title h5">
                                <a href="#">Deborah Young</a>
                            </h4>
                            <p class="text-muted mb-0">Web Programmer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-white">
                    <h3>Join the people behind our success.</h3>
                    <p>Vivamus adipisicing sit ultrices cursus morbi proident erat ipsum. Penatibus ea ullamco ut
                        tellus praesent.</p>
                </div>
                <div class="col-lg-3 my-auto text-left text-lg-right">
                    <a href="#" class="btn btn-outline-light mt-3 mt-lg-0">Apply Now</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}