<!--  -->
{% set page_link2 = "Blog" %}
<!--  -->
{% extends "../templates/master.html" %}
<!--  -->
{% block content %}
<!--  -->
{% include "../templates/partials/header.html" %}
<!--  -->
{% include "../templates/partials/page_title.html" %}
<div id="content">
    <section class="py-6 py-lg-8">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-7 order-2 order-md-1 mt-4 mt-md-0">
                    <h3>Debra Barnes</h3>
                    <p class="text-muted mb-3">Web Designer & Software Developer</p>
                    <p>Gravida fames sit leo tempor duis. Litora tortor id porttitor class dui. Imperdiet lacinia litora tristique
                        libero. Ornare cras magna nisi justo sint. Euismod dolore ac eleifend at semper. Cum metus sodales
                        occaecat imperdiet</p>
                    <dl class="row mt-4 mb-0">
                        <dt class="col-md-3">Age</dt>
                        <dd class="col-md-9">35.</dd>

                        <dt class="col-md-3">Nationality</dt>
                        <dd class="col-md-9">United States of American</dd>

                        <dt class="col-md-3">Address</dt>
                        <dd class="col-md-9">50 5th Avenue, 5th Floor, New York, NY 10118.</dd>

                        <dt class="col-md-3 text-truncate">Phone</dt>
                        <dd class="col-md-9">+410 246 80246</dd>

                        <dt class="col-md-3">E-mail</dt>
                        <dd class="col-md-9">
                            <a href="mailto:info@company.com">info@company.com</a>
                        </dd>

                        <dt class="col-md-3">Website</dt>
                        <dd class="col-md-9">
                            <a href="http://companyname.com">www.companyname.com</a>
                        </dd>

                        <dt class="col-md-3">Social</dt>
                        <dd class="col-md-9">
                            <ul class="list-inline list-inline-lg mb-0">
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="ion-social-twitter icon-lg"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="ion-social-facebook icon-lg"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="ion-social-googleplus icon-lg"></i>
                                    </a>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4 col-lg-4 offset-lg-1 order-1 order-md-2 text-center text-md-left">
                    <img class="img-fluid" src="assets/images/team/team-1-900x1225.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light py-6 py-lg-8">
        <div class="container">
            <h3 class="text-center">Experiences & Jobs</h3>
            <div class="row mt-6">
                <div class="col-lg-6">
                    <div id="accordion1" class="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card rounded-0 border-0 mb-2">
                            <div class="card-header border-0 bg-white" role="tab" id="headingOne">
                                <h5 class="h6 mb-0">
                                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        2000 - 2001 Sodales Varius University
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion1">
                                <div class="card-body p-4">
                                    <p>Dolore ac maecenas feugiat dis consectetur. Pellentesque pede do anim rhoncus ligula.
                                        Diam conubia minim cursus maecenas sed. Tincidunt congue laborum sunt rhoncus. Per
                                        praesent elit nisl purus laoreet. Mollis inceptos sem tempor aenean. Etiam officia
                                        sem quam esse. Integer per fusce tellus sint Donec eleifend hendrerit porta sed.
                                        Faucibus dolore cum curabitur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded-0  border-0 mb-2">
                            <div class="card-header border-0 bg-white" role="tab" id="headingTwo">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        2002 - 2003 Euismod Taciti University
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion1">
                                <div class="card-body p-4">
                                    <p>Inceptos facilisis tempor venenatis faucibus. Auctor qui lectus integer massa. Curabitur
                                        arcu in tellus odio. Cursus id vel aliqua pariatur fermentum. Leo ornare natoque
                                        cursus taciti. Cursus diam bibendum ridiculus ut. Libero ultrices morbi urna consequat.
                                        Donec natoque incididunt adipisicing urna tortor. Ridiculus praesent porttitor dolore
                                        nulla.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded-0  border-0 mb-2">
                            <div class="card-header border-0 bg-white" role="tab" id="headingThree">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        2004 - 2005 Eros Facilisis University
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion1">
                                <div class="card-body p-4">
                                    <p>Sunt laoreet enim egestas proident. Libero dis consequat pretium cubilia inceptos. Arcu
                                        magna culpa ex montes. Curae nullam volutpat mi iaculis tempor. Tempus curae ligula
                                        aenean mollit phasellus. Ridiculus cum nostrud tristique habitant vitae. Aenean consectetur
                                        ridiculus placerat quis. Sociosqu vitae adipiscing gravida purus commodo. Inceptos
                                        eu officia porttitor eiusmod quisque. Massa ullamco cursus mauris imperdiet porta.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded-0  border-0 mb-2">
                            <div class="card-header border-0 bg-white" role="tab" id="headingFour">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        2006 - 2007 Mauris Labore University
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion1">
                                <div class="card-body p-4">
                                    <p>Montes dolore consequat luctus gravida. Lobortis conubia dictum incididunt rhoncus accumsan
                                        consectetur. Ac primis nunclorem molestie fusce lacinia aliquip sagittis do irure
                                        nisi parturient. Odio reprehenderit deserunt cursus aliquam. Congue in labore ea
                                        consequat malesuada tempus. Justo donec non ridiculus conubia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="accordion2" class="accordion mt-4 mt-lg-0" role="tablist" aria-multiselectable="true">
                        <div class="card rounded-0  border-0 mb-2">
                            <div class="card-header border-0 bg-white" role="tab" id="headingOne">
                                <h5 class="h6 mb-0">
                                    <a data-toggle="collapse" href="#accordion2_collapseOne" aria-expanded="true" aria-controls="accordion2_collapseOne">
                                        2010 - 2011 Bear Paw Electronics
                                    </a>
                                </h5>
                            </div>
                            <div id="accordion2_collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion2">
                                <div class="card-body p-4">
                                    <span>Graphics Designer (05/05/2010 - 30/05/2011)</span>
                                    <p>Iaculis sagittis voluptate gravida laborum eget curae himenaeos fringilla molestie hendrerit.
                                        Sit dui minim quis congue tristique facilisis nisi ultricies arcu. Metus malesuada
                                        et senectus leo voluptate tempor quam in erat. Per elit aptent erat habitant laborum
                                        phasellus ullamcorper sit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded-0 border-0 mb-2">
                            <div class="card-header border-0 bg-white" role="tab" id="headingTwo">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#accordion2_collapseTwo" aria-expanded="false" aria-controls="accordion2_collapseTwo">
                                        2012 - 2013 Icecap Enterprises
                                    </a>
                                </h5>
                            </div>
                            <div id="accordion2_collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion2">
                                <div class="card-body p-4">
                                    <span>Graphics Designer (05/05/2012 - 30/05/2013)</span>
                                    <p>Fringilla tempus quis veniam esse. Ultrices convallis proident justo amet. Veniam ullamcorper
                                        condimentum ut nunc nibh. Orci leo eros elementum volutpat veniam. Nisl dapibus pharetra
                                        libero ullamcorper irure. Nunclorem anim vel quis in. Porttitor cillum habitant neque
                                        mi laoreet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded-0 border-0 mb-2">
                            <div class="card-header border-0 bg-white" role="tab" id="headingThree">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#accordion2_collapseThree" aria-expanded="false" aria-controls="accordion2_collapseThree">
                                        2014 - 2015 Whirlpool Coms
                                    </a>
                                </h5>
                            </div>
                            <div id="accordion2_collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion2">
                                <div class="card-body p-4">
                                    <span>Graphics Designer (05/05/2014 - 30/05/2015)</span>
                                    <p>Sunt laoreet enim egestas proident. Libero dis consequat pretium cubilia inceptos. Arcu
                                        magna culpa ex montes. Curae nullam volutpat mi iaculis tempor. Tempus curae ligula
                                        aenean mollit phasellus. Ridiculus cum nostrud tristique habitant vitae. Aenean consectetur
                                        ridiculus placerat quis. Sociosqu vitae adipiscing gravida purus commodo. Inceptos
                                        eu officia porttitor eiusmod quisque. Massa ullamco cursus mauris imperdiet porta.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded-0 border-0 mb-2">
                            <div class="card-header border-0 bg-white" role="tab" id="headingFour">
                                <h5 class="h6 mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#accordion2_collapseFour" aria-expanded="false" aria-controls="accordion2_collapseFour">
                                        2016 - 2017 Explorer Productions
                                    </a>
                                </h5>
                            </div>
                            <div id="accordion2_collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion2">
                                <div class="card-body p-4">
                                    <span>Graphics Designer (05/05/2016 - 30/05/2017)</span>
                                    <p>Montes dolore consequat luctus gravida. Lobortis conubia dictum incididunt rhoncus accumsan
                                        consectetur. Ac primis nunclorem molestie fusce lacinia aliquip sagittis do irure
                                        nisi parturient. Odio reprehenderit deserunt cursus aliquam. Congue in labore ea
                                        consequat malesuada tempus. Justo donec non ridiculus conubia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-6 py-lg-8">
        <div class="container">
            <h3 class="text-center">Professional Skills</h3>
            <div class="row mt-5">
                <div class="col-sm-6">
                    <div class="skillbar mt-5" data-percent="90">
                        <span class="skillbar-title">Graphics Design</span>
                        <span class="skill-bar-percent"></span>
                        <p class="skillbar-bar bg-primary"></p>
                    </div>
                    <div class="skillbar mt-5" data-percent="80">
                        <span class="skillbar-title">Web Design</span>
                        <span class="skill-bar-percent"></span>
                        <p class="skillbar-bar bg-primary"></p>
                    </div>
                    <div class="skillbar mt-5" data-percent="75">
                        <span class="skillbar-title">Web Development</span>
                        <span class="skill-bar-percent"></span>
                        <p class="skillbar-bar bg-primary"></p>
                    </div>
                    <div class="skillbar mt-5" data-percent="75">
                        <span class="skillbar-title">Online Marketing</span>
                        <span class="skill-bar-percent"></span>
                        <p class="skillbar-bar bg-primary"></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="skillbar mt-5" data-percent="90">
                        <span class="skillbar-title">Logo Design</span>
                        <span class="skill-bar-percent"></span>
                        <p class="skillbar-bar bg-primary"></p>
                    </div>
                    <div class="skillbar mt-5" data-percent="80">
                        <span class="skillbar-title">PHP &amp; JavaScript</span>
                        <span class="skill-bar-percent"></span>
                        <p class="skillbar-bar bg-primary"></p>
                    </div>
                    <div class="skillbar mt-5" data-percent="75">
                        <span class="skillbar-title">HTML &amp; CSS</span>
                        <span class="skill-bar-percent"></span>
                        <p class="skillbar-bar bg-primary"></p>
                    </div>
                    <div class="skillbar mt-5" data-percent="75">
                        <span class="skillbar-title">Adobe Illustrator</span>
                        <span class="skill-bar-percent"></span>
                        <p class="skillbar-bar bg-primary"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}