/*-----------------------------------------------------------------------------------*/


/*  02. MASTERS > MASTER
/*-----------------------------------------------------------------------------------*/

.inner {
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-inverse h1,
.bg-inverse h2,
.bg-inverse h3,
.bg-inverse h4,
.bg-inverse h5,
.bg-inverse h6,
{
    color: #fff
}

.bg-inverse .meta,
.bg-inverse .meta a {
    color: #b9b9b9;
}

.bg-transparent {
    background-color: transparent !important;
}

address {
    i {
        float: left;
        margin-right: 8px;
        line-height: 22px !important;
    }
    p {
        overflow: hidden;
        margin: 0;
    }
}

.lead {
    em {
        font-weight: bold
    }
}

.client {
    padding-top: 0px;
    .client-item {
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-block;
        padding: 25px 30px;
        border-radius: 2px;
        margin: 30px 15px 0 15px;
        @media (max-width: 767px) {
            margin: 30px 15px 0 15px;
        }
        @media (max-width: 543px) {
            width: 40%;
        }
        img {
            @media (max-width: 543px) {
                width: 100%;
            }
        }
    }
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

.master-social {
    margin-bottom: 0;
    .list-inline-item {
        i {
            margin-right: 10px;
        }
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
}

.bg-image-center {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}