/*-----------------------------------------------------------------------------------*/


/*  MASTER > SEARCH
/*-----------------------------------------------------------------------------------*/

.navbar-popup {
    display: none;
    transform: translateX(-500px);
    transition: all 0.5s;
    background: rgba(255, 255, 255, 0.97);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    padding: 20px;
    &.visible {
        transform: none;
        opacity: 1;
    }
    .navbar-popup-body {
        width: 100%;
        height: 100%;
        .popup-title {
            opacity: 0;
            transform: translateY(30px);
            transition: all 0.7s;
            margin-bottom: 30px;
            &.visible {
                opacity: 1;
                transform: none;
            }
        }
        .btn-close {
            color: #333;
            position: absolute;
            top: 30px;
            right: 40px;
            cursor: pointer;
            opacity: 0;
            transform: translateX(30px);
            transition: all 0.7s;
            &.visible {
                opacity: 1;
                transform: none;
            }
        }
        form {
            max-width: 800px;
            width: 100%;
        }
    }
}