/*-----------------------------------------------------------------------------------*/
/*  02. MASTERS > SIDEBAR
/*-----------------------------------------------------------------------------------*/

.sidebar {
    .widget{
        margin-top: 50px;
        display: block;
        a{
            color: inherit;
            &:hover{
                color: $link-active-color;
            }
        }
        &:first-child {
            margin-top: 0;
        }
        .widget-title {
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
    &.sidebar-right {
        @include media-breakpoint-up(md){
            padding-left: 30px;
        }
    }

    &.sidebar-left{
        @include media-breakpoint-up(md){
            padding-right: 30px;
        }
    }

}