	/*-----------------------------------------------------------------------------------*/


/*  02. MASTERS > WIDGET
/*-----------------------------------------------------------------------------------*/

.widget {
	.info {
		i {
			float: left;
		}
		p {
			overflow: hidden;
			margin: 0;
		}
	}
	.post-list {
		.post-list-title {
			&:hover {
				color: $primary;
			}
		}
	}
}