//
// Custom breadcrumb
//
.breadcrumb-item + {
    .breadcrumb-item{
        &::before{
            font-family: "Ionicons";
            font-size: 12px;
            content: "\f3d3";
            color: inherit;
        }
    }
}    
