//
// Custom botton
//
.btn {
    font-size: 0.8125rem;
}

.btn-go-top {
    position: fixed;
    display: none;
    right: 30px;
    opacity: 0.8;
    padding: 10px;
    text-decoration: none;
    z-index: 999;
    bottom: 30px;
}