//
// Custom collapse
//
.accordion {
    .card-header {
        position: relative;
        a[data-toggle="collapse"] {
            display: block;
            padding-right: 30px;
            &:after {
                position: absolute;
                right: 15px;
                font-family: 'Material Icons';
                font-size: 24px;
                content: '\e5cc';
                transition: all .3s linear 0s;
                top: 50%;
                transform: translateY(-50%);
            }
            &.collapsed {
                &:after {
                    content: '\e5cf';
                    transition: all .3s linear 0s;
                }
            }
        }
    }
}