//
// Custom collapse
//
.accordion {
    .card-header {
        position: relative;
        a[data-toggle="collapse"] {
            display: block;
            padding-right: 30px;
            &:after {
                position: absolute;
                right: 15px;
                font-family: "themify";
                content: "\e64b";
                transition: all .3s linear 0s;
                top: 50%;
                transform: translateY(-50%);
            }
            &.collapsed {
                &:after {
                    position: absolute;
                    right: 15px;
                    font-family: "themify";
                    content: "\e649";
                    transition: all .3s linear 0s;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}