//
// Header top
//
.header-top {
    font-size: 0.8125rem;
    .header-top-link {
        color: $header-top-light-color;
    }
}

.header-top-dark {
    .header-top-link {
        color: $header-top-dark-color;
    }
}