.icon-xs {
	font-size: .75em;
}

.icon-sm {
	font-size: .875em;
}

.icon-lg {
	font-size: 1.33333em;
	line-height: .75em;
	vertical-align: -15%;
}

.icon-2x {
	font-size: 2em;
}

.icon-3x {
	font-size: 3em;
}

.icon-5x {
	font-size: 5em;
}

.icon-7x {
	font-size: 7em;
}

.icon-10x {
	font-size: 10em;
}
