.icon-xs {
	font-size: .75em;
}

.icon-sm {
	font-size: .875em;
}

.icon-lg {
	font-size: 1.33333em;
	line-height: .75em;
	vertical-align: -15%;
}

.icon-2x {
	font-size: 2em;
}

.icon-3x {
	font-size: 3em;
}

.icon-5x {
	font-size: 5em;
}

.icon-7x {
	font-size: 7em;
}

.icon-10x {
	font-size: 10em;
}

.video-icon {
	position: relative;
	z-index: 10;
	display: inline-block;
	width: 72px;
	height: 72px;
	border-radius: 100%;
	border: 3px solid #ffffff;
	background: rgba(#000000, 0.2);
	cursor: pointer;
	>* {
		display: block;
		position: absolute;
		color: #ffffff;
		text-align: center;
		font-size: 32px;
		top: 50%;
		left: 50%;
		width: 50px;
		height: 50px;
		line-height: 51px;
		margin-top: -25px;
		margin-left: -25px;
		padding-left: 5px;
	}
}

.icon-circle-sm {
	border-radius: 100%;
	display: table-cell;
	font-size: 30px;
	height: 85px;
	width: 85px;
	padding: 30px;
	text-align: center;
	transition: .5s;
	vertical-align: middle;
}