//
// Custom input group
//
.input-icon {
    position: relative;
    .input-btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding: 0 15px;
        background: 0 0;
        border: none;
        outline: none !important;
        z-index: 90;
    }
    .input-btn {
        +.form-control {
            padding-right: 50px;
        }
    }
    .icon {
        color: #76838f;
        font-size: 1.25rem;
    }
    &.input-group {
        .icon {
            margin: 0 6px;
        }
    }
}