//
// Custom modal
//
.modal-fullscreen {
    z-index: 1090 !important;
    .modal-dialog {
        @include modal-fullscreen;
        .modal-content {
            border: none;
            border-radius: 0;
            box-shadow: inherit;
            @include modal-fullscreen;
        }
    }
    .close {
        outline: none;
    }
}

.modal-open {
    overflow-y: auto;
    padding-right: 0px !important;
}