//
// Custom modal
//
%fullscreen {
    margin: 0;
    max-width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.modal {
    .modal-fullscreen {
        @extend %fullscreen;
        .modal-content {
            border: none;
            border-radius: 0;
            box-shadow: inherit;
            @extend %fullscreen;
        }
    }
    .close {
        outline: none;
    }
}

.modal-open {
    overflow-y: auto;
    padding-right: 0px !important;
}