//
// Custom owl calrosel
//
.owl-carousel {
    position: relative;
    .owl-stage {
        display: flex;
    }
    .owl-item {
        display: flex;
        flex: 1 0 auto;
    }
    .item {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
        .card {
            flex: 1 0 auto;
        }
    }
}

.owl-dots {
    text-align: center;
    margin-top: 30px;
    .owl-dot {
        display: inline-block;
        zoom: 1;
        span {
            margin: 0 5px;
            display: block;
            border-radius: 100%;
            border: 1px solid $primary;
            width: 13px;
            height: 13px;
            transition: all 150ms ease-in;
        }
        &.active,
        &:hover {
            span {
                background: $primary;
            }
        }
    }
}

.owl-nav {
    .owl-prev,
    .owl-next {
        position: absolute;
        top: calc(50% - 14px);
        transform: translateY(-50%);
        display: inline-block;
        margin: 0 1px;
        padding: 10px 0;
        line-height: 0;
        width: 40px;
        height: 40px;
        border-radius: 0;
        font-size: 0;
        transition: all 0.2s ease-in-out;
    }
    .owl-prev {
        left: 0;
    }
    .owl-next {
        right: 0;
    }
}

.owl-dots-inside {
    .owl-dots {
        position: absolute;
        bottom: 30px;
        margin: 0;
        display: inline-block;
        left: 50%;
        width: auto;
        transform: translateX(-50%);
        span {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        }
    }
}

.owl-dots-primary {
    .owl-dot {
        span {
            border: 2px solid $primary !important;
        }
        &.active,
        &:hover {
            span {
                background: $primary !important;
            }
        }
    }
}

.owl-dots-white {
    .owl-dot {
        span {
            border: 2px solid $white !important;
        }
        &.active,
        &:hover {
            span {
                background: $white !important;
            }
        }
    }
}

//
// Utilities for show nav when hover event active
//
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        .owl-nav#{$infix}-hover {
            .owl-nav {
                >div {
                    display: none !important;
                }
            }
            &:hover {
                .owl-nav {
                    >div {
                        display: block !important;
                    }
                }
            }
        }
    }
}