//
// Custom pagination
//
.pagination {
	margin-bottom: 0;
	.page-item {
		padding: 0 10px;
		&:first-child {
			.page-link {
				border-radius: 50%;
			}
		}
		&:last-child {
			.page-link {
				border-radius: 50%;
			}
		}
		&.active {
			.page-link {
				color: #ffffff;
				background: $primary;
				opacity: 1;
			}
		}
		.page-link {
			width: 40px;
			height: 40px;
			line-height: 40px;
			min-width: 40px;
			border-radius: 50%;
			box-sizing: border-box;
			border: none;
			background: 0 0;
			border: none;
			position: relative;
			padding: 0 8px;
			display: inline-block;
			font-weight: 500;
			letter-spacing: 0;
			overflow: hidden;
			will-change: box-shadow, transform;
			transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
			outline: 0;
			cursor: pointer;
			text-decoration: none;
			text-align: center;
			&:hover {
				color: #ffffff;
				background: $primary;
				opacity: 1;
			}
		}
	}
}