//
// Testimonial
//
.testimonial {
    .testimonial-body {
        position: relative;
        &:before {
            position: absolute;
            bottom: -7px;
            left: 33px;
            display: block;
            width: 16px;
            height: 16px;
            content: "";
            background-color: inherit;
            transform: rotate(45deg);
        }
        &.border {
            &:before {
                position: absolute;
                bottom: -9px;
                background-color: $white;
                border-right: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
            }
        }
    }
    &.testimonial-center {
        .testimonial-body {
            &:before {
                left: 80px;
            }
        }
        .testimonial-footer {
            text-align: center;
        }
    }
}