//
// Custom type
//
blockquote {
    border-left: 3px solid $primary !important;
    position: relative;
    margin: 30px 0;
    padding: 15px 30px;
    font-style: italic;
}

.meta {
    font-size: 0.875rem;
    color: #939393;
    margin-bottom: 10px;
    .meta-link {
        font-size: 0.75rem;
    }
}

.text-small{
    font-size: 0.875rem;
}

// Captions
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        @each $index,
        $size in $captions {
            .caption#{$infix}-#{$index} {
                font-size: $size !important;
            }
        }
    }
}

