<footer class="footer bg-darker">
    <div class="container py-7">
        <div class="row">
            <div class="col-sm-4 mb-5 mb-sm-0">
                <img src="/assets/images/brand/logo-light.png" alt="" style="max-height: 30px;">
                <p class="text-white-50 mt-3 pr-sm-4 mb-0">We evaluate our solution on a challenging one million urban image dataset and provide public access to our
                    service through our online application.
                </p>
            </div>
            <div class="col-sm-2 mb-5 mb-sm-0">
                <h5 class="text-light mb-0">Company</h5>
                <ul class="list-unstyled list-sm mt-3 mb-0">
                    <li>
                        <a href="page-about-us.html">About Us</a>
                    </li>
                    <li>
                        <a href="page-services.html">Services</a>
                    </li>
                    <li>
                        <a href="blog-default-left-sidebar.html">Blog</a>
                    </li>
                    <li>
                        <a href="shop-grid-left-sidebar.html">Shop</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 mb-5 mb-sm-0">
                <h5 class="text-light mb-0">Support</h5>
                <ul class="list-unstyled list-sm mt-3 mb-0">
                    <li>
                        <a href="">Help &amp; Support</a>
                    </li>
                    <li>
                        <a href="">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="">Safety and security</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 mb-5 mb-sm-0">
                <div class="ml-lg-4 position-relative">
                    <img src="assets/images/other/map-1-light-540x334.png" class="bg-image bg-image-center op-1" alt="">
                    <h5 class="text-light mb-0">Contact Us</h5>
                    <ul class="list-unstyled list-sm text-white-50 mt-3 mb-0">
                        <li>
                            <span>368 Alpha Avenue, Texas 75414</span>
                        </li>
                        <li>
                            <span>903-965-1149, 940-453-7439</span>
                        </li>
                        <li>
                            <a href="mailto:info@company.com">info@company.com</a>
                        </li>
                        <li>
                            <span>Monday - Friday: 10:00 - 20:00</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="bg-darkest">
        <div class="container py-4">
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-white-50 mb-0">© 2018 Yuka. Design by Yukathemes</p>
                </div>
                <div class="col-sm-6 text-right ">
                    <ul class="list-inline mb-0 d-none d-md-block">
                        <li class="list-inline-item mr-4">
                            <a href="#">
                                <i class="ion-social-facebook icon-lg text-white-50"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-4">
                            <a href="#">
                                <i class="ion-social-instagram icon-lg text-white-50"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-4">
                            <a href="#">
                                <i class="ion-social-twitter icon-lg text-white-50"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="ion-social-youtube icon-lg text-white-50"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>