<footer class="footer bg-darker">
    <div class="container pt-8 pb-5">
        <div class="row">
            <div class="col-sm-4 mb-5 mb-sm-0">
                <img src="/assets/images/brand/logo-light.png" alt="" style="max-height: 30px;">
                <p class="text-light mt-4 pr-sm-4 mb-0">We evaluate our solution on a challenging one million urban image dataset and provide public access to our
                    service through our online application.
                </p>
            </div>
            <div class="col-sm-2 mb-5 mb-sm-0">
                <h5 class="text-light mb-0">Company</h5>
                <ul class="list-unstyled list-sm mt-4 mb-0">
                    <li>
                        <a class="text-light" href="page-about-us.html">About Us</a>
                    </li>
                    <li>
                        <a class="text-light" href="page-services.html">Services</a>
                    </li>
                    <li>
                        <a class="text-light" href="blog-default-left-sidebar.html">Blog</a>
                    </li>
                    <li>
                        <a class="text-light" href="shop-grid-left-sidebar.html">Shop</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 mb-5 mb-sm-0">
                <h5 class="text-light mb-0">Support</h5>
                <ul class="list-unstyled list-sm mt-4 mb-0">
                    <li>
                        <a class="text-light" href="">Help &amp; Support</a>
                    </li>
                    <li>
                        <a class="text-light" href="">Privacy Policy</a>
                    </li>
                    <li>
                        <a class="text-light" href="">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a class="text-light" href="">Safety and security</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 mb-5 mb-sm-0">
                <div class="ml-lg-4 position-relative">
                    <h5 class="text-light mb-0">Contact Us</h5>
                    <ul class="list-unstyled list-sm text-light mt-4 mb-0">
                        <li>
                            <span>368 Alpha Avenue, Texas 75414</span>
                        </li>
                        <li>
                            <span>903-965-1149, 940-453-7439</span>
                        </li>
                        <li>
                            <a class="text-light" href="mailto:info@company.com">info@company.com</a>
                        </li>
                        <li>
                            <span>Monday - Friday: 10:00 - 20:00</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-sm-6 text-light">
                <span class="text-small">© 2018 Yuka. Design by Yukathemes</span>
            </div>
            <div class="col-sm-6 text-right ">
                <ul class="list-inline mb-0 d-none d-md-block">
                    <li class="list-inline-item mr-4">
                        <a href="#">
                            <i class="fab fa-facebook-f text-light"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-4">
                        <a href="#">
                            <i class="fab fa-instagram text-light"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-4">
                        <a href="#">
                            <i class="fab fa-twitter text-light"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-youtube text-light"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>