<div class="header-top bg-primary py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-4">
                        <a class="d-flex justify-content-center align-items-center text-white" href="tel:171422226666">
                            <i data-feather="phone" width="18" height="18" class="text-light mr-2"></i>+1 714 2222 6666</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="d-flex justify-content-center align-items-center text-white" href="mailto:Info@construction.com">
                            <i data-feather="mail" width="18" height="18" class="text-light mr-2"></i>
                            </i>info@domain.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-inline mb-0 d-none d-md-block float-right">
                    <li class="list-inline-item mr-4">
                        <a class="text-white" href="#">
                            <i data-feather="facebook" width="18" height="18" class="text-light"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-4">
                        <a class="text-white" href="#">
                            <i data-feather="instagram" width="18" height="18" class="text-light"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-4">
                        <a class="text-white" href="#">
                            <i data-feather="twitter" width="18" height="18" class="text-light"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-white" href="#">
                            <i data-feather="youtube" width="18" height="18" class="text-light"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>