<section class="position-relative bg-primary space-top py-4 py-md-6">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="caption-6 caption-lg-5 text-white mb-0">{{ page_title }}</h1>
                <nav aria-label="breadcrumb" role="navigation" class="d-inline-block mt-3 mt-md-4">
                    <ol class="breadcrumb bg-transparent p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/" class="text-white">Home</a>
                        </li>
                        {% if page_link %}
                        <li class="breadcrumb-item text-white">
                            <a href="#" class="text-white">{{ page_link }}</a>
                        </li>
                        {% endif %} {% if page_link2 %}
                        <li class="breadcrumb-item active text-white op-8" aria-current="page">{{ page_link2 }}</li>
                        {% endif %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>