<div class="mb-5">
    <h4 class="mb-3">Product Categories</h4>
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item px-0">
                <a href="#">Accessories</a>
            </li>
            <li class="list-group-item px-0">
                <a href="#">Swimsuit</a>
            </li>
            <li class="list-group-item px-0">
                <a href="#">Shirt</a>
            </li>
            <li class="list-group-item px-0">
                <a href="#">Dress</a>
            </li>
            <li class="list-group-item px-0">
                <a href="#">Trousers</a>
            </li>
        </ul>
    </div>
</div>